[2022-06-19 13:01] tekmun commented on #7720
https://github.com/mhaggag/XFAndroidFullScreenWebView
For Xamarin Forms and Android, this project shows how to get WebView to show full screen for video content. However, it uses Xamarin.Form's feature to embed native wrapper view.
In FullScreenEnabledWebView.cs line 54-61, it opens up a Modal Page using the ContentPage.Content on the Android.Views.View passed from the renderer. It uses the ToVIew

[2022-06-19 13:03] tekmun commented on #7919
Can we escalate the resolution of this bug? I cannot publish a Mac App where the main menu bar contains menu that is irrelevant to my app. The Format menu is completely irrelevant to my app and hence must be removed before my app can be published. Thanks.

[2022-06-19 13:04] tekmun commented on #7917
I am still working on a sample project. I try to revert by next week.

[2022-06-19 13:39] yairp03 opened #8161 "Auto compiled binding on CollectionView's ItemTemplate and GroupHeaderTemplate"
### Description

It would be nice if the `DataType` of the `DataTemplate` inside a `<CollectionView.ItemTemplate>` or a `<CollectionView.GroupHeaderTemplate>` will be determined automatically.

## Normal CollectionView
For example, I have this `Monkey` model:
[code]
Inside the ViewModel, I have this list of monkeys:
[code]
And in the page, I have a `CollectionView` with a binding to the `MonkeysLi

[2022-06-19 14:27] srqdev opened #8163 "Usability: Too much documentation shown in Visual Studio for Button Type"
### Description

So I was changing a BindableProperty typeof statement from button to a new custombutton type.

`public static readonly BindableProperty ValidValuesProperty =
			BindableProperty.Create(nameof(ValidValues), typeof(List<int>), typeof(Button));`

When I hovered over the Button to next do right click, select and then replace, my screen was blotted out by the help documentation for the

[2022-06-19 14:33] codeaphex commented on #7313
Is using MAUI considered running on a Microsoft platform? Because that's required by the segoe license.

[2022-06-19 15:19] hypdeb commented on #8156
Hmmm I see, I think the original thing I was trying had `Public` in it, and it seems putting `Public` in the name will also break the build.

[2022-06-19 15:26] janseris commented on #8156
Seems like keywords and a few more cannot be used in package name, defined by the grammar mentioned here:
https://stackoverflow.com/questions/23251166/can-java-package-name-be-a-keyword

[2022-06-19 15:31] yairp03 commented on #7775
In the mean while, you can use the [EventToCommandBehavior](https://docs.microsoft.com/en-us/dotnet/communitytoolkit/maui/behaviors/event-to-command-behavior) from the [.NET MAUI community toolkit](https://docs.microsoft.com/en-us/dotnet/communitytoolkit/maui/).

[2022-06-19 17:10] RobertoGFilho opened #8164 "Shell doesn't trigger OnAppearing on Second Page"
### Description

MAUI with shell doesn't trigger OnAppearing event for second Content Page

Shell
[code]

Content Page
[code]

https://user-images.githubusercontent.com/68563526/174492169-817c4f30-74f5-49fa-b4fb-90b43ea7186f.mp4

### Steps to Reproduce

1. Create a new MAUI Project
2. Add two content pages;
3. Add Shell;
4. Insert FlyoutItem On shell
5. Insert Tab on FlyoutItem
6. Insert two Shell

[2022-06-19 18:08] softlion opened #8165 "Implicit cast from Microsoft.Maui.Graphics.RectF to Android.Graphics.RectF returns wrong result"
### Description

![image](https://user-images.githubusercontent.com/190756/174494401-42e95059-96b5-409e-a0e1-d14031cd445e.png)

### Steps to Reproduce

Code:

[code]

### Version with bug

Unknown/Other (please specify)

### Last version that worked well

Unknown/Other

### Affected platforms

Android

### Affected platform versions

Android API 29; .net 6.0.400-preview.22301.10

### Did you find

[2022-06-19 18:28] srqdevg opened #8166 "Stacklayout within stacklayout not centering correctly"
### Description

I created a stackpanel set to fill both horizontally and vertically. Within this stackpanel I created a 2 more stackpanels, One set to center both horizontally and vertically to display some welcome to the app info and the second to center horizontally but vertically  sit at the end to show copyright. My expected behavior would be the the main panel fills the screen (it does) and

[2022-06-19 20:29] d-flood commented on #8152
I've experienced this same issue. The difference is that I am using XAML and the placement of the `Command` and `IsEnabled` attributes did not make any difference. If the `Command` attribute is present on a button, then the `IsEnabled` attribute is ignored and button is always enabled.

[2022-06-20 00:30] #8066 closed

[2022-06-20 00:30] ScofieldOY commented on #8066
Closed by using mauiRollbackLink as workaround

[2022-06-20 01:32] Symbai commented on #8152
If you bind `Command` then `IsEnabled` depends on the `CanExecute` state of your command. In your workaround, you just override this. In XAML it depends on how the xaml reader is parsing the text. So that does not appear as a bug to me, rather than its by-design.

Why don't you just, instead of binding `IsEnabled`, put the logic in your `CanExecute` state of your command just like it was designed

[2022-06-20 04:50] david-maw opened #8168 "Newly Introduced System.AccessViolationException"
### Description

An app which was working fine in earlier MAUI releases has started to fail with:
    _**System.AccessViolationException**: 'Attempted to read or write protected memory. This is often an indication that other memory is corrupt.'_

The same code worked fine in earlier MAUI releases but so far I can't find a simplified test case.  The exception showed up in an assignment to Applicati

[2022-06-20 04:56] kristinx0211 commented on #7133
verified repro with vs 17.3.0 Preview 3.0 [32618.28.main].

[2022-06-20 05:02] MuniappanSubramanian commented on #8137
Hi @jfversluis

I have checked with the latest version **6.0.400** that, the ListView is flickered when the Item source is dynamically updated.

[2022-06-20 05:06] kristinx0211 commented on #7155
verified repro on windows with 17.3.0 Preview 3.0 [32618.28.main].
![image](https://user-images.githubusercontent.com/99457000/174528967-850b408c-9dda-4672-aaaa-38e82dcb8797.png)

[2022-06-20 05:43] KarthikRajaKalaimani commented on #8113
Hi @jfversluis ,

Any update on this ?

[2022-06-20 06:18] kristinx0211 commented on #7941
run on android popup page and the shell page can work fine, on IOS, after open the popup page, see the shell page is blank.

[2022-06-20 06:45] kristinx0211 commented on #7889
@edgedj glad to see the issue has been resolved, so we are now closing this issue.

[2022-06-20 06:45] #7889 closed

[2022-06-20 06:55] usausa opened #8169 "Button is clickable even if the IsEnable property of the container control is false."
### Description

Even if the IsEnabled property of the container control is set to false, the button is still clickable.
Xamarin.Forms does not have this behavior, and Button clicks are disabled while the container control's IsEnabled is false.

### Steps to Reproduce

The following is the code for verification and the results of the operation.

* MainPage.xaml
[code]

* MainPage.xaml.cs
[code]

*

[2022-06-20 07:11] kristinx0211 commented on #7877
verified repro on android.

[2022-06-20 07:13] kristinx0211 commented on #7861
@Giuseppetm Would you be able to add a little reproduction project that shows this?

[2022-06-20 07:24] jfversluis commented on #8113
There is no need to keep asking for updates, when there is something we'll either mention it or you will see a PR being associated to this. Thanks.

[2022-06-20 08:05] kristinx0211 commented on #8016
verified repro on windows with above repro project.

[2022-06-20 08:13] StephaneDelcroix commented on #8158
You need a strong code reference from the consuming app to your lib, like `MauiLib.Init()` (even if Init() is a no-op).

Make sure you document this to the consumers of your lib.

We're working on lifting that requirement, but it takes some work

Duplicate of #7503

[2022-06-20 08:13] #8158 closed

[2022-06-20 08:14] StephaneDelcroix commented on #8158
Duplicate of #7503

[2022-06-20 08:16] kristinx0211 commented on #8137
verified repro on windows with above project.

[2022-06-20 08:17] StephaneDelcroix commented on #8149
probably a namescoping issue

[2022-06-20 08:47] jsuarezruiz commented on #8169
This issue will be fixed with https://github.com/dotnet/maui/pull/6892

[2022-06-20 08:56] Awesomer9561 opened #8170 "Collection View in MAUI iOS, Android scrolling erratically."
### Description

Hi,
I am creating an app where I am using collection views with complex item templates and fetching data from API.
But the list after loading scrolls erratically and freezes sometimes. Any suggestions or workarounds to make the scroll animation more smooth?

### Steps to Reproduce

1. Create a collection view.
2. Fetch data from API.
3. Populate the list and see the scroll behavio

[2022-06-20 09:00] Awesomer9561 opened #8171 "Cannot find nuget for lottie animations in MAUI"
### Description

I am trying to import a lottie animation in MAUI app. But so far I haven't found any nuget packages to do so.
Any idea when AirBnb is going to launch it's MAUI supported nuget or any other workarounds for this?

### Steps to Reproduce

1. Download a lottie json file from LottieFiles.
2. Search for lottie animations in Manage Nuget packages in Nuget Package Manager.
3. You will not

[2022-06-20 09:16] StephaneDelcroix commented on #8152
If you set, or bind, the button command, it will indeed, by design, override IsEnabled, as ICommand.CanExecute takes care of this already.
If you want to provide your own logic for IsEnabled outside of ICommand, define your binding after the other one

[2022-06-20 09:16] #8152 closed

[2022-06-20 10:01] jfversluis commented on #8171
There is no package that is compatible with .NET MAUI right now. Matthew is doing some great work based on SkiaSharp and we're trying to create a non-Skia version as well: https://twitter.com/mattleibow/status/1538541836452741123

Keep you eye on those!

[2022-06-20 10:01] #8171 closed

[2022-06-20 10:01] jfversluis commented on #8168
Yes please, because without it this will be pretty hard to diagnose.

[2022-06-20 10:10] kristinx0211 commented on #8062
verified repro on  android with vs 17.3.0 Preview 3.0 [32618.28.main], repro project:
[MauiApp14.zip](https://github.com/dotnet/maui/files/8939691/MauiApp14.zip)

[2022-06-20 10:11] #7205 closed

[2022-06-20 10:13] jfversluis commented on #6998
It is not dead, in fact, it's going to move in with us so that we can give it the attention it deserves!

Also see: https://github.com/dotnet/maui/issues/7901

[2022-06-20 10:13] #6998 closed

[2022-06-20 10:16] jfversluis commented on #8163
Is there ever a thing as too much documentation? 😜 You're totally right. We still need to complete our work on the API docs, we're tracking that in #3960 where the long API descriptions is also already mentioned. Closing this one to not duplicate too much.

[2022-06-20 10:16] #8163 closed

[2022-06-20 10:29] gfmoore opened #8173 "FilePicker, no title seen, not sure what to expect?"
### Description

So I'm looking at the filepicker as per https://docs.microsoft.com/en-us/dotnet/maui/platform-integration/storage/file-picker?tabs=android

I have created a filepicker to get at a json file. I use the PickerTitle and expect to see a heading appear on the screen saying please pick an xxx.json file.

I get the picker appear, but no sign of a title?  (note on pixel 5 emulator)

Here'

[2022-06-20 11:06] jfversluis commented on #8173
Thanks for the report! I've checked the code and it seems that the behavior is different per platform.

- iOS & Windows don't seem to use the title at all
- macOS does
- On Android I think it might show when you get the popup to pick an app to pick your actual file. So then it will only show when you have multiple apps installed that can pick a file. If there is only 1 app installed then it will s

[2022-06-20 11:06] #8173 closed

[2022-06-20 11:08] gfmoore commented on #8173
Good to know and thanks :)

[2022-06-20 11:47] jsuarezruiz commented on #8044
cc @Redth

[2022-06-20 11:54] yairp03 commented on #8161
I suggest adding `area/collectionView` tag and `area/xaml` or `area/upstream`

[2022-06-20 12:02] #7776 closed

[2022-06-20 12:16] yairp03 commented on #7343
Happened to me too, but only in a Grouped `CollectionView`

[2022-06-20 12:40] yairp03 commented on #7343
A possible workaround is to use an `ObservableProperty` on a regular `List` and replace the entire object with each update, instead of using an `ObservableCollection`.
For example:
[code]
instead of:
[code]

[2022-06-20 13:44] jfversluis commented on #8169
Duplicate of #4755

[2022-06-20 13:44] #8169 closed

[2022-06-20 13:57] NPavie opened #8174 "Accessibility Insights for windows - flyout items with shell are wrongly named"
### Description

While checking the accessibility of an app with a locked Flyout menu on Windows, the tool "Accessibility insights for Windows" is reporting errors on my flyout items :
Each element of the flyout is given as a listitem, with property "Name = Microsoft.Maui.Controls.Platform.ShellFlyoutItemView", that is reported as an error in the tool.
That is happening with Title defined for all

[2022-06-20 14:02] #7593 closed

[2022-06-20 14:15] karnalta commented on #6398
Same issue here. Clean install of VS 2022 17.3.0 Preview on Windows 11.

[2022-06-20 14:24] jfversluis commented on #2818
That is now 9 months ago. As mentioned: I don't see a lot of traction, ergo not a lot of people seem to want this and as mentioned earlier, I don't see much added value in adding this. Therefore I decided to close it for now and not keep things like these open for eternity.

Maybe it's not the right time and it will resurface somewhere later on and peoples opinions have changed, or maybe not.

[2022-06-20 14:42] shinnthant-lab commented on #8039
Same exception with CarouselView
![image](https://user-images.githubusercontent.com/54578974/174626626-02b9fdf2-88a6-43c4-8238-b242de7d35c7.png)

[2022-06-20 14:54] PureWeen commented on #8062
@brianjtools  @jhenrich just copy and paste the code in the workaround into your app.xaml.cs file like it is in the workaround

[2022-06-20 14:54] #8062 closed

[2022-06-20 15:00] PureWeen commented on #8141
[duplicate](https://github.com/dotnet/maui/issues/7153)

[2022-06-20 15:00] #8141 closed

[2022-06-20 15:01] marcmognol commented on #8044
Hi, same issue here. Should be in the next release, next month, could you please confirm ?

[2022-06-20 15:04] shinnthant-lab commented on #8044
Same issue here :( my whole app is broken now.

[2022-06-20 15:18] PureWeen commented on #8123
@mfe- From the code I was thinking you were pushing the same instance onto the stack multiple times.

If what @Keflon outlines here is true

Then yes that's a supported scenario and should be fixed :-)

[2022-06-20 15:18] #8123 closed

[2022-06-20 15:31] jonathanpeppers opened #8175 "Performance issue in LayoutExtensions.ShouldArrangeLeftToRight"
### Description

A chunk of time is spent in `LayoutExtensions.ShouldArrangeLeftToRight()`:

![image](https://user-images.githubusercontent.com/840039/174634569-fbd32ff6-e2f7-4bb7-a302-1b254e191896.png)

[maui-app_20220620_085602.speedscope.json.zip](https://github.com/dotnet/maui/files/8941918/maui-app_20220620_085602.speedscope.json.zip)

It appears the default behavior is for every MAUI view, t

[2022-06-20 16:38] rmarinho commented on #5090
fixed #8021 8021

[2022-06-20 16:38] #5090 closed

[2022-06-20 16:38] sofyaol opened #8176 "Properties Height and Width have values equal -1 after Initialization of page components"
### Description

I just wanted to do the following to make the page component responsive and square at the same time:
HeightRequest="{Binding Source={RelativeSource Self}, Path=Width}"
Nothing happens with Height. Debug says that Width property equals -1 after Initialization and it equals -1 after first call override method OnAppearing() too.

### Steps to Reproduce

1. Add a Grid in MainPage.xaml

[2022-06-20 17:24] Schinwinkwinsky opened #8178 "CollectionView stopped to work after VS update to 17.3.0 Preview 2.0"
### Description

Hello, everybody

I'm developing a simple app to try .Net Maui and its first page has a CollectionView. It shows some info get from an API. Recently, a pop up appeared on VS saying it was available a new update. After applying that update, my app started to break on Android. At Out window an alert says: "You're using a preview version of .Net". It's running well on Windows, but on

[2022-06-20 17:36] MagicAndre1981 commented on #8168
maybe #7585 is related?

[2022-06-20 17:38] Schinwinkwinsky opened #8179 "CollectionView items are overlapping when loaded on Windows"
### Description

Hello, everybody.

I'm developing a simple app to try .Net Maui and its first page has a CollectionView. It shows some info get from an API. But when the app is running on Windows the CollectionView items are overlapping when loaded.

![image](https://user-images.githubusercontent.com/13337108/174653382-f4337b52-0421-4337-b656-da0e6cd7c2e6.png)

When resize the window, the items a

[2022-06-20 17:49] Andrew-lll commented on #8142
@pierre01 Thank you for the examples - with them I implemented:

### The temporary workaround:
(1) Have a button hooked up to a function that calls Canvas.Invalidate() (which implicitly calls the Draw() function again).
(2) Updated the code inside the Draw() function to redraw a complete scene from scratch based on some data (instead of being additive)

**As you can see above, my issue now is that

[2022-06-20 17:58] sangwook96 commented on #8035
@jfversluis
Hello,
Do you have any progress or if you are not an owner, could you assign it to others?
Thanks

[2022-06-20 17:59] Eilon commented on #7821
PR to call `AddDebug()` in the project template: https://github.com/dotnet/maui/pull/8180

[2022-06-20 18:38] lnaie commented on #8146
I have this header in the AppShell.xaml, just before a <Shell.FlyoutFooterTemplate>:
[code]
It used to work just before the latest update for iOS. The app gets stuck on the loading screen with .net logo.

I commented it out and now the app goes past the loading screen, but -- yeah, it has some another issue, that I have yet to identify here in github. It's not getting better yet with these new bui

[2022-06-20 18:57] speschka commented on #8159
I'm having what is probably the same problem.  I have code that looks like this:'

            FindWherePage fwp = new FindWherePage() { Listings = listings };
            await Navigation.PushModalAsync(fwp, true);

When I run this on an Android emulator, it throws an exception that says "Current Root View cannot be null".  When I try it on iOS, it works.  Android emulator is Pixel 5, API 30.  Wh

[2022-06-20 19:17] polygonsheep opened #8182 "<Label Text={Binding .} /> works in Debug but not Release"
### Description

Trying to use a BindableLayout to display a List of strings, e.g. List<string> MyStringList = {"Joe", "Mark", "Sarah", "Andy"}

Following xaml code works in the iOS Simulator & Android Emulator in Debug but not Release and not when published to an iPhone or Android phone.  No text is displayed in Release

`<VerticalStackLayout BindableLayout.ItemSource="{Binding MyStringList}">

[2022-06-20 19:20] polygonsheep commented on #8182
the bug report deleted my code.

Here it is again

`                               <VerticalStackLayout BindableLayout.ItemsSource="{Binding MyStringList}">
                                    <BindableLayout.ItemTemplate>
                                        <DataTemplate>
                                                <Label Text="{Binding .}"/>
                                        </Data

[2022-06-20 19:35] egvijayanand opened #8183 "Using a compatibility renderer on Android fails to start the App"
### Description

Using a compatibility renderer on Android fails to start the App and ends up with the error message - `Microsoft.Maui.Controls.Compatibility.RendererToHandlerShim found for MauiApp1.Controls.TestView is incompatible`

Have defined a custom control and its renderer then registered the same in the startup pipeline.

Then built the app and tried to start the app, but ends up with the

[2022-06-20 19:48] egvijayanand commented on #8183
[Issue8183.zip](https://github.com/dotnet/maui/files/8943282/Issue8183.zip)

Sample project to simulate the issue.

[2022-06-20 20:13] mattleibow commented on #8032
@egvijayanand did you try the workaround by @Redth ?

[code]

It worked for me... No need to change versions, just tell dotnet not to add a reference to those packages...

[2022-06-20 20:16] egvijayanand commented on #8032
Refer to my penultimate comment, that didn't work as expected.

But setting the `MauiVersion` alone in the project file made it work as expected.

[2022-06-20 20:20] mattleibow commented on #8032
But that is correct. There _should_ be no reference to Maui from NuGet packages. It is all implicit.

[2022-06-20 20:28] egvijayanand commented on #8032
I'm not sure about the happenings currently underway.

But till now, the library packages that are getting published to NuGet have references to the MAUI packages as their dependencies.

Setting the `MauiVersion` tag pointing to the GA version makes the minimum version required to that baselined version even when built on top of **SR1** so that users on the earlier version can also make use of the

[2022-06-20 20:33] mattleibow commented on #8032
This is incorrect behavior. The PR will fix that.

This is not meant to be used generally and is only for testing nightly builds right now.

[2022-06-20 20:34] egvijayanand commented on #8032
Providing a few examples.

https://www.nuget.org/packages/Prism.Maui/8.1.228-beta#dependencies-body-tab

The below version of the package is built on top of SR1 but the works even on top of the baselined GA version.

https://www.nuget.org/packages/VijayAnand.MauiToolkit#dependencies-body-tab

[2022-06-20 20:36] mattleibow commented on #8032
I understand what you observe. But you are observing incorrect and undesirable behaviour.

[2022-06-20 20:37] TanayParikh commented on #7930
Yeah I think that's a fair argument.

It's a bit unclear what you mean by JS popups here / what the intended use case is. Could you please clarify by providing an example or repro of the JS Popup behavior you're trying to achieve.

Re-opening this issue to consider integrating the New Window default logic with the [`URLLoadingStrategy`](https://docs.microsoft.com/aspnet/core/blazor/hybrid/routing?

[2022-06-20 20:37] egvijayanand commented on #8032
If these dependencies are not mentioned, then how does package resolution work moving forward?

[2022-06-20 20:38] TanayParikh commented on #7930
Clearing labels/milestone/project so we can re-discuss during triage.

[2022-06-20 20:40] egvijayanand commented on #8032
Also, the library maintainer should have little control over on top of which version their libraries are getting released to reach a broader set of audiences and more importantly stability.

[2022-06-20 20:44] mattleibow commented on #8032
The `<UseMaui>true</UseMaui>` controls whether or not to reference the maui framework.

True, but since the API of Maui is stable and will not change, it does not matter which version you build against because it will always be compatible with all net6.0 versions of maui.

Also, the MauiVersion property is deceiving because it does not actually do anything that you expect and just controls the ver

[2022-06-20 20:52] egvijayanand commented on #8032
That can't be the case, API sets do tend to change, either introduced newly or fixed to address issues.

Say SR1 broke the [PushModalAsync](#8159 ) API of the Navigation page, again am not complaining, but changes are imminently visible.

A library maintainer cannot do complete testing of all the APIs for every release of MAUI as it'll it involves time and effort unless there's a compelling reason

[2022-06-20 21:07] egvijayanand commented on #8183
Kindly make use of this version of the project for simulation. And ignore the one in the earlier comment.

[Issue8183.zip](https://github.com/dotnet/maui/files/8943682/Issue8183.zip)

[2022-06-20 21:18] Flaflo commented on #7930
Thank you.

I don't know if this needs a specific use-case, because I can't come up with a reason why it should be activly blocked from working.
But a specific use-case is a popup that is opened through JS that has content dynamically generated inside, that gets automatically opened in a print-view by the chromium print function. I unfortunately cannot share the code or more details here.

A repro

[2022-06-20 21:24] gfmoore opened #8185 "Toggle visibility ok when start as IsVisible="True", but not when starting IsVisible="False""
### Description

Please see repo at https://github.com/gfmoore/TestIsVisible.App

Using MVVM and community toolkit mvvm

So created two buttons in a grid and in viewmodel have ObservableProperty set to true
Second button's IsVisible bound to this property
First button bound to a command and toggles the property.

Works fine when property starts as true, but not when starts false

Suspect that the

[2022-06-20 21:31] mattleibow commented on #8032
Possibly, but MauiVersion is not the way today and the correct fix is to remove the references. Once https://github.com/dotnet/maui/pull/8064 is merged, the maui references will no longer appear and I am hoping this gets in for SR2.

[2022-06-20 21:35] egvijayanand commented on #8032
Will check it out once released. Request to add some documentation while releasing the same for reference.

[2022-06-20 21:51] mjfusa opened #8186 "Cannot run unpackaged Windows app - MAUI 6.04"
### Description

Attempting to run a Windows EXE when published as unpackaged results in crash with an access violation exception (0xc0000005).
Project MauiApp6.sln attached.
[MauiApp6.zip](https://github.com/dotnet/maui/files/8943879/MauiApp6.zip)

### Steps to Reproduce

Use Visual Studio 2022 17.3.0 Preview 2.0 to Create MAUI 6.04 app (includes Windows App SDK 1.1).
On command line:
dotnet publ

[2022-06-20 21:56] pieckenst commented on #3439
Yeah a xaml drag and drop designer would be a thing good to have , and make designing application ui simpler and more intuitive

[2022-06-20 22:04] lnaie commented on #7553
Is this included in the latest VS preview release (Microsoft Visual Studio Community 2022 (64-bit) - Preview
Version 17.3.0 Preview 2.0)?
Just tested it and it still crashes the app.

[2022-06-20 22:06] TanayParikh commented on #7930
I can't run this project in my current environment, but to confirm, you're saying the issue is this doesn't work (ie. doesn't open a new browser window in the default browser?) Is there a reason you're doing `window.open` instead of `<a target="_blank" href="https://github.com"></a>`? Can you potentially use the anchor tag and "click" it via JS to simulate `window.open`? If you haven't already I'd

[2022-06-20 22:30] Flaflo commented on #7930
Yes because there is a part in JS that injects DOM using the window instance.

This would not fit our use-case unfortunately.

[2022-06-20 22:34] TanayParikh commented on #7930
Not sure what you mean by "part in JS", are you saying your application JS code is manipulating the DOM? Regardless, if we do decide to integrate the URL loading strategy with the new window handler, then you can simply `Cancel` the default handling and it'll be as if the handler wasn't there in the first place. I believe this would achieve what you're looking for.

[2022-06-20 22:46] Symbai commented on #8185
Looks like a dupe of #8044 so it should get fixed when #8136 is merged.

[2022-06-20 22:52] ederbond commented on #8071
@jsuarezruiz when is this going to be released?
We need it ASAP. Break the release cadence rules of MAUI at least this time and release it sooner. This is a fatal error that's making MAUI completely useless for production Apps now.
@jamesmontemagno @hartez @StephaneDelcroix @davidortinau @maddymontaquila

[2022-06-20 23:26] Rahaaaa commented on #4807
Any update on this?
I am creating an app with maui blazor, that has a camera recording feature,I am using RecordRTC(javascript library) I am able to record with the camera however I am running into the same issue on IOS, as soon as I assign the camera stream to the video tag, the video pops up into fullscreen mode, I've tried everything like playsinline, autoplay, muted and ...nothing works. I've

[2022-06-20 23:28] HKLM commented on #4571
Having the same issue on new clean install of VS2022 Preview (17.3.0 Preview 2.0) with the 6.0.4 maui

[2022-06-20 23:34] egvijayanand commented on #8183
Facing this issue on the Windows platform as well but couldn't get the error message as it crashes well before that.

[2022-06-20 23:50] myndfire commented on #7945
1. dotnet new maui-blazor
2. Just added:         builder.Services.AddSingleton<IConnectivity>(Connectivity.Current);
Splash screen on actual iphone 12 pro max appears and then app dies.

[2022-06-20 23:52] myndfire commented on #7945
any workaround?

[2022-06-21 01:24] chenzanyu opened #8187 "In MVVM mode, the Android collectionView does not update the UI properly"
### Description

In MVVM mode, the Android collectionView does not update the UI properly，You need to slide a few times in the CollectionView area to update the UI

https://user-images.githubusercontent.com/35652064/174696970-ec034e55-3524-49fc-b37e-44f3b28b6b4c.mp4

TestCode:
[CollectionSample.zip](https://github.com/dotnet/maui/files/8944994/CollectionSample.zip)

### Steps to Reproduce

1.Run t

[2022-06-21 01:44] kristinx0211 commented on #8164
verified repro on android, doesn't trigger `OnAppearing `event for second Content Page. repro project:
[MauiApp2.zip](https://github.com/dotnet/maui/files/8945078/MauiApp2.zip)

[2022-06-21 02:01] kristinx0211 commented on #8160
@HenJigg Would you be able to add a little reproduction project that shows this?

[2022-06-21 02:13] kristinx0211 commented on #8150
verified repro on windows.

[2022-06-21 02:49] tchivs commented on #7720
So what is the solution?

[2022-06-21 05:02] Awesomer9561 opened #8189 "When fetching all contacts in MAUI and iterating through it, it takes a lot of time(>30s for around 1500 contacts)"
### Description

I am creating an app where it is fetching all the contacts and showing them in a list/collection view, but the problem is whenever I try to iterate through the fetched contacts it will take me around 30+ secs to complete the iteration. I have tried multiple times with different approaches like fetching and assigning them to another variable and from there performing all the action

[2022-06-21 05:09] kristinx0211 commented on #7253
verified repro on windows with above project.

[2022-06-21 05:28] kristinx0211 commented on #7146
repro on windows with above project.
![image](https://user-images.githubusercontent.com/99457000/174722860-8001b86a-a3cd-4950-a616-ad97b493e152.png)

[2022-06-21 06:01] Awesomer9561 commented on #8012
Hi, any update on this?

[2022-06-21 06:40] Palku commented on #8187
We have the exact same problem. And it seems like it's not only the collection view that gets bricked but everything else just like with the isvisible bug. If the app run into this other binding updates stops working.

Our app is totally broken with the last update.
Both problems might be related?

Feels more lika an Alpha then a production ready product.

[2022-06-21 06:43] AndreasReitberger opened #8191 "Enable Button to have a Content"
### Description

It would be great to allow the `Button` control to accept not only a `Text`, but also a `Content` or `FormattedText`.

### Public API Changes

[code]

### Intended Use-Case

In this case, for instance, an icon and a label can be added to the button.
Maybe supporting `FormattedText` like on the `Label` control would do the same job (in my case)

[2022-06-21 07:33] kristinx0211 commented on #8151
Can be verified that the above issue exist using above repro project on windows.

[2022-06-21 07:57] janseris commented on #8191
Wait this isn't possible?

[2022-06-21 08:02] kristinx0211 commented on #8170
@Awesomer9561 I don't repro this issue by writing a little repro project for collection view data binding. could you check my repro project and tell me if I miss something or share your repro project for us to repro this issue. thanks.
[MauiApp4.zip](https://github.com/dotnet/maui/files/8946943/MauiApp4.zip)

[2022-06-21 08:22] kristinx0211 commented on #7066
@AllenMiaoFil So can this issue be closed? track with https://github.com/dotnet/maui/issues/7597?

[2022-06-21 08:46] Symbai commented on #8187
Has been reported a couple of times now, see #8178 or #8135

[2022-06-21 08:47] VladislavAntonyuk commented on #8191
it is not needed as you can use GestureRecognizers to achieve command and clicks

[2022-06-21 08:51] Symbai commented on #8191
Which is much more complicated plus the GestureRecognizer does not work properly, for example #7403 the above proposal already exist in WPF and makes the developer's work much easier. Then it also wouldn't need an extra `ImageButton` which is also buggy at the moment.

[2022-06-21 09:07] nk54 opened #8194 "RowDefinition Height incorrect"
### Description

I have a CustomerPage.

A customer can have dynamic fields set. If set, they are displayed, otherwise they aren't.

I have a weird behavior and I cannot find the reason why. It's very difficult for me to create a PoC project because I would have to spend several days to give my templates, fake data etc because you have to be logged on our network to have real data (VPN).

The prob

[2022-06-21 09:11] nk54 commented on #8194
Note : on the step 3, I can't scroll until the end of the page : it's like the page has the right height on each element but the group box has a different height stored than the height used to render

[2022-06-21 09:26] MagicAndre1981 commented on #8186
I get same on a new project and I it look I run into this[ issue from App SDK](https://github.com/microsoft/WindowsAppSDK/pull/2608).

![image](https://user-images.githubusercontent.com/8274816/174766158-474b8363-ff1e-4e98-bc2b-1edd0389b38e.png)

Looks like we need to wait for a new WindowsApp SDK update and merge into MAUI

[2022-06-21 09:33] Awesomer9561 commented on #8170
Hi,
In your code collection view is working fine but can you explain why are you using scroll as a parent?

[2022-06-21 10:18] AidarNurmukhametov commented on #8146
Hello, we are developing [DevExpress .NET MAUI controls](https://www.devexpress.com/maui/) and experienced the same issue in the our demo application. This issue has a High priority for us and we do not have a workaround. Thank you for your help!

[2022-06-21 10:30] #7488 closed

[2022-06-21 10:30] #7626 closed

[2022-06-21 11:26] PaulAnderson02 commented on #7566
This issue occurs if you enable all the exceptions in the settings of your app

[2022-06-21 11:26] Snsaiu opened #8196 "maui publish windows 32bit"
### Description

how do I publish windows 32bit.the default rule export 64bit when I use 'botnet publish' command.may I add any parameters?

### Steps to Reproduce

1. create maui project
2. build and run ok
3. use 'dotnet publish' command from maui document

### Version with bug

6.0.400 (current)

### Last version that worked well

6.0.312

### Affected platforms

Windows

### Affected platform

[2022-06-21 11:28] PaulAndersonS opened #8197 "No parameterless constructor defined for type 'Microsoft.Maui.Controls.Handlers.Compatibility.FrameRenderer"
### Description

Description
Exception thrown on Android when replacing the App.MainPage with a different page.

Consider the scenario where the ap has a welcome page to request permissions and app settings before displaying the real main page. Once the welcome page has been completed, setting the App MainPage throws the above error.

Steps to Reproduce
Consider the scenario where the ap has a wel

[2022-06-21 11:38] janseris commented on #7205
@jfversluis I will be reporting all the issues I come through but I will not be fixing it because:
- I only have Windows and Android
- I might not be able to find all the not working parts
- I do not have a deep understanding of Android and WinUI, I just want to use it (this is why I chose MAUI because it should provide an abstraction)
- I work for my company and not for Microsoft and thus I will

[2022-06-21 12:33] NickNiebling opened #8198 "Add "Topmost" shell/app feature"
### Description

I would love to have "topmost" shell/app/window feature in MAUI.

if you want to build a small app to sit on top of other apps and provide some insights/metrics/features "on top of another app", this would be a nice feature.

It might not be a feature for all platforms? (especially useful with Windows and Mac, might also apply to other platforms where apps can be layered?)

### Pu

[2022-06-21 13:04] yzbai opened #8199 "On Android, Setting StringContent to HttpRequestMessage, make "GET" request become "POST" request."
### Description

I am using Fiddler to capture network traffic from android emulator. And I found when making Get request while setting a StringContent to HttpRequestMessage，in Fiddler，only “Post” request captured。

The Code looks like this:
[code]
This issue is not seen under Windows.

Sample Project:
[MauiApp3.zip](https://github.com/dotnet/maui/files/8949065/MauiApp3.zip)

### Steps to Reproduc

[2022-06-21 13:31] jonathanpeppers commented on #8012
So these all would help this issue:
* https://github.com/dotnet/maui/pull/7996
* https://github.com/dotnet/maui/pull/8001
* https://github.com/dotnet/maui/pull/8033
* https://github.com/dotnet/maui/pull/8034

These all improve the general performance of putting views on the screen.

The problem with this issue, is I don't think we have an accurate way to actual measure the problem here or at what

[2022-06-21 13:37] janseris commented on #8198
topmost for video game is pretty different than topmost window on it self I suppose

[2022-06-21 13:38] AntonKosenkoDX opened #8200 "Application crashes with "Parent class failed to load, due to: Invalid generic instantiation assembly""
### Description

Hello, we are developing [DevExpress .NET MAUI controls](https://www.devexpress.com/maui/) and experienced crashes when trying to run our DevExpress.Data library on real iPhone. It seems that the issue related to iOS linker. This issue doesn't appear on Xamarin.Forms and doesn't appear on android or iOS simulator.

It's severe for us because we can't run full-functionality DataGri

[2022-06-21 14:31] otium99 opened #8202 "Setup Hot Restart doesn't work"
### Description

I had previously this issue: https://stackoverflow.com/questions/72356192/setup-hot-restart-fails

And according to the comments, other people are facing similar or same issues with Hot Restart

I just upgraded to Version 17.3.0 Preview 2.0 in the hope, that now I can debug on my IPhone. Unfortunately the first error I was facing was this: https://github.com/dotnet/maui/issues/392

[2022-06-21 14:43] rmarinho commented on #8071
fixed by #8136

[2022-06-21 14:43] rmarinho commented on #7910
fixed by #8136

[2022-06-21 14:43] #7910 closed

[2022-06-21 15:24] Fabi commented on #8198
on windows you can set the window to be always on top already (also works in games)

[2022-06-21 16:12] sajjadarashhh commented on #5804
i have same issue with maui and i have something other from this!
i solved this problem by some hacks but when i Call JSRuntime.InvokeAsync() my MAUI Application is freezed and it's Hanged and need to restart project!
i cant solved second problem!

[2022-06-21 16:13] Kalyxt commented on #8012
How much faster does it need to be, to be "fixed"?
It needs to scroll at least as fast as scrolling in android menus/settings.

First of all you should get few low end devices (for example - Lenovo TAB M10 FHD Plus - 180€), to be able to experience it. Pixel 5 or even budget phones from Xiaomi is not suitable for this.

[2022-06-21 16:27] Ahmadmansoor opened #8206 "button not trigger"
### Description

after I update Maui, I note 2 things :
if my button is at the end of VerticalStackLayout, it will not trigger as it's unable.
but if I insert a frame or any control after it, it will work fine.
The second thing is if I debug a project on the first run it will debug under the emulator, but when I restart the project after making some changes, it will run the software under the emul

[2022-06-21 16:37] AndreasReitberger commented on #8191
How should this work out? Just add the GestureRecognizer to a label and make it Button like in style?

I rather prefer to do it like above. This makes it more easier and it also does work like this in WPF.

I do not know how much effort this is, but in my opinion this is the "cleanest" way.

Best,
Andreas

[2022-06-21 17:01] Eilon opened #8207 "Pretending to be a partner test issue"

[2022-06-21 17:11] Eilon opened #8208 "Another test"

[2022-06-21 17:11] #8207 closed

[2022-06-21 17:19] Kalyxt commented on #8012
Its about performance, you just doesn't see it on powerful device. Why does android menu feel smooth and MAUI list with two labels not ?

If its not optimized right, you might see smooth scrolling on flagship, but it takes more resources than it should. Is this right ?

Btw, I tried @jfversluis CollectionView with monkeys and its running pretty good even on Lenovo TAB.

https://user-images.githubu

[2022-06-21 17:28] TanayParikh commented on #8208
🤖

[2022-06-21 17:33] #8208 closed

[2022-06-21 17:34] sajjadarashhh commented on #5804
this is very very Important to reuse WASM Projects in maui
we can know this when solved!?

[2022-06-21 17:35] Eilon opened #8209 "test...."
another test

[2022-06-21 18:13] #5523 closed

[2022-06-21 18:13] PureWeen opened #8210 "Handle defaults/themes inside Maui.Core"
## TODO

What should this look like?
- Is it good enough storing to static fields?
- do we need a theme engine?

Other libraries are already defining their own default styles. Can we provide a cohesive solution in core?
- https://github.com/dotnet/Comet/tree/6b5748a5462f203b76a38b6daa6cef14f539d1ec/src/Comet/Styles

Should we implement this before/instead of/after this https://github.com/dotnet/ma

[2022-06-21 18:35] jonathanpeppers commented on #6859
It looks like I don't have permission to move this to https://github.com/dotnet/SqlClient. Will check on another option.

[2022-06-21 18:41] Eilon opened #8211 "maybe this test? let's try again"
la la la la la la la lal al

[2022-06-21 19:27] jonathanpeppers commented on #8012
I tried the sample above, with 10,000 rows in Android Studio Dolphin, following:

https://developer.android.com/studio/profile/jank-detection

The only change you need is to add in your `AndroidManifest.xml`, inside the `application` element add:

[code]

Unfortunately, my device shows 0 "Janky frames", and a max of ~9% CPU usage while scrolling:

![image](https://user-images.githubusercontent.com

[2022-06-21 19:34] jonathanpeppers commented on #8012
Ok my Pixel 2 is on Android 11 (latest update available for it), and the above tooling only works on devices running Android 12...

[2022-06-21 19:42] otium99 commented on #8168
I have the same error, since I upgraded to Version 17.3.0 Preview 2.0

I occurs here:
![AccessViolationException](https://user-images.githubusercontent.com/67344857/174883171-707407b4-9719-49ed-a79d-35f68969bafa.jpg)

File location: obj\Debug\net6.0-windows10.0.19041.0\win10-x64\Platforms\Windows\App.g.i.cs

And the trigger is the Thread.Sleep(). I could isolate it. As soon as I step over this lin

[2022-06-21 20:19] PirasathLuxchumykanthan commented on #8138
Not to be bad person..

but soon im going to relase the app..
for windows ios android and mac,,

but im affraid to release on mac.. i just like to know if this issue going to be fix ?

btw.. all good when you open it on mac.,,

but after no touch or move of mouse.. 20 minuttes it remove the content.. and only show scroll bar total blank.. really stranges..

[2022-06-21 20:26] hartez opened #8212 "Investigate: Map Image Height/Width to layout_height/layout_width on Android"
We _may_ be able to get better image loading performance from Glide by setting the ImageView layout height and width before loading the image. It should be trivial to map the values via the Android ImageHandler.

[2022-06-21 20:28] mikeparker104 opened #8213 "Test bug"
This is a test bug for @Eilon

[2022-06-21 20:29] Sweekriti91 opened #8214 "Button isn't clicking"
when you tap a button, the click event isn't triggering.

[2022-06-21 20:30] #8214 closed

[2022-06-21 20:42] MagicAndre1981 commented on #8196
pass Platform via parameter:

`dotnet publish -f net6.0-windows10.0.19041.0 -c Release /p:Platform=x86`

[2022-06-21 20:59] david-maw commented on #8168
Thanks @otium99 can you reproduce it in a simple test case? I have been unable to so far but I probably was not reproducing the relevant construct.

[2022-06-21 21:34] Eilon commented on #7965
Hi @fairking , I cloned your repo and it seems to work fine on Android and Windows. When I click the button, the time updates:

<img width="407" alt="image" src="https://user-images.githubusercontent.com/202643/174901083-6643a150-7762-47b0-90dd-ed09d32e4a05.png">

Can you point me to where in the repro project the problem is?

[2022-06-21 21:36] fairking commented on #7965
It should show the time on startup, not when you click the button.

[2022-06-21 22:13] hartez opened #8217 "Investigate options for full-size Image loading on Android"
FlexLayout is not entirely compatible with Glide on Android. The Forms layout engine would, by default, load images at their full size and then scale them. It did this by loading them with no size constraints. Some of the FlexLayout behaviors (notably the sample in the docs at https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/layouts/flex-layout#using-flexlayout-for-wrapping-it

[2022-06-21 22:22] TanayParikh opened #8218 "Maui `main` Installation Failed"
Running:

[code]

From:  https://github.com/dotnet/maui/blob/main/.github/DEVELOPMENT.md#compile-with-globally-installed-dotnet

Results in:

[code]

[2022-06-21 22:23] TanayParikh commented on #8218
cc/ @PureWeen @jinzhao1127

[2022-06-21 22:51] hartez commented on #8175
Probably the easiest option would be to add an `EffectiveFlowDirection` property to the `IView` interface and locally cache the flow direction for each view. Then we just have to re-compute the flow direction for all child views when `FlowDirection` is updated for something in the hierarchy.

[2022-06-21 23:36] Eilon commented on #7965
Ah so it's the first load specifically. I'll dive in again.

[2022-06-21 23:40] Eilon commented on #7965
Indeed, in my emulator it seems to show the time on first load without any interaction, though it does briefly flash an error first.

[2022-06-21 23:42] Eilon commented on #7965
I made it always append the text and here's what I'm seeing:

<img width="379" alt="image" src="https://user-images.githubusercontent.com/202643/174914137-9f802db8-4b99-451a-a0c7-9af1d56d696a.png">

So you're saying that you want to avoid that first error entirely. That is, you want a way to "guarantee" that the first call will succeed without doing the heartbeat loop?

[2022-06-22 01:36] mattleibow commented on #8032
I actually created this one to help get some clarity: https://github.com/dotnet/sdk/issues/26130

[2022-06-22 01:37] mattleibow commented on #8032
Closing this issues sine https://github.com/dotnet/maui/pull/8064 was merged.

[2022-06-22 01:37] #8032 closed

[2022-06-22 01:59] kristinx0211 commented on #8146
verified repro on IOS with above project.

[2022-06-22 02:20] Snsaiu commented on #8196
I used this command ,but not work.
![image](https://user-images.githubusercontent.com/34592712/174929391-d6492562-1312-4d57-ab77-2c69181bac82.png)

[2022-06-22 02:25] kristinx0211 commented on #8153
verified repro on IOS15.4 with vs 17.3.0 Preview 3.0 [32621.293.main].

[2022-06-22 03:15] kristinx0211 commented on #8039
Same exception with vs 17.3.0 Preview 3.0 [32621.293.main].
![image](https://user-images.githubusercontent.com/99457000/174935812-e27a214e-712c-4c44-b00d-91cfdc19c18b.png)

[2022-06-22 03:25] hartez commented on #8105
@AmazingSully What happens if you set IsClippedToBounds to `true` for the Grid?

[2022-06-22 05:03] fairking commented on #7965
Yes, exactly.

[2022-06-22 05:06] VincentBu commented on #6015
repro with vs main build(32621.322.main)
![image](https://user-images.githubusercontent.com/44959937/174947857-c755de89-3fb4-476f-8694-94d0b62f7bca.png)

[2022-06-22 05:27] bijington commented on #8032
@mattleibow Thank you. You captured far more information than I had supplied. Great work!

I will continue to monitor that new issue.

Thanks again

[2022-06-22 05:28] Ahmadmansoor commented on #8206
I have already tried to make CornerRadius=2
but this does not solve the issue as we see in the picture I can't press the button

![image](https://user-images.githubusercontent.com/7176580/174950475-569e28c3-0ced-46e3-890a-3362b44a7c7a.png)

[2022-06-22 05:29] MagicAndre1981 commented on #8196
ok, if you don't need iOS, simply remove it from TargetFrameworks in the csproj and try it again. I don't develop for iOS/MAC so I removed both and only have Android and Windows and for me this works.

[2022-06-22 06:20] Ahmadmansoor opened #8223 "Hot Reload not reflect Frame property changes"
### Description

I try to make some changes to the Frame property but I see that Hot reload not reflect the changes.

### Steps to Reproduce

on runtime, try to edit or add Frame Hot Reload will show it.

### Version with bug

6.0.400 (current)

### Last version that worked well

6.0 Release Candidate 2 or older

### Affected platforms

iOS, Android, macOS

### Affected platform versions

Android

[2022-06-22 06:21] kristinx0211 commented on #7919
verified this method does not work for Mac Catalyst.

[2022-06-22 06:23] AlexNik4 opened #8224 "Exception in SslStream.AuthenticateAsClient in net6.0-android project, works in Xamarin.Android"
### Description

Was migrating a Xamarin.Android project to .NET6.0-Android. I am experiencing the following exception when connecting to my server using custom certificates.

    "Authentication failed, see inner exception."
       at System.Net.Security.SslStream.<ForceAuthenticationAsync>d__173`1[[System.Net.Security.SyncReadWriteAdapter, System.Net.Security, Version=6.0.0.0, Culture=neutral, P

[2022-06-22 06:31] NickNiebling commented on #8198
@janseris It could be something like this:
https://ruffk.github.io/ZwiftActivityMonitor/
https://github.com/ruffk/ZwiftActivityMonitor

@Fabi Any chance you can share how that is done? I haven't been able to find documentation, examples or anything (and I hardly know what to search for, as it probably isn't called "topmost" anymore )

[2022-06-22 06:33] VincentBu commented on #5781
just play around on Android emulator:
1. set build mode to release and deploy the app via debugger
    ![image](https://user-images.githubusercontent.com/44959937/174958178-71bdfd38-1510-4532-9da3-1ed585eca2af.png)
2. close and uninstall the app
3. go to bin/release folder, you can see a xxx-signed.apk file
    ![image](https://user-images.githubusercontent.com/44959937/174958505-030a365e-9f73-459

[2022-06-22 06:44] PaulAnderson02 commented on #8084
@jfversluis  Will the fix be released today

[2022-06-22 06:49] VincentBu commented on #5597
not repro with vs main build(32621.322)

[2022-06-22 07:01] kristinx0211 commented on #7727
verified on windows, android and IOS:
The behavior on windows :
https://user-images.githubusercontent.com/99457000/174963716-a934c0c6-e412-48ce-bb69-14c8b2ef5b34.mp4
The behavior on Android:
https://user-images.githubusercontent.com/99457000/174964214-e943b969-1526-420f-8c83-704059ddf9c3.mp4
The behavior on IOS:
https://user-images.githubusercontent.com/99457000/174964696-c2acd765-2d16-4548-8194-c

[2022-06-22 07:18] MaxFelinger opened #8225 "Having multiple pages for a Modal scenario using NavigationPage breaks the separation of NavigationStack and ModalStack"
### Description

We have an app with a bottom Shell.TabBar and a scenario where we have a feature that allows to pair other devices (this feature is not assigned to any TabItem) that are in the same local network. This connection process consists out of 4 Pages.
We could make them all modal but it looks ugly to push all 4 pages in a modal way (they fly in from the bottom).
An alternative could be

[2022-06-22 07:24] kristinx0211 commented on #7497
verified repro on IOS15.4 with vs 17.3.0 Preview 3.0 [32621.293.main].

[2022-06-22 07:33] lnaie commented on #8146
This is a disaster. Not gonna use that feature anymore with this kind of testing quality.

[2022-06-22 07:40] SailDev opened #8226 "Shell.Current.FlyoutIsPresented = true does not toggle the first time on Android"
### Description

Shell.Current.FlyoutIsPresented inside a button click event handler toggles flyout only after flyout was manually swiped one time.

### Steps to Reproduce

1. Run the attached example.
2. Tap on the "Toggle Flyout" button.
3. Nothing happens.
4. Swipe flyout manually.
5. Tap on the "Toggle Flyout" button again.
6. Now it works as expected.

### Version with bug

6.0.400 (current)

[2022-06-22 07:44] rheza commented on #8132
still force close on ios simulator on the latest updates.

Xamarin.iOS
Version: 15.10.0.5 (Visual Studio Community)
Hash: 96b3edb6d
Branch: d17-2
Build date: 2022-05-18 07:32:07-0400

[2022-06-22 08:49] Ahmadmansoor opened #8227 "XAML Hot Reload timed out attempting to connect to the deployed application. Try rebuilding and redeploying EST."
### Description

most of the time Hot Reload not working probably, and most of the time I got this message :
XAML Hot Reload timed out attempting to connect to the deployed application. Try rebuilding and redeploying EST.
even if I rebuild it again it was not able to debug the app on the simulator.
most of the time it runs the app on the simulator without keeping debug it.

### Steps to Reproduce

[2022-06-22 09:10] kristinx0211 commented on #8170
@Awesomer9561 removing scroll does not effect the scrolling for collection view. you can have a try for this.

[2022-06-22 09:42] sajjadarashhh commented on #5804
@SteveSandersonMS  as your question [here](https://github.com/dotnet/maui/issues/5726#issuecomment-1087769367) we Use BlazoredLocalStorage in StartUp Project to fill values from localstorage and in blazor .net maui we have very confusing issues with this!
I used IJSInProcessRuntime to execute JS methods in property getter and setters by reflection and it's working nice in WASM but when we migrate

[2022-06-22 09:44] KieranDevvs commented on #6015
Can you also confirm your android app has [MANAGE_EXTERNAL_STORAGE](https://developer.android.com/reference/android/Manifest.permission#MANAGE_EXTERNAL_STORAGE) when reproducing, as the cached values are valid under scenarios where apps only have access to their app domain.

[2022-06-22 10:09] kristinx0211 commented on #8114
verified repro with vs 17.3.0 Preview 3.0 [32621.293.main].
![image](https://user-images.githubusercontent.com/99457000/175003911-94834e66-86ee-4738-b1f1-30dd0c1abd64.png)

[2022-06-22 11:07] SteveSandersonMS commented on #5804
@sajjadarashhh Thanks for contacting us. For us to be able to investigate or take any action, we'd need a minimal sample that reproduces the issue. If you're able to produce a minimal, public GitHub repo that reproduces the problem, could you please file and new issue with a description?

[2022-06-22 11:26] Kalyxt commented on #8012
I found out that If I enclose entire `DataTemplate` with `<Frame>` it scrolls a lot better.
Here are samples with frame and without it.

[code]
**With frame**

https://user-images.githubusercontent.com/26333327/175017797-f64cda25-6fb7-4498-8625-54da9e219509.mp4

https://user-images.githubusercontent.com/26333327/175017811-5b5ca920-743c-412f-a188-bd86c4e5c9c3.mp4

**Without frame**

https://user-im

[2022-06-22 11:30] Fabi commented on #8198
Something similar to this should work (a snippet fro my app, so adjust to your need)
[code]

[2022-06-22 11:32] sajjadarashhh commented on #5804
yeah but it's can be take while...
wait I reproduced there

[2022-06-22 11:48] jsuarezruiz commented on #8150
I have to reviewed it, the Shadow is rendered but without setting the Background property the opacity seems to be higher.
![image](https://user-images.githubusercontent.com/6755973/175021736-f0a600f8-e84e-4ab9-98d2-37b596fd66fb.png)

Workaround, set the Border Background.

[2022-06-22 12:24] jfversluis commented on #8186
If you're not going through an MSIX, you will need to make sure yourself that all prerequisites are installed. Check that you have the WinAppSDK Runtime installed: https://docs.microsoft.com/windows/apps/windows-app-sdk/downloads

Then it works for me, apart from some bugs that still show up :)

[2022-06-22 12:32] jfversluis commented on #6202
Did you also run into the fact that you can't close the app with the X in the top-right?

[2022-06-22 12:37] SailDev opened #8231 "builder.Services.BuildServiceProvider() returns null on iOS"
### Description

Using builder.Services.BuildServiceProvider() on platform iOS returns null.

Works fine on platform Android.

### Steps to Reproduce

1. Create a new project from Maui template.
2. Open MauiProgram.cs
3. Add line
       var serviceProvider = builder.Services.BuildServiceProvider();
   before
       return builder.Build();
4. Set breakpoint.
5. Start debugging on iOS device.
6. Val

[2022-06-22 12:39] Awesomer9561 opened #8232 "Editor in .Net MAUI does not take full width when inside a stack/grid layout"
### Description

I am creating a notes app where I have an editor.
But whenever I am trying to use the editor it does not take full width even after specifying the width request.
`<Frame
                                Margin="0,0,0,60"
                                HeightRequest="120"
Padding="0">
                                <Editor
                                    HorizontalOptions="Sta

[2022-06-22 12:51] gabrielhruiz opened #8233 "Error running MAUI Blazor Application (.Net 6) using Xamarin.Firebase.Messaging"
### Description

I try to create a MAUI Blazor Application which can receive and send push notifications. I don't found good documentation that resolves my problem. For this reason, I try to configure my application using the Xamarin documentation from [this website](https://docs.microsoft.com/es-es/xamarin/android/data-cloud/google-messaging/remote-notifications-with-fcm?tabs=windows).

When I fi

[2022-06-22 13:00] janseris opened #8235 "Interactive objects on Canvas as in WPF"
### Description

As far as I know, MAUI canvas can only draw but the elements are not interactive or they do not exist as UI objects. Something like that has been possible in WPF for 10+ years.

https://stackoverflow.com/questions/7556493/how-do-i-recognize-a-mouse-click-on-a-line

When will it come to MAUI?
Thank you

### Public API Changes

Shapes on canvas are UI elements with events etc

### I

[2022-06-22 13:01] HobDev opened #8236 "Application.Current.RequestedThemeChanged event only raises once"
### Description

Application.Current.RequestedThemeChanged event only raise on first change. It does not get called after second change and subsequent changes. I wrote the UI in C# and  want to change the Resource dictionary according to the selected theme.

### Steps to Reproduce

Run the repro project and put break point at line 11 `Current_RequestedThemeChanged` method of App.xaml.cs. The event

[2022-06-22 13:03] osnipezzini commented on #8197
Same error here using Shell

[2022-06-22 13:30] xxjnaxx commented on #8202
https://developercommunity.visualstudio.com/t/Cannot-load-Apple-certificates/1692185

[2022-06-22 13:48] osnipezzini opened #8238 "WinUI layout bugged"
### Description

It's a shame a layout of WinUI style, i refused to use UNO because of this layout, and now MAUI bring this back. What we need to do for fix this layout ?

![image](https://user-images.githubusercontent.com/4562546/175044536-4dd9007c-01e6-41a1-844a-9e77a0c4bb2e.png)

### Steps to Reproduce

 - Create a MAUI project with Shell
 - Add some example pages
 - Run project for Windows tar

[2022-06-22 14:13] NickNiebling commented on #8198
@Fabi thanks for taking the time to respond with this! It looks very promising. Do you know which platforms it will work on? Is it Windows only or will it work on any other?

[2022-06-22 14:14] Fabi commented on #8198
It's windows specific (win ui window) code as far as I know. Not sure if similar code exist on macOS

[2022-06-22 14:15] Forestbrook opened #8239 "ListView with resizing ViewCell has strange behaviour on iOS"
### Description

I have a ListView with ViewCells which will fold in and out when you click at the top label.

The ListView has the option HasUnevenRows=true and the ViewCells call ForceUpdateSize() after resize.

Everything works fine on Windows and Android.

On iOS the cells do resize and the ListView expands and shrinks correctly, but after the call to ForceUpdateSize() other cells disappear or

[2022-06-22 14:16] Fabi commented on #7789
But the 1.1 SDK introduces fully self contained apps so you do not have to install the WinAppSdk.

[2022-06-22 14:16] NickNiebling commented on #8198
Yhear I thought it looked a little like native windows.. For this to be an existing "MAUI feature" I would love to see it work for at least 2 platforms :) So still hoping for something like this cross platform :) Thanks for you help anyways!

[2022-06-22 15:01] hartez opened #8240 "Update FlexLayout engine to remove need for measure mode hacks"
FlexLayout has some hacks left over from the Forms implementation which require adjusting the Shrink and AlignSelf properties (and the measurement constraints) while measuring.

Putting this stake in the ground so we remember to review the implementation to see if we can make it less ... hacky.

[2022-06-22 15:03] Maverick1983 opened #8241 "WebView HTML5 Games not loading"
### Description

Add WebView and Source with HTML5 Games public Url. On Desktop browser it's working, on WebView not loading

### Steps to Reproduce

1. Create .Net Maui Application
2. Add WebView
3. Add (for example) this HTML5 public url Games (https://play.famobi.com/smarty-bubbles-2/A-FAMOBI-COM)
4. WebView not load the Game

### Version with bug

6.0.400 (current)

### Last version that worke

[2022-06-22 15:13] rachelkang commented on #7882
@pierre01 You may be interested in checking out [AlohaKit](https://github.com/jsuarezruiz/AlohaKit), which is all drawn controls, and therefore can be used to render any behavior you wish

[2022-06-22 15:29] LukasKuchta opened #8242 "Google maps not working - Unable to retrieve flag snapshot for com.google.android.libraries.consentverifier"
### Description

I have IMapView and IMap handler + implementations for pltafrom. View is appear on the screen with google logo ana +,- buttons for zoom. But map is not visible.

My key from google cloud platforms is added in manifest.

xamarin google play services 118.0.2.1 installed

Anyone who has map controll working ?

### Steps to Reproduce

Show maui control via handelr on the some screen.

[2022-06-22 15:39] Eilon commented on #8199
@yzbai great, thank you!

[2022-06-22 15:40] Eilon commented on #8231
Hi @SailDev , that certainly seems unexpected! I don't think that API even _can_ return null, so that's quite odd. Does this happen only on a physical iOS device? Are you able to check on the iOS Simulator?

[2022-06-22 15:41] Eilon commented on #8231
Here's the relevant code for `MauiAppBuilder.Build()`, where there is no code path for returning `null`:

https://github.com/dotnet/maui/blob/main/src/Core/src/Hosting/MauiAppBuilder.cs#L152-L166

[2022-06-22 16:17] lnaie opened #8244 "IOS: Custom font icon is not rendered in a shell tabbar tab"
### Description

Did attach some screenshots and a code sample.

![android_emul_sample](https://user-images.githubusercontent.com/1276077/175081675-50780dbf-a640-41a5-9e08-56cdbb1cf9d0.png)
<img width="456" alt="Screenshot 2022-06-22 at 16 52 40" src="https://user-images.githubusercontent.com/1276077/175081682-bf6ba04b-ec28-4e1f-a3da-8f71afe74cb2.png">

[MauiApp3.zip](https://github.com/dotnet/mau

[2022-06-22 16:44] PaulAndersonS opened #8245 "NavigationPage gets crashed with release mode in Android"
### Description

Setting the AndroidLinkResources for release mode gets crashed when NavigationPage is used.

<AndroidLinkResources>false</AndroidLinkResources>

### Steps to Reproduce

Create a maui app.
Remove the AppShell page and use a NavigationPage.

Run in release mode in Android

### Version with bug

6.0.400 (current)

### Last version that worked well

Unknown/Other

### Affected platfor

[2022-06-22 16:56] TanayParikh commented on #8218
@jinzhao1127 can you please try the above per Shane's suggestion?

[2022-06-22 17:01] barjonas commented on #8218
I can confirm the initial repro' and that it was fixed by this URI change. Thanks @PureWeen.

[2022-06-22 17:04] Awesomer9561 commented on #8170
I tried using collection view with and without scrollview but whenever I am trying to render data from API it is jittering.

[2022-06-22 17:13] #8218 closed

[2022-06-22 17:14] PureWeen commented on #8218
I updated the wiki as well

[2022-06-22 17:23] Awesomer9561 opened #8246 "Add a Rating bar control"
### Description

I am searching for Rating bar in .Net MAUI but not able to find anything. Is it not there?

### Steps to Reproduce

In XAML file search for RatingBar/ Rating.

### Version with bug

6.0.400 (current)

### Last version that worked well

6.0.312

### Affected platforms

iOS, Android

### Affected platform versions

iOS 15, Android API 30, 31

### Did you find any workaround?

_No re

[2022-06-22 17:29] LukasKuchta commented on #8242
![Screenshot_20220622-192652](https://user-images.githubusercontent.com/105702630/175100219-2142427f-4681-41c8-821d-5c44d2605e25.jpg)

I tray it on android 8.1 and same result. Screenshot attached. No map here. Same error in log as first topic.

[2022-06-22 17:34] david-maw commented on #8168
Thanks @otium99 it failed for me too, I'm relieved it wasn't trivial to reproduce since my attempts at a repro failed miserably.

@jfversluis there's a reproducible test case available in Github now which hopefully will make diagnosing the problem a bit easier. I'll add that my app also is multi-threaded and makes use of async/await as well so I suspect they may play a role here.

[2022-06-22 17:55] RanjithkumarSyncfusion opened #8247 "[WinUI] Silent crash when updating binding at runtime while thumb scrolling"
### Description

Application **getting crashed without any exception** while thumb scrolling(Dragging thumb).

### Steps to Reproduce
1. Create a sample with MainPage ->ScrollView -> StackLayout- > N number of labels till scrollviewer becomes scrollable.
2. Create a ViewModel class with string Property.
3. Set the ViewModel as BindingContext of MainPage or StackLayout.
4. Bind the ViewModel string

[2022-06-22 17:56] PureWeen commented on #8246
@Awesomer9561 perhaps you could use the Indicator view for this?
https://docs.microsoft.com/en-us/dotnet/maui/user-interface/controls/indicatorview

[2022-06-22 18:26] PureWeen commented on #8238
@osnipezzini can you post a repro or your Shell xaml please?

[2022-06-22 18:30] PureWeen commented on #8202
According to this you should be fixed in Preview 3

[2022-06-22 18:30] #8202 closed

[2022-06-22 18:38] PureWeen commented on #8224
Moved issue to xamarin android
https://github.com/xamarin/xamarin-android/issues/7119

[2022-06-22 18:40] PureWeen commented on #8231
@SailDev I think this is a bug with VSMAC and that the debugger is reporting null when you inspect the value but it's not ACTUALLY null.

If you use Debug.Writeline or setup a conditional to check if it is null I'm pretty sure it won't be

[2022-06-22 18:43] javiercn opened #15234 "[Blazor] Maui windows apps can't find _framework/blazor.modules.json"
For some reason the apps fail to find the file and as a result initializers don't load. It works fine in other platforms like Android

[2022-06-22 18:46] PureWeen commented on #8200
@rolfbjarne

[2022-06-22 18:51] PureWeen commented on #8197
I realize the exception is annoying but it's thrown and caught and then the app moves on.
Shell throws the error because of font loading which has the same results.

Is your app crashing? or if you continue the debug session does it continue running?

[2022-06-22 18:53] PureWeen commented on #8194
There are a number of fixes coming to SR2 around layout so we'll see if that resolves.

For now I'm going to mark this as needs-info and ping @hartez just in case something rings a bell for him.
If you're still having the issue in SR2 then ideally you can create a simple repro that's not based on the requirements of your app.

[2022-06-22 18:59] PureWeen commented on #8189
@Awesomer9561 can you attach a repro please? It's hard to know what's making it slow without one.

Maybe if you ToList() the returned results it'll get better?

[2022-06-22 19:00] PureWeen commented on #8187
Closing this one as a duplicate for now.

If you're still seeing this issue once SR2 is released please let us know

[2022-06-22 19:00] #8187 closed

[2022-06-22 19:05] #8185 closed

[2022-06-22 19:07] Eilon commented on #7965
In _theory_, the "best" way to make this work is to use Blazor JS module initializers, but unfortunately there is currently a bug that prevents them from working as intended. For completeness, I'll show how it _should_ work.

In `index.html` you would just define whatever methods you want, such as:

[code]

And in your app you would add a new file `wwwroot/MauiApp1.lib.module.js` (but change `Maui

[2022-06-22 19:12] emceelovin opened #8248 "[All] SwapChainPanel"
### Description

MAUI should expose SwapChainPanel. Window-less frameworks like WPF, MAUI, and UWP all compose to a single main application window. Which is totally fine. However, this prevents any kind of isolated - rendering to a specific area on a window via Direct3D/OpenGL - rendering. Direct3D 9 allowed only certain portions of the render target to be cleared when presenting a frame, but acco

[2022-06-22 19:20] SailDev commented on #8231
Sorry for the confusion, Debug.Writeline shows some values.
I was searching for a startup error in my application and thought this was the problem.

It seems to be an issue with the debugger in Visual Studio for Mac Preview Version 17.3 Preview (17.3 build 1038).

I was so close, to have the first productive Maui development session on a Mac with a real (big) application since November last year.

[2022-06-22 19:47] hartez commented on #6731
Changing your outermost `VerticalStackLayout` to a `StackLayout` will fix your issue:

[code]

The `AndExpand` options are not supported on `VerticalStackLayout` and `HorizontalStackLayout`; `StackLayout` supports them for backward compatibility.

[2022-06-22 19:47] #6731 closed

[2022-06-22 20:14] egvijayanand commented on #8183
This is the inner exception logged for the Windows platform issue (after disabling the `Just My Code` debugging option).

The exception was raised outside the scope of my code.

Exception thrown: 'System.InvalidCastException' in System.Private.CoreLib.dll
Exception thrown: 'Microsoft.Maui.Platform.ToPlatformException' in Microsoft.Maui.dll
Exception thrown: 'Microsoft.Maui.Platform.ToPlatformExcep

[2022-06-22 20:30] rlasker-trimble opened #8251 "MediaPicker: Massive file size difference between "capturing" and "picking" an image in iOS"
### Description

This problem is discovered in Xamarin Essentials but after tracing the problem down to the code level it appears the same issue is in the Maui version.

When using the Media Picker in iOS you have two options to either pick the image from the library or "capturing" the image directly from the camera. The difference in the file sizes of those images are by order of magnitudes of 5

[2022-06-22 20:35] egvijayanand commented on #8183
Simulation source repository link:

https://github.com/egvijayanand/maui-issue-8183

[2022-06-22 20:51] drasticactions commented on #8248
@emceelovin (This is my opinion, not one on the MAUI team)

SwapChainPanel is a Windows only control, so IMO having that in MAUI itself doesn't make a lot of sense, unless there are equivalents that could be bound for the other platforms (of which I don't think there are.) If you're on Windows, you can always call out to the native platform and create a SwapChainPanel and use it. If you need whate

[2022-06-22 20:53] drasticactions commented on #8241
Did you try running the app in the default Android browser? Does it work there?

Did you try building an Android app without MAUI (Ex. `dotnet new android), adding a webview, and trying it there? did it fail?

[2022-06-22 20:54] Eilon commented on #8199
@yzbai unfortunately I was not able to get Fiddler working to capture the trace. Can you post a screenshot of what you're seeing when running in Android?

I wonder if this particular case what's happening is that GET requests generally don't have any bodies (and if supplied, it's supposed to be ignored), so something in the system is changing the GET to a POST because that way the body would be co

[2022-06-22 21:11] marius-bughiu opened #8252 "Shadow crashes the app when used on root element of a ViewCell"
### Description

Application crashes when setting a `Shadow` on the root element of a `ViewCell`.
DotNet version: 6.0.400-preview.22301.10

### Steps to Reproduce

Set a shadow on the root element of a `ViewCell` like in the example below. I've tested with `Border` and `Image` with the same result.

[code]

### Version with bug

6.0.400 (current)

### Last version that worked well

Unknown/Other

[2022-06-22 21:41] drasticactions commented on #8227
Yeah, this issue needs to be moved to VS Feedback, since it can't be addressed in this repo.

Without logs it's hard to know exactly, but I would make sure that you are able to debug successfully with whatever platform you're deploying to (iOS, Android, etc) and are able to debug (like set breakpoints). The other known limitation that can cause a timeout is if you're trying to debug the startup of

[2022-06-22 21:41] #8227 closed

[2022-06-22 21:44] drasticactions commented on #8223
With any Hot Reload change, the best way to verify if it's "Hot Reload" or MAUI itself is to try and reproduce the changes you're trying to make from code behind.

Try making a sample project and poke the values you're changing from C# code behind. If they don't change, then it's a MAUI bug. If it does change, then it's (more likely) a Hot Reload bug.

[2022-06-22 22:23] jonathanpeppers commented on #8012
This was probably closed on accident when a PR was merged.

[2022-06-22 23:31] hartez commented on #6592
Earlier versions of MAUI.Controls had the "box is always gray" issue, but that should be fixed (if not already in Service Release 1, then definitely in Service Release 2, which should be released in the near future).

BoxView in Xamarin.Forms was weird, because `BackgroundColor` and `Color` were effectively the same property.

The BoxView in MAUI.Controls keeps both properties for backward compati

[2022-06-22 23:31] #6592 closed

[2022-06-22 23:43] hartez commented on #5091
The overlap is a weird interaction between the Grid's last Row (with height "*") and the FlexLayout measurement. If you change the last row in each Grid to "Auto", things lay out as expected.

So if you need a workaround until we get this fixed, that might help.

[2022-06-23 01:02] #7278 closed

[2022-06-23 01:02] #1405 closed

[2022-06-23 01:02] #8046 closed

[2022-06-23 01:22] mobilewares commented on #8066
Hi -
I can't seem to get this working, urgently need to rollback MAUI to 6.0.300 (or similar) as the 6.0.400 (Android release) has completely broken my App.

When I run (Attempting to get back to 6.0.300) :
dotnet workload restore --from-rollback-file https://aka.ms/dotnet/maui/**6.0.300.json** --source https://aka.ms/dotnet6/nuget/index.json --source https://api.nuget.org/v3/index.json

I get thi

[2022-06-23 01:30] yzbai commented on #8199
@Eilon Thanks for  your explanation. I guess every platform has their own way of dealing a GET with body. It is not a MAUI Issue then.
I used a asp.net web api as backend to receive Get request parameters using model binding. And I set a Json string body on Get rquest for simplicity and convenience. It worked well before.

I will close the issue and rethink this.
Thanks.

[2022-06-23 01:30] #8199 closed

[2022-06-23 02:04] kristinx0211 commented on #8247
not repro on windows with vs 17.3.0 Preview 3.0 [32621.293.main]. project:[MauiApp6.zip](https://github.com/dotnet/maui/files/8963028/MauiApp6.zip)
https://user-images.githubusercontent.com/99457000/175191547-ec9fdd73-cbdf-47c4-a45f-f8436281bce3.mp4

[2022-06-23 02:08] VincentBu commented on #6015
yes, I have enabled it in emulator

[2022-06-23 02:35] calebcartwright commented on #8066
I'll assume it's not and that you just added the asterisks for effect in the comment. The only other thing I'd suggest validating is that you're actually using a .300 sdk. We utilize a global.json file that pins the actual sdk version too, and the combination of that and the rollback file for the workload specification has been working fine for us

[2022-06-23 02:39] kristinx0211 commented on #8244
verified repro on IOS15.4 with vs 17.3.0 Preview 3.0 [32621.293.main].

[2022-06-23 02:42] ScofieldOY commented on #8066
Just as Caleb mentioned, please check if you have global.json in your local
`{
  "sdk": {
    "version": "6.0.300",
    "rollForward": "disable"
  }
}`
and run this cmd to pin GA version
`dotnet workload restore --from-rollback-file https://aka.ms/dotnet/maui/6.0.300.json --source https://aka.ms/dotnet6/nuget/index.json --source https://api.nuget.org/v3/index.json`

[2022-06-23 02:57] jinzhao1127 commented on #8218
@TanayParikh , I try the Shane's suggestion above, it works well for me.

[2022-06-23 03:51] mobilewares commented on #8066
Hi ScofieldOY & calebcartwright -
Thanks for your answers & help... It's still not working as expected.

I'm assuming if all OK I can run from VS2022 17.3 Preview 2.0 to my Android emulator on Windows - or have I got this wrong & this is for some other usage (ie. launching from command line or for pipelines)?

Some notes below where I'm at.

Yes - I was just trying to make this bold for the post -

[2022-06-23 03:58] RanjithkumarSyncfusion commented on #8247
Hi @kristinx0211
Can you please scroll using thumb in the scrollbar. Since the crashing occurs only while scrolling with thumb.
https://user-images.githubusercontent.com/59435340/175205977-1c44302d-8a59-4682-b040-0f92533fd4e3.mp4

[2022-06-23 05:35] kristinx0211 commented on #8247
@RanjithkumarSyncfusion ok, thanks for your info, I can repro as you say.
![image](https://user-images.githubusercontent.com/99457000/175222553-4e98a61e-d2b7-4df9-aa5a-59ac19b15bb2.png)

[2022-06-23 06:17] Maverick1983 commented on #8241
Hi, with Android browser working.
I will test with with Android app without MAUI

[2022-06-23 06:35] VincentBu commented on #6024
not repro with vs main build(32622.314)
@david-maw is this the expected result?
![image](https://user-images.githubusercontent.com/44959937/175231315-89685765-5bae-4f8a-b729-c3bede17af8c.png)

[2022-06-23 06:42] VincentBu commented on #6063
not repro with vs main build(32622.314)

[2022-06-23 07:00] Flaflo commented on #7930
The app is creating a blank popup with "about:blank" and dynamically injects DOM into it.

Sounds good to me.

[2022-06-23 07:01] VladislavAntonyuk commented on #7403
I confirm it works on GA with Label, but doesn't work on custom controls

[2022-06-23 07:10] DeepWorksStudios opened #8265 "Picker Issue user can input text"
### Description

If you have a control that opens your keyboard, the user can enter text in the selection title of the picker element.
There is no option to prevent this

Reproduction Repo:

### Steps to Reproduce

1. > Create Maui project
2. > Target Android
3. > Add an entry or other control that uses the keyboard.
4. > add picker with some dummy data
5. > start the emulator or the device
6. > T

[2022-06-23 07:18] Kalyxt commented on #8012
I made new app with different name so I could switch between apps without uninstalling the previous one. Its hard to tell, which one is better for me. I used my co-worker for a test, I gave him your version of application to test scrolling then the original. He picked your version as better.

Slow scrolling is good on both, problem is when I scroll fast, it could be better.

I appreciate your help

[2022-06-23 07:18] #8012 closed

[2022-06-23 07:19] NonameMissingNo commented on #8239
Possible duplicate of #7967

[2022-06-23 07:19] Symbai commented on #7403
What are "custom controls"? I've tested this on a Button and a Listview and on both it fails.

[2022-06-23 07:24] MGohil opened #8266 "Flyout Navigation: Android Toolbar disappears if we close app (via Back button) and re-open it."
### Description

If we use the Flyout navigation as given in this sample: https://github.com/dotnet/maui-samples/tree/main/6.0/Navigation/FlyoutPageSample, When we start the app from beginning (Fresh start), the navigation bar and hamburger icon are displayed good.
However, if we go back and app is sent to background and then open the app again, notice that the navigationbar is removed from the Pa

[2022-06-23 07:25] VincentBu commented on #6619
repro with vs main build(32622.314), remove `OnPlatform x:TypeArguments="Thickness"` part, and the hot reload works again.

[2022-06-23 07:33] kristinx0211 commented on #8232
@Awesomer9561 hi, I am not repro this issue, Entered characters can fill the entire editor(`WidthRequest="200"`) and then wrap in the video. let me know if I miss something from my code and video.
[code]

[2022-06-23 07:52] eqmarcin opened #8267 "Entry as plain text if IsPassword="True" and IsReadOnly="True""
### Description

Password is displayed as plain text if Entry IsPassword="True" and IsReadOnly="True".

I only have it tested on Samsung tablet with Android 11.
Android emulator (API 30) is OK.
iOS physical devices (latest iOS) are OK.

### Steps to Reproduce

`  <Entry Text="{Binding Password}"
       Placeholder="Enter password"
       IsPassword="True"
       IsReadOnly="True"/>`

### Version w

[2022-06-23 07:58] jsuarezruiz commented on #8170
@Awesomer9561  Could you attach a small sample where reproduce the issue?. Thanks in advance.

[2022-06-23 08:10] NonameMissingNo commented on #8267
Not repo on main
![image](https://user-images.githubusercontent.com/40233496/175247791-22b432de-ef4e-44e6-9cd8-6d98167d01f0.png)

[2022-06-23 08:10] kristinx0211 commented on #8232
@Awesomer9561 yes, remove it and see the video:
https://user-images.githubusercontent.com/99457000/175249634-c0b34d91-ead3-4eb0-a3f3-4db711e09f35.mp4

[2022-06-23 08:45] eqmarcin commented on #8267
Sorry, I just noticed that my Mac has still version 6.0.312. Probably it was fixed in 6.0.4

[2022-06-23 08:54] kristinx0211 commented on #8226
verified repro on android with above project:
https://user-images.githubusercontent.com/99457000/175259094-e1134168-fb67-430d-88bc-777af0518e0f.mp4

[2022-06-23 08:55] sajjadarashhh commented on #5804
@SteveSandersonMS I have reproduced test environment for this issues and take minimal hack for this solution in [maui](https://github.com/sajjadarashhh/Dotnet.TestMauiFreeze).

[2022-06-23 08:55] KieranDevvs commented on #6015
Thanks.

[2022-06-23 08:57] Forestbrook commented on #5724
Return key treatment found on 6.0.400-preview.22301.10:

**ANDROID:**
- ReturnType=**Next**: Tab-icon shown on return key. Nothing happens when the key is pressed, ReturnCommand and Completed event are NOT executed.
- ReturnType=**Done**: Check-icon shown on return key. When return key is pressed, Entry field has still focus, but ReturnCommand and Completed event ARE executed.

**iOS**
- ReturnTyp

[2022-06-23 09:01] eqmarcin commented on #8267
Ok, so I have tested in on Windows with 6.0.4
![code](https://user-images.githubusercontent.com/108053161/175260535-e7e4c3ab-de7b-42b5-a912-96301e3c0ef5.png)

and the issue is still here

![Screenshot_2022-06-23-09-58-22-031_com companyname mauiapp3](https://user-images.githubusercontent.com/108053161/175260759-edaedab9-3017-4504-b92d-7c0dc99c7c92.jpg)

[2022-06-23 09:13] xtuzy opened #8270 "VisualElement.InvalidateMeasure not work at Android after update VisualStudio to 17.3.0 preview2"
### Description

After update VisualStudio to 17.3.0 preview2, use `VisualElement.InvalidateMeasure()` not let layout load `MeasureOverride` again at Android, it work at Windows, i don't test it at iOS.

### Steps to Reproduce

1. Download  [maui_issue_8270.zip](https://github.com/dotnet/maui/files/8965812/maui_issue_8270.zip) and Run
2. Click InvalidateContentView Button, see MeasureOverride info

[2022-06-23 09:21] Ahmadmansoor commented on #8223
the changes I am doing are in the Xaml file, most likely it happens and sometimes not.
but the funny thing is it reflects change like the background but another property it doesn't.

[2022-06-23 09:23] xtuzy commented on #8270
### Video

- Android

https://user-images.githubusercontent.com/17793881/175264841-eb7c552d-55ae-4195-9295-4f8d4366cd56.mp4

- Windows

https://user-images.githubusercontent.com/17793881/175264867-a99d74e6-42fd-480b-bed8-5c20255e0726.mp4

[2022-06-23 09:41] nacompllo commented on #6731
I have tried to use StackLayout but they still don't work, the StackLayouts don't occupy the space that they have assigned in their respective RowDefinitions of the Grid:
[code]

If the grid is the main layout of everything, it works fine:

[code]

I imagine that the StackLayout compatibility with previous versions (Xamarin) is not working correctly since the same code is working in Xamarin Forms.

[2022-06-23 09:57] hevey opened #8272 "Attempting to run on iOS device gets doesn't have a target for 'net6.0-ios/ios-arm64' error"
### Description

When running a MAUI project on an iOS device (not simulator) from the latest Visual Studio 2022 preview gets error "doesn't have a target for 'net6.0-ios/ios-arm64'"

### Steps to Reproduce

Create new project from Visual Studio for Mac 17.2 preview 2.1
Select iOS Device from run options
Run the project

### Version with bug

6.0.400 (current)

### Last version that worked well

U

[2022-06-23 10:02] #7762 closed

[2022-06-23 10:56] HobDev opened #8274 "Unable to navigate to ModalPage"
### Description

If the Presentation Mode of a ContentPage is set to Modal the Shell app does not navigate to the page.

### Steps to Reproduce

Run the repro project and click on the button. The second page will not load as it has the presentation mode of Modal. Remove the Presentation Mode and the seocnd page will load.
[MauiApp1.zip](https://github.com/dotnet/maui/files/8966560/MauiApp1.zip)

#

[2022-06-23 11:04] HobDev opened #8275 "The NavBar is present in Modal page"
### Description

In shell app if first page is set to Modal it still have navbar.

### Steps to Reproduce

Run the repro project and see the NavBar on the Modal Page.
[MauiApp1.zip](https://github.com/dotnet/maui/files/8966631/MauiApp1.zip)

### Version with bug

6.0.400 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Android, I was *not* able test on other pla

[2022-06-23 11:20] julien-bertolini opened #8276 "WebView not displaying Leaflet map on Android"
### Description

Leaflet map does not display at all on both Android emulator and real device.
Works fine on Windows.

Tested with Leaflet example:
https://leafletjs.com/examples/mobile/example.html

Also tested with Bing maps => works fine on Windows and Android.

### Steps to Reproduce

1. Create new Maui project
2. Add WebView control with leaflet example as Source =>
`<WebView Source="https://

[2022-06-23 11:22] HobDev commented on #8274
In the Maui App I am developing this is causing Exception:

[2022-06-23 11:44] AndreasReitberger commented on #8274
Duplicate to: https://github.com/dotnet/maui/issues/8062#issue-1272250507
Hopefully gets fixed with the next SR 👍🏻

[2022-06-23 12:07] GeorgeDarakchiev opened #8277 "[Android] AutomationId still does not work"
### Description

The issues [#4714 ](https://github.com/dotnet/maui/issues/4714) and [#3260](https://github.com/dotnet/maui/issues/3260) are marked as resolved, but they can still be reproduced with the latest version 6.0.400 (Service Release 1).

Please note, that in order for this to be fixed the ContentDescription needs to be set (setting ViewIdResourceName will not help). The reason behind thi

[2022-06-23 12:09] sangwook96 commented on #8035
@jfversluis
HI
**No Tizen target devices are Found on Target lists**
We enabled Tizen Target Framework
`<TargetFrameworks>$(TargetFrameworks);net6.0-tizen</TargetFrameworks>`
<img width="380" alt="Image2" src="https://user-images.githubusercontent.com/59121807/175294678-9df6cb93-0597-4ec0-bdb2-0d3e82f66f0a.png">

But We can not see Tizen Target on the Target Lists.
Just we can see Android/Ios/Wind

[2022-06-23 12:33] GeorgeDarakchiev commented on #8277
@PureWeen and @rmarinho if you prefer for us to move this conversation in the old item #4714 , please reopen it so that I can write there. I'm currently unable to do so, because it is marked as resolved.

[2022-06-23 13:02] #8079 closed

[2022-06-23 13:26] b2w-matt commented on #8251
I am also seeing this same issue.

[2022-06-23 13:28] devonuto commented on #8274
Yep, this release has buggered everything up. All my Modal pages are no longer working.

[2022-06-23 13:53] romanov opened #8279 "Maui Blazor image cache is not working"
### Description

Hello!
When navigating beetween the pages, you see the refresh (blink) of the images (static, or background).

![android1](https://user-images.githubusercontent.com/644179/175315656-362b60f2-1ab7-4ba9-bf80-4bb916f2a469.gif)

Manifest (or serviceworker) cache is not helping.

### Steps to Reproduce

1. Create MAUI Blazor App
2. Add any static (wwwroot) images to any other page
3. N

[2022-06-23 14:04] gerhard17 commented on #7170
I have the same problem. Compiling from Visual Studio 17.3.0 Preview 2.0 (windows)

[2022-06-23 14:06] jsuarezruiz commented on #7448
Could you upload again the sample https://github.com/HausBJB/MauiApp2?

[2022-06-23 14:15] gerhard17 commented on #7197
I have the same problem, when I switch to <WindowsPackageType>None</WindowsPackageType>.
Then all interactions with the top app bar do not work. (Minimize, Maximize, Close and Resize)

[2022-06-23 14:57] polygonsheep commented on #8182
More info, if you add the DataType to the DataTemplate the text will show up in Release mode.
`<DataTemplate x:DataType="x:String">`

The DataType is not required in Debug mode.

[2022-06-23 15:07] LukasKuchta commented on #8242
[map_demo.zip](https://github.com/dotnet/maui/files/8968503/map_demo.zip)

Hi, i attached the sample. Google api key is empty and error is still here.

[2022-06-23 15:10] david-maw commented on #6024
@VincentBu

The original issue #5622 shows how it is meant to look and has an essentially identical Xamarin project for illustration. That said, the page heading you showed looks ok except for the rather weird oversize "-" between the "+" and "X". The Xamarin version does not show the page title ("Page 1" in your example) but that smells like a Xamarin bug. You can't see the page title in the Scre

[2022-06-23 15:25] fairking commented on #7965
For me the solution you provided is not possible:
Answer number 1: https://github.com/dotnet/maui/issues/7965#issuecomment-1159040537
Answer number 2: https://github.com/quasarframework/quasar/discussions/13725

[2022-06-23 15:36] roubachof opened #8281 "Control with ControlTemplate not showing in page"
### Description

I created a `TemplatedTaskLoader` which is a 'correct' version of the task loader view, using control templates and swapping views according to a task state (instead of absolute layout with IsVisible toggle).
It works perfectly well in XF: https://github.com/roubachof/Sharpnado.TaskLoaderView/tree/master/Retronado
Navigate to "Commands/Snackbar" page.

But it displays nothing in t

[2022-06-23 15:54] jonathanpeppers commented on #8098
I had a conversation with some of the Mono folks -- going to move this to dotnet/runtime.

[2022-06-23 16:03] PureWeen commented on #8277
@GeorgeDarakchiev can you please provide a full sample with the appium parts as well?

When I tested this change using `FindElementByAccessibilityId` if worked fine

If you're wanting to check the contentDesc directly instead of using `FindElementByAccessibilityId ` I don't think we'll be able to make that work.

Unless I'm mistaken and `FindElementByAccessibilityId` isn't working for you? In whic

[2022-06-23 16:05] Snsaiu commented on #8196
yes, you are right, when I delete configuration of IOS and Android in my maui project, I see the 'publish' menu is enable of project menu context, and I use your command, it really publish successfully. but when I deployed 21h2 version of windows, the package can install but not work...

[2022-06-23 16:38] lnaie opened #8283 "Question: Custom Shell TabBar Tab icon (Android + iOS)"
### Description

Hi,

I was wondering how is this achievable with MAUI?
![1666927](https://user-images.githubusercontent.com/1276077/175348782-820e037b-9c0e-4a0a-b01c-561ba10a0df8.png)
I think it's from an old version of the YouTube app.

It looks like the text is ignored, the image has almost double the size of the other tabs, and it's been vertically centered.

### Public API Changes

Don't have

[2022-06-23 16:39] Eilon commented on #7965
@fairking unfortunately, calling `Blazor.start()` is not supported here due to how BlazorWebView initializes the JS code. If JS initializers were working, you don't have to load any scipt/JS manually - you just put the startup code in a file called `MyApp.lib.module.js` and it gets loaded automatically and it also runs the startup code in there automatically once Blazor has been started by .NET MA

[2022-06-23 16:43] sretz opened #8284 "MainActivity ScreenOrientation = ScreenOrientation.SensorPortrait"
### Description

When holding my Android phone upside-down while setting ScreenOrientation = ScreenOrientation.SensorPortrait on Activity Attribute on public class MainActivity : MauiAppCompatActivity with auto rotate turned on, the .net maui screen orientation is not flipping to make the screen right-side-up.

### Steps to Reproduce

1. [Activity(ScreenOrientation = ScreenOrientation.UserPortrait

[2022-06-23 17:05] #730 closed

[2022-06-23 17:05] #731 closed

[2022-06-23 17:05] #733 closed

[2022-06-23 17:07] fairking commented on #7965
The problem is I don't have any startup code: https://github.com/quasarframework/quasar/discussions/13725
The only think I can do is to inject the `index.js` file into the DOM.

[2022-06-23 17:12] Ghevi opened #8286 "Aot compilation fail when publishing for iOS"
### Description

I'm trying to publish a maui app on a windows pc by pairing it with a Mac, with the command `dotnet publish -f:net6.0-ios -c:Release`
When the publishing reaches the step of `Optimizing assemblies for size` it remains stucked and eventually the connection with the Mac is interrupted. The process times out and other than this no other error appears.
In order to connect againt the t

[2022-06-23 17:49] javiercn commented on #8279
@romanov thanks for contacting us.

Does the same webview instance survive across navigations?

[2022-06-23 18:36] Eilon commented on #7965
Hi @fairking , I think there's something here that I'm not understanding. Can you explain the order of events that need to happen? Something like:

1. MAUI Blazor app is loaded
2. Blazor starts
3. Customer app startup code in XYZ.js is loaded
4. Quasar method `something()` is called
5. App's JS code has to call .NET code

I'm not familiar with Quasar so I'm not sure what the connection is between

[2022-06-23 18:50] PureWeen commented on #8284
@sretz I don't think this is a MAUI specific issue

https://stackoverflow.com/questions/41174723/android-sensorportrait-orientation-not-working

Does that seem to articulate your issue? ^

[2022-06-23 18:55] #7639 closed

[2022-06-23 18:57] PureWeen commented on #8270
@xtuzy this should be fixed when preview3 releases

If you are still seeing this issue with preview3 can you upload a repro to github?

[2022-06-23 19:05] PureWeen commented on #8272
@hevey this is a known issue that we are tracking internally. I'm not sure the ETA currently.

[2022-06-23 19:06] PureWeen commented on #8274
Duplicate

That PR has a fairly simple workaround you can apply for now

[2022-06-23 19:06] #8274 closed

[2022-06-23 19:10] PureWeen commented on #8275
@HobDev The modal property only applies when you are navigating to a page not to the first page that loads.

If you want to hide the `NavBar` then I would recommend `Shell.NavBarIsVisible="False"`

[2022-06-23 19:10] #8275 closed

[2022-06-23 19:49] Ghevi commented on #8286
@PureWeen i can't upload the whole project, but I could try to make a new one, try publishing that to exclude it's not an issue on my environment, then try with the same packages that i'm using in the affected app.
Is there a way to publish a new project quickly as test without all the steps for the apple store process like certificates, provision file etc?

[2022-06-23 20:14] Ahmadmansoor commented on #8227
OK, I will try to make a gif file.

[2022-06-23 20:37] AdmiralSnyder opened #8288 ".net 7 preview workaround: .net 6.0.300 might not be installed when VS preview is installed, the wiki needs to be fixed."
### Description

https://github.com/dotnet/maui/wiki/.NET-7-and-.NET-MAUI
contains a template for a global.json that references .net 6.0.300
on my pc, that version isn't installed, but some 6.0.400.preview-xxx version - that should be mentioned in the wiki.

### Steps to Reproduce

this is merely an issue for the maui wiki on github. see link. no repro.

### Version with bug

6.0.400 (current)

##

[2022-06-23 20:46] devonuto commented on #8274
#8062 stops the error, but my modal pages don't render. Whole app just goes unresponsive

[2022-06-23 20:47] alajev opened #8289 "Rendering problem with FlexLayout / BindableLayout when insert/remove to binded collection"
### Description

Hello,
there is a rendering problem with FlexLayout with BindableLayout.  When I Insert/Remove Item in Binding ObservableCollection,
 on Windows work great, on android Items space is not rendering according to the new added or removed items in observableCollection..
Either it has too much (end spacing when deleted) or too little space (last item are hiden after inserted new item o

[2022-06-23 20:56] Maverick1983 commented on #8241
Tested with Android Project (not MAUI) and it's working

[2022-06-23 21:32] PureWeen commented on #8284
The code in that SO post is creating a `OrientationEventListener` and then that's where the override exists that you want to get access to.

[2022-06-23 22:05] sretz commented on #8284
Can you point me to an example or documentation on how to register a OrientationEventListener with .net maui and how to set the orientation for the program?

[2022-06-23 22:17] fyndor commented on #7590
This is my workaround for now.  Every time I do something in my ViewModel that I know should affect the vertical height of the page, I call an Action that I assign to this method.  By setting the Content property to null, and then back to it's value as defined in XAML, it recalculates it's size and works properly.

    private void NotifyScrollChanged()
    {
        var content = ScrollViewCtrl.C

[2022-06-23 22:45] jzhao8402 commented on #7303
I have the same problem on android 11 emulator and physical devices. It does not seem like only on android 12.

[2022-06-23 22:50] tekmun commented on #7720
I have no solution because the sample app in Xamarin Forms use a feature (Native wrapper) that I think is not available in .Net MAUI. I am filing it as a bug report and hope that Microsoft can bring back Native wrapper for .Net MAUI.

[2022-06-23 22:55] myroot opened #8291 "The margin between the mark and content of the radio button is too narrow."
### Description

RadioButton is TemplatedView, so some platform use DefaultTemplate to represent Radio button, but this template has some issue

1. Too narrow between radio mark and content.
2. BorderWidth not applied

This is because `DefaultTemplate` is based on Frame.

| The space between the radio mark and the content is too narrow |
|-|
|![image](https://user-images.githubusercontent.com/1029

[2022-06-23 23:49] MackinnonBuck opened #8293 "Backwards tab navigation cannot move focus away from a Windows Forms BlazorWebView"
### Description

When using backwards tab navigation (shift+tab) on the children of a `BlazorWebView`, focus cannot escape the WebView. When the first child of the WebView is focused, shift+tabbing results in the last child of the WebView receiving focus rather than the native control whose tab index precedes that of the `BlazorWebView`.

This does not reproduce on the Windows Forms `WebView2` con

[2022-06-24 00:47] BinaryAssault opened #8295 "Can't Change ToolbarItem FontIconSource Glyph After Load"
### Description

The ToolbarItem.IconImageSource cannot be updated once it is displayed. I have a need to dynamically change it.  The icon above the dotnet bot is for display purposes only
![Toolbaritems](https://user-images.githubusercontent.com/19739224/175438045-98dd8a5d-d681-4d97-a5f2-b148b5558b19.gif)

### Steps to Reproduce

Using  a stock MAUI app:

Add the following to MainPage.xaml
[code]

[2022-06-24 01:02] hbraasch commented on #7053
Did a test with my repro app after the latest MAUI update. The selection problem appears to be fixed. Thanks

[2022-06-24 02:51] drasticactions commented on #8241
Can you upload a repro project of it?

[2022-06-24 03:46] shinnthant-lab commented on #8044
When will this be available for Update?? ETA pls, thanks

[2022-06-24 05:14] MSicc opened #8296 "ContentPage's OnBackButtonPressed not invoked on iOS and MacCatalyst"
### Description

The ContentPage's OnBackuButtonPressed method is not invoked on iOS and MacCatalyst.

Seems to work on other Platforms (only tested Android in the simulator).

### Steps to Reproduce

1. Create new MauiApp
2. Add a second Page
3. Replace AppShell call with
`
MainPage = new NavigationPage(new MainPage());
`
4. Add a button and add code to navigate to the second Page
`
	async void N

[2022-06-24 05:28] kristinx0211 commented on #8276
confirm on android, works on windows.

[2022-06-24 05:40] VincentBu commented on #6791
I create a WinUI project and I get the following result:
![image](https://user-images.githubusercontent.com/44959937/175469167-03d71bfa-e4ec-4278-abaa-84d411587dfa.png)

did I miss something?

[2022-06-24 05:42] alajev commented on #8289
Hey,
If I add ForceLayout () in the end line everything works fine.

for example:

.....
    case 3:
                 VM.SelectedGroup.Vr = 0;
                 _ = await VM.SelectedGroup.Delete ();
                 VM.Obs.Remove (VM.SelectedGroup);
                 **SW.ForceLayout (); // SW is ScrollView where is nested FlexLayout.**
                 break;

....

[2022-06-24 05:57] kristinx0211 commented on #8265
verified repro on android with above project.

[2022-06-24 05:58] HausBJB commented on #7448
Hello, I just uploaded it again

[2022-06-24 06:10] VincentBu commented on #6868
repro with vs main (32623.270)

[2022-06-24 06:22] kristinx0211 commented on #8267
not repro on windows, but repro on android. vs version 17.3.0 Preview 3.0 [32623.336.main]. SDK version: 6.0.400-preview.22316.6
windows:
![image](https://user-images.githubusercontent.com/99457000/175474613-bb5ebc6f-fc81-470a-8b7d-c4db60cd6745.png)
Android:
![image](https://user-images.githubusercontent.com/99457000/175475030-7f5d06c0-7433-4bc2-b67e-1e26ce90da41.png)

[2022-06-24 06:23] VincentBu commented on #6909
repro with vs main (32623.270)
[code]

[2022-06-24 07:22] Forestbrook commented on #5724
You can use the Editor control if you need multiple lines.

[2022-06-24 07:32] jfversluis commented on #8288
Was it actually not working? Because although the actual version might be wrong, the "rollForward" setting should take into account that a newer version is installed and use that. As per the Docs [here](https://docs.microsoft.com/dotnet/core/tools/global-json).

I'll add a little note regardless. Thank you!

[2022-06-24 07:32] #8288 closed

[2022-06-24 07:35] VincentBu commented on #7018
verified with vs main (32623.270), but I run into a different bug: clicking `Add Account` doesn't toggle `PopupLayout` on Android emulator. On IOS, it works well for me.

[2022-06-24 08:05] arkadym commented on #7018
With latest MAUI update - Android dynamic layout changes are totally broken. I mean e.g most content dynamic changes friendly i found is StackLayout (Vertical, Horizontal). It works as expected on Windows/Mac/iOS but totally not work on Android. E.g. i'd like to show semitransparent overlay with progress over the whole page while doing something in background, and it works for Windows, Mac and iOS

[2022-06-24 08:05] jsuarezruiz commented on #8265
How do you keep the keyboard open?
![issue-8265](https://user-images.githubusercontent.com/6755973/175491972-e00decff-7248-441f-887c-4b76a4424486.gif)

[2022-06-24 08:13] jsuarezruiz commented on #8247
Cannot reproduce the issue. Is dragging the thumb?
![issue-8247](https://user-images.githubusercontent.com/6755973/175493381-c629fa4c-fb83-461e-8df1-56d28151658a.gif)

[2022-06-24 08:18] Maverick1983 commented on #8241
The repo for test it https://github.com/Maverick1983/dotnet-maui-test

[2022-06-24 08:19] Ghevi commented on #8286
@PureWeen so i tried publishing a brand new project, first with Maui Blazor and then Maui. Both still presented the same issue.
So I tried some combination of enabling and disabling Aot Compilation and LLVM optimization.

This didn't work
`<PropertyGroup Condition="'$(Configuration)|$(TargetFramework)|$(Platform)'=='Release|net6.0-ios|AnyCPU'">`
`<MtouchUseLlvm>True</MtouchUseLlvm>`
`<AotAssemblie

[2022-06-24 08:25] kristinx0211 commented on #8293
@MackinnonBuck  can you share the repro project please?

[2022-06-24 08:27] GeorgeDarakchiev commented on #8277
Hi @PureWeen

Here are some steps that you can use including the `FindElementByAccessibilityId `:

1. Run https://github.com/dotnet/maui/files/8966961/TestAutomationId.zip project on Android
2. Start Appium and connect to the Android emulator
3. Tap on the Search icon
4. Choose the locator to be Accessibility Id and search with any AutomationId set in the app, for example "HelloLabel"
-> No Elemen

[2022-06-24 08:54] peter-bozovic opened #8299 "Single project iOS Service Extensions"
### Description

There is currently no documentation on how to add iOS Service Extensions on MAUI and it doesn't seem to be possible in the current first release.
In Xamarin, it was needed to have separate projects for that (like for push notifications: https://docs.microsoft.com/en-us/xamarin/ios/platform/user-notifications/enhanced-user-notifications#working-with-service-extensions)
In MAUI, it

[2022-06-24 08:58] fairking commented on #7965
1. UI Framework loaded by `index.xxxxxx.js` and `ui_app.boot()` function called (splash screen shown) (Please note: I have no control of this boot).
2. Inside the `boot()` function, start the Blazor and wait.
3. After the Blazor is started, call the backend to get the app settings.
4. Continue with starting the app, load/show the UI based on the settings.

BTW, settings are stored in sqlite databa

[2022-06-24 09:26] Symbai commented on #8145
That's not the same issue. I dont get a NRE. Please create a new issue for this.

[2022-06-24 09:33] RanjithkumarSyncfusion commented on #8247
Hi @jsuarezruiz
Sometimes issue ain't occurring with less binding. please try increasing binding Name to more labels.

[2022-06-24 09:38] AdmiralSnyder commented on #8288
hi @jfversluis I was surprised, too. and i read the docs like it should work, too... although the docs have errors in them - the
 dash between z and nn seems to be missing...
maybe the problem was that allowPrerelease should have been set to true? who knows...

fyi, after i fixed the global.json, i had to repair the net7 reference in the .csproj, too... maybe this should go into that wiki article,

[2022-06-24 09:40] kristinx0211 commented on #8241
no files in the git path. could you take a look.

[2022-06-24 09:42] epsmae opened #8301 ".net Maui iOS BundleResource Missing / Not Working"
### Description

For firebase services the the "GoogleService-Info.plist" file build action has to be set as "BundleResource". The build action is not available in the visual studio selecten and also does not work when setting in the project file:

[code]

The following errror occurs when "Firebase.Core.App.Configure()" is called:
`ObjCRuntime.ObjCException: 'Objective-C exception thrown.  Name: c

[2022-06-24 09:42] jfversluis commented on #8288
That's a good point! And also the net7 references. I'll add some about that as well. Thanks again!

[2022-06-24 10:06] kristinx0211 commented on #8183
logs:
[code]

[2022-06-24 10:22] AntonKosenkoDX commented on #7815
Here it is:
[code]

[2022-06-24 10:27] kristinx0211 commented on #8241
@Maverick1983 run on android 11 and 12, the games can be loaded.
![image](https://user-images.githubusercontent.com/99457000/175516697-9cb36fec-9fc1-44bf-a481-a0926df1f8c7.png)

[2022-06-24 10:48] pierre01 commented on #7882
@rachelkang Thank you for nudging me toward the Graphics API. It was an easy workaround, much more logical than using a disabled slider... Now, I need to make it look good.
Thank you!
![image](https://user-images.githubusercontent.com/2603287/175519952-8728a9ca-325a-4158-b002-5954a7a07b41.png)

[2022-06-24 11:01] Kalyxt opened #8302 "[Android] [Entry] Keyboard is still shown after return/done action"
### Description

Keyboard should hide after return is pressed

https://user-images.githubusercontent.com/26333327/175521785-349848ce-8ff9-4758-bcce-d8c5d908da5e.mp4

### Steps to Reproduce

Create entry
Focus entry
Tap return

### Version with bug

6.0.400 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Android, I was *not* able test on other platforms

### Aff

[2022-06-24 11:33] fkozaslan commented on #7840
@danroth27 Can we open issue again ?  we needs help because our project usings on this devices and project completed just we want the solve this issue, we waiting yours helpings https://github.com/dotnet/AspNetCore.Docs/issues/26089#issuecomment-1165438694

[2022-06-24 11:36] javiercn opened #8304 "Can't publish a Maui app that references a class library on Windows without modifying the project"
### Description
A Maui app that references a class library can't be published without modifying the project file using the following command:

[code]

### Steps to reproduce
1. Create a Maui application.
2. Create a class library.
3. Reference the class library from the Maui application.
4. Open a developer command prompt.
5. Navigate to the Maui app folder.
6. Run the command above to publish the

[2022-06-24 11:41] angelru opened #8305 "Shell badges"
### Description

any idea if this is going to be implemented?
https://github.com/xamarin/XamarinCommunityToolkit/issues/517

### Public API Changes

https://github.com/xamarin/XamarinCommunityToolkit/issues/517

### Intended Use-Case

that Shell has by default add badges, both in TabBar and in the floating menu.

[2022-06-24 11:45] Maverick1983 commented on #8241
.net MAUI?

[2022-06-24 12:58] javiercn opened #8307 "[Blazor] Update templates to include a message in the app when the browser version is too old"
Right now, when a user is using an older version of a webview, Blazor will silently fail.

We could update the template to include a snippet that checks the navigator user agent data `navigator.userAgentData` and displays a message when it detects for example an older version of chrome, maybe even providing a link to update it on the store.

That way, if the app fails to boot, at least the user ha

[2022-06-24 13:05] yairp03 opened #8308 "Can't enable Keychain on entitlements.plist"
### Description

The `Enable Keychain` button in the `Entitlements.plist` file doesn't work while the other buttons does

https://user-images.githubusercontent.com/45571379/175541904-40a8d959-2416-4b04-90dd-6c7ad6729cf3.mp4

### Steps to Reproduce

1. Create a File > New .NET Maui application
2. Add an `Entitlements.plist` xml file to the `iOS` project folder.
3. Open the file in an XML editor and

[2022-06-24 13:14] eqmarcin commented on #8302
Have the same issue on Android 11 & 6.0.400.
Works OK on iOS iPad.

[2022-06-24 13:26] jBijsterboschNL commented on #8187
I did find a work-around for this, at least it worked in my scenario. Use the dispatcher around the property that is bound to the CollectionView's ItemsSource. :)

[2022-06-24 13:28] #8289 closed

[2022-06-24 13:41] rachelkang commented on #7882
Awesome!!! I'm happy to see/hear that - thanks for sharing :)

[2022-06-24 13:53] BinaryAssault commented on #8302
Not a fix, but there was [this project](https://github.com/masonyc/Xamarin.KeyboardHelper) for Xamarin. Was thinking about porting it to MAUI and see if it helps as this is a very annoying issue

[2022-06-24 14:09] javiercn commented on #7840
@fkozaslan I'm not sure there is anything we can do here. If you have devices using an unsupported browser version, the best thing you can do is to display a message on the index page including instructions to update the browser. For example:

[code]

[2022-06-24 14:11] AlMcLeanYF opened #8309 "Button Pressed VisualState not Reverting"
### Description

As I understand the documentation of the Button VisualState behaviour [here ](https://docs.microsoft.com/en-us/dotnet/maui/user-interface/controls/button#button-visual-states), the Pressed state should be entered when a button is pressed, and then left once the button is no longer pressed.

I have modified the standard maui starter project so that the button goes red if pressed. T

[2022-06-24 14:12] javiercn commented on #8279
@romanov put a static counter variable in your blazor app, increment it every time index is rendered and display the results. That's a good proxy to determine if the blazor webview component is being recreated

[2022-06-24 15:05] david-maw commented on #5724
@Forestbrook wrote "You can use the Editor control if you need multiple lines"

Sorry, I should have been clearer, I agree not only can you use an Editor for multi-line input, you should (issue #5730 does) so you make a good point that multi-line input is a non-issue for Entry fields. An Editor Control has the problem of how to signal end of entry as opposed to end of line, but it should not be an

[2022-06-24 15:45] BinaryAssault opened #8311 "Shell Flyout is Blank When Entry is Clicked First"
### Description

If a user clicks on an entry before the flyout menu is shown, there will be no items in the flyout. You're also able to click through the flyout and edit the text. With the first example in the gif, the flyout is brought out before the entry is clicked. The second time (after app restart) the entry is clicked first and the flyout items are not present.

Android 11.0
![flyoutbug](h

[2022-06-24 16:31] dsplaisted commented on #8304
I believe if you remove the following from the command line (without modifying the project file), this should work:

`/p:TargetFrameworks="net6.0-windows10.0.19041;net6.0"`

[2022-06-24 16:33] javiercn commented on #8304
@dsplaisted unfortunately it doesn't because it also has the ios and android TFMs

[2022-06-24 16:40] Eilon commented on #6996
I agree there probably needs to be some change here. I had a default MAUI project created in VS Mac, using latest VS Mac, latest Xcode, latest everything. Running on MacCatalyst worked great. But VS Mac wouldn't let me target any iOS Simulator for _running_ and showed this warning in the build target dropdown instead: `Lower the 'Deployment Target' to see older simulators or check your Apple SDK p

[2022-06-24 16:52] breenbob commented on #780
You can workaround this for now by calling SetRow/Column explicitly:
[code]

The cast is necessary because of this:
![image](https://user-images.githubusercontent.com/6000851/175605848-25b4b13e-608a-4f50-98c0-a6bedd969bdb.png)

[2022-06-24 17:10] DeepWorksStudios opened #8312 "Android Switch Issue (App ThemeBinding wont update)"
### Description

If you use the switch control and give it a different color for each theme via appthemebinding, then when a theme changes on runtime the color is wont updated

Reproduction Repo: https://github.com/DeepWorksStudios/ReproductionProjectBug_Switch

https://user-images.githubusercontent.com/59297046/175611051-e7189a0c-e05a-4f4c-94dc-40ccacf05ecc.mp4

### Steps to Reproduce

1. > Creat

[2022-06-24 17:14] speschka opened #8313 "Editor Sizing Options Do Not Work on Android"
### Description

When using an Editor control, if I set the HeightRequest to a set value, on an iOS device it works as expected - both when starting with no value for the Text property as well as populating the Text property.  On Android, when setting this property, if the Text property of the control is set then it is displayed correctly.  However if the Text property is not set to anything, then

[2022-06-24 17:50] Eilon commented on #7965
I'm starting to wonder if there is simply some other solution that doesn't depend on this. Is there a reason that the app can't just let Blazor start whenever it wants, and let that other framework start whenever it wants, but everything is in a "loading...." state, and then once the settings are loaded, all the frameworks are told "here's your settings!" and then they process that data to do what

[2022-06-24 17:59] #7475 closed

[2022-06-24 17:59] #7493 closed

[2022-06-24 18:03] #5948 closed

[2022-06-24 18:04] #7464 closed

[2022-06-24 18:07] #7554 closed

[2022-06-24 18:28] fairking commented on #7965
The simple solution is to make `await Blazor.start()` working properly (windows platform has it working). If it's a problem with fixing this bug then I can try to workaround it somehow. I know it's going to be ugly but it's not the end of the world. Thanks.

[2022-06-24 18:36] Eilon commented on #7965
Right, it's only on Android where `Blazor.start()` is special. Hopefully one day we can change that. But I think changing to a model where each framework/component/view is in a "loading..." state until its data is ready (such as settings) would be ideal, because that would continue to work no matter what else changes.

[2022-06-24 18:49] musmuris commented on #8168
I got this fairly simply by creating a new MAUI Blazor app and doing the stuff in https://github.com/dotnet/maui/issues/3166 and turned off targeting iOS and Android in the project settings

Visual Studio 2022 17.3.0 Preview 2

 * My machine looks to have developer mode locked down by group policy so I cannot enable it. I changed the launch settings to `"command name": "Project"` and added `<Windo

[2022-06-24 19:00] musmuris commented on #8168
@david-maw Another example of the error here: https://github.com/musmuris/MauiBlazorAccessViolation

[2022-06-24 19:27] javiercn commented on #7965
An initializer should work here. `afterStarted` runs after Blazor has started and the initial render has been triggered.

[2022-06-24 19:50] christianlevesque opened #8315 "SwipeItem command not executed"
### Description

When using a `<SwipeView>`, `<SwipeItem>` commands are not executed on swipe. This applies to commands with or without parameters.

[Reproduction](https://github.com/christianlevesque/maui-swipeview-command-bug)

This reproduction is based on the MAUI tutorial by James Montemagno, so there's some extra code present.

In the reproduction, the relevant code is in MauiApp1/MainPage.x

[2022-06-24 20:28] breenbob commented on #7867
I'm also finding that _setting_ CursorPosition does nothing either, at least for Entry on Windows. This makes it impossible to have input mask behaviour where the cursor can be skipped over a placeholder character, e.g. the '/' in __/__/____ for a date input mask.

[2022-06-24 21:11] polygonsheep commented on #8272
you can add this to your csproj file

`	<PropertyGroup Condition="$(TargetFramework.Contains('-ios')) and '$(Configuration)' == 'Debug'">
		<RuntimeIdentifier>ios-arm64</RuntimeIdentifier>
	</PropertyGroup>`

when you want to build to your device. Then comment that out when you want to build for the simulator.

[2022-06-24 21:40] gfmoore commented on #8223
I too have noted that using a frame to wrap views means that if changes are made to anything inside the frame (in xaml) it is not getting hot reloaded to either an android emulator or device. I will endeavour to create a repo for this tomorrow. I don't think it will be difficult!! ;)

[2022-06-24 22:04] gfmoore commented on #8223
I just tried this  (repo at https://github.com/gfmoore/TestFrameHotReload.App (for a short while)
[code]

You can change the text for a button and it is reflected in the UI, but changing say the Grid  Row Definitions won't reflect.

On my more complex layout I hardly see any changes reflected
[code]

[2022-06-24 22:14] HappyNomad opened #8320 "ChainReact.NET: Low-code reactivity framework for .NET"
During the course of developing an e-commerce platform for restaurants, I also developed a .NET reactivity framework for building line-of-business apps of any kind.  Prior to the pandemic, I started promoting the framework at various Meetup events.  When the pandemic hit, I shifted focus to the online ordering technology which you can now see in action at https://www.siamlewisburg.com/ .  That's t

[2022-06-24 22:31] mattleibow commented on #7170
@dsplaisted I tried setting this to true but then it fails for class libraries:

It seems this ResolveRuntimePackAssets only runs on windows

[msbuild (8).zip](https://github.com/dotnet/maui/files/8981822/msbuild.8.zip)

[2022-06-24 23:16] david-maw opened #8322 "XmlSerializer Creation throws FileNotFoundException"
### Description

The unexpected pause does not do any harm in that the missing file seems to be optional and the exception gets caught before it returns to user code, Nonetheless it's mighty confusing and tedious to get around, especially on Android, because even if you disable break on FileNotFoundException the debugger still pauses with a message like this:

![nobreakdialog](https://user-images.

[2022-06-24 23:24] david-maw commented on #8168
@musmuris I think the access violation is a symptom of multiple problems - the one in issue #3166 seems to predate this problem which (for me at least) is new since 6.0.300 (that release ran the same code that failed on 6.0.400 without error).

[2022-06-25 00:35] hartez commented on #7018
@arkadym #8136 should address the problems you're seeing with IsVisible on Android.

[2022-06-25 00:48] hartez commented on #8135
As @Symbai mentioned, this bug is fixed by PR #8136, which is slated for Service Release 2 (coming soon).

[2022-06-25 00:48] #8135 closed

[2022-06-25 00:52] hartez commented on #8025
I suspect this is another instance of #8071 / #8044; if so, it should be fixed by #8136. Leaving this note here so we can verify that.

[2022-06-25 00:54] hartez commented on #8040
We should verify whether this is still a problem after #8136.

[2022-06-25 01:35] romanov commented on #8279
What is the best method to put the counter's incementation?

`protected override async Task OnInitializedAsync()` or `OnInitialized`?

Is it right for a blazor page? Or they call everytime on navigation?

[2022-06-25 03:49] Eatham532 opened #8323 "App crashes with second window and WebView"
### Description

I have a seccond window with a webView. When I try to close the seccond window my app crashes. I did a workaround by removing the webView from the grid. But after I close the seccond window I can't use `DisplayAlert`.

### Steps to Reproduce

1. Create two windows in Maui
2. In the first window put a button that will open the seccond window.
3. In the seccond window put a webView

[2022-06-25 04:46] chrisevans9629 commented on #8186
I am also having this issue even after installing windows-app-sdk

[2022-06-25 06:28] sretz commented on #7916
I tried creating the rows and columns in the constructor using the following math, but I saw not improvement.

		var height = DeviceDisplay.MainDisplayInfo.Height;
		var width = DeviceDisplay.MainDisplayInfo.Width;
		var density = DeviceDisplay.MainDisplayInfo.Density;

		var one = (width / 21.5) / density;
		var quarter = one / 4;

[2022-06-25 07:52] musmuris commented on #8168
@david-maw #3166 is unrelated to this issue - it was just that I had to use the steps there to even run the app as I can't currently use developer mode.  I'd literally downloaded 17.3 preview 2 to try a blazor maui app, did the steps above, got the error and googled it to bring me here.  Sorry for any confusion.

[2022-06-25 09:48] Ghasan opened #8324 "Irregular calculation of margin"
### Description

Hi,

Calculation of margin is irregular due to a bug in the code.

https://github.com/dotnet/maui/blob/bcaea570dd469404fce699c9bf38cf8a18a65897/src/Core/src/Layouts/LayoutExtensions.cs#L136

The code tries to calculate the additional space required by VerticalOptions.Center/End, and it uses view.DesiredSize.

However DesiredSize includes view's requested size + vertical margin hei

[2022-06-25 10:21] DeepWorksStudios opened #8325 "Android Radio Button Issue (Cant select radio button with Image)"
### Description

If you want to use the radio button with a source image, than it wont work with android.

Reproduction Repo:

### Steps to Reproduce

1. > Create Maui project
2. > Target Android
3. > Add an Radioelement with image source (follow microsoft exsample doc)
5. > start the emulator or the device
6. > try select theme

### Version with bug

6.0.400 (current)

### Last version that worke

[2022-06-25 10:34] Awesomer9561 commented on #8232
Hi I am saying that if I put the editor inside a frame it does not automatically take up width of the parent.

[2022-06-25 11:46] Palku commented on #8040
@hartez : If someone can write an easy minimal guide to develop with nightly builds which i guess contain #8136 we could try these things ourselves.
We've currently run into almost everything related to 8136 and would really like to try out the fix as soon as possible.

Our product has a hard deadline in two weeks and this is really frustrating.
Would be super nice with binaries of nightly and tha

[2022-06-25 12:00] PirasathLuxchumykanthan opened #8326 "SecureStorage doesn't work on Mac"
### Description

Welll is not working on Mac

I have try  to add entitlements.plits in MacCatalyst folder
Didnt help...

How to use

		SecureStorage.SetAsync,

and

		SecureStorage.GetAsync

if its not working..

### Steps to Reproduce

https://github.com/PirasathLuxchumykanthan/IHOS

and run it

In the [IHOS](https://github.com/PirasathLuxchumykanthan/IHOS)/[CrossPlatform.BlazorApplication](https

[2022-06-25 13:07] PirasathLuxchumykanthan commented on #8326
Seems like when i try run the MAUI in mac it does not copy the entitlements.plist

[2022-06-25 13:16] HenJigg opened #8327 "SwipeView in CollectionView throws Exception when collection is reset on Windows"
### Description

Using SwipeView in CollectionView, if the collection is reset, there will be an exception!

![image](https://user-images.githubusercontent.com/42528522/175774960-34483d5d-cab5-4640-a9f1-0f6b2959d7b1.png)
![image](https://user-images.githubusercontent.com/42528522/175774973-c00521d8-9b6e-4517-93ed-f899e5a8d3e3.png)

### Steps to Reproduce

[MauiApp5.zip](https://github.com/dotnet/m

[2022-06-25 13:23] HenJigg opened #8328 "SwipeView Order Bug"
### Description

![ZN`SO OFC$5Q QR7 ` 68~Y](https://user-images.githubusercontent.com/42528522/175775356-f4e628fb-ddea-4f81-89c8-0dd321865cd8.png)

![ZN`SO OFC$5Q QR7 ` 68~Y](https://user-images.githubusercontent.com/42528522/175775371-4a95ca81-db70-47bc-83c5-8e352686843f.png)

The same SwipeView, the order displayed on each platform is inconsistent!

### Steps to Reproduce

![image](https://user-

[2022-06-25 13:52] mobycorp commented on #7123
UPDATE: I have found that by using the following style:
[code]

The title bar area that appears darker as shown in the screenshot above is now clear.  BUT!!!  The title bar hit testable region is still only 24 (or 32?) units wide.  This means when the shell title bar is shown, the whole title bar area is not hit testable and thus, can't be used to drag the window around on the desktop.  This will

[2022-06-25 14:04] janseris commented on #6018
@jsuarezruiz Hi, any updates, please?

[2022-06-25 15:22] PureWeen commented on #8328
@HenJigg can you please upload a repro to github?

[2022-06-25 15:23] PureWeen commented on #8327
@HenJigg can you upload your zip to a github repository please?

[2022-06-25 15:28] PureWeen commented on #8322
@david-maw can you please upload your reproduction to a github repository?

[2022-06-25 15:31] PureWeen commented on #8313
@speschka can you upload a repro to github or paste your XAML? The container the Editor lives in plays a big roll in how the autosize code works.

[2022-06-25 15:33] PureWeen commented on #8309
This is most likely fixed in SR3

[2022-06-25 15:35] PureWeen commented on #8308
@yairp03 can you use the feedback tool in VS to log this issue? The feedback tool will generate additional logs that will helpful to debug this issue

[2022-06-25 15:46] PureWeen commented on #8295
@BinaryAssault can you please upload your repro to github?

[2022-06-25 15:51] PureWeen commented on #8302
duplicate
https://github.com/dotnet/maui/issues/5724

[2022-06-25 15:51] #8302 closed

[2022-06-25 15:53] PureWeen commented on #8301
Moved issue to https://github.com/xamarin/xamarin-macios/issues/15347

[2022-06-25 15:53] #8301 closed

[2022-06-25 16:22] mobycorp commented on #7123
And... Here's something I can't replicate because it is so intermittant, sometimes when the app starts, the original title bar is laid out and the title bar can be used to drag the window and the other bits that a title bar is supposed to do and at other times, the title bar is completely missing. I can start and stop the app in succession and sometimes the bar is there and sometimes it is not - a

[2022-06-25 16:32] sangwook96 commented on #8035
@mattleibow
Hello,
Excuse me but we are waiting for your big support for applying Maui in Tizen?
Do you have any idea or progress about these Tizen issues?
If you have anything, please share it with us, too.

Have a good weekend!!
Thanks

[2022-06-25 16:57] PentaTech commented on #8148
That binding probably comes from https://docs.microsoft.com/en-us/dotnet/maui/fundamentals/shell/flyout
and that is one of many ways you have to change the menu appearence. You can basically change the whole Shell.FlyoutContent with a CollectionView bound to Shell's own FlyoutItems.

If you want to bind the whole menu though not only you have to remove BindingContext={x:Reference shell} but you al

[2022-06-25 17:00] calebcartwright commented on #8066
Sorry @mobilewares but I don't know the answers to your questions and I don't think this is something Scofield nor myself can really help you with. Fundamentally our need, and the ask of this issue, was for a rollback file that could be used to keep the workload versions pinned within the .300 band, and that ask has been satisfied.

I'd encourage you to open a new issue with all relevant details (

[2022-06-25 17:29] gfmoore opened #8329 "MVVM ObservableCollection SelectedItem = null = Exception"
### Description

Following the guidelines in the docs:[(https://docs.microsoft.com/en-us/dotnet/maui/user-interface/controls/collectionview/selection#clear-selections)] Using community mvvm
[code]

So I have a MainPage and a ViewModel for it

[code]
[code]

I select the item and bang!

I expect the selected item highlight to be cleared. It will be done at some later point, but everytime I do it it

[2022-06-25 18:16] JohnHDev opened #8330 "TapGestureRecognizer not working on a Frame in a grid on iOS or Mac"
### Description

TapGestureRecognizer not working on a Frame in a grid.

### Steps to Reproduce

Try the following code:

[code]

Add the frame to a grid, run iOS or Mac and attempt to tap/click on it.
[EDIT], It might be more complex, it needs to be in a scrollview that spans all columns in the grid and in a custom layout control. Will put together an example when I get time.
[EDIT 2] Ok, nothing

[2022-06-25 19:36] yairp03 commented on #8308
Reported [here](https://developercommunity.visualstudio.com/t/MAUI-Cant-enable-Keychain-on-entitlem/10080747?port=1025&fsid=146e93d6-926d-4b29-b448-53e4086af036&entry=myfeedback&ref=native&refTime=1656185722367&refUserId=55a226e1-3570-6ba9-b313-41a1b0de9207)

[2022-06-25 21:05] BinaryAssault commented on #8329
Not sure if it'll fix it, but did you try using the source code generator?

instead of
[code]

Use
[code]

[2022-06-25 21:14] BinaryAssault commented on #8295
@PureWeen, repo can be seen [here](https://github.com/BinaryAssault/MauiToolBarButtonIssues)

[2022-06-25 21:16] gfmoore commented on #8329
I'm getting an error on the [ICommand] decoration/attribute? saying

Compiler Error CS0653
Cannot apply attribute class 'class' because it is abstract

An [abstract](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/abstract) custom attribute class cannot be used as an attribute.

I'm also wondering how the xaml would call this since my binding is to SelectionChangedComman

[2022-06-25 21:18] BinaryAssault commented on #8329
The code generator will create an ICommand named SelectedChangedCommand. You must make your class partial to use it properly.

Regardless of my suggestion, I think you should post more code as there seems to be more going on than your original comment.

[2022-06-25 21:54] ltemimi commented on #7600
I still have the issue, is it going to be actioned?

[2022-06-26 03:30] HenJigg commented on #8327
In this post, have I uploaded the code, or do I need to reflect this in my repo?

[2022-06-26 03:31] HenJigg commented on #8328
[MauiApp5.zip](https://github.com/dotnet/maui/files/8985924/MauiApp5.zip)

[2022-06-26 03:49] HenJigg commented on #8327
[MauiApp5.zip](https://github.com/dotnet/maui/files/8985942/MauiApp5.zip)

[2022-06-26 05:19] david-maw commented on #8322
@PureWeen yes, but it'll be a little effort, is the zipped version not helpful? Should I submit future issues with GitHub repos rather than simply zipping up the sources? If so, that's fine, I can do it, it's just a difference in how I create examples.

[2022-06-26 08:54] gfmoore commented on #8329
[code]
<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://schemas.microsoft.com/dotnet/2021/maui"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:local="clr-namespace:Census.ViewModels"
             x:Class="Census.MainPage"
             NavigationPage.HasNavigationBar="false">

  <Grid
    RowDefinitions="30, *, 65, 10"
    Margin="0,0,0,0"

[2022-06-26 09:29] gfmoore commented on #8329
Another thought is that I am (attempting) to use dependency injection (following tutorials) My program works, but could there be a side effect?

MauiProgram.cs
[code]

[2022-06-26 10:03] gfmoore commented on #8329
I'm reading the documentation and indeed something very odd is going on in that it isn't accepting the [ICommand] yet accepts the [ObservableProperty] - doesn't make sense.

It's as though it isn't linked to the library. For instance [ObservableProperty] is in green on my VSStudio community 2022 edition dark mode, whilst ICommand is in yellow (which I think indicates that it thinks it's one of min

[2022-06-26 10:21] innomarcoItalia commented on #8313
if it can help, it also occurs inside the container ScrollView:

 <ScrollView>
        ----
        <Grid RowDefinitions="250,50">
            <Editor  BackgroundColor="Red"  />
     </Grid>
        ---
    </ScrollView>

In this case AutoSize="TextChanges" does not resolve.

[2022-06-26 10:42] gfmoore commented on #8329
I've added a basic repo at https://github.com/gfmoore/TestMVVMHelper.App

It doesn't recognise the [ICommand].

Am I using the correct nuget?

[2022-06-26 11:15] gfmoore commented on #8329
Ahhhh According to this https://egvijayanand.in/2022/04/22/mvvm-made-easy/
[ICommand] has been renamed [RelayCommand] and now [this bit] works. Now back to the main issue.

(For CommunityToolkit.Mvvm 8.0.0 preview4)

[2022-06-26 11:30] gfmoore commented on #8329
Man, this is a lot of trouble for something so simple. The error does not seem to be with the SelectedItem = null; after all (with my original code, the new RelayCommand is bringing up some other error. I hadn't noticed because the selection did get cleared, but somewhere in my code I must now be using the SelectedItem and it's now null. I now need to trace this error.

Sorry for the trouble and I

[2022-06-26 12:01] gfmoore commented on #8329
Nope, spoke too soon, still getting exception. Somewhere the SelectedItem is being used, but it's not in this ViewModel that I can see.

[2022-06-26 13:44] Phenek commented on #7884
if the issue is related to CollectionView,
that could explain why in iOS the CollectionView is not populated rather than trowing the same exception.

[2022-06-26 13:58] MCF3389 commented on #4807
@MollsAndHersh @everybody : I'm now switched to XAMARIN forms and am developing the app with the media element.
Developing with xaml feels a bit different to using MAUI with web elements, but I'm making progress. At least I can now render
the video with native UI and don't get into trouble. I hope that MAUI will also soon incoporate the media element (from the community tookit), so that I can move

[2022-06-26 14:55] webrift opened #8332 "Button text not updating after button click"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/maui/first-app-tutorial/device-setup
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am using a dual boot Macbook and have windows 10 installed and MacOS.
I am working in the windows partiti

[2022-06-26 15:08] drasticactions opened #8333 "[Podcasts] [WinUI] System.AccessViolationException when manipulating images in a navigation page"
### Description

https://user-images.githubusercontent.com/898335/175820699-b5df7874-39c7-4624-ac41-43abad8feb91.mp4

I am not sure if this is a MAUI issue or a WinUI one, or if the Podcast app needs to be updated. If you start playing a podcast and navigate between pages within the navigation view (I.E, go from the main collection of podcasts to a detail view) while a podcast is playing or stoppe

[2022-06-26 15:55] gfmoore commented on #8329
I'm going to definitely close this down. There seems to be nothing wrong with the SelectedItem = null; in a little test app I made https://github.com/gfmoore/TestMVVMHelper.App (for now). It works fine. Somehow setting the SelectedItem to null is causing a side effect somewhere else, but I have no idea how to trace the exception. I think it might be something to do with navigating to another page

[2022-06-26 16:04] DeepWorksStudios opened #8334 "Shell Flyout Issue (App ThemeBinding wont update icon)"
### Description

If you use the shell flyout with an icon that is supposed to change per theme. In the case where you change the theme at runtime, the icons are not updated correctly.

No matter you update them manually or via apptheming

Reproduction Repo: https://github.com/DeepWorksStudios/ReproductionProjectBug8334_Shellicon

### Steps to Reproduce

1 ,> Create Maui project
2. > Add some -flyo

[2022-06-26 17:07] SailDev commented on #5983
Still not working in GA.
Is there a method, to show/hide the ENTRY keyboard manually?

[2022-06-26 19:08] veikkoeeva commented on #8035
This feels related, but when trying to compile I get
![kuva](https://user-images.githubusercontent.com/5158694/175829933-d6c731ed-7910-45d9-87ba-ee8b6da1fea3.png)
from https://github.com/Samsung/Tizen.NET/tree/main/samples/HelloMaui.

I used the instruction at https://docs.tizen.org/application/vstools/install/.

Windows 10, Visual Studio 2022 version 17.3.0 Preview 2.0

2.2.402 [C:\Program Files\

[2022-06-26 20:47] ThatJammyDodger opened #8335 "[iOS] Shell Back Button Label"
### Description

When using navigation pages with Shell-based navigation on an iOS .NET MAUI app, the back button label will set itself to the same as the page title if the title is short enough, otherwise it will do the expected behaviours (when page title is longer) and have a label of 'Back' (see images below).

I do not believe that this is intended behaviour as that would not make much sense.

[2022-06-26 21:16] PirasathLuxchumykanthan commented on #8326
any idea when this will be fix ?

[2022-06-26 23:43] Symbai opened #8337 "App crashes only in release mode and only when using AOT"
### Description

On physical devices with Android my app crashes. This happens on 6.0.400 and also on main branch. But it does not crash when deploying to the Android Simulator. On physical devices it also does not crash when I disable AOT.

It worked fine in 6.0.312 but also on main branch few weeks ago.

Is there any way to obtain a crash log or something? I've ran `adb.exe logcat -v threadtime

[2022-06-27 02:05] VincentBu commented on #7061
not repro with vs main build(32626.21)

[2022-06-27 02:19] AllenMiaoFil commented on #7066
Hey @kristinx0211, I don't think they are same issue, https://github.com/dotnet/maui/issues/7597 is about button-opacity, And This is about SVG as a Source doesn't work on Button/Image Button, but it is working on Mac.

[2022-06-27 02:34] Awesomer9561 commented on #8189
[ContactsPicker.zip](https://github.com/dotnet/maui/files/8988250/ContactsPicker.zip)

Hi, this is the app. You can see all the methods over here.

[2022-06-27 02:39] sangwook96 commented on #8035
@veikkoeeva
Hi
Thank you very much for giving the feedback here.
For me, I tested the below like that.
I installed the workload ".NET Multi-Platform App UI development" via Visual Studio Installer for Preview
And then I created the Maui application ".NET MAUI App"
And then, I removed the comment "" ont *.csporj.
And then, I rebuild it.
========== Rebuild All: 1 succeeded, 0 failed, 0 skipped =====

[2022-06-27 02:49] VincentBu commented on #7082
not repro with vs main build(32626.21)

[2022-06-27 03:28] Awesomer9561 commented on #8170
Hi, Sorry for the late reply I tried on Android and iOS and found the iOS version to be a little smoother than the Android.
The problem is with simultaneous API calls. If I am using pagination or loading a lot of data at once the scroll view is freezing.
Can this be handled if I use skeleton loaders in my app?

[2022-06-27 03:40] PaulAndersonS commented on #6596
The issue occurs on Windows also. Tested with 6.0.400

[2022-06-27 04:39] JoonghyunCho commented on #8035
@veikkoeeva The error seems the Tizen workload may be not installed properly. You may want to uninstall and reinstall Tizen workload. Check out [Here](https://github.com/Samsung/Tizen.NET/wiki/Installing-Tizen-.NET-Workload) for installing workload through VSIX or CLI.
Plus, You now don't have to use HelloMaui sample as now Tizen is included in default Maui template as one of the targetframework.

[2022-06-27 04:48] epsmae commented on #8301
@PureWeen you moved the issue to xamarin but it works fine in xamarin the issue exists only in maui.

[2022-06-27 05:02] VincentBu commented on #7132
verified with vs main build(32626.21). Hot reload updates the element info
before:
![image](https://user-images.githubusercontent.com/44959937/175863586-b2c656a2-091c-4dd0-956a-6ff0bf06415f.png)

after:
![image](https://user-images.githubusercontent.com/44959937/175863424-d7461911-f359-457e-a25b-eb26f78b19ea.png)

[2022-06-27 05:36] VincentBu commented on #7163
repro with vs main build(32626.21). as [duraz0rz](https://github.com/duraz0rz) and [Dokug](https://github.com/Dokug) said, we can build the project but failed to build the solution.

[2022-06-27 06:04] HenJigg opened #8338 "CollectionView RemainingItemsThresholdReachedCommand Invalid"
### Description

Using the RemainingItemsThresholdReachedCommand on the CollectionView control cannot be triggered on the Windows platform, but works normally on the Android platform.
![image](https://user-images.githubusercontent.com/42528522/175870474-a82411ee-caa4-4c3b-8186-58ea51bf72a4.png)

LoadMoreCommand cannot be triggere
[MauiApp3.zip](https://github.com/dotnet/maui/files/8989037/MauiApp3

[2022-06-27 06:19] danielftz opened #8339 "[Android] Label HorizontalTextAlignment not correctly set"
### Description

When defining a `Label` on Android, setting `HorizontalTextAlignment` to `TextAlignment.Center` has no effect.
![Screenshot_1656310605](https://user-images.githubusercontent.com/43251077/175872063-14af3a89-409b-49da-a247-55dff0df265b.png)
The `HorizontalOptions` of this `Label` object is set to `Fill` and `TextAlignment` is set to `Center` and the text should be centered.

### Ste

[2022-06-27 06:20] janseris commented on #7061
Probably fixed

[2022-06-27 06:35] pierre01 commented on #7962
@kristinx0211 This issue had to do with the recent reorganization of folders in the new MAUI templates.
If I add this line in the project : everything works.

`<MauiImage Include="Resources\AppIcon\*" />`

This was likely the cause of the bugs (I was using the app icon as an image).
The image existed in the project but was not considered an image.

I will verify on IOs once I am able to run my MAU

[2022-06-27 06:35] #7962 closed

[2022-06-27 06:36] VincentBu commented on #7200
Hi [janseris](https://github.com/janseris), would you like to share your svg file?

[2022-06-27 06:47] zuzannaczaja opened #8340 ".NET MAUI Animation doesn't work on Android platform"
### Description

Animation doesn't work on Android platform on .NET MAUI.

<Image Source="spin.gif" IsAnimationPlaying="true" BackgroundColor="Black" ></Image>

I don't have ideas why it doesn't work. For example, on Windows platform I don't have problem with that.

### Steps to Reproduce

1. Download any gif.
2. Add gif to project to /Resources/Images.
3. Add code to page or view with right name

[2022-06-27 06:51] DeepWorksStudios opened #8341 "Windows Shell Flyout Issue (On Scroll Exception Break)"
### Description

If you use a shell flyout in your app with some elements and header + footer and target windows it will crash on scroll if the items dont have enough space to display all at once. The crash only happens whene you use headercolapse on scroll.

Reproduction Repo: https://github.com/DeepWorksStudios/ReproductionProjectBug8341_ShellScroll

https://user-images.githubusercontent.com/592

[2022-06-27 06:53] philipag commented on #7061
No, this still happens in the latest 17.3.0 Preview 2.0.  Attached is a sample that shows this.  Note that you have to set the error console to show "Build Only" errors.  If you also select Intellisense then it can show the error.  This happens on 2 separate computers with this sample, so definitely repeatable.

[NoErrors.zip](https://github.com/dotnet/maui/files/8989332/NoErrors.zip)

[2022-06-27 06:55] AntonKosenkoDX commented on #3832
Hello! Any update on this issue?

[2022-06-27 06:56] AntonKosenkoDX commented on #4470
@jsuarezruiz Hello! Any update on this issue?

[2022-06-27 06:57] AntonKosenkoDX commented on #6070
@StephaneDelcroix Hello! Any update on this issue?

[2022-06-27 06:57] the8thC commented on #7646
Hello, we are developing [DevExpress .NET MAUI controls](https://www.devexpress.com/maui/) and experienced the same issue. This issue has a high priority for us and we do not have a workaround. Thank you for your help.

[2022-06-27 06:57] AntonKosenkoDX commented on #6729
@Redth Hello! Any update on this issue?

[2022-06-27 06:58] AntonKosenkoDX commented on #6734
@kristinx0211 Hello! Any update on this issue?

[2022-06-27 06:58] AntonKosenkoDX commented on #6735
@samhouts Hello! Any update on this issue?

[2022-06-27 06:59] AntonKosenkoDX commented on #6738
@Redth Hello! Any update on this issue?

[2022-06-27 06:59] janseris commented on #7200
Hi, it's here: https://github.com/dotnet/maui/issues/7204

[2022-06-27 06:59] AntonKosenkoDX commented on #7292
@jfversluis Hello! Any update on this issue?

[2022-06-27 07:01] janseris commented on #7204
Hi this is not expected result because the icon is stretched incorrectly.

[2022-06-27 07:03] kristinx0211 commented on #8241
@Maverick1983 no, this is the test result with android project, I mean I've verified web view source can be load with android project, but does not work with MAUI.

[2022-06-27 07:10] jfversluis commented on #7292
Nothing to share at the moment unfortunately!

[2022-06-27 07:16] AntonKosenkoDX commented on #7357
@v-longmin Hello! Any update on this issue?

[2022-06-27 07:21] AntonKosenkoDX commented on #7362
@VincentBu Hello! Any update on this issue?

[2022-06-27 07:21] AntonKosenkoDX commented on #7499
@VincentBu Hello! Any update on this issue?

[2022-06-27 07:22] AntonKosenkoDX commented on #7482
@kristinx0211 Hello! Any update on this issue?

[2022-06-27 07:24] AntonKosenkoDX commented on #7781
@kristinx0211 Hello! Any update on this issue?

[2022-06-27 07:26] AntonKosenkoDX commented on #7684
@hartez Hello! Any update on this issue?

[2022-06-27 07:39] kristinx0211 commented on #8325
verified repro on android with vs 17.3.0 Preview 3.0 [32626.21.main].

[2022-06-27 07:41] Maverick1983 commented on #8241
So on MAUI it's a bug?

[2022-06-27 07:59] AmazingSully commented on #8105
@hartez that does indeed cause the grid to act correctly.

[2022-06-27 07:59] jfversluis commented on #8332
Hey @webrift thanks so much for reporting this! So if I understand correctly, you can run the project on both Windows and Android. On Windows it works as intended, but for Android the text in the button does not update when you click it?

Does it show any change at all? If you put a breakpoint in the code that is triggered for the button does it actually hit that?

Could you maybe inside of Visual

[2022-06-27 08:02] jfversluis commented on #8308
Perfect, thanks @yairp03

As a workaround for now you can edit the XML directly (also see here: https://docs.microsoft.com/xamarin/ios/deploy-test/provisioning/entitlements?tabs=macos#keychain-sharing) or open the plist file with Xcode on your Mac and edit it that way.

Since it's now reported in the right place and that team should pick it up, closing it here for now. Thanks!

[2022-06-27 08:02] #8308 closed

[2022-06-27 08:16] jfversluis commented on #8305
Copied the description from the original issue for Xamarin.Forms into here. I think some work even has been done at some point, so we might be able to salvage some code from there.

[2022-06-27 08:16] jsuarezruiz commented on #8315
Cannot reproduce on net6.0 branch (upcoming release). I have to check the commit history to see where the issue may have been fixed.

![issue-8315](https://user-images.githubusercontent.com/6755973/175891916-36ae3ae8-87af-4bd4-98fa-f95cc7f417f8.gif)

[2022-06-27 08:21] VincentBu commented on #7061
Yes, `Build + IntelliSense` can show the error while `Build Only` not

[2022-06-27 08:29] VincentBu commented on #7328
Still repro with vs main build
![image](https://user-images.githubusercontent.com/44959937/175895234-c1bc790c-d475-451d-9821-b0b39a0035a1.png)

[2022-06-27 08:30] HenJigg opened #8343 "SwipeView SwipeItemView Layout error"
### Description

Using SwipeItemView custom layout in SwipeView, the element cannot be rendered, works fine in Xamarin.Forms.

MAUI
![image](https://user-images.githubusercontent.com/42528522/175894779-51114a98-12f1-43ca-9e00-92085f4dfdc8.png)

Xamarin.Forms
![image](https://user-images.githubusercontent.com/42528522/175895139-9ce1958f-1702-42ad-9812-3417774fec55.png)

Demo:

Steps to Reproduce

#

[2022-06-27 08:38] kristinx0211 commented on #8295
verified repro on android. the ToolbarItem FontIconSource always not change.

[2022-06-27 08:39] VincentBu commented on #7499
still get a black block on side
![image](https://user-images.githubusercontent.com/44959937/175896935-67ba6831-ad29-4d2a-8d95-0f76dc30017a.png)

[2022-06-27 08:40] IgorKravchenko10 commented on #7646
Check my latest answer [here](https://docs.microsoft.com/en-us/answers/questions/865667/imauicontext-not-found-when-trying-to-get-bitmap-f.html) from Jun 09 2022. There is a workaround.

###### Our company used your controls for many years. But now your country killing our people. Sad to know we paid to sponsors of killers.

[2022-06-27 09:13] kristinx0211 commented on #8311
confirm this issue repro on android 12.

[2022-06-27 09:18] SteveSandersonMS commented on #5804
@sajjadarashhh Thanks for supplying this repo. Unfortunately this repro isn't minimal - it contains a lot of application-specific code, and we don't have capacity to debug nontrivial application code for you. If you can reduce this to a minimal example (meaning the smallest possible number of lines of code added to the default project that will reproduce the problem), we'd be happy to work out whe

[2022-06-27 09:41] kristinx0211 commented on #8296
verified repro on IOS, `OnBackuButtonPressed `can't be hit on IOS, works fine on windows and android. repro project:
[MauiApp8.zip](https://github.com/dotnet/maui/files/8990676/MauiApp8.zip)

[2022-06-27 10:14] kristinx0211 commented on #8322
@david-maw I've tried run with your repro project, I can see the exception break twice, but when disable the `System.IO.FileNotFoundException` In visual Studio Exception Settings and restart the project, the `System.IO.FileNotFoundException` is not throw, see my video, tell me if I miss something.
![8322](https://user-images.githubusercontent.com/99457000/175918408-1dbc021b-7184-4e95-b54b-f30db9a4

[2022-06-27 10:32] #8340 closed

[2022-06-27 10:38] jsuarezruiz commented on #8252
The issue will be fixed by https://github.com/dotnet/maui/pull/8269

[2022-06-27 10:48] Forestbrook commented on #8301
@PureWeen please re-open this issue and solve it for Maui

See also issue [#7938 Build Action: BundleResource does not exist.](https://github.com/dotnet/maui/issues/7938)

[2022-06-27 11:58] yairp03 commented on #8308
The issue at the developer community just got closed and marked as duplicate of this issue here on github... @jfversluis

[2022-06-27 12:03] jsuarezruiz commented on #8312
Tried with net6.0 branch, the issue should be fixed in the next release
![issue-8312](https://user-images.githubusercontent.com/6755973/175936759-1fa08aa1-8572-40b0-a3c1-d592a663cf02.gif)

[2022-06-27 12:39] janseris commented on #8343
Reported 2.5 months ago
https://github.com/dotnet/maui/issues/6018

[2022-06-27 12:41] janseris commented on #8337
Does it crash on Release mode in emulator?

[2022-06-27 12:41] DeepWorksStudios commented on #8312
Sry that I forgot to mention to make the background differ otherwise you cant reproduce it its about the switch background wich does not change accordingly. But its only visible if you got diffrent backgrounds for ech theme

Again sry to forgot mention it

[2022-06-27 13:08] pramodhgeorge2019 opened #8349 "Orange horizontal strip in tabbed page with hamburger navigation"
### Description

We are getting a yellow strip when we are usingTabbed page toolbar placement as bottom. Here  there are 3 tabs and 3 hamburger menus. Hamburger menus are at right top corner. We need the tabs in bottom and it is the home screen. 3 content pages are linked to hamburger. Hamburger is created natively using flyout service.
![16563345741782928590222926800545](https://user-images.githu

[2022-06-27 13:22] jballa1 commented on #8338
I have faced the same issue

[2022-06-27 13:50] jsuarezruiz commented on #7690
Can reproduce the issue in the latest version but not in the current net6.0 branch.
![issue-7690](https://user-images.githubusercontent.com/6755973/175957548-1d095328-e076-4d53-ae01-aa0cc73c5378.gif)

The issue should be fixed in the upcoming release.

[2022-06-27 14:10] PureWeen commented on #8301
@epsmae @Forestbrook I think that's just a confusion of repository names.  MAUI is just a cross platform application that's built on top of net6.0-ios and this seems like a bug with net6.0-ios which is the repository where I logged the bug.

[2022-06-27 14:46] mattleibow commented on #6596
Does the color change if you use Background? Can you link to a repro on GH?

[2022-06-27 14:47] javiercn commented on #8279
@romanov OnInitialized within the Main.razor is an appropriate place to do this, since only runs once.

Essentially what we are looking for is to see if this is happening because `BlazorWebview` is being created multiple times or if the webview component is doing something weird.

[2022-06-27 15:19] HobDev commented on #7727
Strangely on current Visual Studio Version 17.3.0 Preview 2.0 the iOS works fine but Invisible item holds space on Android. Tested with the above attached repro.

[2022-06-27 15:40] rolfbjarne commented on #8200
I can reproduce this with the provided test case, I'll look into what's happening

[2022-06-27 15:42] david-maw commented on #8322
@kristinx0211 Interesting, I see the same problem on two different Android versions (one in the emulator one a physical device), I wonder if it is something in my local configuration? I've reloaded VS and the Android SDK so if it is something local it's a bit obscure and of course, your question only addresses item 4, not the first three (which really boil down to "throwing an exception for a non-

[2022-06-27 16:36] vsfeedback opened #8352 "Visual Studio 2022 17.3 Preview 2 - MAUI Comet template doesn't compile"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-Studio-2022-173-Preview-2---MAUI/10073230)._

---
/usr/local/share/dotnet/sdk/6.0.301/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(5,5): Error NETSDK1112: The runtime pack for Mic
rosoft.Maui.Core.Runtime.maccatalyst was not downloaded. Try

[2022-06-27 16:52] vsfeedback opened #8353 "VS 2022: Unable to debug Maui Windows applications: "Access is denied""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS-2022:-Unable-to-debug-Maui-Windows-ap/10075135)._

---
[severity:I'm unable to use this version] [regression] [worked-in:17.3.0 Preview 1.1]
I created an out-of-the-box Maui application, then built it and attempted to run it after selecting "Windows Machine" as the target.

It crashes

[2022-06-27 16:53] vsfeedback opened #8354 "MAUI Template manifest invalid - not replacing $placeholders$ and no Capabilities available."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/MAUI-Template-manifest-invalid---not-rep/10080708)._

---
[severity:I'm unable to use this version]
Create new MAUI App.

Go to Windows Project, app manifest
Display name is $placeholder$ and entry point is $targetentrypoint$ - these were not replaced during installation.

Also, no Capab

[2022-06-27 16:53] vsfeedback opened #8355 "Project MAUI Title Color white and MenuItem icon color in black insteed of white"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Project-MAUI-Title-Color-white-and-MenuI/10074810)._

---
Visual Studio 2022 Version 17.3.0 Preview 2.0

When creating a Maui app, the title appears in purple blue in the background and the text in white, but the  icon appears in black, so almost invisible. Couldn't find where to edit St

[2022-06-27 16:54] vsfeedback opened #8356 "MAUI on VS2022 (community preview) 17.3.0 preview 2.0 Content Page Title"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/MAUI-on-VS2022-community-preview-173/10073301)._

---
After update my settings I restart the application calling :

        App.Current.MainPage = new AppShell();

All works fine but :
When running in windows, Pages takes all place in main window.
So title of content pages covers first l

[2022-06-27 16:55] vsfeedback opened #8357 "I cannot run a new MAUI blazor project on windows."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/I-cannot-run-a-new-MAUI-blazor-project-o/10072018)._

---

I updated my VS 2022 preview to latest version, created a .net Blazor Maui project and I get  this error when I try to run the empty project on windows.

Severity	Code	Description	Project	File	Line	Suppression State
Error		DEP080

[2022-06-27 16:57] vsfeedback opened #8358 "Shell.Current.GotoAsync works on Simulator but Does not work on iPad"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ShellCurrentGotoAsync-works-on-Simulat/10070114)._

---
I have a simple command bound to a simple UI:

[code]

On ios simulator (iPhone 13 iOS 15.5), this navigation works perfectly fine. However, when I deploy to a real  iPad (iOS 15.5), this navigation does not work. Moreover, I can se

[2022-06-27 16:58] vsfeedback opened #8359 "Failed to launch android application maui with the provided template project"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Failed-to-launch-android-application-mau/10058052)._

---
[severity:I'm unable to use this version]
Failed to launch android application maui with the provided template project
I am using s21 ultra phone and i can debug xamarin application just fine.
I wanted to try out maui after the GA

[2022-06-27 17:01] vsfeedback opened #8360 "MAUI won't build with Preview 17.3"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/MAUI-wont-build-with-Preview-173/10061656)._

---
Removed all VS4Mac instances and fresh installed. Maui workload was selected. However when I try to build, I get this error:
error NETSDK1147: To build this project, the following workloads must be installed: maui-android
To install these

[2022-06-27 17:14] #8126 closed

[2022-06-27 17:23] hafzaal commented on #7138
@XamlTest This doesn't seem to be working on VS community 17.3.0 preview 2. I downloaded the project you linked and I'm getting this:

Pixel 5 Android 12.0:
![pixel](https://user-images.githubusercontent.com/83668567/175999161-c0f27a80-ff07-4ef5-84af-5932a160908b.png)

Windows:
![windows](https://user-images.githubusercontent.com/83668567/175999380-2fb43023-df71-4dd0-a407-bf3fccc54cc3.PNG)

[2022-06-27 17:26] hartez commented on #4704
Closed by #7904.

[2022-06-27 17:26] nor0x opened #8361 "`RadialGradientBrush` with `Center` rendering is broken on Windows"
### Description

I have this regular `Border` with a `RadialGradientBrush` as a background. I have moved the `Center `of the brush to be in the bottom right. As you can see in the screenshots this is fine on iOS and Android but broken on Windows.

[code]

![Untitled-1](https://user-images.githubusercontent.com/3210391/175999087-b77c7516-cad1-4a49-96ae-783ae93744e7.png)

repro is here:
https://gith

[2022-06-27 17:32] Syed-RI commented on #7959
Does that imply a release is incoming or being worked on? ;)

[2022-06-27 17:37] #7821 closed

[2022-06-27 17:44] vsfeedback opened #8362 "maui debug fails on a file that does not exist"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/maui-debug-fails-on-a-file-that-does-not/10073648)._

---
Good day, Maui debug give a build eror on a file that does not exist even when I search through the solution.

---
### Original Comments

#### Feedback Bot on 6/16/2022, 11:56 PM:

(private comment, text removed)
#### Feedback Bot

[2022-06-27 18:15] PirasathLuxchumykanthan commented on #8326
I found out is bigger then just  SecureStorage .. the plist missing in iOS and Mac.. well if u run the iOS on windows it will show it work.. but.. hmm

well for real is missing the plist..

[2022-06-27 18:52] degenet commented on #3901
I can confirm this issue is still present.

[2022-06-27 18:53] warpedgeoid commented on #8335
I'm sorry, but how is setting the back button text to "Back" when the page title is too long a bug? This would seem to be the expected behavior. Are you asking for this behavior to be added to non-iOS platforms?

[2022-06-27 19:05] plattski opened #8364 "Slider Thumb Wrong in iOS, OK on Windows"
Dave Platt here. You might remember me from my MS Press book, Introducing Microsoft .NET. I've been working with MAUI, and I think I've found a bug in the slider control. My example code is at https://drive.google.com/file/d/1mKsG7d3yeliv0k2Lp5BD_jtUwTTXCjdA

I want to replace the standard slider thumb, which I do via the ThumbImageSource property on the Slider element in Xaml. Instead of the defa

[2022-06-27 19:12] Awesomer9561 opened #8365 "Visibility binding not resize and rearrange items inside a vertical stack layout/grid/stack layout"
### Description

Hi,
I am trying to bind visibility for control in my app but it is not resizing and whenever the control is invisible it is leaving a blank area.

### Steps to Reproduce
<VerticalStackLayout>
        <Label
            Text="Welcome to .NET MAUI!"
            VerticalOptions="Center"
            HorizontalOptions="Center" />
        <BoxView BackgroundColor="Red" Grid.Row="1" Heig

[2022-06-27 19:36] sheharyarshahid opened #8366 "CollectionView is incompatible on Shell tabbar pages on Android"
### Description

On the shell tab bar, I have two pages. Each page consists of Multiple collection views which get data from ViewModel. Each collection view also contains some layout settings, like vertical and horizontal options and ItemTemplate which contains Frames, Images and Labels.
On app run, homepage loads fine with its collection view but when changing page from tabbar to another page, it

[2022-06-27 19:37] ThatJammyDodger commented on #8335
No, that is not the problem. So that it is more clear to you, I have made a screen recording.
The first page's title is 'The Main Page', not 'Short', therefore what I have shown in this recording and the screenshots above demonstrates the wrong behaviour.

https://user-images.githubusercontent.com/91419873/176021457-71d040a8-1ad0-4fa2-b109-a4f65a7a7631.mov

[2022-06-27 19:44] rachelkang commented on #8349
Hi @pramodhgeorge2019! Could you clarify if this is a Xamarin.Forms or a .NET MAUI app? And ideally, if you could share a sample project that reproduces this issue, that would be most helpful for us in investigating this issue further.

[2022-06-27 19:47] rachelkang commented on #8343
Hi, @HenJigg - thank you for opening this issue. Please reattach your sample as a GitHub repository so that we may invetigate further. Thank you!

[2022-06-27 19:53] rachelkang commented on #8338
Hi, @HenJigg - thanks for opening this issue. Please reattach the sample project as a GitHub repository so that we can investigate further!

[2022-06-27 20:20] rachelkang commented on #8337
Hi, @Symbai - Thank you for reporting this issue. If you can share the crash logs with us, that wil definitely help us investigate further!

Here is some more info on how you can access the crash logs: https://docs.microsoft.com/xamarin/android/deploy-test/debugging/android-debug-log?tabs=windows#accessing-from-the-command-line

[2022-06-27 20:20] Ewerton commented on #5423
I'am having the exact same problem.
Furthermore, I don't know how to create a Directory since the `FileSystem `class doesn't have something like `FileSystem.CreateDirectory(path)` method to call

[2022-06-27 20:23] rachelkang commented on #8365
Hi, @Awesomer9561 - thanks for opening this issue. Could you please provide a bit more information about your scenario? If you can share the code you have in `ToggleVisibilityCommand` as well as any screenshots showing the behavior your are seeing vs. anticipating, that would be super helpful. Ideally, if you can share a repro project with us in the form of a GitHub erpo, that would help us to inv

[2022-06-27 20:35] Awesomer9561 commented on #8365
Hi, @rachelkang  I have attached a repo. Please have a look at it.
[Visibility.zip](https://github.com/dotnet/maui/files/8995408/Visibility.zip)
.

[2022-06-27 21:08] Arkenar commented on #7451
I am very disappointed in MAUI in that it seems to be nothing but a glorified hybrid mobile application SDK with no native Desktop controls. It's definitely not fit for desktop-first applications.

[2022-06-27 21:12] rachelkang commented on #8311
@PureWeen I wonder if your recent PR fixes this too

[2022-06-27 21:47] hartez commented on #7684
#7514 has been merged, so our next step will be to verify whether or not it fixed this issue. If not, we'll reevaluate it.

[2022-06-27 22:03] gfmoore commented on #8329
I've just uploaded a better! test using objects rather than a string and it works fine. Must be something in my Census code. https://github.com/gfmoore/TestMVVMHelper.App/settings

[2022-06-27 22:07] rachelkang commented on #8329
Hi, @gfmoore - are you saying that the original issue you have reported has been resolved?

[2022-06-27 22:18] gfmoore commented on #8329
No, not at all. I'm saying that my original issue still remains, but I tried to create a simple test to see if the issue was my app or the CollectionView. Using a simple string the CollectionView in my test seemed to work. So I assumed my code had an error, but once I'd removed the plumblng for navigating to a different page the issue still remained in my census code. There was no other entry for

[2022-06-27 22:23] Ewerton commented on #5423
@R0BC0D3R Maybe my findings today could help you and others.
In my project I was trying to create an custom folder and, inside it, create and sqlite db file (**MyDatabase.db**):
My project is an .Net MAUI Native App, so the path where I tried to create my custom folder is:
`Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData)` which evaluates to
`C:\Users\ewer\AppData\Local\`

[2022-06-27 22:48] gfmoore commented on #8329
Is it because when SelectedItem is set to null this triggers a reentry into the SelectionChanged event/command and now that SelectedItem is null the console.writeline fails.

Solution:

[code]

My problem is solved (I very much hope so anyway!!!) :sigh

[2022-06-27 22:48] #8329 closed

[2022-06-28 00:08] GhostKilllaX commented on #8279
Same problem and OnInitialized gets called only once (platform windows tho)

[2022-06-28 00:23] HenJigg commented on #8343
[MauiApp3.zip](https://github.com/dotnet/maui/files/8996543/MauiApp3.zip)

[2022-06-28 00:24] HenJigg commented on #8338
[MauiApp3 (1).zip](https://github.com/dotnet/maui/files/8996547/MauiApp3.1.zip)

[2022-06-28 00:42] rachelkang commented on #8329
Yay!! I'm glad you've figured it out :)

[2022-06-28 00:48] GhostKilllaX commented on #8279
HTTP Interaction of getting a image via BlazorWebView on MAUI:
![image](https://user-images.githubusercontent.com/31547032/176062242-732814d1-d5e9-42c6-aaf9-856e63af82d6.png)
Duration 160ms

I also noticed it beeing really slow? On Blazor Server the image load (even when cache is disabled) is **40x** faster.

HTTP Interaction made via Blazor Server (cached):
![image](https://user-images.githubuser

[2022-06-28 01:00] sangwook96 commented on #8035
@veikkoeeva
Hi,
Thank you very much for your interest in it.
As you see it, we are also waiting for Microsoft's answers.
You can see how the issues are progressing, here.

Thanks

[2022-06-28 01:21] VincentBu commented on #7200
Verified with vs main build
On taskbar:
![image](https://user-images.githubusercontent.com/44959937/176066355-46af8dee-abc9-4aac-acaa-62248bc66c46.png)

In Apps & features:
![image](https://user-images.githubusercontent.com/44959937/176066453-5871ce89-6bce-4c19-90be-c4701a050bc7.png)

[2022-06-28 01:27] drasticactions opened #8370 "[MacCatalyst] Content in ScrollView does not resize when the Window resize."
### Description

https://user-images.githubusercontent.com/898335/176067235-378d21a5-8ba0-4d55-a5a6-88660ed75929.mov

If you have content within a ScrollView, it does not resize when you resize the Window. It does work on Android, WinUI, and iOS.

### Steps to Reproduce

1. Create content within a scrollview
2. Resize it.

### Version with bug

6.0.400 (current)

### Last version that worked well

[2022-06-28 02:04] Awesomer9561 opened #8371 "Binding a converter parameter to a viewmodel object returns bindable property for that object in the converter and not the value."
### Description

Hi,
I am trying to bind a background color using converter and converter parameter but I am not able to pass ViewModel objects as parameters.
Any ideas?

### Steps to Reproduce

<Button x:Name="button_category" Text="{Binding Title}" CornerRadius="25"
                            Padding="20, 10" MinimumWidthRequest="80" Style="{StaticResource TextAppearance.12.Regular}"

[2022-06-28 02:22] VincentBu commented on #7275
not repro with vs main build(32627.385)

[2022-06-28 02:27] shugaoye opened #8372 ".NET MAUI Blazor crash on Windows platform when call Shell.Current.GoToAsync()"
### Description

I am testing to use a login page with `BlazorWebView` and switch to Shell after login. The app crashes on Windows platform, but it works well on Android and iOS.

### Steps to Reproduce

1. Clone the below git repository
[code]
2. Load solution file from `PassXYZ.Vault2/PassXYZ.Vault.sln`. Build and test on Windows. It will crash.
**Username**: test1
**Password**: 12345
3. Build a

[2022-06-28 02:57] VincentBu commented on #7393
not repro with vs main build(32627.385). There is no wlan module on my machine, so I change internet connectivity by connecting and disconnecting VPN.

[2022-06-28 03:57] rynjas commented on #866
@mattleibow

As you can see in the sample below, I tried the workaround, but the gif doesn't work in iOS/macOS and Android.
https://github.com/rynjas/GifMauiSample

[2022-06-28 04:36] AndreduToit opened #8373 ".NET MAUI - Button IsVisibble property does not function with Value Converter on Android platform"
### Description

IsVisible property of buttons  bound to observable property, with value converter, does not operate as expected on Android platform - works on Windows Machine platform.
Please refer to the project 'MauiApp1' in Solution Folder 'AndroidButtonVisible' of the solution at the following https://github.com/AndreduToit/NetMauiReproductions (reproduction sample code) - run and click the b

[2022-06-28 04:36] AndreduToit opened #8374 ".NET MAUI - Label and Button does not resize to fit Text width on Android platform"
### Description

Width of the Label and Button does not change to fit text width on Android platform - works on Windows Machine platform.
Please refer to the project 'MauiApp1' in Solution Folder 'AndroidLabel' of the solution at the following https://github.com/AndreduToit/NetMauiReproductions (reproduction sample code) - run and click the button several times.

### Steps to Reproduce

1.  Run th

[2022-06-28 04:59] AndreasReitberger commented on #8371
Can you try to define the Convertes in the `ContentPage` resource instead?

[code]

Then, bind the property like this.
[code]

I do this way and have no problems with `Converters`.

[2022-06-28 05:06] Awesomer9561 commented on #8371
That is working fine but passing parameters is an issue.

[2022-06-28 05:08] VincentBu commented on #7404
repro Splash Screen issue with vs main build(32627.385) on Android emulator. for issue 2, I can't repro it on Android emulator.

[2022-06-28 05:09] Symbai commented on #8337
Here are the lines starting after the installation:

<details>
  <summary>Click me to expand</summary>

[code]

</details>

[2022-06-28 05:12] AndreasReitberger commented on #8371
You can define the Paramters in here.

[code]

This, however needs you to create a Resource for each parameter pair. But it would be a workaround for your issue atm.

[2022-06-28 05:14] Awesomer9561 commented on #8371
But I want to bind properties from ViewModel not StaticResources

[2022-06-28 05:15] janseris commented on #7393
This issue is for any Internet connection type . Not only WiFi. You can simply disable Ethernet connection in settings, that would work as well.

[2022-06-28 05:25] Symbai commented on #8374
Dupe of #8028

[2022-06-28 05:25] Symbai commented on #8373
Dupe of #8044

[2022-06-28 05:34] kojini commented on #8039
Same exception with CarouselView. Specifying `CurrentItem` causes the exception. I don't use `EmptyView` in my CarouselView.

[2022-06-28 05:38] pendingtask commented on #5801
Linux support plz

[2022-06-28 05:38] kristinx0211 commented on #8366
@sheharyarshahid can you share the repro project please?

[2022-06-28 05:42] PirasathLuxchumykanthan commented on #8357
well for me it work on windonws

[2022-06-28 05:43] AndreduToit commented on #8044
[@symbai](https://github.com/Symbai)
Thanks for referencing this - it may be the same issue or possibly something different (my issue makes use of value converters).
Anyway - lets see how this gets fixed. I said it before and say again - Xamarin Forms was somewhat flaky but .NET Maui is proving to be even more so.

[2022-06-28 05:50] ajphall commented on #8044
For those struggling to work around this, there are some instructions here https://github.com/dotnet/maui/blob/main/.github/DEVELOPMENT.md that kind of explain how to get a nightly build.  However, I found they were quite confusing and incomplete.  If you want to try a nightly build here is what I did.

Run the command found on the DEVELOPMENT.md page:

`dotnet workload install maui --from-rollbac

[2022-06-28 06:05] DeepWorksStudios commented on #8341
Is there a fix wich I can apply? Or is this really a framework bug?

[2022-06-28 06:13] VincentBu commented on #7582
repro with vs main build(32627.411)

[2022-06-28 06:17] HobDev commented on #7727
Actually the size does not change with the change in visibility on Android. In the above repro project if the bottom label is invisible at the startup the size will not grow when it's IsVisible Property is set to true. On the other hand if the bottom label is Visible at the startup it's size will not decrease when It's IsVisible Property is set to false.

[2022-06-28 06:25] HobDev commented on #8365
Duplicate of https://github.com/dotnet/maui/issues/7727

[2022-06-28 06:33] HobDev commented on #8044
This [issue](https://github.com/dotnet/maui/issues/7727) could be related.

[2022-06-28 06:36] kristinx0211 commented on #8361
verified repro on windows with above project.

[2022-06-28 06:45] kristinx0211 commented on #8343
using attached repro project can verified repro this issue on android 12.

[2022-06-28 06:47] sajjadarashhh commented on #5804
yeah that's true I removed huge unused codes and make project minimal
re-check and say me result

[2022-06-28 06:47] sajjadarashhh commented on #5804
yeah that's true I removed huge unused codes and make project minimal
re-check and say me result
@SteveSandersonMS

[2022-06-28 07:19] VincentBu commented on #7587
repro with vs main build(32627.411) on Android emulator(work well on windows)

[2022-06-28 07:27] kristinx0211 commented on #8341
can be verified, crash when using headercolapse on scroll.

[2022-06-28 07:46] Awesomer9561 commented on #8365
Closing as duplicate.

[2022-06-28 07:46] #8365 closed

[2022-06-28 08:04] kristinx0211 commented on #8339
@danielftz I am not repro your issue, see my code and result on android. If your method of reproduction is different from mine, can you share your repro project？
![image](https://user-images.githubusercontent.com/99457000/176126625-a696a61c-c42c-4238-b357-c0f9944fe3ad.png)

[2022-06-28 08:19] jfversluis commented on #6208
1.1 stable is now out and with the latest .NET MAUI bits this now works as expected.

[2022-06-28 08:19] #6208 closed

[2022-06-28 08:20] kristinx0211 commented on #8338
verified repro on windows, works fine on andrroid.

[2022-06-28 08:23] jfversluis commented on #8357
Looks like something on the environment that might be locked down or network traffic that is blocked. Make sure to check with the administrator of the machine if anything is locked down. Searching for the error codes that are mentioned gives me some results. Unfortunately this doesn't seem to be something that is caused by .NET MAUI.

Please try another machine and see if it works there. Let us kn

[2022-06-28 08:24] jfversluis commented on #8352
For issues regarding Comet please report it on the [Comet repository](https://github.com/dotnet/comet).

[2022-06-28 08:24] #8352 closed

[2022-06-28 08:25] rynjas commented on #866
@mattleibow
When connected to hotreload on the Android platform, the animation does not work.
If you set IsAnimationPlaying to false and then back to true, while in hot reload mode, it should work.

Besides the hot reload issue, Android is working fine, but iOS and macOS are still not working

[2022-06-28 08:27] jfversluis commented on #8356
I'm afraid I don't understand what you mean. Also I don't see the mentioned PNG attachement. Would you maybe be able to provide some more information? Ideally a reproduction project that you provide through a GitHub repository so we can have a look. Thanks!

[2022-06-28 08:30] #8362 closed

[2022-06-28 08:33] NonameMissingNo commented on #8339
Can't reproduce it neither in code, nor in xaml on main.
![image](https://user-images.githubusercontent.com/40233496/176132601-328ea72f-0118-40ab-8af4-b7db4a348fff.png)
![image](https://user-images.githubusercontent.com/40233496/176132627-90f758c1-4f02-4f9a-bdbc-c130f06c009c.png)
![Screenshot_2022-06-28-10-31-22-558_com companyname mauiapp1](https://user-images.githubusercontent.com/40233496/17613

[2022-06-28 09:19] ajphall opened #8377 "Java.Lang.NullPointerExceptionon picker if property bound to ItemDisplayBinding is null"
### Description

On Android if you tap on a picker and one of the items in the bound list returns null for the ItemDisplayBinding then the application crashes.

### Steps to Reproduce

1. Launch attached project on Android: https://github.com/ajphall/PickerCrash
2. Tap the picker
3. Crash

### Version with bug

6.0.312

### Last version that worked well

Unknown/Other

### Affected platforms

Andr

[2022-06-28 09:25] kristinx0211 commented on #8335
verified repro on IOS with above project.

[2022-06-28 09:44] jp-weber opened #8378 "[iOS] FilePicker: File.Exist() not working and inconsistent behavior (read/write) | missing documentation"
### Description

I am developing an application that will access documents in a cloud storage through the FilePicker (Nextcloud with the file provider). As per the official instructions, I have added iCloud as a capability for the application/account provising.

As I found out, the access to a file selected with the FilePicker (/privat/var/...) requires the call "StartAccessingSecurityScopedResour

[2022-06-28 09:57] janseris opened #8379 "Add guide how to connect to any service hosted at localhost from real device connected through Visual Studio"
### Description

For MAUI run on Windows, it is easy to access localhost, it's simply localhost.
For MAUI run on Android emulator, simply replace localhost with 10.0.2.2
This is from this guide: https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/connect-to-local-web-services and it works fine.

For SQL Server Express used from emulator there is a nice tutorial here which works (th

[2022-06-28 10:06] sajjadarashhh commented on #5804
@SteveSandersonMS I replace project and make 2 project for this problems:
1. Object Reference null Exception
2. Freeze Exception

[2022-06-28 10:11] sajjadarashhh commented on #5804
and both problems is not framework problem but BLAZOR HYBRID need these features to re-use WASM projects
and we cant use best practices without this features:
1. IJSInProcessRuntime
2. call IJSRuntime.InvokeAsync() out of context.

[2022-06-28 10:47] nor0x opened #8381 "`Border` with `CornerRadius` doesn't clip its content"
### Description

I expect the following layout to be clipped by the outer `Border`'s `CornerRadius`.

[code]
The issue is that nothing is clipped and no `CornerRadius` is visible.

<img width="880" alt="image" src="https://user-images.githubusercontent.com/3210391/176158972-e31f6f3b-6f10-4daa-9df4-db90dc0fe49c.png">

I have tested this on iOS and macOS and found that there are some similar issues

[2022-06-28 11:01] #7053 closed

[2022-06-28 11:02] rmarinho commented on #7391
this was fixed by #7689

[2022-06-28 11:02] #7391 closed

[2022-06-28 11:02] rmarinho commented on #4108
this was fixed by #7689

[2022-06-28 11:02] #4108 closed

[2022-06-28 11:20] DeepWorksStudios commented on #7940
I can confirm that this bug also accures on my project.

[2022-06-28 11:40] Javierflo95 commented on #7404
Hello @VincentBu , I think that in the emulator we have a less version than API 31, which is the one I currently have on my physical Samsung cell phone, because when I deploy my application in the emulator by default, it is an API less than the one I have on my cell phone, the spash screen logo can be seen well

[2022-06-28 11:46] SteveSandersonMS commented on #5804
@sajjadarashhh Thanks for producing the smaller example. That really helps. It shows that, in the freezing case, it comes down to [the following line](https://github.com/sajjadarashhh/Dotnet.TestMauiFreeze/blob/master/FreezeProblem/Main.razor#L19):

[code]

Doing this is very much not supported. By blocking the main application thread with `GetResult`, it becomes impossible to receive the notifica

[2022-06-28 12:01] sajjadarashhh commented on #5804
Thanks for describe this.
so we can't use completely BLAZOR WASM project in BLAZOR HYBRID and we should be make some change's such as you describe in above
@SteveSandersonMS

[2022-06-28 12:26] javiercn commented on #8279
@mkArtakMSFT moving this to .NET 7.0 for consideration. Will this show up in our planning meetings?

[2022-06-28 13:39] fabio-popup commented on #8044
Same issue here :( my whole app is broken now.

[2022-06-28 13:41] PirasathLuxchumykanthan opened #8386 "MAUI GA"
### Description

How to start

XAMARIN to MAUI

Great idear but so much delay.. and function that does not work or not in any kind of showcase.
Blazor love it..

Windows platform.. Well nice  pretty nothing new in that..

Then wee have Android well pretty all work there great

Then wee have Tizen where there no dokumenterne.( As 15 year old dev i cant get it to work... wooow so hard.. event so har

[2022-06-28 13:55] mattleibow commented on #3166
With WASDK 1.1.x I believe the self contained story is almost done but there is just a bug in the targets file now. I have updated the description for the self contained story.

Current blocking issue https://github.com/microsoft/WindowsAppSDK/issues/2684

[2022-06-28 13:57] Forestbrook opened #8387 "CollectionView with GridItemsLayout: Issues when changing Span"
### Description

I have a CollectionView with a GridItemsLayout. Depending on the available size I want to show more (landscape view) or less (portrait view) items on a row.

In the SizeChanged event I compute and set the right Span.

* **On iOS**: crash with NullReferenceException: CollectionView is null in GridViewLayout.HandlePropertyChanged().
* **On Windows**: Number of items on the row is NO

[2022-06-28 14:04] angelru commented on #4341
any progress on this?

[2022-06-28 14:09] #8386 closed

[2022-06-28 14:16] rachelkang commented on #8373
Hi, @AndreduToit - thanks for opening this issue. As @Symbai mentioned, it is a duplicate of #8044 which has since been resolved! You should see this fix in the next release :)

[2022-06-28 14:16] hartez commented on #6305
We should consider just dropping the validation on these fields; I can't think of any situation where it helps.

Rather than throwing an exception if Min ever exceeds Max, just let them be whatever the user sets. The handlers should check for the nonsensical state when any of the relevant properties are updated and react by emitting a runtime warning and setting all of the platform control values

[2022-06-28 14:16] #8373 closed

[2022-06-28 14:26] rachelkang commented on #8378
Hi, @jp-weber - thanks for opening this issue. You may find the documentation at https://docs.microsoft.com/xamarin/essentials/file-picker?tabs=ios to also be helpful.

As for the issue reported - are you experiencing this only on iOS? Is it working as expected on the other platforms?

[2022-06-28 14:55] #8105 closed

[2022-06-28 14:58] hartez commented on #8332
Guessing this is another manifestation of the problems fixed by #8136.

[2022-06-28 15:29] nk54 commented on #8194
Don't close this, I will provide feedback next release candidate to tell you if it was fixed by any layout fix in SR2.

[2022-06-28 15:50] hprez21 opened #8390 "Binding to color properties does not work"
### Description

The color binding through Bindings does not work, I tried with the BoxView control with the Color property and the RoundRectangle control with the Fill property, both have the same problem.

### Steps to Reproduce

1.- Create a new project with the ".NET MAUI APP" template.
2.- Remove default content.
3.- In the XAML file, add StackLayout as the main layout:
[code]
4.- In the code

[2022-06-28 15:52] jonathanpeppers commented on #7404
I'm trying to see if there is a general problem with the splash screen in MAUI.

One thing to note is: https://issuetracker.google.com/issues/207386164

Basically, if you have Android API 31 (Android 12+), splash screens do not show when launched in a different way than tapping an icon on the home screen (so like IDEs, etc.). We found this was the case when using the new splash screen AndroidX pac

[2022-06-28 15:53] manuelelucchi commented on #8390
I found this issue as well, my workaround was a string to color converter

[2022-06-28 16:17] janseris commented on #8390
I think that it works in reverse in xaml because color has string constructor which is silently called but it doesn't work the other way around and that is why you need a converter

[2022-06-28 16:20] PureWeen commented on #6980
For now you can use the Window property on page and subscribe to the Window events if you need to know when the window is being closed.

I'm on the fence whether closing the window should call disappearing on the page.
The page isn't really disappearing in context to visual tree it's closing

Layering too many life cycle events into triggering single "event" can lead to an overall confusing experi

[2022-06-28 16:30] PureWeen commented on #7063
Closing as duplicate of https://github.com/dotnet/maui/issues/7076

[2022-06-28 16:30] #7063 closed

[2022-06-28 16:31] tataelm commented on #5983
I've encountered the same problem. But when I use "Entry" inside Grid instead of StackLayout, it works just fine. Entry and StackLayout don't get along yet.

[2022-06-28 16:47] NonameMissingNo commented on #7011
@PureWeen Appears to be working fine on the Latest main (net6.0)
![image](https://user-images.githubusercontent.com/40233496/176235597-d372a418-1414-439a-aa5c-f810f603843b.png)

[2022-06-28 16:53] PureWeen commented on #7083
@yyliveyy I'm not quite following your request. Are you wanting the whole titlebar/area to change colors?

[2022-06-28 16:54] PureWeen commented on #7137
related https://github.com/dotnet/maui/issues/2956

[2022-06-28 17:02] PureWeen commented on #7196
@danies8 are you still seeing this with the latest bits and the repro here?

https://github.com/dotnet/maui/issues/7196#issuecomment-1127128980

[2022-06-28 17:02] RanjithkumarSyncfusion commented on #8247
Hi Team
Any update on this?

[2022-06-28 17:03] PureWeen commented on #7119
@v-longmin can you try again to reproduce with latest bits?

[2022-06-28 17:05] PureWeen commented on #7251
@jsuarezruiz can you test again? I tried with latest bits and it seemed alright now

[2022-06-28 17:05] MackinnonBuck commented on #8293
I've added a repro project here: https://github.com/MackinnonBuck/BlazorWebViewWinFormsTabNavigationBug

[2022-06-28 17:13] PureWeen commented on #7941
@pictos Going to move this back to needs-info

Let me know if what we chatted about yesterday works for you!

[2022-06-28 17:19] NonameMissingNo commented on #7251
It is working properly on the main branch
![image](https://user-images.githubusercontent.com/40233496/176244003-3f00a050-2bb8-432d-bf9f-59bfbf01088f.png)

[2022-06-28 17:20] PureWeen commented on #7139
This appears to be fixed
<img width="190" alt="image" src="https://user-images.githubusercontent.com/5375137/176244064-4dff6596-eec3-4972-bdf5-562ee910e48f.png">

If you're still seeing this once SR2 comes out let me know

[2022-06-28 17:20] #7139 closed

[2022-06-28 17:24] #7133 closed

[2022-06-28 17:26] hartez commented on #3410
I've cloned this to look at your code, but the project does not build.

[2022-06-28 17:27] PureWeen commented on #8078
There's a internal ticket for this assigned to @jonathanpeppers FYI

[2022-06-28 17:32] PureWeen commented on #7011
Thank you @NonameMissingNo !!

[2022-06-28 17:32] #7011 closed

[2022-06-28 17:33] PureWeen commented on #8016
duplicate https://github.com/dotnet/maui/issues/6404

[2022-06-28 17:33] #8016 closed

[2022-06-28 17:33] PureWeen commented on #8164
duplicate https://github.com/dotnet/maui/issues/8102

[2022-06-28 17:33] #8164 closed

[2022-06-28 17:36] hartez commented on #3410
Okay, got it to build.

The problem is in the mapper for your IconViewHandler - you're not using the base mappings at all.

Change:
[code]

To:
[code]

and all of the `ViewMapper` property mappings (including the one for `Visibility`) will be included.

[2022-06-28 17:49] PureWeen commented on #8114
Moved issue to here
https://github.com/dotnet/efcore/issues/28335

[2022-06-28 18:00] Schinwinkwinsky commented on #8016
Hi, @PureWeen. You closed this issue, but what about the ContentView problem? The issue 6404 just talks about RefreshView.

[2022-06-28 18:12] PureWeen commented on #5691
@jsuarezruiz does look ok for you?

[2022-06-28 18:17] christianlevesque commented on #8315
@jsuarezruiz when I watched your video, I realized what the issue was. It was not clear to me that the command required a click/touch event to execute - I expected that the command would be executed when the swipe was released, which is typical of other mobile UI frameworks. This is not a bug, and I apologize for the time this cost you.

[2022-06-28 18:17] #8315 closed

[2022-06-28 18:18] mattleibow commented on #7404
I think we now have more features to use for Android: https://developer.android.com/guide/topics/ui/splash-screen#set-theme

[2022-06-28 18:21] PureWeen commented on #6199
Duplicate https://github.com/dotnet/maui/issues/7156

[2022-06-28 18:21] #6199 closed

[2022-06-28 18:23] PureWeen commented on #6624
This issue should be fixed with the latest VS preview. There is a bug with the remote simulator where it fails to debug after the first launch which won't be fixed until P4

[2022-06-28 18:23] #6624 closed

[2022-06-28 18:23] jonathanpeppers commented on #7404
Yeah here is Android 11 vs Android 12, it's putting the app icon for the splash screen:

![image](https://user-images.githubusercontent.com/840039/176255154-646e9834-0efa-4c56-a3dc-7b695915b575.png)

It seems like this is just new behavior in 12...

Here is a workaround for Android 12+ devices:

1. Create a `Platforms\Android\Resources\values\styles.xml`:

[code]

2. Update your `MainActivity.cs`:

[2022-06-28 18:26] PureWeen commented on #4733
@v-longmin can you try again with the latest and attach your repro project? It doesn't seem like it linked correctly

[2022-06-28 18:29] jfversluis commented on #8371
@StephaneDelcroix I think the parameter never supported data binding and one should use a `MultiBinding` correct?

[2022-06-28 18:30] jfversluis commented on #8332
I would say so! Thanks for the report @webrift we believe this issue has been reported and is fixed but pending release. Please check if this is still an issue whenever we release our next version. If so, feel free to open a new issue refering to this one. Thanks!

[2022-06-28 18:30] #8332 closed

[2022-06-28 18:31] PureWeen commented on #6760
@david-maw why are you wanting to use a modal page here out of curiosity?

So this is by design. Modal Pages have never incorporated a visual back button. For example if you run this on iOS you just get a modal View on iOS with no back button and iOS has no physical back button. Usually modals are dismissable through other means like the user has completed some action on the modal view.

I could s

[2022-06-28 18:33] #7900 closed

[2022-06-28 18:34] jfversluis commented on #3669
Duplicate of #3739

[2022-06-28 18:34] #3669 closed

[2022-06-28 18:36] PureWeen commented on #7504
@jonathanpeppers does this ring any bells?

[2022-06-28 18:37] skaryshev commented on #8357
I am having exactly the same problem after a clean install of Visual Studio Community 2022 (64-bit) - Preview
Version 17.3.0 Preview 2.0
on Microsoft Windows Server 2022 10.0.20348 Build 20348
targeting net6.0-windows10.0.19041.0 or net6.0-windows10.0.20348.0
with dotnet --version
6.0.400-preview.22301.10
dotnet --list-sdks
6.0.400-preview.22301.10 [C:\Program Files\dotnet\sdk]

Please note the la

[2022-06-28 18:41] PureWeen commented on #6370
duplicate https://github.com/dotnet/maui/issues/7570

[2022-06-28 18:41] #6370 closed

[2022-06-28 18:42] egvijayanand commented on #8183
Have updated the registration call to AddHandler, and post that the exceptions have gone.

But only Android is generating the expected output and not the Windows platform. Refer to the below screenshots.

**Android:**
![Android Output](https://raw.githubusercontent.com/egvijayanand/maui-issue-8183/main/images/android-output.png)

**Windows:**
![Windows Output](https://raw.githubusercontent.com/egv

[2022-06-28 18:42] PureWeen commented on #6992
https://github.com/xamarin/xamarin-macios/issues/15365#issuecomment-1169006363

[2022-06-28 18:42] #6992 closed

[2022-06-28 18:43] Eilon commented on #8379
@janseris how is the Android device connected to the development machine? Is it via USB, WiFi, or something else? I wonder if this might affect the guidance?

[2022-06-28 18:44] Eilon commented on #8379
And I wonder what happens if you use the machine's actual IP address on whatever network it's on. Does that work?

[2022-06-28 18:45] jfversluis commented on #6144
I think a few of these will already work although maybe the templates aren't there right now. I think we've got our hands full making .NET MAUI work for the platforms that we are supporting today. Also, I'd love to see more detail in a feature request to learn more about the why and how you see this happening.

Closing this for now to not keep lingering, not actionable issues in the repo, let's re