[2022-03-02 17:50] TanayParikh commented on #3099
This is a flaky issue which may explain why you weren't seeing an immediate repro. I've definitely seen this pretty recently. Going to re-open this issue so we can keep track of it.

[2022-03-02 19:27] conceptdev commented on #1753
In February 2022 https://github.com/xamarin/AndroidX/issues/470 updated the [Xamarin.AndroidX.Window.WindowJava](https://www.nuget.org/packages/Xamarin.AndroidX.Window.WindowJava) to version `1.0.0.7` which binds the stable/release version of Google's [Jetpack Window Manager](https://developer.android.com/jetpack/androidx/releases/window) package.

This updated package was incorporated into the .N

[2022-03-02 19:35] #1753 closed

[2022-03-02 21:42] TanayParikh opened #5022 "Mac Catalyst Blazor WebView CMD+SHIFT+I doesn't open dev tools"
### Description

Expected to open dev tools like on Windows.

### Steps to Reproduce

Open blazor webview -> <key>CMD</key> + <key>SHIFT</key> + <key>I</key>.

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

macOS

### Affected platform versions

Mac Catalyst

### Did you find any workaround?

_No response_

### Relevant log out

[2022-03-02 21:43] TanayParikh commented on #2542
Doesn't work in Mac Catalyst apps: https://github.com/dotnet/maui/issues/5022

[2022-03-02 22:17] john681611 commented on #1579
Fair enough my projects are often run on peoples servers running older OS's so I guess I saw it when others didn't

[2022-03-02 22:18] eerhardt opened #5023 "Maui's usage of Reflection to find op_Implicit operators is not trim-compatible"
### Description

We are getting ILLink trim warnings in the following code:

https://github.com/dotnet/maui/blob/cf6896e276aa02023db22c59a25f1d3b20024e6d/src/Controls/src/Core/Xaml/TypeConversionExtensions.cs#L254-L271

Here are the warnings:

[code]

This issue is that if the trimmer doesn't see these `op_Implicit` operators being used in IL, it will trim them. This will cause the above code to b

[2022-03-02 22:35] danroth27 opened #5024 "Running installed .NET MAUI Blazor app fails on Windows"
### Description

Running an installed .NET MAUI Blazor app on Windows fails with the following error:

Unhandled exception at 0x00000251D0338198 (Microsoft.ui.xaml.dll) in MauiApp7.exe: 0xC000027B: An application-internal exception has occurred (parameters: 0x00000251E04ECF80, 0x0000000000000002).

With some help from some folks on the WDX team I confirmed that the error is coming from a E_PATHNOT

[2022-03-02 22:35] danroth27 commented on #5024
@Eilon @mkArtakMSFT @jfversluis

[2022-03-02 22:45] TanayParikh opened #5026 "Mac Catalyst CMD+Q doesn't close application"
Expected CMD+Q to quit application

https://user-images.githubusercontent.com/14852843/156462507-b4d5cbcf-d43c-4a71-86dd-ac7a58a453d3.mov

.

[2022-03-03 00:09] #4887 closed

[2022-03-03 00:22] danroth27 commented on #4329
I opened https://github.com/dotnet/maui/issues/5024 to specifically track the .NET MAUI Blazor publishing issue.

[2022-03-03 01:12] VincentBu commented on #1244
Ok, I will close it. If you run into the same bug again, feel free to open a new issue.

[2022-03-03 01:12] #1244 closed

[2022-03-03 01:27] shimingsg commented on #2066
verified with VS 17.2.0 Preview 2.0 [32228.609.main], span does not have property ForegroundColor

[2022-03-03 01:33] kristinx0211 commented on #715
Not reproduced.

[2022-03-03 01:37] VincentBu commented on #4715
verified repro with VS 17.2.0 Preview 2.0 [32301.489.main] in Windows
[4715.zip](https://github.com/dotnet/maui/files/8174088/4715.zip)

[2022-03-03 01:47] Amir-Care commented on #5016
Repro on VS Version 17.2.0 Preview 2.0 [32219.17.main].
Sample project: [MauiApp28.zip](https://github.com/dotnet/maui/files/8174128/MauiApp28.zip)

[2022-03-03 01:59] v-longmin commented on #4533
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-03 02:02] v-longmin commented on #4457
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-03 02:11] wenwen60 commented on #3490
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue in VS2022 17.2.0 Preview 2.0 [32215.517.main] with the information above, could you provide a sample project that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-03 02:32] Amir-Care commented on #5014
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, What means about "RTE" ? could you provide  issue  screenshots  or  more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-03 02:44] XamlTest commented on #3284
Verified Repro with Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32227.94.main]. Repro Project is available(A simple .NET MAUI APP):  "\\mlangfs1\Public\dotnet maui\Repro Project\3284.zip"

[2022-03-03 03:06] vinodshinde opened #5031 "NavigationPage.ToolbarItems not shown on Android and Windows"
### Description

Toolbar is not shown on Android. It is shown on iOS.

[ToolBar-Bug.zip](https://github.com/dotnet/maui/files/8174603/ToolBar-Bug.zip)

![iOS-Toolbar_LI](https://user-images.githubusercontent.com/1417468/156488244-adcd3799-ff43-4d2c-bf8e-d7c0a075036a.jpg)
![Android-Toolbar_LI](https://user-images.githubusercontent.com/1417468/156488474-a13f6754-65ec-4f6b-ad24-30c626f88453.jpg)

###

[2022-03-03 03:41] Redth commented on #4720
Related change: https://github.com/dotnet/Microsoft.Maui.Graphics/pull/318

[2022-03-03 03:48] vinodshinde opened #5032 "NavigationPage.SetTitleView does not work in Android and Windows"
### Description

NavigationPage.SetTitleView does not work in Android.

As shown below TitleView is shown in iOS but not in Android

![2022-03-02_10-33-56-PM_LI](https://user-images.githubusercontent.com/1417468/156491838-0259d776-9851-4815-ae1f-1d949af6fcde.jpg)

### On Android `Page Title` is shown instead of `TitleView`

![image](https://user-images.githubusercontent.com/1417468/156491980-35a18

[2022-03-03 03:56] shimingsg commented on #2045
verified with VS 17.2.0 Preview 2.0 [32228.609.main] on Windows and Android:
on Windows: not repro
on Android: repro

[2022-03-03 05:08] kristinx0211 commented on #3959
verified repro on iPhone 13 IOS 15.2 and above project.

[2022-03-03 05:33] shimingsg commented on #1779
verified repro with VS 17.2.0 Preview 2.0 [32302.528.main]

[2022-03-03 05:37] shimingsg commented on #1824
We cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue?

[2022-03-03 05:38] PineYi commented on #5032
Reproduce in Android 11 with above project.

[2022-03-03 05:53] wenwen60 commented on #3501
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-03 05:55] v-longmin commented on #3679
Verified repro. Repro project:
[MauiApp7.zip](https://github.com/dotnet/maui/files/8175320/MauiApp7.zip)

[2022-03-03 06:03] kristinx0211 commented on #3989
@LarsBehl I tried to repro your demo, but the click event can work, is this your expect?
https://user-images.githubusercontent.com/99457000/156505723-3bb2ec12-079e-44b3-ae0e-957b21f7d821.mov

[2022-03-03 06:08] PineYi commented on #5031
Reproduce in Android 11 with above project.

[2022-03-03 06:26] v-longmin commented on #2675
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-03 08:15] kristinx0211 commented on #4533
Repro on 17.2.0 Preview 2.0 [32208.456.main]. repro sample:
[#4533.zip](https://github.com/dotnet/maui/files/8176048/4533.zip)

[2022-03-03 08:16] Martinn2 commented on #1789
If MAUI core was separated the way I suggest in #4721 it would be much easier to add WPF with drawn controls and/or Blazor.

[2022-03-03 08:16] kristinx0211 commented on #4019
Repro on Version 17.2.0 Preview 2.0 [32214.398.main] with the above project.

[2022-03-03 08:16] davidbritch commented on #4533
Looks like @jsuarezruiz has now fixed this issue - https://github.com/dotnet/maui/blob/main/src/Templates/src/templates/maui-contentpage-xaml/NewPage1.xaml

[2022-03-03 08:17] kristinx0211 commented on #4009
Repro on Version 17.2.0 Preview 2.0 [32214.398.main] with above project.

[2022-03-03 08:26] kristinx0211 commented on #4007
not repro on Android 11 using vs 32301.586.main. ListView is displayed:
![image](https://user-images.githubusercontent.com/99457000/156525702-e677f74c-7a19-4e94-b6c7-b31d383b4859.png)

[2022-03-03 08:26] #4007 closed

[2022-03-03 08:30] kristinx0211 commented on #3992
sees like  Duplicate of #4470

[2022-03-03 08:33] vhj1995 commented on #2907
Hi, I am Glad you verified it. I too hit the same thing. Any idea on when a fix would publish?

[2022-03-03 08:33] vhj1995 commented on #4807
Hi, I am Glad you verified it. I too hit the same thing. Any idea on when a fix would publish?

[2022-03-03 08:39] XamlTest commented on #2258
@PureWeen could you provide a sample project? That should greatly speed up the process, thanks!

[2022-03-03 08:40] kristinx0211 commented on #3877
verify repro Repro on Version 17.2.0 Preview 2.0 [32216.282.main] with the above project.

[2022-03-03 08:53] kristinx0211 commented on #3745
Repro on Version 17.2.0 Preview 2.0 [32216.282.main].

[2022-03-03 08:55] kristinx0211 commented on #3700
Not repro on Version 17.2.0 Preview 2.0 [32216.282.main].

[2022-03-03 08:56] kristinx0211 commented on #3690
Repro on Version 17.2.0 Preview 2.0 [32216.282.main] and the above project.

[2022-03-03 09:00] jfversluis commented on #4329
@PaulAnderson02 here is the solution to the error you've been seeing: https://github.com/microsoft/microsoft-ui-xaml/issues/6746

Seems like something is missing on your build host :)

[2022-03-03 09:02] LarsBehl commented on #3989
@kristinx0211 Nice, seems like this issue is already fixed! Can't try it out myself at the moment, as I had to return the mac to university.

[2022-03-03 09:12] jfversluis commented on #2675
This one is fixed by #3763

[2022-03-03 09:12] #2675 closed

[2022-03-03 09:23] Martinn2 commented on #3564
If MAUI core was separated the way I suggest in https://github.com/dotnet/maui/issues/4721 it would be much easier to add linux support with drawn controls and/or Blazor.

[2022-03-03 09:24] Martinn2 commented on #1069
If MAUI core was separated the way I suggest in https://github.com/dotnet/maui/issues/4721 it would be much easier to add web support with Blazor and maybe drawn controls.

[2022-03-03 09:45] XamlTest commented on #1185
This issue **not repro** with Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32227.94.main]. Project: "\\mlangfs1\Public\dotnet maui\Repro Project\1185.zip"

[2022-03-03 09:46] #1185 closed

[2022-03-03 10:03] jfversluis commented on #5026
I've tried to reproduce but I'm not able to with the current bits. Both pressing CMD + Q and going through the menu work for me on a File > New > .NET MAUI Blazor app. Would you happen to have a repro project somewhere?

[2022-03-03 10:30] XamlTest commented on #1186
Verified Repro with Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32227.94.main]. Repro Project is available: [1186.zip](https://github.com/dotnet/maui/files/8177015/1186.zip)

[2022-03-03 10:44] shimingsg commented on #5014
verified repro with 17.2.0 Preview 2.0 [32302.601.main] on Windows

[2022-03-03 11:14] mattleibow commented on #4552
We can probably use `NSTrackingArea` for macOS to avoid affecting the gestures:

https://developer.apple.com/documentation/appkit/nstrackingarea
https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/EventOverview/TrackingAreaObjects/TrackingAreaObjects.html#//apple_ref/doc/uid/10000060i-CH8-SW1

[2022-03-03 11:25] shimingsg commented on #451
@mattleibow , we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue?

[2022-03-03 12:19] vitek-karas commented on #5023
Ideally we would pursue 1. if possible - remove this code from Maui.

If that doesn't work, we could extend the fix we did for `Linq.Expression` to also handle MAUI. It's kind of a hack, but I don't really see any other option. I think it would be good to measure the impact of this - what it would mean to include all operators everywhere in MAUI. Technically we could do a targeted fix and only inc

[2022-03-03 12:49] jfversluis commented on #1166
@VincentBu or others, could you please provide a reproduction project? Because I can't seem to get this issue to show up

[2022-03-03 12:53] jfversluis commented on #1672
I see a PR was merged for this a while back so it should work in current versions. Closing this one, let us know if this does not seem to be the case.

[2022-03-03 12:53] #1672 closed

[2022-03-03 14:12] MuneeshKumarG opened #5034 "[Bug] Gif image not working in MAUI"
### Description

I have tried to load Gif image in MAUI platforms (WinUI, iOS, Android)

Instead of animating, loaded gif display a single frame.

I have tried the same in Xamarin, it works fine. Please find the code snippet below.

MAUI:

[code]

Xamarin:

[code]

### Steps to Reproduce

[MAUI_Gif.zip](https://github.com/dotnet/maui/files/8178446/MAUI_Gif.zip)

1. Run above maui sample in any pla

[2022-03-03 14:46] #4765 closed

[2022-03-03 15:17] javiercn opened #5037 "Support for launchSettings.json across all Maui targets"
### Description

.NET users are used to leverage `launchSettings.json` in `Properties/launchSettings.json` to define settings that are used during development, like environment variables.

The IDE and the CLI take care of passing those values to the application environment variables on launch.

There seems to be some support for this on Maui, but it only seems to be windows only and limited to def

[2022-03-03 16:26] DeanFaizal opened #5038 "Picker on Windows Doesn't Update Display When Item is Selected"
### Description

Picker doesn't display selected item value on Windows.

Given the XAML:
[code]

Video:
https://user-images.githubusercontent.com/2334530/156606982-bab8a7d5-1b71-4fcd-a147-46fd464f14f3.mp4

Similar to this bug for iOS: https://github.com/dotnet/maui/issues/3504

### Steps to Reproduce

1. Create a new maui app
2. Add the following XAML:

[code]
3. Pick an item.

Expected: Picker di

[2022-03-03 16:57] SteveSandersonMS commented on #5024
@danroth27 Might this be the same issue as https://github.com/dotnet/maui/issues/4151 ?

[2022-03-03 17:08] danroth27 commented on #5024
Don't know, but the specific error code (`E_PATHNOTFOUND`) seems to indicate that a specified file path is wrong.

[2022-03-03 17:10] SteveSandersonMS commented on #5024
One indication would be what happens if you copy the application out of Program Files and into your user directory. If it can run from your user directory but not from Program Files, then it's probably the same as #4151 (i.e., a permissions issue whereby webview2 can't create its own temporary files in the application directory).

[2022-03-03 17:17] danroth27 commented on #5024
I did also try using a vanilla WebView control that pointed to https://microsoft.com and that worked fine. Does that usage not cause WebView2 to try to create temp files in the app directory?

I'm not sure I can just copy an installed msix based app to another location, but I'll give it a shot.

[2022-03-03 17:28] #4788 closed

[2022-03-03 17:32] SteveSandersonMS commented on #5024
Great, thanks for checking. Sounds like there is something BlazorWebView-specific to resolve there then.

[2022-03-03 17:48] mkArtakMSFT commented on #5022
We don't think this is supported.

[2022-03-03 17:48] #5022 closed

[2022-03-03 17:51] danroth27 commented on #5024
If I copy the app out of *\Program Files\WindowsApp* to somewhere else and try to run it, it fails to start earlier in the process due to this error:

[code]

[2022-03-03 17:52] PureWeen commented on #4601
@v-longmin this is an internal .NET MAUI bug used for tracking

[2022-03-03 17:53] PureWeen commented on #1824
@shimingsg this is an internal .NET MAUI tracking issue don't worry about verifying

[2022-03-03 17:54] TanayParikh commented on #5026
Should be a pretty vanilla app:

https://github.com/TanayParikh/maui-blazor-issue-5026

Running via: `dotnet build maui-blazor2.csproj -t:Run -f net6.0-maccatalyst`

Intel Mac on Monterey 12.2.1 (21D62).

[2022-03-03 18:32] davefxy commented on #4233
Majority of my Xamarin apps also use the map control. I have managed to get most of my 3rd party controls working with Maui. Dont know how to get the map control working. Where should I look to figure this out or when will a map control be implemented for Maui?

[2022-03-03 19:04] jfversluis commented on #2090
Unfortunately this feature request does not nearly hold enough details to grow into something useful. Please provide more information on what you'd like to see, how you expect it to work and how you would like to use it. Thanks

[2022-03-03 19:23] PureWeen commented on #4196
@XamlTest the repro for this issue is part of the Sample gallery that comes with the Maui source code. Don't worry about validating/marking this issue as needs-repro. Thank you!!

[2022-03-03 19:36] jfversluis commented on #5026
Downloaded your exact code, ran it and closed it successfully :)

https://user-images.githubusercontent.com/939291/156639671-0de5b709-04fa-49cc-a210-52978ea33d9c.mov

[2022-03-03 19:41] TanayParikh commented on #5026
Just out of curiosity, what dotnet & mac catalyst workload are you on? I'm on main from early this week (I wonder if I may be seeing a recent regression).

dotnet --version: 6.0.201
Mac Catalyst Workload (from WorkloadManifest.json): 15.2.302-preview.14.56

[2022-03-03 19:48] eerhardt opened #5041 "Enable trimmer analysis and add baselines for warnings"
### Description

Similar to the work done for https://github.com/dotnet/runtime/issues/38033 and following the process described in [Prepare .NET libraries for trimming](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/prepare-libraries-for-trimming#enable-library-trim-warnings), we should enable trim analysis during our build. Since we already have existing trim warnings, we should

[2022-03-03 20:13] buyaa-n commented on #4030
Tested on Android 11 and 9 (using Pixel emulator) it is not reproduceable (`SelectedItem` is not null), we can close the issue

[2022-03-03 20:54] Redth commented on #4720
Fixed

[2022-03-03 20:54] #4720 closed

[2022-03-03 21:42] dackjaniels2001 commented on #4989
Seeing the same issue with a new Maui Blazor app created using VS 17.2.0 preview 1. However, in a new Maui Xaml app  hot reload seemed to work fine (Windows app).

[2022-03-04 01:05] drasticactions commented on #4989
XAML Hot Reload and C# Hot Reload are not the same pipelines and (with minimal exceptions) don't directly overlap. One can work without the other.

Can you try the same thing with _just_ iOS, Android, and Windows without MAUI? You should still be able to do C# hot reload with the core platforms without MAUI, and if that fails, there's a _much_ higher chance it's a generic dotnet/xamarin issue and

[2022-03-04 01:08] drasticactions commented on #4931
![image](https://user-images.githubusercontent.com/898335/156679630-f67712e5-5b05-4b9e-834f-11e45d5598e6.png)

In the dropdown, the TFM is "net6.0-android", so it won't show Windows APIs. You need to make sure that this code, specific for WinUI, is _only_ in net6.0-windows (By using the Platform folders in MAUI, `ifdef`s, or using a targets file.

[2022-03-04 01:31] Amir-Care commented on #5038
Verified not  repro with  VS Version 17.2.0 Preview 2.0 [32219.17.main] on Windows.

[2022-03-04 01:31] #5038 closed

[2022-03-04 02:03] VincentBu commented on #1166
Here is the repro project: [MauiApp1.zip](https://github.com/dotnet/maui/files/8182440/MauiApp1.zip)
Click on 'Get Location' button, you will get error message like this:
![image](https://user-images.githubusercontent.com/44959937/156684430-256f36cc-8eee-45dc-84ce-2031ecf9d816.png)

then, add
[code]
to `AndroidManifest.xml` and run again, you would get the expect result:
![image](https://user-imag

[2022-03-04 02:03] shimingsg commented on #2696
@yunusefendi52 , I tried to repro with VS 17.2.0 Preview 2.0 [32303.288.main], but there is an exception blocked me to move forward
![image](https://user-images.githubusercontent.com/20982341/156683473-d2eca0d4-7ce1-4da2-9e9a-af879f6caddf.png)

[2022-03-04 02:20] Amir-Care commented on #5034
Verified repro with VS Version 17.2.0 Preview 2.0 [32219.17.main]

[2022-03-04 02:29] wenwen60 commented on #3983
Not repro in VS2022 17.2.0 Preview 2.0 [32215.517.main], the Nuget packages are latest.

[2022-03-04 02:29] #3983 closed

[2022-03-04 02:49] shimingsg commented on #2825
@pablolop002 , I just have a try with your gradient svg. update the demo.svg file name to appicon.svg. what I ran into as following，the icon generated. verified on Android 12 and iOS 15.2 while I compile with VS 17.2.0 Preview 2.0 [32303.288.main]
![image](https://user-images.githubusercontent.com/20982341/156689533-47351daa-7544-4ebd-8361-038cfbdd5731.png)

[2022-03-04 02:56] pictos commented on #2696
@yunusefendi52 if you try using p13 and the latest XCT MauiCompat does it work?

[2022-03-04 03:42] yunusefendi52 commented on #2696
@pictos let me try again this weekend

[2022-03-04 04:44] naweed commented on #1166
This was a very old issue. May be there was a bug in that build. Plz close.

[2022-03-04 04:44] #1166 closed

[2022-03-04 05:15] shimingsg commented on #2857
verified repro if don't set explicit width/height with VS 17.2.0 Preview 2.0 [32303.288.main] on Android 12

[2022-03-04 05:53] kristinx0211 commented on #3306
repro on Android 11. repro sample:
[#3306.zip](https://github.com/dotnet/maui/files/8183334/3306.zip)

[2022-03-04 06:21] wenwen60 commented on #3312
Not repro on VS2022 17.2.0 Preview 2.0 [32215.517.main].

[2022-03-04 06:21] #3312 closed

[2022-03-04 06:32] NogginBox commented on #4901
@redth is this issue also fixed by PR #5029 like issue #4765 was?

[2022-03-04 06:45] v-longmin commented on #4456
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-04 06:45] shimingsg commented on #3194
verified not repro with vs 17.2.0 Preview 2.0 [32303.288.main], build successfully without any error.

[2022-03-04 06:53] kristinx0211 commented on #4122
@jsuarezruiz Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-04 07:17] v-longmin commented on #4166
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-04 07:18] VincentBu commented on #3209
Hi @RonaldCarter89, try to download install-script with that Windows(or Mac) from https://dotnet.microsoft.com/en-us/download/dotnet/scripts. if you still get timeout error, it might be a issue related to network.

If not, reopen your Visual Studio and pair to Mac, then open the logs folder by selecting `Help -> Xamarin -> Open Logs...`
![image](https://user-images.githubusercontent.com/44959937/1

[2022-03-04 08:03] v-longmin commented on #3956
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-04 08:33] wenwen60 commented on #3044
Reproduce on Android 11 with VS2022 17.2.0 Preview 2.0 [32215.517.main], attach repro sample
[MauiApp8.zip](https://github.com/dotnet/maui/files/8184269/MauiApp8.zip).

[2022-03-04 08:50] v-longmin commented on #3850
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-04 09:03] jfversluis commented on #5026
Ah should've included that, sorry. I'm on preview 13 15.2.301-preview.13.7

[2022-03-04 09:07] v-longmin commented on #3764
Verified the issue on windows, it's not repro.

[2022-03-04 09:36] jfversluis commented on #4533
Fixed in #4535

[2022-03-04 09:36] #4533 closed

[2022-03-04 09:38] VincentBu commented on #3288
Verified on Android. Adding `<UseMaui>true</UseMaui>` in csproj makes build fail. Here is a repro sample:
[MauiApp1.zip](https://github.com/dotnet/maui/files/8184683/MauiApp1.zip)

[2022-03-04 09:41] jfversluis commented on #4417
This issue doesn't make a lot of sense... The version numbers to not match anything that Xamarin.Forms has _and_ this is the .NET MAUI repo 😄. Also no response from the author for a while so I'm going to assume there was some error in report things. Please let us know if there is still something we can help with!

[2022-03-04 09:41] #4417 closed

[2022-03-04 09:46] XamlTest commented on #4740
@egvijayanand We still cannot repro  this issue with your project, could you reset your VS settings or check the permission of the Xaml file, if still repro, please also try to Repair your VS from VS Installer.
![image](https://user-images.githubusercontent.com/97647558/156739921-9b90172c-e663-40be-8fca-7fbf37c6175a.png)

[2022-03-04 10:37] egvijayanand commented on #4740
It's consistently simulating, here're the steps to reproduce the issue.

* Create a new `.NET MAUI Class Library (Preview)` project
* Add a new `.NET MAUI ContentPage (XAML)(Preview)` item
* Try to open the created Xaml file in VS

And found out the probable cause of the issue as well, the pre-built (Class Library) template published with .NET MAUI workload has `net6.0` as the first TargetFramewor

[2022-03-04 10:42] egvijayanand commented on #4931
Seems like some logic is developed based on the first `TargetFrameworks` that is available in the list.

And something is done on that in 17.2 Preview 1.0 resulting in Platforms folder files working this way.

[2022-03-04 10:50] OliDow opened #5054 "Dependency issue when building / running the base template on MacOs ARM (ios, android and MacCatalyst workloads)"
### Description

I am having issues when running the base Maui project (dotnet new maui).

**Error I am experiencing**
[code]

**Steps completed**
I have DotNet version 6.0.200 installed (But I have tried with 6.0.201 and the latest 6.0.300 build)
I have successfully installed  without error.
dotnet workload install maui
dotnet workload install maui-ios
dotnet workload install maui-android
dotnet

[2022-03-04 11:06] rolfbjarne commented on #4328
The `CBPeripheralsEventArgs` class doesn't exist anymore, because the events that needed the `CBPeripheralsEventArgs` class don't exist anymore (`CBCentralManager.RetrievedPeripherals` and `CBCentralManager.RetrievedConnectedPeripherals`).

These events don't exist anymore, because Apple completely removed them from their API.

What do you need the `CBPeripheralsEventArgs` class for?

[2022-03-04 13:02] jfversluis commented on #5054
Could you try the ones that have `dev.azure.com` from [here](https://github.com/dotnet/maui/blob/main/.github/DEVELOPMENT.md#net-maui-workload)?

How did you install the workload and do you know which version you have installed? If you use the preview 13 command that should work without any issues at this time. Seems you somehow got a newer version and not everything has been published to public f

[2022-03-04 13:34] javiercn opened #5056 "Resolve services in ViewHandler is not working"
As part of Blazor Maui we have a `BlazorWebViewHandler : ViewHandler<IBlazorWebView, ...>`.

As part of some work I was trying to Add a constructor to inject dependencies into the handler, but it seems that for some reason that is not working. I believe that is an scenario that should work.

To make sure it was not an issue with me trying to wire-up the dependencies, I tried to resolve the `IServi

[2022-03-04 13:51] OliDow commented on #5054
Great thanks @jfversluis, that seems to have sorted it.
I wasn't aware of that page, nice and  bookmarked now!

I was following https://github.com/dotnet/maui/wiki/macOS-Install to encounter this issue.  If only I had swapped preview.12.json for preview.13.json

Thanks again.

[2022-03-04 13:51] #5054 closed

[2022-03-04 14:03] drasticactions commented on #4931
@egvijayanand The Platform folder works by a MultiTargetting Targets file that's loaded for all MAUI projects, https://github.com/dotnet/maui/blob/main/.nuspec/Microsoft.Maui.Controls.MultiTargeting.targets

It has nothing to do with Visual Studio.

The dropdown menu, I believe, is either Alphabetical or controlled by the list order in the csproj. When you switch it and open a new file, it will us

[2022-03-04 14:09] mattleibow commented on #715
This may no longer be needed with "renderers" actually being "handlers" now.

[2022-03-04 14:44] MTCMarkFranco commented on #5024
Question, what is the guidance/pattern for a Maui app that incorporates a SQLite DB for offline capability? I.E, being able to write to files within program files\windows Apps? Do we suggest moving the SQLite DB and any other writable files outside of this folder structure, and if so , what is the recommended practice?

[2022-03-04 15:12] egvijayanand commented on #4931
@drasticactions, Prior to VS 17.2 Preview 1.0, when working inside the Platforms folder, the platform switcher drop-down worked fine without any issues.

For example, when opening a file under the `Platforms\Android` folder, the platform switcher would automatically detect and set it to <ProjectName> (net6.0-android) and similarly for others too.

But in this version, referring to the below screen

[2022-03-04 16:24] davidortinau opened #5061 "Border doesn't render background first run"
### Description

First run the background isn't shown:"

![image](https://user-images.githubusercontent.com/41873/156800530-28139ed1-a156-4659-9b6c-0b541a5eed05.png)

Navigating away and back works. Resizing window does not.

![image](https://user-images.githubusercontent.com/41873/156800583-1c380213-6015-4a5e-a1bb-c1a5e2570f09.png)

[code]

### Steps to Reproduce

Run and observe: https://github.

[2022-03-04 16:41] Redth commented on #3833
Fixed by #4428

[2022-03-04 16:41] #3833 closed

[2022-03-04 16:41] PureWeen commented on #4166
@v-longmin This issue is reproduceable using our the samples gallery that's part of this repository.

Don't worry about validating this one. Thank you!!

[2022-03-04 16:44] #4497 closed

[2022-03-04 17:16] #2441 closed

[2022-03-04 17:22] alexeystrakh commented on #3104
This issue is no longer reproducible after p12/p13 updates.

[2022-03-04 17:25] #3104 closed

[2022-03-04 17:27] davidortinau opened #5062 "[Android] RTE ShellFragmentContainer"
### Description

Navigating from the home page to favorites in WeatherTwentyOne on Android 12 I crash:

[code]

This works ok on Windows.

### Steps to Reproduce

Run https://github.com/davidortinau/WeatherTwentyOne on Android 12 and nav from the start page to Favorites.

### Version with bug

Release Candidate 1

### Last version that worked well

Preview 13 (current)

### Affected platforms

And

[2022-03-04 17:31] PureWeen commented on #2475
appears to be fixed on P14

![image](https://user-images.githubusercontent.com/5375137/156812819-7434caee-eddc-487d-b48e-177032c40502.png)

[2022-03-04 17:31] #2475 closed

[2022-03-04 17:32] PureWeen commented on #1366
Closing this for now. I wasn't able to reproduce with the attached project on P14

[2022-03-04 17:39] PureWeen commented on #2123
This looks like it's fixed

I had to modify the code a little bit to set `View` on `TestCell` otherwise it crashed with 'ViewCell requires a View`
[code]

But otherwise it seems to work now

[2022-03-04 17:39] #2123 closed

[2022-03-04 17:49] #4480 closed

[2022-03-04 17:51] PureWeen opened #5063 "[Spec] Shell/NavigationPage TitleView"
# NavigationPage/Shell TitleView

Utilize our current LayoutOptions to indicate how you want a TitleView to layout on the screen. All work done here should be generalized so that it applies to Navigation.TitleView as well

These will have no effect as they only apply to cases where the parent is a stack layout
[code]

Realistically users should only need to use Center and Fill

### Center
#### Ver

[2022-03-04 17:56] PureWeen commented on #3559
I don't think this is a new issue
https://github.com/xamarin/Xamarin.Forms/issues/4848

The TitlleView unfortunately doesn't do a great job of centering itself.

We have a spec over here in `Forms`
https://github.com/xamarin/Xamarin.Forms/issues/9107

That we can hopefully implement inside .NET MAUI at a later point in time.

I've copied the issue to here
https://github.com/dotnet/maui/issues/5063

[2022-03-04 20:10] PureWeen commented on #5056
@javiercn Handlers aren't registered into the `ServiceProvider` they are registered into an internal collection that we use a factory to instantiate from. `Handlers` don't really fit the pattern of DI because they don't really have an `Interface` to `Implementation` type relationship.  `Handlers` are retrieved based on xplat elements that don't have `Service/Implementor` type relationship

We have

[2022-03-04 20:12] #4590 closed

[2022-03-04 20:18] PureWeen opened #5066 "Application.UserAppTheme is no longer consulted when applying AppThemeBindings"
The following PR changed it so the `UserAppTheme` is no longer consulted when retrieving the `RequestedAppTheme`

https://github.com/dotnet/maui/pull/4964/files#diff-e95ac81676df57c3de0226dc120b0e527fbd52bc7fc506ddfde7cccf34a8f489R184

Modifying the `RequestedAppTheme` based on the `UserAppTheme` feels a bit off. When we fix this issue, it feels like `RequestedAppTheme` should just remain set to w

[2022-03-04 20:41] ahmedmohammedfawzy opened #5067 "grey titlebar on windows when using the content page"
### Description

Starting a new maui project gives this big grey title bar on windows

![Capture](https://user-images.githubusercontent.com/42243982/156838147-0a272fd9-c1ba-4ab8-9175-35a6073b85cd.PNG)

### Steps to Reproduce

1. Create new maui app

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Windows, I was *not* able test o

[2022-03-04 20:46] danielftz commented on #4297
Will this be fixed in Preview 14?

[2022-03-04 21:04] drasticactions commented on #4931
@egvijayanand The platform switcher "Automatically switches" because of the targets file I linked to, that's what's doing it. It's saying to the project system "Any file put inside this directory is only for net6.0-android" hence why it's the only one in the list.

If you're putting files into the iOS folder and seeing "Android" TFMs, then there's either a problem with that targets file, or an iss

[2022-03-04 21:07] drasticactions commented on #5067
That's by design, it's an extended title bar.

[2022-03-04 21:07] hartez commented on #4740
@XamlTest Your comments are confusing - you say you can't verify it but you've marked it with the "verified" label.

@egvijayanand I've seen this inside the MAUI solution itself. We've got an internal VS issue tracking it; hoping to see a fix soon.

[2022-03-04 21:24] JohnHDev commented on #5067
How to remove it if you don’t have anything to add to it?

[2022-03-04 21:39] hartez commented on #3850
@jrahma sorry for the confusion, we now realize this was a feature proposal and not a bug report. You can ignore the comments from the msftbot account - this won't be closed.

[2022-03-04 21:40] hartez commented on #3956
@karthikraja-arumugam sorry for the confusion, we now realize this was a feature proposal and not a bug report. You can ignore the comments from the msftbot account - this won't be closed.

[2022-03-04 21:41] hartez commented on #3851
@jrahma sorry for the confusion, we now realize this was a feature proposal and not a bug report. You can ignore the comments from the msftbot account - this won't be closed.

[2022-03-04 21:44] PureWeen commented on #5056
@javiercn your other option is from `SetVirtualView`, `Connect`, or `CreatePlatformView` to use MauiContext.Services to retrieve what you need.

[2022-03-04 21:55] ahmedmohammedfawzy commented on #5067
Is there an option to make it a normal title bar and change its color

[2022-03-04 22:52] PureWeen commented on #4082
https://github.com/dotnet/maui/pull/3343#issuecomment-1059587907

[2022-03-04 23:30] PureWeen commented on #4082
Temporary workaround for this issue

https://github.com/dotnet/maui/pull/3343/commits/59fbb1e558b81d418d1fcb6cc3effd3e2fca468b

[2022-03-04 23:36] adegeo opened #5068 "Remove hard tabs from templates"
### Description

I created a new .NET MAUI project with Version 17.2.0 Preview 1. I noticed that the _MainPage.cs.xaml_ file uses hard tabs instead of spaces. The default should be just like all other templates, spaces.

I checked all the other code files in the template, it seems that this affects all of them.

This may be a problem with other templates; I didn't create a project based on any oth

[2022-03-05 02:05] GaryGormley opened #5069 "RefreshView.RefreshColor must be specifed."
### Description

Excerpt from AppCenter Crash report.
IRefreshView.get_RefreshColor () D:\a\_work\1\s\src\Controls\src\Core\HandlerImpl\RefreshView.Impl.cs:12
RefreshViewHandler.UpdateRefreshColor () D:\a\_work\1\s\src\Core\src\Handlers\RefreshView\RefreshViewHandler.Android.cs:36
RefreshViewHandler.MapRefreshColor (RefreshViewHandler handler, IRefreshView refreshView) D:\a\_work\1\s\src\Core\src\

[2022-03-05 03:57] mattleibow commented on #5066
Thanks for creating this issue. I did some bad code and there were no tests to help me. 😭 Now there are some shiny new tests to catch a few more combinations!

[2022-03-05 06:12] isaacrlevin commented on #4329
@danroth27 @jfversluis @Eilon any thoughts on my comment?

[2022-03-05 07:34] egvijayanand commented on #4931
@drasticactions That's my concern also, opening a file from the `iOS` folder but showing it as `net6.0-android`. It worked previously and is now broken in 17.2 Preview 1.0

And as far as build is concerned, it works without any issues in both .NET CLI and VS.

[2022-03-05 14:58] mattleibow commented on #4329
The fastlink error is because I think we are missing some msvc dependency or runtime. Try installing the uwp and/or desktop c++ workloads.

It may be this one https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1493022/

[2022-03-05 15:02] mattleibow commented on #4329
The fastlink error is because I think we are missing some msvc dependency or runtime. Try installing the uwp workload.

It is this one
https://microsoft.visualstudio.com/OS/_workitems/edit/36792859

I believe there is a fix somewhere near.

[2022-03-05 15:11] mattleibow commented on #5023
Is this an improvement? https://github.com/dotnet/maui/pull/5073

Should we do the whole thing differently? What happens if we have a non - generic base or something? We cast anyways, so we can maybe get the value and then cast. It will throw us out was wrong.

[2022-03-05 17:23] Realgigabyte commented on #5067
Hi, is there also a way to hide the title bar so the ContentPage occupy the whole window (and consecutively full screen or immersive mode)?

[2022-03-05 17:51] jdluzen opened #5078 "Unable to use ONNX: Reference to type 'ReadOnlySpan<>' claims it is defined in 'mscorlib', but it could not be found"
### Description

I am unable to use `Microsoft.ML.OnnxRuntime.Managed` with MAUI, it works on a regular `net6.0` library, and latest Xamarin Forms.
Error: `Reference to type 'ReadOnlySpan<>' claims it is defined in 'mscorlib', but it could not be found`

### Steps to Reproduce

1. Create a new MAUI project, Android is what I tested on
2. Add Nuget reference to `Microsoft.ML.OnnxRuntime.Managed` an

[2022-03-06 06:57] yunusefendi52 commented on #2696
Tried again with p13 and the error is now "Handler not found for view RangeSlider", it was not error on previous version (as shown above), also tried with `AddCompatibilityRenderers` but still has the same issue

[2022-03-06 08:23] JohnHDev opened #5083 "[WinUI] Default ZIndex issue in a multi column grid"
### Description

Given a multi column grid with views added in a specific order, columns on the left obey the default ZIndex (that being as new views are added, they are on top of views already added).
However, columns to the right don't appear to obey this, views added first appear on top of views added last.

### Steps to Reproduce

New Maui app, add a grid with 7 columns.
Add a BoxView in the f

[2022-03-06 20:04] PureWeen commented on #5067
If you do this then the window is undraggable and the window caption buttons are unclickable. Don't all desktop apps all have titlebars unless you go into a full screen mode?  If you have a design example you're wanting to match please add some screen shots here so we can see what makes sense.

We do need to make it shorter. The plan is to make it the same height as the close/min/,ax buttons.

The

[2022-03-06 20:50] Realgigabyte commented on #5067
I am simply looking to make a full screen app. Is there a functionality for that?

[2022-03-06 21:06] pictos commented on #2696
@yunusefendi52, thanks.
@VladislavAntonyuk, did you see any issue related to this on our repo?

[2022-03-06 21:26] PureWeen commented on #5067
It looks like you can do it via Win32 APIs at this point
https://github.com/microsoft/microsoft-ui-xaml/issues/4224#issuecomment-1025178714

This would probably be a useful platform specific for us to add but for now you can use the snippet above to make the app full screen

[2022-03-06 21:37] NogginBox opened #5084 "Triggers not working"
### Description

I had a data trigger in my app that I couldn't get working in a DataTemplate. I decided to check I understood triggers by following the [examples in the Maui Documentation](url).

The very first example did not work in Windows or Android. This was a simple example with an entry that should have turned yellow when it got focus. There was no visual change when it received focus.

##

[2022-03-06 22:14] PureWeen commented on #5068
@adegeo why? what's the motivation to switch to spaces?

https://dev.to/alexandersandberg/why-we-should-default-to-tabs-instead-of-spaces-for-an-accessible-first-environment-101f

[2022-03-06 22:16] #5062 closed

[2022-03-06 22:17] PureWeen commented on #5032
duplicate https://github.com/dotnet/maui/issues/3877

[2022-03-06 22:17] #5032 closed

[2022-03-07 01:32] Amir-Care commented on #5084
Verified repro with VS Version 17.2.0 Preview 2.0 [32219.17.main] on Windows and Android.
Sample project : [#5084.zip](https://github.com/dotnet/maui/files/8194110/5084.zip)

[2022-03-07 02:13] Amir-Care commented on #5083
Verified not  repro with VS Version 17.2.0 Preview 2.0 [32219.17.main] on Windows .

- Sample project:
       [#5083.zip](https://github.com/dotnet/maui/files/8194244/5083.zip)

- Screenshots:

     ![image](https://user-images.githubusercontent.com/99456025/156956030-4daca659-cd8e-4518-a584-436dd5b99dac.png)

[2022-03-07 02:14] #5083 closed

[2022-03-07 02:44] PineYi commented on #5067
Verified Repro with Windows. Repro Project is available:
[#5067.zip](https://github.com/dotnet/maui/files/8194356/5067.zip)

[2022-03-07 03:01] sgf commented on #2833
i support self draw controls,
MAUI's now using native controls is no way.

[2022-03-07 03:14] v-longmin commented on #3998
@PureWeen Could you provide your repro project, thanks?

[2022-03-07 03:15] VincentBu commented on #1551
@egvijayanand would you like to provide a sample project for us to repro?

[2022-03-07 04:37] egvijayanand commented on #1551
Hi @VincentBu, This issue was observed way back in .NET MAUI Preview 5, and now even am not able to simulate it.

This can be marked as closed. Attached is the scenario attempted.

[Issue1551.zip](https://github.com/dotnet/maui/files/8194861/Issue1551.zip)

[2022-03-07 05:09] wenwen60 commented on #3001
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-07 05:36] wenwen60 commented on #2821
Not repro in VS2022 17.2.0 Preview 2.0 [32215.517.main], AndroidResource can be set.

[2022-03-07 05:36] #2821 closed

[2022-03-07 05:47] #1551 closed

[2022-03-07 06:10] wenwen60 commented on #2761
Reproduce on windows with VS2022 17.2.0 Preview 2.0 [32215.517.main], attach repro sample
[2761.zip](https://github.com/dotnet/maui/files/8195259/2761.zip).

[2022-03-07 06:11] v-longmin commented on #1228
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-07 06:13] VincentBu commented on #1742
Hi @pjmagee , here is how I change name of default template icon names:
1. create a blank maui app
2. rename `appicon.svg` with `appicon1.svg` in Solution Explorer, Visual Studio should update project file for you
![image](https://user-images.githubusercontent.com/44959937/156977201-936a89c9-38ad-40bd-b113-002bdc639381.png)
![image](https://user-images.githubusercontent.com/44959937/156977446-8d67

[2022-03-07 06:19] SuryaChinnadurai opened #5089 "InputTransparent doesn't work"
### Description

The button click event was triggered When I set the InputTransparent as true in the button control.

### Steps to Reproduce

1. Create a new Maui Application
2. Add Button control and set InputTransparent  as true
3. Add click event for button.

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

iOS, Android, Windo

[2022-03-07 06:52] wenwen60 commented on #2702
Reproduce on windows with VS2022 17.2.0 Preview 2.0 [32215.517.main], attach repro sample
[2702.zip](https://github.com/dotnet/maui/files/8195469/2702.zip).

[2022-03-07 07:11] v-longmin commented on #3860
@bwoebi Could you provide your repro project, thanks?

[2022-03-07 07:36] VladislavAntonyuk commented on #2696
Yes, we have the same issue for expander https://github.com/xamarin/XamarinCommunityToolkit/issues/1788

[2022-03-07 07:37] v-longmin commented on #3626
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-07 07:50] v-longmin commented on #3250
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-07 08:07] StephaneDelcroix commented on #5023
the reason op_implicit is there isn't to convert from string (we have TypeConverters for that), but for the other cases, like when you provide a Color to a Brush. Iirc it was added for Shell support, so participants in the Shell can be promoted to their parent (you declare a ShellContent when it expects a ShellSection).

As with everything else XAML and Binding, we don't know what we'll be used ti

[2022-03-07 08:11] VincentBu commented on #1286
I run ControlGallery on monterey and the Font icon shows:
![ScreenShot](https://user-images.githubusercontent.com/44959937/156992518-7db78848-fbf3-4f51-88bd-da4eb1faef85.png)
:

[2022-03-07 08:14] StephaneDelcroix commented on #4509
is this expected to work? does the equivalent c# code using OnPlatform works ? or is the sample broken ?

[2022-03-07 08:22] v-longmin commented on #2518
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-07 08:27] v-longmin commented on #2322
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-07 08:50] PineYi commented on #5089
Verified Repro with Android 11. Repro Project is available:
[#5089.zip](https://github.com/dotnet/maui/files/8196201/5089.zip)

[2022-03-07 09:06] XamlTest commented on #3785
@karthikraja-arumugam Could you provide your repro project, thanks?

[2022-03-07 09:38] jsuarezruiz commented on #4819
Fixed by https://github.com/dotnet/maui/pull/4820

[2022-03-07 09:38] #4819 closed

[2022-03-07 09:45] StephaneDelcroix commented on #4974
that's the 2nd one popping up today. @mgoertz-msft let's talk

3 options here:
- make sure there are no XLS error for non-markup used as markup
- inherit Shadow from IMarkupExtension, so ProvideValue returns `this`. If so:
  - we have to make sure all BP are actually Bindable (which is usually not the case with a markup extension)
  - what about everything else ? Should all our non-control types i

[2022-03-07 09:52] jfversluis commented on #4329
I've spoken about it briefly with @danroth27 who mentioned the impact might be limited because WebView2 is apparently installed by a lot of other products so chances are pretty big it should already be there. However, for the best experience we want to make sure of course. I think he was going to look into it.

[2022-03-07 10:22] HobDev opened #5090 "The scrolled event does not fire when ScrollView Orientation is Horizontal"
### Description

The repro attached is default template. I added two Grids in HorizontalStackLayout. The whole UI is within ScrollView.  The ScrollView Oreientation is set to Horizontal.The scrolled event does not fire when ScrollView Oreientation is Horizontal. It works fine with default Vertical orientation.
[MauiBugSample.zip](https://github.com/dotnet/maui/files/8196786/MauiBugSample.zip)

###

[2022-03-07 10:30] #5089 closed

[2022-03-07 10:37] davidaxtelius commented on #2527
Hot reload and .net does not come hand in hand...
What we do on our team is we write the css and html in VSCode - with live server. Then copy paste in into blazor app (MAUI etc).

Without proper hot reload - building apps with blazor is almost useless.

[2022-03-07 10:46] bwoebi commented on #3860
I have no isolated repro project for this issue. The feature was lacking, now it's been partially implemented via #4562. Let's leave this issue open until the feature is also implemented on other targets.

[2022-03-07 11:06] HobDev opened #5091 "The views overlap and ScrollView Scroll does not work when FlexLayout is child"
### Description

When Setting FlexLayout as the Child of ScrollView the Content Does not scroll and the child views of the FlexLayout overlaps. On iOS the content of the page does not expand beyond the bounds of the device.
[MauiBugSample.zip](https://github.com/dotnet/maui/files/8197048/MauiBugSample.zip)

### Steps to Reproduce

Run the repro project and see the child views of the FlexLayout ove

[2022-03-07 11:07] XamlTest commented on #3845
Verified Repro with Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32219.17.main]. Repro Project: [3845.zip](https://github.com/dotnet/maui/files/8197149/3845.zip)

[2022-03-07 11:10] aliyailina commented on #4227
The same with Xamarin.Forms 5.0
on Android works OK, but doesn't on iOS.

The first error was
`"Can't resolve the reference 'System.Security.AccessControl.CommonSecurityDescriptor System.Security.AccessControl.ObjectSecurity::get_SecurityDescriptor()', referenced from the method 'System.Boolean System.Security.AccessControl.DirectoryObjectSecurity::ModifyAccess(System.Security.AccessControl.Access

[2022-03-07 11:31] #2206 closed

[2022-03-07 11:31] #2860 closed

[2022-03-07 11:31] #4052 closed

[2022-03-07 11:42] jsuarezruiz opened #5094 "Pending stuff to render correctly any Shape"
### Description

Pending changes in Microsoft.Maui.Graphics:
- [x] [Implement **StrokeDashOffset** property](https://github.com/dotnet/Microsoft.Maui.Graphics/pull/341)
- [ ] Implement Paint **Stroke** (gradients)
- [x] [Implement **FillRule** property](https://github.com/dotnet/maui/pull/5166)

Fix:
- Clipping a bit of the edges of some views on ios/windows but android seemed fine.
- [Invalidate

[2022-03-07 11:50] HobDev opened #5095 "Entry and Editor TextTransformation is not working"
### Description

The TextTransformation of both LowerCase and UpperCase is not working on Entry and Editor.
[BugSample.zip](https://github.com/dotnet/maui/files/8197422/BugSample.zip)

### Steps to Reproduce

In the above repro sample try TextTransformation on Entry and Editor with UpperCase and LowerCase.

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Othe

[2022-03-07 14:09] #5069 closed

[2022-03-07 15:40] rachelkang commented on #2518
Implemented in #2807

[2022-03-07 16:10] isaacrlevin commented on #4329
I can only speak as someone who rolled out a WPF App using BlazorWebView and had about 10 users report needing to install the runtime (I had not realized it wasn't packaged so I didn't mention it in the repo) so I think there may be an assumption that people "already have it", which is an assumption I had. Regardless, it would be ideal to ship the Nuget package with all the dependencies it has rat

[2022-03-07 16:21] danroth27 commented on #4329
Hi @isaacrlevin. We are currently advocating using the evergreen model for WebView2 with .NET MAUI. MAUI developers using WebView2 will need to ensure that WebView2 is installed on the machine as part of their app setup using either the online or offline techniques [described in the WebView2 docs](https://docs.microsoft.com/microsoft-edge/webview2/concepts/distribution#details-about-the-evergreen-

[2022-03-07 16:26] isaacrlevin commented on #4329
Thanks @danroth27! I went through the docs and even some of the samples the WebView2 team has for Installer apps for instance, and my ideal scenario is that there would be both a standalone doc as well as a repo with how to "ship" apps with BlazorWebView (that would obviously be accurate for WinForms, WPF and MAUI). Publishing packages to the Microsoft Store is already challenging currently for .N

[2022-03-07 16:40] mgoertz-msft commented on #4974
Same question as on the other thread: So what's the rule here? How does the user know what can be treated like a markup extension?

[2022-03-07 16:41] mgoertz-msft commented on #4974
Or are you saying that any type can be used with MarkupExtension syntax?

[2022-03-07 16:45] SteveSandersonMS opened #5097 "MAUI Blazor default application won't build if wasm-tools is not installed"
### Description

Using VS 17.2 Preview 1, after creating a MAUI Blazor project, attempting to build it fails with this error:

![image](https://user-images.githubusercontent.com/1101362/157078358-30a690ad-91af-4162-8cb3-a540629b9f5f.png)

This doesn't make sense, because WebAssembly is not involved in MAUI Blazor at all. `wasm-tools` is a large workload so we shouldn't force people to download and

[2022-03-07 17:11] PureWeen commented on #1228
This is an internal tracking issue. Don't worry about validating this @v-longmin

[2022-03-07 17:12] #2987 closed

[2022-03-07 17:13] #5066 closed

[2022-03-07 18:04] hartez opened #5099 "Update Contributing.md"
Now that most/all of the handler property mappings are implemented, the "What To Work On" section is out-of-date.

[2022-03-07 18:06] mattleibow commented on #4236
An example is here: https://github.com/dotnet/maui/pull/3444

[2022-03-07 18:12] Dreamescaper opened #5100 "Opacity has no effect on Frame"
### Description

Opacity does not affect Frame element, it's still not transparent.

### Steps to Reproduce

1. Run the app with the following page:
[code]

ER:
Frame should be transparent.

AR:
Frame is not transparent.
![image](https://user-images.githubusercontent.com/17177729/157092423-df08025b-03ad-4e11-a8e9-89bc7c3d59cb.png)

### Version with bug

Preview 13 (current)

### Last version that

[2022-03-07 18:31] #4871 closed

[2022-03-07 18:33] Eilon opened #5101 "Improve template build with Arcade Templating MSBuild tasks"
See suggestion from an earlier PR: https://github.com/dotnet/maui/pull/4991#issuecomment-1059277330

@akoeplinger said:

That way we can remove the CodeTask in the MAUI template project.

[2022-03-07 20:02] domingoladron commented on #4931
I'm encountering this very same issue, but it wasn't from the very start of creating a project.

I actually had a working version of Maui Blazor app running in Windows / iOS / Android.

I'd added a number of pages to it, customised it with custom razor nuget packages, and it was working fine (or so I thought).

Then, without any change which would have impacted the reference to Microsoft.UI.Xaml o

[2022-03-07 20:12] mobycorp opened #5104 "Control Pressed and Release and VisualState Groups do not behave as expected."
### Description

I have tried to do this both ways and get the same results: I have added Pressed and Release event handlers for a button to change its background color when pressed.  The desired color does not come on until after the mouse button has been released but the pointer is still over the control.  Then, when the pointer is removed from over the button, the color reverts to "Normal" colo

[2022-03-07 20:28] adegeo commented on #5068
@PureWeen Everything else in Visual Studio uses spaces and not tabs, as soon as you add a new file via any other template you now have some files in one format and some in another.

[2022-03-07 20:43] mobycorp commented on #4935
@davidortinau David, how are you coding this? I just reported a similar issue, but I am stumped at even ho to get the PointerOver visual state to work when the controls I look at (like buttons or tabs) don't seem to have any event to watch or trigger from...

[2022-03-07 20:52] javiercn commented on #2542
cfc3fab4b07db3c5aeabf20819efc7b140144215

[2022-03-07 20:52] #2542 closed

[2022-03-07 20:54] osnipezzini commented on #4721
So come on, instead of having a complete SDK to write so much for Linux, android, windows, ios... , do you want us to write linux screens by hand?? so if so use pure GTK#.

  What's the need to have a half SDK? I do want to write linux screens using XAML, otherwise you don't even need to add linux if you need to do it separately. Today I use pure GTK#, but it lacks some things like support for gen

[2022-03-07 20:58] hartez commented on #5068
Oh, so this should have been filed as a bug against VS, then :)

[2022-03-07 21:07] buyaa-n commented on #4742
I am working on this issue

[2022-03-07 21:10] rachelkang opened #5105 "[Android] Shell AppBar Title is set and read aloud twice"
### Description

On Android, when using Shell, the AppBar title is set (it is unclear where the title is being set from) and is also read aloud twice (rather than just once) by TalkBack

### Steps to Reproduce

1. Open [TestPR4524.zip](https://github.com/dotnet/maui/files/8200843/TestPR4524.zip)
2. Run on an Android device - notice "TestPR4524" title is set in app bar
3. Turn on TalkBack - notice

[2022-03-07 21:18] rachelkang opened #5106 "[Windows] Shell AppBar is empty but reads oddly with Narrator"
### Description

On WinUI, the Shell AppBar is detected as something to "Double tap to expand/collapsed" even when it is empty and the flyout menu is disabled.

### Steps to Reproduce

1. Launch [TestPR4524.zip](https://github.com/dotnet/maui/files/8200881/TestPR4524.zip) on a Windows device with a touch screen (i.e. SurfaceBook Pro 3)
2. Turn on Narrator and focus on the TestPR4524 app
3. Use one

[2022-03-07 21:30] rachelkang opened #5107 "[Windows] Button text and button semantic text get focused separately"
### Description

On Windows, the button text gets focused separately from the button semantic text (i.e. SemanticHint), preventing them from getting read aloud together and creating a disjointed experience. The button text should be surfaced up to the same focus level as the semantic text and they should all be read aloud together.

### Steps to Reproduce

1. Launch [TestPR4524.zip](https://github

[2022-03-07 21:37] tanpuresiddhant opened #5108 "Build not working in MAUI Version 17.2.0 Preview 3.0 [32307.209.main]"
### Description
After build getting these errors:
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1103	Unable to find a stable package Microsoft.Extensions.Configuration with version (>= 6.0.1)
  - Found 87 version(s) in nuget.org [ Nearest version: 6.0.2-mauipre.1.22054.8 ]
  - Found 0 version(s) in Microsoft Visual Studio Offline Packages
  - Found 0 version(s) in C:\Progra

[2022-03-07 21:39] drasticactions commented on #5108
We're having issues building against MAUI Main and P14 because of missing `Microsoft.Extensions.Configuration` and ` Microsoft.Extensions.Logging.Abstractions`. We know we can add the missing nuget feeds for it, but this is for CI testing against what's in the workload.

Since those packages are missing, we can't run the tests against MAUI without hacking our CI, which we don't want to do.

[2022-03-07 22:07] Martinn2 commented on #4721
@osnipezzini  With the architecture I suggest we would be able to use all the newest .NET features (like generics you mentioned) and paint with skia or native drawing library or blazor.

```do you want us to write linux screens by hand??  so if so use pure GTK#.```
Yes, I want to write screens by hand but NOT using GTK#, but using much easier and cross platform way

[2022-03-08 00:07] mattleibow commented on #867
Closing this because renderers are now handlers so they can access all the new things

[2022-03-08 00:07] #867 closed

[2022-03-08 00:58] VSadov commented on #4290
The repro project seems to be missing Assets folder. I am getting errors about `Assets\appiconfgSplashScreen.png`.
Is that available separately?

[2022-03-08 01:06] VSadov commented on #4290
[code]

Is this caused by something in my setup?
I see `appiconfgSplashScreen.png` referenced in the appxmanifest, but cannot see the file in the project.

[2022-03-08 01:53] PineYi commented on #5091
Reproduce in Android 11 with above project.

[2022-03-08 02:11] Amir-Care commented on #5108
Verified repro with Version 17.2.0 Preview 3.0 [32307.380.main]

[2022-03-08 02:46] #2740 closed

[2022-03-08 02:49] Redth commented on #3163
Closed by #5027

[2022-03-08 02:49] #3163 closed

[2022-03-08 03:30] loho1968 opened #5115 "XAML Hot Reload not working running MAUI app on Macos"
### Description

Macos 11.6.5
Visual Studio for Mac (8.10.19.2)
Visual Studio 17 Build 7303 choose "Enable XAML Hot Reload"
SDK
3.1.416 [/usr/local/share/dotnet/sdk]
5.0.405 [/usr/local/share/dotnet/sdk]
6.0.101 [/usr/local/share/dotnet/sdk]
6.0.200 [/usr/local/share/dotnet/sdk]
Xcode 13.2.1

error:
Resolved pending breakpoint for 'Xamarin.HotReload.HotReloadAgent.BreakpointSendToIde(System.String

[2022-03-08 03:54] kristinx0211 commented on #4414
@mgoertz-msft close the project and reopen, the errors is showing.
![image](https://user-images.githubusercontent.com/99457000/157163110-bb910848-3fb8-420b-aa3c-822020c2a277.png)

[2022-03-08 04:58] shimingsg commented on #5095
verified not repro with VS 17.2.0 Preview 3.0 [32307.380.main] on Android
![image](https://user-images.githubusercontent.com/20982341/157169135-65f7cd46-0266-4647-b3b2-474c1fe9bb7c.png)

[2022-03-08 05:08] ahmedmohammedfawzy commented on #5067
I see, but when i tried to make a shell application the title bar was just fine, so i thought that the problem was with the content page, or am I wrong?

[2022-03-08 05:08] shimingsg commented on #5100
verified it works if set the value of Opacity to "0.5" with VS 17.2.0 Preview 3.0 [32307.380.main] on Android
![image](https://user-images.githubusercontent.com/20982341/157170125-8af05edc-b20d-45f4-b905-a47ce890c5e0.png)

[2022-03-08 05:09] #5100 closed

[2022-03-08 05:20] PineYi commented on #5090
Not reproducible with Android 11 and 17.2.0 Preview 2.0 [32301.636.main] with above project.
![image](https://user-images.githubusercontent.com/99375367/157171108-361b8bff-6101-4a11-97d0-5793686ec0a8.png)

[2022-03-08 05:36] HobDev opened #5116 "[iOS]HorizontalLayoutOptions=Center but the editor still is displayed on start"
### Description

- Setting HorizontalOptions=Center,  it still remains on the start.

### Steps to Reproduce

Test the above scenarios on the repro Project.

[EditorBugSample.zip](https://github.com/dotnet/maui/files/8204647/EditorBugSample.zip)

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

iOS,

### Affected platform version

[2022-03-08 05:40] HobDev commented on #5116
There are multiple bugs in the Editor. Is it ok to report all the bugs related to editor on single issue. If each bug should needs to be in  it's own issue than i will split report to multiple issues.

[2022-03-08 05:43] MiheevN commented on #3493
Likewise...
I'm upset that I can't start doing a test project already.

[2022-03-08 06:11] v-longmin commented on #5094
@jsuarezruiz Could you provide your repro project, thanks?

[2022-03-08 06:21] matt-goldman opened #5117 "CollectionView SelectedItem not highlighted on Android until scroll"
### Description

When selecting an item in a CollectionView, the item is not highlighted and there is no visual indication that an item has been selected. If the collection is long enough and you scroll the selected item off screen, when you scroll back it is in fact highlighted.

Issue occurs on Android but not Windows. macOS and iOS not yet tested (I will updated with a comment once I've tested

[2022-03-08 06:23] HobDev opened #5118 "Multiple box views with same Height Request differs in size"
### Description

The box views in a page with same height request have minor difference in size. The box views also fluctuates while scrolling more so on Android
[BugSample.zip](https://github.com/dotnet/maui/files/8203291/BugSample.zip)
.

### Steps to Reproduce

Test on the repro project

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected p

[2022-03-08 06:29] shimingsg commented on #3584
@PaulAnderson02 , thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-08 06:31] kristinx0211 commented on #2003
@alexkblount it works by using a TableView and using Command to add click handling, repro on iPhone 13 pro max IOS 15.2.
![image](https://user-images.githubusercontent.com/99457000/157180086-ccc4402f-b5be-4c75-8302-28f4c7dc2a3f.png)
https://user-images.githubusercontent.com/99457000/157179881-96af97d8-6c8b-48ac-a18c-0572e980e7b4.mov

[2022-03-08 06:48] wenwen60 commented on #2699
Not repro on Android 11 and iOS, with VS2022 17.2.0 Preview 2.0 [32215.517.main].

[2022-03-08 06:49] #2699 closed

[2022-03-08 06:49] HobDev opened #5119 "[Android]VerticalStackLayout HorizontalOptions= Center is not working on Android"
### Description

When the HorizontalOptions=Center is set on VerticalStackLayout the child views also get centered on iOS but not on Android. On Android they still fill the space Horizontally.

### Steps to Reproduce

Run the repro project on both iOS and Android.
[MauiBugSample.zip](https://github.com/dotnet/maui/files/8203417/MauiBugSample.zip)

### Version with bug

Preview 13 (current)

### La

[2022-03-08 06:49] XamlTest commented on #5117
Verified Repro with Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32219.17.main]. Repro Project: https://github.com/matt-goldman/CollectionViewIssue

[2022-03-08 06:49] kristinx0211 commented on #2132
@Sasikumar3595 Thank you so much for your bug report! Unfortunately, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-08 06:52] VincentBu commented on #4490
I can run MauiApp2 and MauiApp3 from https://github.com/ericsink/SQLitePCL.raw/issues/468#issuecomment-1030302553 on Android. But I fail to build both project for IOS.
[code]

[2022-03-08 07:03] VincentBu commented on #4462
Verified on Mac and I get following message:
[code]

[2022-03-08 07:05] kristinx0211 commented on #2181
Duplicate of #3655

[2022-03-08 07:13] shimingsg commented on #5104
verified repro with 17.2.0 Preview 3.0 [32307.549.main] on windows, repro demo:
[MauiApp5104.zip](https://github.com/dotnet/maui/files/8203563/MauiApp5104.zip)

[2022-03-08 07:21] XamlTest commented on #5116
@HobDev Please split the bug, one issue report one bug. For the same bug reproduce on multi platform, you can report in the same issue.

[2022-03-08 07:27] rctec-at commented on #2181
@kristinx0211  where is this a duplicate?
the scrollview in this case does scroll, but the "Scrolled" event is not raised and the ScrollX/Y property doesnt change.

The issue you mentioned that the scrollview does not scroll.

Looks like 2 different problems to me or am i wrong?

[2022-03-08 07:34] wenwen60 commented on #5097
Reproduce the issue that you mentioned above about add global.json file, attach sample
[MauiApp22.zip](https://github.com/dotnet/maui/files/8203716/MauiApp22.zip).

[2022-03-08 07:39] XamlTest commented on #5118
Verified Repro with Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32219.17.main]. Repro with above project.

[2022-03-08 07:41] v-longmin commented on #1386
@davidortinau Could you provide your repro projects, thanks?

[2022-03-08 07:48] v-longmin commented on #1524
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-08 08:19] kristinx0211 commented on #2422
can be repro on IOS 15.2. repro sample:
[2422.zip](https://github.com/dotnet/maui/files/8204017/2422.zip)

[2022-03-08 08:49] VladislavAntonyuk commented on #4490
Working example: https://github.com/VladislavAntonyuk/MauiSamples/tree/main/Sqlite

[2022-03-08 09:52] HobDev opened #5121 "[iOS]Keyboard covers the editor"
### Description

 Keyboard covers the editor. The editor does not scroll above the keyboard when in focus.

### Steps to Reproduce

Run the sample project on iOS
[EditorBugSample.zip](https://github.com/dotnet/maui/files/8204770/EditorBugSample.zip)

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

iOS

### Affected platform vers

[2022-03-08 09:54] Dreamescaper commented on #5100
@shimingsg
Great to know! Waiting for the release then!

[2022-03-08 10:41] HobDev opened #5124 "UnFocus Event of Editor does not fire when changing the focus to another view"
### Description

  UnFocus Event of Editor does not fire when changing the focus to another view.

### Steps to Reproduce

Run the repro project. Unfocus editors by clicking on both editor's one by one. Both editors has subscribed to the Unfocused event. But still the unfocused event does not fire.

[EditorBugSample.zip](https://github.com/dotnet/maui/files/8205504/EditorBugSample.zip)

### Versio

[2022-03-08 10:43] HobDev commented on #5116
@XamlTest  Splitting done

[2022-03-08 10:54] MaxtorCoder commented on #4672
Any news regarding this issue?

[2022-03-08 10:59] #4228 closed

[2022-03-08 11:07] #4566 closed

[2022-03-08 11:09] HobDev opened #5126 "The focus event does not fire on Editor"
### Description

The focus event does not fire on Editor.

### Steps to Reproduce

Run the repro project. Focus editors by clicking on both editor's one by one. Both editors has subscribed to the Focused event. But still the Focused event does not fire.
[EditorBugSample.zip](https://github.com/dotnet/maui/files/8205587/EditorBugSample.zip)

### Version with bug

Preview 13 (current)

### Last vers

[2022-03-08 11:27] HobDev opened #5130 "Completed event does not fire on Return key on Editor"
### Description

The return key Changes line on editor but does not complete the the text input.  The completed event is fired when the editor loose focus.

### Steps to Reproduce

Debug the repro project and put breakPoint on the completed event of both the editors
[EditorBugSample.zip](https://github.com/dotnet/maui/files/8205688/EditorBugSample.zip)

### Version with bug

Preview 13 (current)

[2022-03-08 12:05] jsuarezruiz commented on #5121
Similar to https://github.com/dotnet/maui/issues/5121

[2022-03-08 12:17] HobDev commented on #5121
The link is referring the same issue.

[2022-03-08 12:55] HobDev opened #5132 "[iOS]The location is null when Geolocation.GetLocationAsync(); is called"
### Description

The location is returned null when  Geolocation.GetLocationAsync(); is called on iOS.

### Steps to Reproduce

Debug the repro project.
[EditorBugSample.zip](https://github.com/dotnet/maui/files/8206333/EditorBugSample.zip)

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

iOS

### Affected platform versions

iOS

[2022-03-08 13:10] HobDev commented on #5124
@jsuarezruiz The issue is with editor. But `control-entry` label is added

[2022-03-08 13:12] HobDev commented on #5126
@jsuarezruiz The issue is with editor. But control-entry label is added

[2022-03-08 13:13] HobDev commented on #5130
@jsuarezruiz The issue is with editor. But control-entry label is added

[2022-03-08 13:14] jsuarezruiz commented on #5126
Yeah, sorry for the confusion. I know, the label is used for different controls: Editor, Entry and SearchBar.

[2022-03-08 13:14] jsuarezruiz commented on #5130
Yeah, sorry for the confusion. I know, the label is used for different controls: Editor, Entry and SearchBar.

[2022-03-08 13:15] jsuarezruiz commented on #5124
Yeah, sorry for the confusion. I know, the label is used for different controls: Editor, Entry and SearchBar.

[2022-03-08 13:23] jfversluis commented on #5132
This is expected, from the [Docs page](https://docs.microsoft.com/xamarin/essentials/geolocation#using-geolocation):

[2022-03-08 13:32] SteveSandersonMS commented on #2527
For WinUI,

 * Editing `.razor` content partially works. The change is applied via hot reload, but the UI doesn't update until you manually trigger a further re-rendering (e.g., navigate between pages or click a button with a C# event handler).
 * Editing `.razor.css` doesn't hot reload at all
 * Editing `.css` doesn't hot reload at all

[2022-03-08 13:39] HobDev commented on #5132
@jfversluis  Sorry for the mistake. The below code is returning null:
`var position = await Geolocation.GetLastKnownLocationAsync();

                if (position == null)
                {
                    // get full location if not cached.
                    position = await Geolocation.GetLocationAsync(new GeolocationRequest
                    {
                        DesiredAccuracy = G

[2022-03-08 13:42] HobDev commented on #5132
Changed the title accordingly

[2022-03-08 14:19] SteveSandersonMS commented on #5024
I tried going through this flow (using MAUI preview 13), and the application works correctly for me.

@danroth27 I wonder if the issue is to do with how you installed the application. You hint that you might have installed it using the *App Installer* app, but I wasn't able to do that because for some reason the Windows Store doesn't let me install that application. Instead I installed it by just

[2022-03-08 15:16] SteveSandersonMS commented on #2527
@mkArtakMSFT To the best of my recollection, Pranav was the main one coordinating a plan for getting hot reload to work. This likely involves some tooling work. Do you know if someone is now looking at this? Hot reload is something we can't leave waiting as we may be dependent on other teams to make this work in VS.

[2022-03-08 16:14] Redth commented on #5026
I've seen this as well... I suspect it could be related to the menu code recently introduced... @PureWeen any thoughts?

[2022-03-08 16:33] drasticactions commented on #5115
The version of MAUI you're running against isn't compatible with the version of XAML Hot Reload included in that VSMac build. There have been numerous API changes in MAUI (In this case, for what you're seeing, the VisualTreeChanged events were moved to MAUI.Core, and your build is looking for them in MAUI.Controls I believe) that require XAML Hot Reload and MAUI to be in sync.

I don't believe MAU

[2022-03-08 16:33] #5115 closed

[2022-03-08 16:40] SteveSandersonMS opened #5136 "BlazorWebView inside Android can't be reloaded"
### Description

On other platforms, it's perfectly valid for the Blazor Hybrid application to reload, e.g. because of:

 * The developer explicitly triggering a reload
 * Or, some auth flow causing a reload
 * Or, the yellow error bar's "Reload" link being clicked

... and the application should come back to life and continue working. However, on Android, the page fails to reload.

### Steps to R

[2022-03-08 17:34] DeanFaizal opened #5137 "ApplicationVersion value does not affect Windows App"
### Description

Setting the <ApplicationVersion> value in the csproj does not reflect the value of AppInfo.VersionString on Windows. It works on MacCatalyst.

### Steps to Reproduce

1. Create a new MAUI app
2. Set the ApplicationVersion to 123 in the csproj
3. Check the value of AppInfo.VersionString

Expected:
VersionString is 123

Actual:
VersionString is "1.0.0.0" on Windows
VersionString is

[2022-03-08 17:40] javiercn commented on #5136
According to Steve, it's likely missing the "fallback" routing behavior

[2022-03-08 18:57] hartez commented on #2213
The repro is in the CollectionView/CarouselView test pages in the gallery app.

[2022-03-08 19:07] hartez commented on #1524
The repro is the set of unit tests that have an Ignore attribute linking to this issue.

[2022-03-08 19:41] Redth commented on #1984
Pending updates around WinUI RTL

[2022-03-08 20:02] Bruno-Marian opened #5140 "Linked label clearing on update"
### Description

Using the Mvvm project when placing the link in the label and performing the page update, the information is blank. Bug for happening on windows.

### Steps to Reproduce

Add a 'Label' like so:'<Label Text="{Binding CounterLabel}'/>
Add a button with command to add

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

[2022-03-08 20:02] mattleibow commented on #3166
a lot of code can probably come from here: https://github.com/xamarin/Essentials/pull/1079

[2022-03-08 21:14] mikegoatly opened #5142 "RichTextKit/SkiaSharp on Android: Could not resolve type with token 0100000b from typeref (expected class 'System.ReadOnlySpan`1' in assembly 'mscorlib')"
### Description

When running a MAUI project on Android using RichTextKit to render text on a SkiaSharp `SKCanvasView` control the following exception is thrown:

[code]

Repo here: https://github.com/mikegoatly/MauiExperiments/tree/main/MauiRichTextKit

I'm guessing that code is being trimmed that's needed?

### Steps to Reproduce

1. Create a new MAUI project
2. Add a package reference to `SkiaS

[2022-03-08 21:54] Redth opened #5143 "Activity Indicator - Use default control templates for WinUI3"

[2022-03-08 21:54] Redth opened #5144 "Auto Suggest Box - Use default control templates for WinUI3"

[2022-03-08 21:54] Redth opened #5145 "CheckBox - Use default control templates for WinUI3"

[2022-03-08 21:54] Redth opened #5146 "ComboBox - Use default control templates for WinUI3"

[2022-03-08 21:54] Redth opened #5147 "Slider - Use default control templates for WinUI3"

[2022-03-08 21:54] Redth opened #5148 "Stepper"

[2022-03-08 21:54] Redth opened #5149 "NavigationRoot"

[2022-03-08 21:54] Redth opened #5150 "WinUI Resources XAML - Evaluate/Remove unneeded styles"

[2022-03-08 22:01] PureWeen commented on #4236
NavigationRoot should be using default templates

I'm not using any generated style templates anywhere for WinUI navigation parts

[2022-03-08 22:02] Redth commented on #5149
Replaced by WindowRootStyle and removed unused styles.

[2022-03-08 23:40] 3GDXC opened #5153 "Support for NFC"
### Description

I would like to create a inventory management system using MAUI; warehouses currently use a mixture of Barcodes, QR codes, RFID and NFC tagged products and/or stillages.  It would be good if MAUI provided as part of the essentials namespace NFC support for devices.

### Public API Changes

var nfc = new NFC();
nfc.event+=processEvent;
await nfc.ListenAsync( );

### Intended Use-Ca

[2022-03-08 23:41] 3GDXC commented on #5153
Also support for RFID as above would be good

[2022-03-09 00:59] wenwen60 commented on #2203
Not repro on Android 12 with VS2022 17.2.0 Preview 2.0 [32215.517.main].

[2022-03-09 00:59] #2203 closed

[2022-03-09 01:04] tvkit commented on #4061
This issue recently surfaced when building for a local iOS hardware target.  In addition to removing/deleting unreferenced razor files, it was also necessary to explicitly exclude the following json files. Yes, _launchSettings.json_ was being referenced as was the _google-services.json_ file located within the Android platform hierarchy.

[code]

VS 2022 Preview

[code]

[2022-03-09 01:25] nextfool commented on #4931
Hi, do we have an ETA of fixing for this issue, apparently this is a blocker for multi-targeting. It would be great if this can be fixed in next preview. Thank you.

[2022-03-09 01:57] kristinx0211 commented on #3639
verified repro and the above project on Android 11.

[2022-03-09 02:23] kristinx0211 commented on #3280
verified repro on mac and with the above project.

[2022-03-09 02:26] kristinx0211 commented on #3279
@LarsBehl thanks for your report. but your reproduction link is lost, please take a check that should greatly speed up the process, thanks!

[2022-03-09 02:45] shimingsg commented on #5137
Verified with VS 17.2.0 Preview 3.0 [32308.378.main] on Windows and MacCatalyst,
VersionString is "1.0.0.123" on Windows
VersionString is "1.0" on MacCatalyst

[2022-03-09 02:56] shimingsg commented on #5137
add repro demo:
[MauiApp5137.zip](https://github.com/dotnet/maui/files/8211282/MauiApp5137.zip)

[2022-03-09 03:00] Amir-Care commented on #5142
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main] on Android.

- Throw exception:

  ![image](https://user-images.githubusercontent.com/99456025/157363919-c59cb495-aa01-47e0-969c-2940d230d577.png)

Sample project: [#5142.zip](https://github.com/dotnet/maui/files/8211305/5142.zip)

[2022-03-09 03:10] v-longmin commented on #4808
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-09 04:06] mattleibow commented on #4236
Look at that, progress already!

[2022-03-09 04:26] shimingsg commented on #5140
@Bruno-Marian , thank for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-09 04:48] HobDev opened #5156 "Enable indicator view to be usable with collectionView, and bindableLayout(scrollView)"
### Description

Indicator view is generally used in UI design  with Horizontal Scrolled Collections . It works well with CarouselView. But CarouselView have a limitation of displaying single item on screen. This is not always how the Apps are designed. Sometimes the App is required to show two or more items at a time.  In such scenario the CollectionView and BindableLayout(within in scrollView) a

[2022-03-09 04:56] shimingsg commented on #1941
verified not repro with VS 17.2.0 Preview 3.0 [32308.378.main] on Android 12:
![image](https://user-images.githubusercontent.com/20982341/157375285-6bcf916e-1ffc-4df8-b325-797f30326c91.png)
demo:
[1941.zip](https://github.com/dotnet/maui/files/8211768/1941.zip)

[2022-03-09 05:38] PineYi commented on #5124
Reproduce in Android 11 with above project.

[2022-03-09 05:58] PineYi commented on #5126
Reproduce in Android 11 with above project.

[2022-03-09 06:11] kristinx0211 commented on #3338
'ArgumentOutOfRangeException' throws on Navigation.PopAsync() when repro this issue by above project on Android 11. same issue as: [https://github.com/xamarin/Xamarin.Forms/issues/10666](url)

[2022-03-09 06:14] IndianaGary opened #5157 "FontImageSource displays small box instead of requested font icon"
### Description

![ShellPage](https://user-images.githubusercontent.com/13239292/157382245-3d7b1719-9f85-4909-b528-8c9bddba3cb1.png)

Note the small boxes in the tab bar inst4ead of font images.  Note : this is a Windows-Only Desktop app.

### Steps to Reproduce

1. Create a new Maui Shell application.
2. Register Font Icons in MauiProgram.
![RegisterFonts](https://user-images.githubusercontent.co

[2022-03-09 06:17] Amir-Care commented on #5136
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main] on Android.
Sample project: [#5136.zip](https://github.com/dotnet/maui/files/8212164/5136.zip)
![image](https://user-images.githubusercontent.com/99456025/157383394-6e58ed15-bc10-4464-b4f2-ceb1b9f6ec3d.png)

[2022-03-09 06:23] v-longmin commented on #4756
@owaits Could you provide your repro project,thanks?

[2022-03-09 06:39] kristinx0211 commented on #3397
not repro this issue, the size is reflect when click the button.
code snippet:
![image](https://user-images.githubusercontent.com/99457000/157386321-90d75af6-3459-4153-9d2b-0dbe3560c76a.png)
![image](https://user-images.githubusercontent.com/99457000/157386136-1177f29f-ca46-488f-a372-54306f07fa04.png)

https://user-images.githubusercontent.com/99457000/157386177-2ccdd593-651e-4f2c-9c2f-ac4c45772f9

[2022-03-09 06:43] v-longmin commented on #4568
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project and screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-09 06:47] wenwen60 commented on #2442
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-09 06:56] shimingsg commented on #1298
verified repro with VS 17.2.0 Preview 3.0 [32308.470.main] on Android 11 Emulator

[2022-03-09 07:08] HobDev opened #5160 "[iOS] Slider's MaximumValue does not change after initial assignment"
### Description

Once the initial MaximumValue of Slider is set it does not change on iOS.

### Steps to Reproduce

Run the repro project and wait for 5 seconds. Now the Slider will completely slide in one go because the MaximumValue  is still 1 even when the new Value of 100 is assigned.
[MauiBugSample.zip](https://github.com/dotnet/maui/files/8212452/MauiBugSample.zip)

### Version with bug

Pre

[2022-03-09 07:38] XamlTest commented on #2249
@I4-PJ Could you provide your repro project, thanks?

[2022-03-09 07:55] shimingsg commented on #2856
verified not repro with VS 17.2.0 Preview 3.0 [32308.515.main] on Android 11 Emulator:
repro sample:
[2856.zip](https://github.com/dotnet/maui/files/8212726/2856.zip)

![2856](https://user-images.githubusercontent.com/20982341/157397176-672389c9-ae19-4a5c-9d61-4300eb9f2f08.gif)

[2022-03-09 08:03] VincentBu commented on #3389
verified for android, get the similar error message:
[code]

[2022-03-09 08:05] shimingsg commented on #2674
@PureWeen , could you provide a sample project that we can reproduce the issue?

[2022-03-09 08:06] kristinx0211 commented on #3464
using CarouselView  will showing this issue [https://github.com/dotnet/maui/issues/3463](url)
but not repro issue using CollectionViews On Android, On Android 11, can render 3 different CollectionViews.

![image](https://user-images.githubusercontent.com/99457000/157398776-51e8f74a-c626-4dcc-ad4c-9db9609b0e3e.png)

[2022-03-09 08:12] XamlTest commented on #4589
@sou1maker Could you provide your repro project, thanks?

[2022-03-09 08:19] v-longmin commented on #2948
@drasticactions Could you share the repro project for this issue, thanks?

[2022-03-09 08:23] XamlTest commented on #3491
@liuxiping Could you provide your repro project, thanks?

[2022-03-09 08:26] v-longmin commented on #2820
@davidortinau could you share more detail about repro steps? It would be better if there is source code.

[2022-03-09 08:41] jfversluis commented on #5157
Possibly related in Xamarin.Forms: https://github.com/xamarin/Xamarin.Forms/issues/14959

[2022-03-09 08:42] jfversluis commented on #5157
If you can, it would be super helpful if you could add the project, or at least the relevant bits in a GitHub repo and link that here, thanks!

[2022-03-09 09:48] VincentBu commented on #3748
I verified this issue. Picker, DatePicker, and TimePicker don't work on Mac.

[2022-03-09 10:18] #5126 closed

[2022-03-09 10:43] HobDev opened #5161 "ShellContent IsEnabledProperty does not work"
### Description

In Shell I am using TabBar. On a ShellContent I set IsEnabled="False". But the tab is still enabled for interaction.

### Steps to Reproduce

Run the repro project. Click on both tabs. The disalbed tab is also navigable.
[MauiBugSample.zip](https://github.com/dotnet/maui/files/8213893/MauiBugSample.zip)

### Version with bug

Preview 13 (current)

### Last version that worked well

[2022-03-09 10:50] PaulAndersonS opened #5162 "AppIcon shows a border on windows taskbar"
### Description

Adding a custom image as appicon not shown correctly in Windows taskbar. A Blue border or padding gets applied.

[MauiApp4.zip](https://github.com/dotnet/maui/files/8213941/MauiApp4.zip)

Issue screenshot:

![icon](https://user-images.githubusercontent.com/42271912/157427037-11ea4201-2fe8-493b-9633-593fbe140ee0.PNG)

### Steps to Reproduce

1. Create a MAUI project.
2. Add a image

[2022-03-09 10:58] rmarinho commented on #391
Working on Android

![image](https://user-images.githubusercontent.com/1235097/157428469-9025fa7b-5ef1-4862-a687-13b31bf98bf2.png)

[2022-03-09 11:37] HobDev opened #5164 "Shell Tab Icon color is always gray"
### Description

No matter what is the color of the icon the tab bar always display it in gray

### Steps to Reproduce

Run the repro project and see the tab_icon display in gray color.  The color of tab_icon is Blue
[MauiBugSample.zip](https://github.com/dotnet/maui/files/8214256/MauiBugSample.zip)
.

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

##

[2022-03-09 12:25] jfversluis commented on #5132
Are you running this on the Simulator? I copied your code snippet to a project and at first I did see the null because it timed out. Then I set a mock location through Features > Location and it works as it should. I think this works as expected at this point. This also because not much code actually changed for Essentials at all.

[2022-03-09 12:25] #5132 closed

[2022-03-09 12:36] HobDev opened #5165 "Grid Rows overlap"
### Description

Grid Rows overlap if the Image height is larger than the row height. Whereas the Image should squeeze in the given row height.

### Steps to Reproduce

Run the repro project
[MauiBugSample.zip](https://github.com/dotnet/maui/files/8214678/MauiBugSample.zip)

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

iOS, A

[2022-03-09 12:43] jfversluis commented on #5164
Looking at your code it seems like you're expecting it to pick up on the styles in the `App.xaml`? If so, they are not complete.

If I add

[code]

Either in a style in the `App.xaml` or directly on the `Shell` node in the `AppShell.xaml` it works correctly

![image](https://user-images.githubusercontent.com/939291/157443990-493bb872-e2a3-4e58-96e9-407b8d36c466.png)

[2022-03-09 12:43] #5164 closed

[2022-03-09 12:51] jfversluis commented on #5161
Possibly/probably related in Xamarin.Forms: https://github.com/xamarin/Xamarin.Forms/issues/14285

[2022-03-09 13:16] HobDev commented on #5164
@jfversluis  Thank you for the correction.

[2022-03-09 14:18] codemonkey85 commented on #3980
@jfversluis I will test with Preview 14 and get back to you. FYI, I ran into an issue installing Preview 14, not sure yet how / if it will impact my test:

[code]

![image](https://user-images.githubusercontent.com/1414036/157459591-83b21a5f-88ef-421d-bca1-7346ea857baf.png)

[2022-03-09 14:32] jfversluis commented on #3980
Ugh. Maybe best wait until all the bits are out officially

[2022-03-09 15:07] thaveeshakannangara opened #5168 "Crash during navigation with Navigation page"
### Description

Once reassigning a NavigationPage to Application.Current.MainPage application will crash. This bug is unique to android, I have tested it targetting Windows platform and it works fine. _(was not able to test iOS)_

Please note i have test the same on Xamarin Forms also, and it works fine in both android, Windows platforms. _(was not able to test iOS)_

Can reproduce the Issue from

[2022-03-09 15:22] etvorun opened #5169 "ViewExtensions.GetViewTransform always returns 0 on Android"
### Description

ViewExtensions.GetViewTransform always returns 0 on Android

### Steps to Reproduce

1. New MAUI app targeting Android.
2. Replace/update MainPage.xaml and MainPage.xaml.cs with attached.
3. Build and run on Android Emulator.
4. Click on button.
**Expected**: messages show non-0 transform
**Actual**: messages show 0 transform
[MainPage.xaml.zip](https://github.com/dotnet/maui/file

[2022-03-09 15:26] LarsBehl commented on #3279
@kristinx0211 sorry, deleted the branch without setting a perma link. However, I still had the branch locally available and checked out the old commit. The issue was originally reported with preview 9. I ran the code with preview 11 and everything seems to work just fine. So the issue seems to be fixed 🤔

[2022-03-09 15:54] LarsBehl commented on #3279
Just created a repo with a minimal repro which can be found [here](https://github.com/LarsBehl/MauiFlyoutPageDetail). As my spare time is currently pretty limited, I won't be able to once again check preview 9 with the repro. But once again, I was not able to reproduce the issue with preview 11

[2022-03-09 16:51] CliffAgius commented on #3755
I am seeing the same issue with Android and iOS the builds fail complaining they can't find the AppIcon this is VS22 17.2.0 Preview 1.0 and MAUI SDK version of 6.0.200-preview.13

However I solved this by:

 1. using an SVG instead of a PNG
 2. Calling the file the same as the default so appicon.svg
 3. Making it a basic SVG file so before I used  InkScape to make the Icon but this had lots of ext

[2022-03-09 17:39] buyaa-n commented on #5031
I might be missing something but i could not find where the missing part (toolbar) is added to the view from the repro

[2022-03-09 18:16] #3726 closed

[2022-03-09 18:22] #4522 closed

[2022-03-09 18:23] vinodshinde commented on #5031
it is in App.xaml.cs

[code]

[2022-03-09 19:20] J-Swift commented on #5168
I ran into this as well and found that it seems to be an issue when going from a `NavigationPage` as MainPage to _another_ `NavigationPage` as MainPage. When I set my _initial_ `MainPage` to a `ContentPage`, I was able to set to a `NavigationPage` afterwards.

[2022-03-09 19:20] J-Swift commented on #5168
(I'm on p13)

[2022-03-09 19:53] VSadov commented on #4290
All views, including Templated render now.

![image](https://user-images.githubusercontent.com/8218165/157522856-c916767b-8a60-47ca-bebb-9b503e16f97c.png)

[2022-03-09 19:53] #4290 closed

[2022-03-09 20:07] codemonkey85 commented on #3980
@jfversluis I will test again when Preview 14 is released. I'm guessing that's next week-ish?

[2022-03-09 20:22] dais-set commented on #3962
So are there any updates on when this might be fixed?

[2022-03-09 20:56] Redth commented on #5094
@jsuarezruiz sorry didnt see the other items. Just closed this as the pr fixed it. Maybe let’s keep these separated out in the future for tracking.

[2022-03-09 21:30] #4509 closed

[2022-03-09 23:08] PureWeen opened #5177 "Fix LoadedFiresOnPushedPage on iOS and Windows"

[2022-03-09 23:40] PureWeen opened #5178 "[Android[ Delay loading of Flyout content on Shell until the user opens the Flyout"
Currently the Flyout RecyclerView creates at startup which takes around ~30ms

[2022-03-10 00:35] Eilon opened #5179 "Application.Current.RequestedTheme fails on WinUI with an AV"
### Description

In the MAUI solution I tried running the Controls.DeviceTests project on Windows. The project launches but once you click Run in the test UI it immediately AVs:

[code]

At this stack trace:

[code]

If I change `AppInfo.RequestedTheme` to always return `AppTheme.Light` instead of trying to read the current theme then this doesn't happen.

So, the problem seems specific to reading

[2022-03-10 00:36] Redth commented on #5179
Wonder if this is related to ui thread at all? Or perhaps we need to delay long enough until the app is more ready to respond to this. Hmmm.

[2022-03-10 01:00] #4334 closed

[2022-03-10 01:00] #3670 closed

[2022-03-10 01:00] #3512 closed

[2022-03-10 01:00] #3510 closed

[2022-03-10 01:10] rockclane opened #5180 "Build error for Maui App icon svg format is not supported in iOS plaftform"
### Description

I see a Build error when trying to use a maui app icon in svg format , attaching the icon which i am using , iOS build fails with this error
**actool error : The stickers icon set or app icon set named "appicon" did not have any applicable content**

Svg content :
[code]

### Steps to Reproduce

Create a Maui app , change the appicon to the svg image given , try to build the solut

[2022-03-10 01:19] #4082 closed

[2022-03-10 01:21] hartez commented on #1256
@shimingsg Which is it? Is it not reproducible, or is it verified?
Also, were you able to test it on Mac Catalyst (which is where the screenshots in the report came from)?

[2022-03-10 01:29] pictos commented on #3604
Hey @kristinx0211, here's the link for the light repro: https://github.com/pictos/MauiBugRepro/tree/DisconnectHandlerNotCalled

[2022-03-10 02:06] #5104 closed

[2022-03-10 02:07] Amir-Care commented on #5168
Verified not repro with Version 17.2.0 Preview 2.0 [32208.484.main]

[2022-03-10 02:09] wenwen60 commented on #3346
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-10 02:32] J-Swift commented on #3749
When I ran into this, I could tap the empty view and the calendar would show back up. However, if I then navigated _back_ to the page with the DatePicker, the DatePicker dialog would automatically show up. Every time I navigated back it would do that.

[2022-03-10 02:45] PineYi commented on #5161
Reproduce in Android 11 with above project.

[2022-03-10 03:30] #5106 closed

[2022-03-10 04:00] #3875 closed

[2022-03-10 04:00] #3490 closed

[2022-03-10 05:52] v-longmin commented on #3952
@Clancey Could you share your repro project/solution, thanks?

[2022-03-10 05:55] Amir-Care commented on #5165
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main] on Android

[2022-03-10 06:21] v-longmin commented on #3410
Could you share your repro project/solution, thanks?

[2022-03-10 06:30] v-longmin commented on #3384
@PureWeen Could you share your  repro project/solution, thanks?

[2022-03-10 07:00] #3501 closed

[2022-03-10 07:09] aokocax opened #5183 "Default MAUI App takes 14 seconds to open on iOS."
### Description

This is not a bug, but there is such a big problem, what can I do to speed up the application startup?
Regardless of debug and release mode, the app takes 14 seconds to open on my iPhone 7 Plus. Android time is much faster but iOS unfortunately is pretty bad. Is there anything that can be done to speed it up?

https://user-images.githubusercontent.com/1059475/157531982-eeb8eacb-36

[2022-03-10 07:25] VladislavAntonyuk commented on #3346
As I mentioned the issue reproduced only with preview 10 and has been fixed with preview 12

[2022-03-10 07:25] #3346 closed

[2022-03-10 08:06] XamlTest commented on #3747
@JkPersson Could you provide your repro project, thanks?

[2022-03-10 08:15] JkPersson commented on #3747
The issue does not persist in preview 13. So I think it can be closed.

[2022-03-10 08:19] XamlTest commented on #3662
@PiruthivirajM Could you share your repro project? Thanks!

[2022-03-10 08:23] wenwen60 commented on #4078
No repro on windows with VS2022 17.2.0 Preview 2.0 [32215.517.main], using above project.

[2022-03-10 08:29] RanjithkumarSyncfusion opened #5184 "[WinUI]Crashing issue when minimizing the app window"
### Description

Load a StackLayout, GridLayout or a custom layout inside scrollview - Minimize the app window so that available width for scrollview becomes less than 14, the app getting crashed.

Sample :
[MinimizeCrashingDemo.zip](https://github.com/dotnet/maui/files/8221511/MinimizeCrashingDemo.zip)

![image](https://user-images.githubusercontent.com/59435340/157618325-7db7f76a-8469-460f-8426-

[2022-03-10 08:34] wenwen60 commented on #4076
Duplicate with #4078.

[2022-03-10 08:34] #4076 closed

[2022-03-10 08:45] XamlTest commented on #5184
Verified with Visual Studio Enterprise 17.2.0 Preview 3.0 [32309.473.main]. Repro on Windows with above project.

[2022-03-10 08:53] VincentBu commented on #4352
Hi @KevPantelakis , would you like to try this:
1. Add pfx file to MauiAsset (**not** Embedded resources) of the project
2. Add `LoadMauiAsset` method to MainPage class:
[code]
3. Add theses code to the MainPage Constructor
[code]
The app doesn't throw any exception for me.

[2022-03-10 09:09] shimingsg commented on #2345
verified not repro with vs 17.2.0 Preview 3.0 [32308.515.main] on Android:
![2345](https://user-images.githubusercontent.com/20982341/157628476-2c20a0be-0e4b-45c8-99b1-00f401f240ea.gif)
demo:
[2345.zip](https://github.com/dotnet/maui/files/8221904/2345.zip)

[2022-03-10 09:09] kristinx0211 commented on #2564
verified on windows with 32301.586.main.the Transparency on the icon is replaced with black. repro project:
[MauiApp16.zip](https://github.com/dotnet/maui/files/8221906/MauiApp16.zip)

[2022-03-10 09:29] VincentBu commented on #4252
Hi @Bronzato1 , I create a brand new .NET MAUI Blazor app on my windows and install Microsoft.EntityFrameworkCore.SqlServer 6.0.3 for it.
Then I build project with command `dotnet build -f:net6.0-maccatalyst`:
![image](https://user-images.githubusercontent.com/44959937/157631791-1ea44b71-1aa9-4a89-90ed-e7343e3fd767.png)

I don't see any warning in output. There is also no NU1703 warning in `Error

[2022-03-10 09:30] VincentBu commented on #4252
Feel free to open a new issue if you get this warning message again.

[2022-03-10 09:30] #4252 closed

[2022-03-10 09:40] shimingsg commented on #2546
verified not repro with vs 17.2.0 Preview 3.0 [32308.515.main] on Windows and android.
here is the demo:
[MauiApp2546.zip](https://github.com/dotnet/maui/files/8222130/MauiApp2546.zip)

[code]

[2022-03-10 10:00] #2258 closed

[2022-03-10 10:07] jfversluis commented on #5183
Performance is one of the big focus points of .NET MAUI. There can be many things influencing this ranging from your build configuration to the iPhone 7 being a 6 year old device by now and maybe not the fastest anymore. We're working to making it better nonetheless, so stay tuned!

[2022-03-10 10:07] #5183 closed

[2022-03-10 10:11] jfversluis commented on #5180
Could you, just for completeness, maybe add the line from your csproj where you set the AppIcon? Just so we know for sure we're looking at the same thing

[2022-03-10 10:17] kristinx0211 commented on #2181
@rctec-at ah, you mean can scroll but the event is not triggered. thanks for the update.

[2022-03-10 10:42] CliffAgius commented on #5180
I am seeing exactly the same issue, I have tried with SVG and PNG both same result.

My .csproj is:

[code]

The BuildAction in the image properties is set to **'MauiIcon'**

[2022-03-10 11:21] ashok-kuvaraja opened #5187 "[Android] Receives the scrolled notification after some delay in horizontal scrolling"
### Description

I have prepared a simple sample and written a custom grid to arrange a label based on the scroll view's `ScrollX` position. I have written a custom scroll view handler to achieve horizontal scrolling since the scrolled event did not work for horizontal orientation. The label is rendered to the screen after some delay when I fling a scroll view. But, If I do smooth scrolling, it la

[2022-03-10 11:31] rctec-at commented on #2181
@kristinx0211 the event and also the Property is not updated.
sadly i am not familliar enough to tackle this problem myself (gave it a look last weekend)

[2022-03-10 11:32] ajgarciaj opened #5188 "Blazor MAUI <select> element - events not occurring"
### Description

I see in another question, select control in maui blazor not work properly : (you need use size=2 or the list not show). It's a reported bug with no solution.

But even using size 2, i have found another problem, events not working, i can not see any errors but if i try with @bind or @onchange or @onclick, no events works. The same @bind or @onchange in input control works nicely.

[2022-03-10 12:16] enisn commented on #3410
Yes of course:

## Steps to reproduce

- Create a new app (preview.13)
[code]

- Add that [star.png](https://raw.githubusercontent.com/enisn/Xamarin.Forms.InputKit/develop/src/InputKit/Shared/Resources/star.png) to `Resources/Images` path

- Add following file. _(I try to present in a single file for more readability)_

[code]

- Then add handler _(Only presenting in android for now but it occurs

[2022-03-10 12:16] aokocax commented on #5183
There seems to be something weird. No special build configuration it is default maui app. On the same phone, the old Xamarin Forms application opens only in 2 seconds.  On a 7 year old android phone, the same app opens in half the time.

https://user-images.githubusercontent.com/1059475/157651117-a80a4fe0-153b-4e81-aa28-e3d9c2b05213.MP4

[2022-03-10 12:21] jfversluis commented on #5188
What do you mean by this? Has this been reported already? It would be really helpful if you could provide a little sample app reproduction that shows this issue.

[2022-03-10 12:23] enisn commented on #3410
You check this repo: https://github.com/enisn/CustomControlApp

I've pushed minimum reproduce steps there

[2022-03-10 12:23] jfversluis commented on #5187
Maybe related to or even duplicate of #5090

[2022-03-10 12:26] enisn commented on #3410
Should each view implement UpdateVisibility itself via overriding it?

Because ViewHandler already calls that method:
https://github.com/dotnet/maui/blob/86b7fab47dcd3fb73a2f2dca9a5b4eedb2a9bc69/src/Core/src/Handlers/View/ViewHandler.cs#L193

[2022-03-10 12:31] jfversluis commented on #3980
My guess it would be somewhere around then indeed. Thanks for your time and patience on this one!

[2022-03-10 12:33] Sasikumar3595 opened #5189 "Windoes ScrollView does not pass touch to parent pan gesture when scroll using screen touch"
### Description

We are using the custom layout that holds the vertical scroll view and the custom layout has a pan gesture to handle the horizontal swipe. It was not working correctly while scrolling the scroll view using screen touch in windows. Guide us to resolve the issue.

[code]

### Steps to Reproduce

1. Create the custom layout with scroll view
2. Add pan gesture to the custom layout
3.

[2022-03-10 12:49] Sasikumar3595 opened #5191 "Pangesture does not trigger exit/completed/cancel event while pan moves outside of the layout/control"
### Description

We have created a custom layout to hold scrollable content like paging and the custom layout has a pan gesture to swipe between its children. When swipe the custom layout and move outside the custom layout then the swipe is not completed/canceled so the UI is not rendered correctly, it shows 1st page half and 2nd page half. Guide us to resolve the issue.

### Steps to Reproduce

1

[2022-03-10 13:32] ashok-kuvaraja commented on #5187
Hi @jfversluis,

Thanks for your rapid response,

As you mentioned, the horizontal scrolling is also not working. But, we achieved this through the workaround (Get the HorizontalScrollView's instance and invoke its scrollChange event and pass it to the virtual view's offset). Now, the horizontal scrolling is working on our side through the workaround.

[code]

In our case, the delay has happened i

[2022-03-10 13:36] jfversluis commented on #5191
Could you please add some relevant code or, even better, a reproduction sample that shows this issue? That will greatly speed up the process of diagnosing and fixing a potential bug. Thanks!

[2022-03-10 13:54] HobDev opened #5194 "The Shell.TitleView is not visible on Android and does not fill Navigation Bar on iOS"
### Description

The Shell.TitleView is not visible on Android. On iOS it is visible but does not fill the entire NavigationBar.

### Steps to Reproduce

Run the repro project. Navigate to second Page where the TitleView is set.
[BugSample.zip](https://github.com/dotnet/maui/files/8223926/BugSample.zip)

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

[2022-03-10 14:06] HobDev opened #5195 "[iOS]BackButtonBehavior IsEnabled="False" does not Disable the back button on iOS"
### Description

BackButtonBehavior IsEnabled="False" does not Disable the back button on iOS

### Steps to Reproduce

Run the repro project. Navigate to second page. Now click on Back Button. It is set to IsEnabled="False". But it still is enabled on iOS.

[BugSample.zip](https://github.com/dotnet/maui/files/8224008/BugSample.zip)

### Version with bug

Preview 13 (current)

### Last version that

[2022-03-10 14:14] achilleaskar commented on #4990
Hi I created a new project very basic and the error still occurs.

https://github.com/achilleaskar/TestEFApp

And the basic database:
[code]

[2022-03-10 14:35] Sasikumar3595 commented on #5191
@jfversluis ,

Our architecture is the grid contains two-column (one (Green background) is a grid with pan gesture and another one (Red background) is scroll view).

We are using the grid pan gesture on left child (Green background) to move to right side child (Red background) but the pan gesture completed/canceled event not triggered.

[code]
![Issue](https://user-images.githubusercontent.com/449

[2022-03-10 15:03] PureWeen commented on #5194
Duplicate
https://github.com/dotnet/maui/issues/5063
https://github.com/dotnet/maui/issues/3877

[2022-03-10 15:03] #5194 closed

[2022-03-10 16:47] TanayParikh opened #5197 "Blazor Hybrid | Mac Catalyst Publish Failure"
### Description

I'm unable to publish mac catalyst apps. I get:

[code]

I've verified the directory does in fact exist on disk. I've also tried deleting the `bin/Release/net6.0-maccatalyst` directory to let the publish command create the requisite structure without luck.

### Steps to Reproduce

dotnet new maui-blazor

dotnet publish -f:net6.0-maccatalyst -c:Release

### Version with bug

Previe

[2022-03-10 16:59] TanayParikh commented on #5197
cc/ @jfversluis. I see instructions for [iOS](https://github.com/dotnet/maui/issues/4397), [Android](https://github.com/dotnet/maui/issues/4377) & [Windows](https://github.com/dotnet/maui/issues/4329). Is publishing Mac Catalyst supported yet?

[2022-03-10 17:13] Eilon commented on #5179
Hmm not sure. It's very odd to see an AV. Like the not-so-good old days :) But this happens to me consistently, so it doesn't seem like just "random" timing.

[2022-03-10 17:33] WillAutioItrax opened #5199 "MAUI missing net6.0-ios"
### Description

On opening a new MAUI app I see this error 4 times:
NU1012	Platform version is not present for one or more target frameworks, even though they have specified a platform: net6.0-ios	MauiApp3	C:\Users\wauti\source\repos\MauiApp3\MauiApp3\MauiApp3.csproj	1

and because it is there, I'll include this error as well:
XLS0413	The property 'BackgroundColor' was not found in type 'ContentP

[2022-03-10 17:36] mkArtakMSFT commented on #5188
Thanks for contacting us.
The issue with `size="2"` was [just fixed](https://github.com/MicrosoftEdge/WebView2Feedback/issues/1693#issuecomment-1045461543).
We'll look into the issue you've reported related to the events not firing.

[2022-03-10 17:56] Eilon opened #5200 "Add BlazorWebView breaking changes to preview 14 readme"
In PR https://github.com/dotnet/maui/pull/5059 we made some breaking changes to Blazor startup code. I think the main think to document is the change that affects MauiProgram.cs: https://github.com/dotnet/maui/pull/5059/files#diff-7694f4a1ae4e97db8d97fc44596a3e9addf64853533aade550850377ab0b4de5

Please update this wiki page ASAP so that the change can be noted in the blog post: https://github.com/

[2022-03-10 17:59] danroth27 commented on #5136
@mkArtakMSFT Milestone?

[2022-03-10 18:34] Deepak-Ramakrisnan opened #5201 "Blur event get invoked when focusing the input element"
### Description

We have rendered the html input element in razor page and binded the 'blur' event at script end . But when focusing the input element the blur event get triggered unnecessarily.

### Steps to Reproduce

Sample link : [https://drive.google.com/file/d/1RQBGbu8_UhZ3RoCgHIAu_QNquVhbPM8r/view?usp=sharing](Click here to download the sample)

1.Run the attached sample
2.Just focus the  i

[2022-03-10 18:36] etvorun opened #5202 "Android: IWindow.VisualDiagnosticsOverlay gets cleared when changing element properties"
### Description

Android: overlay layer gets cleared when changing element properties

### Steps to Reproduce

1. New MAUI app.
2. Set Android Emulator as active config.
3. Replace MainPage.xaml and cs files with the attached ones.
4. Build and run. Notice how yellow rectangle changes its width every second.
5. In VS open Debug > Windows > XAML Live Preview (XLP).
6. Open Debug > Windows > Live Vi

[2022-03-10 18:48] drasticactions commented on #5202
Need to check for iOS, but on Android, we do clear out the existing Adorners when the Android view changes, which is probably not right. I can change that.

[2022-03-10 19:27] etvorun opened #5204 "XAML Hot Reload: need notification when element is rendered differently and/or in a different location"
### Description

To better support element highlighting in application XAML Hot Reload needs to know when element is rendered differently wrt size and/or position. Similar to UWP [FrameworkElement.LayoutUpdated](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement.layoutupdated). Having it just on IWindow should be sufficient too. Here is how it looks for UWP:
![MovingAdorners

[2022-03-10 19:34] TanayParikh commented on #4897
Validated with:

Works:

[code]

Crashes app:

[code]

I believe at the very least we should support the `browser_fallback_url` and definitely prevent the crash. Removed from the .NET7 milestone for us to re-evlauate.

[2022-03-10 21:44] davidortinau commented on #1386
#4640 solves this

[2022-03-10 21:44] #1386 closed

[2022-03-10 21:46] #5169 closed

[2022-03-10 21:49] davidortinau opened #5210 "[Bug] Menus doesn't render in Shell if not part of Shell"
### Description

If I put menus on a ContentPage that is a FlyoutItem, then the menu renders.

<img width="631" alt="image" src="https://user-images.githubusercontent.com/41873/157760031-4857c94f-6ae6-43a3-a651-3d81084aadd8.png">

However, if I navigate to a page in Shell via a route, and that page was not an original part of the shell structure, the menu will not be displayed. In this case I navi

[2022-03-10 21:51] davidortinau opened #5211 "[Bug] Menu missing accelerators"
### Description

I can create a menu and use the accelerator api, however it doesn't do anything. I should be able to use this or similar to add keyboard shortcuts to menu items.

[code]

### Steps to Reproduce

Add the code above to a ContentPage, run it. Note no compiler error, and no keyboard support.

### Version with bug

Release Candidate 1

### Last version that worked well

Unknown/Other

[2022-03-10 22:16] buyaa-n opened #5214 "Controls aligned to right are cropped on Android"
### Description
Related to https://github.com/dotnet/maui/pull/5205
On Android right aligned controls getting cropped, this is noticeable when `HorizontalOptions` of the control set to "End" position for default or `LeftToRight` flow direction. And when `FlowDirection` is `RightToLeft` you can see it when  `HorizontalOptions` set to "Start" or "Fill".
<img width="310" alt="image" src="https://user

[2022-03-10 22:27] cshung commented on #4901
I confirmed that this issue is fixed by https://github.com/dotnet/maui/pull/5029. The font size won't change without that fix, and it does change with the fix.

[2022-03-10 22:27] #4901 closed

[2022-03-10 23:10] #3382 closed

[2022-03-10 23:10] #4310 closed

[2022-03-10 23:10] #5105 closed

[2022-03-10 23:29] MackinnonBuck commented on #5188
I have confirmed that the issue exists specifically in Blazor MAUI (`<select>` works fine in a WinForms/WPF web view).

[2022-03-11 00:01] MackinnonBuck commented on #5188
This seems to be a WebView2 bug specific to WinUI. Even a `<select>` element present in static HTML doesn't fire `onchange` events.

[2022-03-11 01:12] wenwen60 commented on #4040
Not repro on windows with VS2022 17.2.0 Preview 2.0 [32215.517.main].

[2022-03-11 01:12] #4040 closed

[2022-03-11 01:33] VincentBu commented on #4352
Aha! I miss some detail. I create my certificate file in "Developer PowerShell for VS 2022". Here are the steps:
1. run `New-SelfSignedCertificate -Type Custom -Subject "CN=Vincent" -KeyUsage DigitalSignature -FriendlyName "MyMauiApp" -CertStoreLocation "Cert:\CurrentUser\My" -TextExtension @("2.5.29.37={text}1.3.6.1.5.5.7.3.3", "2.5.29.19={text}")`
2. run `$password = ConvertTo-SecureString -Stri

[2022-03-11 01:44] Amir-Care commented on #5187
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main] on Android 11

[2022-03-11 01:56] J-Swift commented on #5168
I think this is probably a duplicate of https://github.com/dotnet/maui/issues/4311

[2022-03-11 01:59] buyaa-n commented on #3370
I could not repro, and just noticed there were closed PR where there is a [comment](https://github.com/dotnet/maui/pull/3392#pullrequestreview-812221232) it should have been fixed, feel free to reopen if any of you can repro

[2022-03-11 01:59] #3370 closed

[2022-03-11 02:00] PineYi commented on #5191
Verified Repro with Windows. Repro Project is available:
[#5191.zip](https://github.com/dotnet/maui/files/8228387/5191.zip)

[2022-03-11 02:06] VincentBu commented on #2181
Hi @rctec-at , where do you run into this issue? Windows or Android/IOS? The scrolled event can be triggered on Android emulator. However, on Windows, it fails.

[2022-03-11 02:11] PineYi commented on #5189
Verified Repro with Windows. Repro Project is available:
[#5189.zip](https://github.com/dotnet/maui/files/8228423/5189.zip)

[2022-03-11 02:18] PureWeen opened #5217 "Review code in Shell that's there to prevent overdraw on the navbar/statusbar"
The following code adds about 11 ms to startup

https://github.com/dotnet/maui/blob/b1bdc55fb7a6fa4457f67ec288f13077583acb93/src/Compatibility/Core/src/Handlers/Shell/Android/ShellRenderer.cs#L319-L322

Is that 11 ms hit on startup worth what this code is achieving? Can it be achieved more efficiently?

<img width="1248" alt="image" src="https://user-images.githubusercontent.com/5375137/157789449-

[2022-03-11 02:23] PineYi commented on #5201
Reproduce in Windows with above project.

[2022-03-11 02:31] Amir-Care commented on #5214
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main]  on Android 11
Sample project: [#5214.zip](https://github.com/dotnet/maui/files/8228515/5214.zip)

[2022-03-11 02:35] v-longmin commented on #5199
Verified the issue on Main\32310.304, it's not repro. You can update vs to main latest build to resolve the issue.

[2022-03-11 02:36] #3747 closed

[2022-03-11 02:47] kristinx0211 commented on #2181
@rctec-at I made a project to repro this issue, Unfortunately the scrollview  doesn't  scroll and the scroll event is not triggered on windows, android and IOS, repro sample:
[MauiApp1.zip](https://github.com/dotnet/maui/files/8228578/MauiApp1.zip)

[2022-03-11 03:19] #3759 closed

[2022-03-11 03:49] Redth commented on #5026
I think I found the culprit....

In this override: https://github.com/dotnet/maui/blob/main/src/Core/src/Platform/iOS/MauiUIApplicationDelegate.Menu.cs#L32

We are being too generous and always returning true.  There are other selectors that get passed into this method, one of which is `terminate:`.

If we use this instead:

[code]

The application exits fine.

Probably we need to collect the name

[2022-03-11 05:05] kristinx0211 commented on #5197
verified repro with the same errors appear on mac.

[2022-03-11 05:26] kristinx0211 commented on #3279
@LarsBehl thanks for your update, glad to see the issue has been fixed on the new build. so I will close this issue.

[2022-03-11 05:44] shimingsg commented on #2304
verified repro with VS 17.2.0 Preview 3.0 [32309.500.main]
![image](https://user-images.githubusercontent.com/20982341/157809312-e7c899ba-888c-41e6-9352-c2d9bbdd7938.png)
demo:
[MauiApp2304.zip](https://github.com/dotnet/maui/files/8229392/MauiApp2304.zip)

[2022-03-11 05:44] rctec-at commented on #2181
@VincentBu i ran into this in Preview 12 (13 not confirmed yet, since my comany shifted my priorities for a while) on Android Device and Windows.

@kristinx0211 i try to make a repo this weekend in my private time, due to the reasons above.

[2022-03-11 05:56] #3279 closed

[2022-03-11 06:17] v-longmin commented on #5099
@hartez Could you share your repro project/codes, thanks?

[2022-03-11 06:17] kojini commented on #2373
I override `OnSizeAllocated(double width, double height)` in a Page but it is never called when I rotate my Android emulator (Android 11 - API 30).
The emulator's auto-rotate is on, MainActivity has `ConfigurationChanges = ConfigChanges.ScreenSize, ConfigChanges.Orientation` and `ScreenOrientation = ScreenOrientation.FullUser`.
Am I missing some sort of settings? or is this a bug?

[2022-03-11 06:55] wenwen60 commented on #3922
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-11 07:11] aokocax commented on #5183
For those who will have similar problems and find this issue, I did what Gerald told here https://github.com/dotnet/maui/issues/4397 and sent it to testflight on mac. The app opened in under 1 second.

[2022-03-11 07:11] wenwen60 commented on #3901
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-11 07:32] mattleibow commented on #3952
This was fixed in a previous preview. It should now be be found with an explicit call to `services.GetService<UIWindow>` - but also it is obtainable from windows directly now. `myWindow.Handler.PlatformView`

[2022-03-11 07:32] #3952 closed

[2022-03-11 07:42] chrfin commented on #3901
@wenwen60 The renderer for MAUI still uses `HttpBaseProtocolFilter` (see link above), but for WebView2 the new `CookieManager`  should be used (see other link above).

[2022-03-11 08:18] XamlTest commented on #2217
@Coloryr If you delete BarTextColor="Black" code, the UnselectedTabColor and SelectedTabColor will work.
![image](https://user-images.githubusercontent.com/97647558/157828888-80303984-a52c-4751-862a-4a1ec04ff250.png)

[2022-03-11 08:23] XamlTest commented on #2217
Verified this with Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32223.438.main]. Not repro on Android with Project:
[2217.zip](https://github.com/dotnet/maui/files/8230272/2217.zip)

[2022-03-11 08:23] #2217 closed

[2022-03-11 09:00] #4122 closed

[2022-03-11 09:44] shimingsg commented on #4195
verified repro with vs 17.2.0 Preview 3.0 [32309.500.main] on android
![image](https://user-images.githubusercontent.com/20982341/157842427-3758ef2b-b884-4aad-8721-c83ceebb0fd4.png)
repro demo:
[MauiApp4195.zip](https://github.com/dotnet/maui/files/8230809/MauiApp4195.zip)

[2022-03-11 09:52] matt-goldman commented on #3843
I'm also seeing this with Preview 13

[2022-03-11 10:06] enisn commented on #3410
## Workaround
There is a workaround, mapping `Ivisible`in my handler manually.

[code]

[code]

After mapping and handling like that, everything works well

[2022-03-11 10:50] jfversluis commented on #5197
I think it should be, but I didn't get around to verifying/writing it up yet. Let me see if I can prioritize that. I know @praeclarum has attempted it, maybe you have some new insights?

[2022-03-11 11:49] ddavid-son commented on #4506
I have encountered it myself, just to be more specific, the error occurs when there is a layout(i.e Grid/StackLayout) inside the title view, and removing them seems to bypass the problem although this is not a sufficient solution.

[2022-03-11 12:00] #4328 closed

[2022-03-11 12:14] alwynlombaard commented on #4506
I have found a temporary workaround. In `OnAppearring` I unset it and set it again. For example in my common BasePage class:

[code]

[2022-03-11 13:22] Dbquity opened #5226 "Switch does not update when setting IsToggled from code"
### Description

I have a Switch control on a ContentPage, and it keeps showing its original state, when I change IsToggled from code.

### Steps to Reproduce

1. Create a new Maui App
2. Replace the label in row 1 with a Switch in ```MainPage.xaml``` , like so:
[code]
3. update the toggle in the click-handler of ```MainPage.xaml.cs```:
[code]
4. Run and observe that you can set the toggle by clic

[2022-03-11 15:00] #4876 closed

[2022-03-11 15:51] jfversluis commented on #5197
I have made some progress with this. The command should look more like: `dotnet publish -c Release -f net6.0-maccatalyst "/p:CreatePackage=true" "/p:EnablePackageSigning=true" "/p:EnableCodeSigning=true" "/p:CodeSignEntitlements=" "/p:CodesignKey=Apple Development: Your Account Name (YOURTEAMID)" "/p:CodesignProvision=Your Provisioning Profile Name" "/p:PackageSigningKey=3rd Party Mac Developer In

[2022-03-11 16:37] LukeDunkley2005 opened #5236 "Toggle buttons"
### Description

I'm in the process of re-wrtiting a WPF app in .NET MAUI in order to support Mac OS. The only issue is the lack of toggle buttons, which would be nice to see, as MAUI will support windows, which is likely to use this feauture.

### Public API Changes

N/A

### Intended Use-Case

The feauture would be helpful to windows/mac os developers.

[2022-03-11 16:39] TanayParikh commented on #5197
Thanks @jfversluis! I was adding this for the blazor maui e2e testing scenarios. Do you know if there's any way for us to publish without signing? We want to focus our testing on confirming the published maui assets are working as expected, and I don't believe signing should change the outcome there. Hoping to reduce complexity of the testing scenarios by avoiding signing.

[2022-03-11 17:03] davidbuckleyni commented on #5236
In Xamarin forms and maui their is a switch control with on and off

[2022-03-11 17:14] janseris opened #5237 "BlazorWebView interaction with components"
### Description

Hi. I have tried out some BlazorWebView stuff now (Windows Forms) and also in May 2021 (WPF).
I though the problem would be over after 10 months but it persists.

What is the preferred way to communicate between WinForms/WPF and a component inside BlazorWebView?

Imagine I have a UserControl - a Windows Forms component which works using BlazorWebView.
I want to use this UserContro

[2022-03-11 17:54] #4614 closed

[2022-03-11 17:59] Eilon commented on #5237
Hi @janseris , in general the pattern is to use some shared state object and use Dependency Injection to ensure each Razor Component can access it, and other code in the rest of the app can also access it.

The small sample in this repo shows a little bit of that: https://github.com/dotnet/maui/blob/main/src/BlazorWebView/samples/BlazorWinFormsApp/Form1.cs

The `AppState` class is injected into so

[2022-03-11 18:04] drasticactions commented on #5202
Fixed with https://github.com/dotnet/maui/pull/5203

[2022-03-11 18:04] #5202 closed

[2022-03-11 18:25] #4920 closed

[2022-03-11 18:25] #4924 closed

[2022-03-11 18:25] #4925 closed

[2022-03-11 18:36] janseris commented on #5237
Thank you, I think you pointed me to the right direction!
If I understand it correctly, every UserControl should perform dependency injection on its own and have its own AppState defined by AddSingleton<AppState>(), am I right?
I was doing it in a way that I perform DI only once when starting the Windows Forms application and then I am passing the IServiceCollection everywhere through the Windows

[2022-03-11 19:04] jfversluis commented on #5197
Interesting. Try `dotnet build -c Release -f net6.0-maccatalyst "/p:CreatePackage=true"` that gives me a .app that works and a .pkg that works. Notice how I do `dotnet build` and not `publish`.

I'll have to write this up and see if we can make it work through publish as well. Can you confirm this works for you?

[2022-03-11 20:01] antonfirsov opened #5240 "Setting WidthRequest / HeightRequest alters default horizontal alignment"
### Description

Discovered in #5239.

I see this happening with `ActivityIndicator`, but other controls may be affected as well. The "Larger" ActivityIndicator instance has no `HorizontalOptions` defined just like the ones above it, yet it aligns differently than it's brothers:

![image](https://user-images.githubusercontent.com/6835152/157947944-2e0259e7-c7cc-46e4-a366-8782afa7df33.png)

### Ste

[2022-03-11 21:02] genifycom opened #5241 "Erroneous warning about SurveyPrompt being unexpected name"
### Description

After creating a MAUI Blazor project and looking at Index.razor I see a green squiggly line and the Warning:

Severity	Code	Description	Project	File	Line	Suppression State
Warning (active)	RZ10012	Found markup element with unexpected name 'SurveyPrompt'. If this is intended to be a component, add a @using directive for its namespace.		c:\Dev\PlatteStore\MAUI\PFMainApplication\Maui

[2022-03-11 21:52] trevortirrell commented on #4227
.Net Maui Preview 13.

Same here. I have tried everything. Won't build on windows or mac.

[2022-03-11 22:47] CodeBoop opened #5245 "Ios Local device component css failing to load"
### Description

When running the app through a local device - not paired with a mac - the app fails to load the isolated css and any 3rd party library styles. It will load files in the webroot/css.

![image](https://user-images.githubusercontent.com/5746790/157984684-4a0b27e7-94c4-4475-b2b0-093b1def7d12.png)

![image](https://user-images.githubusercontent.com/5746790/157984654-83573698-0b75-4412-

[2022-03-11 23:13] MackinnonBuck opened #5247 "BlazorWebView inside iOS can't be reloaded"
### Description

On iOS, non-root Blazor pages fail to reload. This issue was previously identified on Android (#5136) and WinUI and was fixed for both platforms, but it persists on iOS.

### Steps to Reproduce

1. Create a Blazor Hybrid application
2. In one of your pages, add `<a href="javascript:location.reload()">Reload</a>`
    * This needs to be a non-root page. For example, the page at `/co

[2022-03-11 23:33] Dreamescaper opened #5248 "Items do not render in CollectionView after scrolling when wrapped in ContentView"
### Description

So a couple of things are needed to reproduce this issue:
- Some Element visibility changes depending on the item.
- This element is contained in ContentView (I cannot repro this issue if I wrap it in VerticalStackLayout)

<details>
<summary>xaml</summary>

[code]
</details>

When you scroll the collection view, items start to disappear.
If you update visibility for an existing it

[2022-03-11 23:52] kzu commented on #5199
Exact same issue here, same VS version. First time creating a Maui project.

What does "update vs to main" mean? I can only access whatever is publicly released, so 17.2 Preview 1.0

[2022-03-12 00:10] xperiandri commented on #4397
Adding `net6.0-macos` to `TargetFrameworks` breaks the build logic and redirects iOS build to macOS SDK

[2022-03-12 00:11] xperiandri commented on #4397
Only doing this
[code]
And then specifying `/p:_PlatformName=iOS` fixes the issue

[2022-03-12 01:26] mgoertz-msft commented on #4414
@kristinx0211 Thank you! I did get it to repro easily on my latest internal VS installation.

@Redth This is another case of duplicate types with the same name in different CLR namespaces but the same MAUI xmlns:
* https://github.com/dotnet/Microsoft.Maui.Graphics/blob/main/src/Microsoft.Maui.Graphics/GradientStop.cs
* https://github.com/dotnet/maui/blob/main/src/Controls/src/Core/GradientStop.cs

[2022-03-12 03:12] #5143 closed

[2022-03-12 06:10] #5240 closed

[2022-03-12 08:38] I4-PJ commented on #2249
I can see it already fixed with latest release.

[2022-03-12 10:09] gyretech commented on #5199
try `dotnet workload install ios `

[2022-03-12 10:41] jindal1979 commented on #4774
I am also facing the same issue, the icons are not showing with WINUI Desktop application.

[2022-03-12 11:03] sergiomf commented on #3204
Version 17.2.0 Preview 1.0  issue not yet fixed:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1012	Platform version is not present for one or more target frameworks, even though they have specified a platform: net6.0-ios, net6.0-maccatalyst	MauiApp1	C:\Users\sergi\source\repos\MauiApp1\MauiApp1.csproj	1
Error	NU1012	Platform version is not present for one or more target f

[2022-03-12 11:16] enisn commented on #3353
Also happens while trying to animate **Label**

[code]

[2022-03-12 12:46] VladislavAntonyuk commented on #5241
Try it with Preview 13, which is the latest preview version of .NET MAUI

[2022-03-12 15:12] mcguu opened #5259 "Only MotionEventActions.Down in PlatformGraphisView?"
### Description

in android of platform   I can get the Up and move of MotionEventActions

only a Down

### Steps to Reproduce

1.Create a Maui Project
2. create a CustomFile in Platform/android
3. inherit from PlatformGraphicsView
4. override OnTouchEvent
5. call this View(register the handler of a view).
6. tap and drag the view
7. you will find that it only a down no up or move

### Version wit

[2022-03-12 16:52] thomiel commented on #2902
Does everyone who wants web authentication really need to run into this issue? I think you prematurely closed this. Either the maui project template or the Maui.Essentials Samples need to be fixed.

[2022-03-12 17:06] amandas-slabsys commented on #3626
[code]

The corresponding lines:

[code]

[2022-03-12 19:57] ssimek commented on #4756
FWIW, I think I have find the root cause of this and many other issues on iOS CollectionView. In short - the Data Source is bound *twice* when creating the view, causing all sorts of mad behavior (because the first registered `ObservableItemsSource`'s callbacks are called first, but it's the second `ObservableItemsSource`'s properties that are consulted by the `UICollectionView`)

I haven't gone i

[2022-03-13 08:22] SarthakGz commented on #5100
@Dreamescaper opacity value range is 0 to 1 you were giving 30 so there was no issue in the first place

[2022-03-13 08:25] Dreamescaper commented on #5100
@SarthakGz
I have provided a bad example, but Opacity has still no effect to me even with valid values. I've tried 0.5 and 0.3 values. It works perfectly fine on other controls, e.g. BoxView.

[2022-03-13 15:31] NaveedAhmadHematmal opened #5264 "Typescript support in Blazor apps"
### Description

I want to use typescript directly in Blazor (or MAUI-Blazor) app without compiling to javascript.
I have created a new project from the MAUI-Blazor template and added typescript files. It can't execute this file. Changing the extension from *.ts to *.js and changing typescript syntax to javascript (in my case, I only removed types from variables) and then running the project works

[2022-03-13 16:01] MichaelPeter commented on #4329
Hello @danroth27, as the creator of the #5086 pull request and the issue 3861, working with everygreen versions has some limitations. Like in my scenario I want to ship the Edge Canary version to use preview features like WebGPU, which are not available in the everygreen version but only in Canary previews and will not be for the next year or two?

And when I deploy a BlazorWebView application and

[2022-03-13 17:15] jrahma opened #5267 "SecureStorage bool value"
### Description

Currently, we can only set a string value to the SecureStorage but many times we want to set a true/false without having to Convert it every time just to get the bool from the string.

### Public API Changes

`public static System.Threading.Tasks.Task SetAsync (string key, string/bool value);`

### Intended Use-Case

[code]

[2022-03-13 17:28] IIARROWS commented on #3755
I want to say that it works for me now, I think it's from the last update.
I had to manually resize the viewbox of the SVG because to make space for the border, as it was not clear I had to do it (according to Android guidelines https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive)

[2022-03-13 21:26] genifycom commented on #5241
How do we get Preview 13? It is not offered via the Visual Studio Installer and going to https://devblogs.microsoft.com/visualstudio/visual-studio-2022-preview-3-now-available/ and doing a download just launched the same Visual Studio Installer.

[2022-03-14 00:31] bstrother1 opened #5269 "MAUI Sqlite doesn't work on Mac M1 Monterey"
### Description

Attempting to interact with Sqlite on an Apple M1 Monterey throws an exception: The type initializer for 'Microsoft.Data.SQlite.SqliteConnection' threw an exception. Same setup works on regular projects without MAUI.

[MyMauiApp.zip](https://github.com/dotnet/maui/files/8240941/MyMauiApp.zip)

### Steps to Reproduce

1.Be on an M1 Mac with Monterey
2. Set up EFCore project w/ late

[2022-03-14 01:01] bstrother1 commented on #5269
should note this is on the net6.0-maccatalyst build.

[2022-03-14 01:29] J-Swift commented on #2948
You can repro this on the modal page of the Control.Sample app

[2022-03-14 01:46] PrimeTempered opened #5270 "Label bound to a slider fails to update after a button is clicked"
### Description

After navigating to a new page with three controls (a label bound to a slider and a button), the label reports the value of the sliders normally when manipulating the slider. After the button is clicked, the value of the slider is no longer update by the label.

### Steps to Reproduce

1. Create a MAUI project named XamlSamples.
2. Copy/Past the following code into a new MAUI page

[2022-03-14 01:52] nextfool opened #5271 "Application.Current.OpenWindow(window) does not open a new window"
### Description

Application.Current.OpenWindow(window) does open a new window, but the new window replaces the old window, that is, there is only one single window all the time.

### Steps to Reproduce

1. Create a new Maui project and target to android
2. Add a button on the main page with click handler like bellow:
[code]

3. When you click the button to open the new window, a new window with `

[2022-03-14 01:55] XamlTest commented on #2249
Thank you for your reply! We will close the the issue, if it reproduces again, feel free to open it and share your repro project.

[2022-03-14 01:55] #2249 closed

[2022-03-14 02:00] v-longmin commented on #5241
Verified the issue on vs 17.2 preview3 main\32310.304, the issue also repro, but wait a moment,  the green squiggly line and the Warning are disappear.

[2022-03-14 02:03] Amir-Care commented on #5248
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main]

[2022-03-14 02:12] wenwen60 commented on #4057
Reproduce it.

[2022-03-14 02:14] mcjekm opened #5272 "On screen keyboard"
### Description

I am having issue with keyboard (on screen).
In my page, I have an entry control and a button.
The keyboard will be displayed when the focus is on entry control.
While the focus is on the entry control, I clicks the button.
The button click command will be executed if I click the button, but the focus still remains on the entry, and the keyboard stays on…
The button actually redir

[2022-03-14 02:14] VincentBu commented on #4307
Hi @Phil4121 & @warpedgeoid , would you like to give a sample project for us to repro?

[2022-03-14 02:23] kristinx0211 commented on #5180
repro on iPhone 13 IOS15.2. repro sample:
[MauiApp3.zip](https://github.com/dotnet/maui/files/8241267/MauiApp3.zip)

[2022-03-14 02:24] Amir-Care commented on #5271
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main].
Sample project: [#5271.zip](https://github.com/dotnet/maui/files/8241273/5271.zip)

[2022-03-14 02:25] v-longmin commented on #5226
Verified the issue on windows and android, the issue also reproes.
[MauiApp7.zip]("\\mlangfs1\Public\dotnet maui\Repro Project\MauiApp7.zip")

[2022-03-14 03:13] kristinx0211 commented on #5195
repro on iPhone 13 IOS 15.2 with the above project.

[2022-03-14 03:15] VincentBu commented on #4244
Hi @tedekeroth , I didn't repro this issue. Just curious do you have the following workloads installed with Visual Studio?
![image](https://user-images.githubusercontent.com/44959937/158098212-1cf0503a-e6ea-4328-883b-81c447b5e1aa.png)

[2022-03-14 03:35] kristinx0211 commented on #5160
verified repro on iPhone13 IOS 15.2 with vs 17.2.0 Preview 2.0 [32301.586.main].
sample: [MauiApp4.zip](https://github.com/dotnet/maui/files/8241544/MauiApp4.zip)

[2022-03-14 04:09] shimingsg commented on #2191
verified repro with VS 17.2.0 Preview 3.0 [32313.12.main]

[2022-03-14 05:24] #5145 closed

[2022-03-14 05:28] PK268 commented on #3755
This fix is only for Android and iOS correct? Will it work on Windows and Mac?

[2022-03-14 05:28] kristinx0211 commented on #5116
verified repro on IOS 15.2. repro sample:
[MauiApp5.zip](https://github.com/dotnet/maui/files/8241932/MauiApp5.zip)

[2022-03-14 05:58] VincentBu commented on #4242
I verified on Windows, Mac and Android. On Windows & Mac, the View is updated. However, on Android, as Keflon said, View isn't updated. I will try it on IOS emulator once the build error issue is fixed.

[2022-03-14 05:59] wenwen60 commented on #4087
The error list can show, but CarouselPage not rendering. Related #4086.

[2022-03-14 06:01] karthikraja-arumugam commented on #3785
Hi Team,

Please check the attached sample, We are trying to create a draw view and sometimes the width is larger depending on the requirement. So while the width exceeds some point this exception throws from DrawView.

[MAUITestSample.zip](https://github.com/dotnet/maui/files/8242104/MAUITestSample.zip)

Note: I'm using - Dell laptop

[2022-03-14 06:10] wenwen60 commented on #3561
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-14 06:18] shimingsg commented on #5211
verified repro with vs 17.2.0 Preview 3.0 [32313.56.main] on windows

[2022-03-14 06:46] VincentBu commented on #4151
Well, I failed in publish step since access denied. Here is the error message:
[code]

[2022-03-14 07:00] #3001 closed

[2022-03-14 07:18] XamlTest commented on #5270
Verified on Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32223.438.main]. Not repro on Android 22 and 31. Project: [5270.zip](https://github.com/dotnet/maui/files/8242463/5270.zip)

If you have any doubt, you can reopen the issue and share your project, thank you.

[2022-03-14 07:18] #5270 closed

[2022-03-14 07:39] kristinx0211 commented on #3410
verified repro on iPhone 13 IOS 15.2 with the above project.

[2022-03-14 07:43] v-longmin commented on #4979
Verified the issue on Android 31,the issue also reproes:
[4979.zip](https://github.com/dotnet/maui/files/8242661/4979.zip)

[2022-03-14 07:51] Ernie23 opened #5275 "Shell: Navigation within a tab causes an error"
### Description

I have a tabbar with two bottom tabs TabA and TabB. In TabA there are three top tabs (Country, Category, Newspapers) that I want to navigate.

For the reproduction of the error, I have included a button "Country > Category".
Every Time navigation within TabA from Country to Category an exception occured.
![image](https://user-images.githubusercontent.com/5499652/158126959-8a869f5f

[2022-03-14 07:56] v-longmin commented on #3223
@PureWeen Could you share your repro project, thanks?

[2022-03-14 08:20] Amir-Care commented on #5275
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project  ? That should greatly speed up the process, thanks!

[2022-03-14 08:41] VincentBu commented on #1245
I try the Winform Sample and run into the same error.

[2022-03-14 08:48] PineYi commented on #5272
Verified Repro with Android 11. Repro Project is available:
[#5272.zip](https://github.com/dotnet/maui/files/8243190/5272.zip)

[2022-03-14 09:00] kzu commented on #5199
Nope @gyretech , that's not it.

The `net6.0-maccatalyst` TF failed too initially, but it did suggest to run `dotnet workload install maccatalyst` to fix it. The ios one is not offering that as a fix, so I'm kinda not surprised that running that command didn't fix it.

[2022-03-14 09:24] kristinx0211 commented on #5247
IOS 15.2 is also can be reproduced.

[2022-03-14 10:08] XamlTest commented on #3785
Verified on Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32223.438.main]. Repro on Windows with above project.
![image](https://user-images.githubusercontent.com/97647558/158150913-4dada897-7a36-4ff7-a8fc-fafcafdb4d6a.png)

[2022-03-14 11:27] gyretech commented on #5199
I had to run:
`dotnet workload install maccatalyst`
`dotnet workload install ios`
`dotnet workload install android`

[2022-03-14 11:42] jsuarezruiz commented on #4292
Related with https://github.com/microsoft/microsoft-ui-xaml/issues/6571

[2022-03-14 11:57] xperiandri commented on #4397
Not a Mac Catalyst. I build Uno Platform app which supports macOS natively so that I don't need Mac Catalyst.
I commented out that target.

[2022-03-14 11:58] mdimai666 commented on #4931
I have after using the command `maui-check  --pre`. The problem is gone. (after this app crash on start)
and run `dotnet workload update`
VS2022 community preview Version 17.2.0 Preview 1.0
And works fine! =)

[2022-03-14 12:20] jfversluis commented on #5269
I see you mention preview 10 as the .NET MAUI version. Are you sure about that? If so, why are you not on the latest version?

[2022-03-14 12:29] jsuarezruiz commented on #4054
Fixed by #5166

[2022-03-14 12:29] #4054 closed

[2022-03-14 13:01] bstrother1 commented on #5269
Sorry, I am actually on preview 13.2865. Must have miss clicked when drafting this ticket.

[2022-03-14 13:09] jsuarezruiz commented on #4529
Cannot reproduce the issue using the main  branch ![issue-4529](https://user-images.githubusercontent.com/6755973/158178213-19e1c513-63ff-4c86-9237-61fc36b38ae3.gif)

@walkerXx1 Could you try again using the latest Preview?

[2022-03-14 14:04] LanceMcCarthy opened #5280 "WebView Navigated and Navigating events do not occur"
### Description

WebView's Navigated and Navigating events are not executing when website navigation occurs. This is easy to reproduce, see steps below for specific guidance.

Note: This has been previously reported, but was closed without a defined solution https://github.com/dotnet/maui/issues/3857

### Steps to Reproduce

1. Create a new .NET MAUI preview13 project, add a ContentPage and use a

[2022-03-14 14:04] #5184 closed

[2022-03-14 14:35] Naryorill opened #5281 "Entry TextColor and BackgroundColor set through attached behaviour not updating on Windows"
### Description

I created a new MAUI project with VS 17.2 Preview 1, added an extra row to the grid with an Entry and copied the code from the [attached behavior documentation](https://docs.microsoft.com/en-us/dotnet/maui/fundamentals/behaviors#attached-behaviors).

It works as expected on my local Android device (Samsung SM-T813 (Android 7.0 - API 24), but doesn't work when I run it on the Windo

[2022-03-14 15:02] #4093 closed

[2022-03-14 15:32] WillAutioItrax commented on #5199
@gyretech
I ran those three commands in a DOS window, created a new  default app in Maui (the click a button one). It built and ran in Droid.. That works for me - thanks!

[2022-03-14 16:19] Eilon commented on #4151
@VincentBu that seems like a different issue.

[2022-03-14 16:30] #5264 closed

[2022-03-14 16:33] mkArtakMSFT commented on #5201
Thanks for contacting us.
Does this happen when you have a pure HTML / JavaScript page which doesn't include any Blazor?
If the answer is `yes`, does it happen only on WebView or not?

[2022-03-14 16:33] mkArtakMSFT commented on #5201
If it is not the default HTML / JS behavior, please share a repro project as a public repo hosted on GitHub for us to investigate.

[2022-03-14 16:35] bstrother1 commented on #4990
I should add I am currently experiencing something similar with the Mac catalyst build. Receiving 'Object Reference not set to An instance of an object' when trying to interact with:

protected override void OnConfiguring(DbContextOptionsBuilder options)
            => options.UseSqlServer("Server=localhost,1433; Database=GardenDb2;User=sa; Password=MyPass@word");

Have a regular project (non-maui

[2022-03-14 16:41] Eilon commented on #5237
@janseris yes with DI you generally set up the services in one "container" (that's the service collection), and then you consume those same services from multiple places in the app, such as from each BlazorWebView, or anywhere else in the app that needs those services. I think that in Blazor Hybrid apps there isn't much meaning to Scoped services because the entire app is always running, or it isn

[2022-03-14 16:49] kzu commented on #5199
Yeah, for whatever reason, I didn't have to run `dotnet workload install android`, that part Just Worked™️

[2022-03-14 17:11] tedekeroth commented on #4244
Hello Vincent!
Nope, I dont have UWP. IS that needed for Maui? Is that required for Maui?
![image](https://user-images.githubusercontent.com/10088477/158224536-1e293f82-644a-44c3-9b61-931e53e0df29.png)

[2022-03-14 17:47] bstrother1 opened #5284 "[Mac Catalyst] MAUI unable to connect with db EFCore"
### Description

Attempting to use existing database throws an 'object is not an object' error with connection to Azure DB in a Docker instance using connection string:

protected override void OnConfiguring(DbContextOptionsBuilder options)
            => options.UseSqlServer("Server=localhost,1433; Database=GardenDb2;User=sa; Password=MyPass@word");

[MyMauiApp.zip](https://github.com/dotnet/maui

[2022-03-14 18:29] owaits commented on #4756
Sorry for the delay in replying (I have been moving house). I have managed to confirm that the hotfix suggested by @ssimek does resolve the issue I was facing. Do you think you now have enough info to fix this bug or do you still need me to try and put together a sample app that reproduces the issue?

[2022-03-14 18:52] cbradbaer opened #5287 "StackLayout IsEnabled Property does not work"
### Description

If a StackLayout isEnabled property is set to false.  All children of the StackLayout should be disabled.  This is what occurs in Xamarin.Forms.  But in Maui, all children of a StackLayout remain Enabled.

### Steps to Reproduce

1.  Create a new blank .NET Maui app (Xaml/C#)
2. In Xaml, add Button and two Entry views to the main StackLayout
3. Set the isEnabled property of the St

[2022-03-14 18:54] varyamereon commented on #5061
I am also experiencing this issue on iOS. Changing the background color during hot reload then displays the background for me.

[2022-03-14 20:04] varyamereon opened #5288 "Vertical ProgressBar"
### Description

I would like to see a vertically orientated version of the ProgressBar. This could be achieved with a simple 'Orientation' or 'Direction' property, The progress element could progress from top to bottom, or using FlowDirection RTL from bottom to top for example.

### Public API Changes

[code]

### Intended Use-Case

This makes sense in something like a package tracking app, where

[2022-03-14 21:19] MackinnonBuck commented on #5188
Confirmed to be a WebView2 bug. We should verify that Microsoft.WindowsAppSDK 1.0.1 ends up fixing the issue. See https://github.com/MicrosoftEdge/WebView2Feedback/issues/1693#issuecomment-1061321895

[2022-03-14 22:43] BinaryAssault opened #5292 "ViewCell Disappears when unfocused"
### Description

It seems that when you use a ViewCell in any TableView, it will disappear. The disappear seems to occur when something new focuses.

A few examples:

![BrokenViewCells-EntryCellFocus](https://user-images.githubusercontent.com/19739224/158271659-139a5418-0b4b-4507-bec0-9a060bf203e4.gif)![BrokenViewCells-PickerNoStackLayout](https://user-images.githubusercontent.com/19739224/1582716

[2022-03-14 23:07] cshung commented on #4115
It appears to me that the problem is in the repro itself.

[code]

The `CollectionView` nested inside will have an infinite size but then it is clipped by the Window. So the `ScrollTo` API believes the item is currently in the view and refuses to scroll.

We could fix the sample by replacing the outermost `StackLayout` with a `Grid` as follow:

[code]

With this change, the `ScrollTo` API will wor

[2022-03-14 23:55] Juriyx commented on #4377
Here is the binary log of MAUI project for @xperiandri:
[MauiApp1.zip](https://github.com/dotnet/maui/files/8249117/MauiApp1.zip)

[2022-03-15 00:13] #5247 closed

[2022-03-15 01:15] shimingsg commented on #5292
verified repro except the first scenario with vs 17.2.0 Preview 3.0 [32314.195.main]
![5292-1](https://user-images.githubusercontent.com/20982341/158286639-92d1d5a6-e717-48bb-b1d3-f343b6c9c836.gif)

[2022-03-15 01:21] BinaryAssault commented on #5292
@shimingsg, can you double check the xaml for the radio buttons? Curious why the background color is to the right of the group. Maybe you accidentally discovered a workaround?

[2022-03-15 01:46] VincentBu commented on #4244
Well, I removed the UWP workload(it was required about one month ago) and still didn't see any error message. By the way, would you like to show your csproj file?

[2022-03-15 01:59] wenwen60 commented on #5280
Reproduce on widows with VS2022 17.2.0 Preview 2.0 [32215.517.main], attach repro sample
[MauiApp4.zip](https://github.com/dotnet/maui/files/8249544/MauiApp4.zip).

[2022-03-15 02:17] shimingsg commented on #1882
verified repro with VS  17.2.0 Preview 3.0 [32314.195.main] on Android
[MauiApp1882.zip](https://github.com/dotnet/maui/files/8249610/MauiApp1882.zip)

[2022-03-15 02:47] PineYi commented on #5287
Verified Repro with Android 11. Repro Project is available:
[#5287.zip](https://github.com/dotnet/maui/files/8249727/5287.zip)

[2022-03-15 03:05] XamlTest commented on #5259
@mcguu could you share you project?

[2022-03-15 03:10] Amir-Care commented on #5281
- Windows:  TextColor doesn't change
  ![image](https://user-images.githubusercontent.com/99456025/158295706-bf920796-f328-4cfa-9ca4-cd19d56a642f.png)

  ![image](https://user-images.githubusercontent.com/99456025/158295759-edce6dca-4178-422f-89c4-c5278720a1bb.png)

- Android: TextColor change according to the behavior

   ![image](https://user-images.githubusercontent.com/99456025/158297862-5d63d

[2022-03-15 03:12] VincentBu commented on #4660
Hi @jfversluis , feel free to remove `s/verified` tag if it isn't proper here.

[2022-03-15 03:25] XamlTest commented on #5078
@jdluzen Could you share your project?

[2022-03-15 03:29] jonathanpeppers commented on #4660
@Xiphereal sorry for the delay, catching up on this...

For this error now:
[code]
What device are you using that is hitting this issue?

Can you put this in your `.csproj` and get a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)? Thanks!

[code]

[2022-03-15 05:33] ctmobiledev opened #5294 "Invoke Platform Code Works For One Platform Only, But Flagged As Wrong For The Two Others"
### Description

First, a quick compliment to the entire .NET MAUI team! Having used Xamarin.Forms for several years, it's cool to see a new version with better structuring.

The issue I'm reporting here has to do with what Microsoft calls "invoking platform code", or (as I understand it) the replacement to the DependencyService object used in Xamarin.Forms. Simply put, the compiler appears to be

[2022-03-15 05:51] VincentBu commented on #2307
it's issue related to code contribution, so add `s/verified` tag for it.

[2022-03-15 06:01] nextfool commented on #5271
So here is an update: it seems that this bug only occurs on android emulator on windows. If I debug with a real android phone, then I can see multiple windows opened correctly ,.

[2022-03-15 06:02] ctmobiledev opened #5295 "Scoped Storage (Android) Not Allowing Files To Be Saved, But Saves To Internal Storage Work Fine"
### Description

**NOTE: This issue occurs with Visual Studio Version 17.2.0 Preview 1.0.** There's no item for that in the drop-down below, so I wanted to report that first.

This is an issue I've only observed writing an app using .NET MAUI for the Android platform, and it pertains solely to a feature unique to Android: ScopedStorage.

Simply put, an app can create a folder successfully using th

[2022-03-15 06:13] XamlTest commented on #5294
Verified on Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32223.438.main]. Repro with above project.
**Platforms/Android/DummyClass.cs**

![image](https://user-images.githubusercontent.com/97647558/158317368-99f87109-9620-4783-8707-11f5ec86b7a7.png)

**Platforms/iOS/DummyClass.cs**

![image](https://user-images.githubusercontent.com/97647558/158317590-d756fefd-fa3e-4bd1-b315-59e4cb7452fc.

[2022-03-15 06:15] mcguu commented on #5259
[repo.zip](https://github.com/dotnet/maui/files/8250631/repo.zip)

in platform/android/poPlatformView.cs if you tap the view there is only down no up or move.

[2022-03-15 06:44] Naryorill commented on #5281
To reiterate: BackgroundColor has the same issue as TextColor, and maybe there are other things affected too. I have no clue about the .NET MAUI code, but it looks like the pull request only addresses the text color.

[2022-03-15 08:02] VincentBu commented on #2678
feel free to remove the `s/verified` tag if it's not proper here.

[2022-03-15 08:15] jfversluis commented on #5284
If you're connecting to something on another "machine" even Docker container or whatever, is connecting to localhost then correct?

[2022-03-15 08:18] Amir-Care commented on #5281
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main] on Windows and not repro on Android.

- Windows: TextColor and BackgroundColor doesn't change

     ![Windows](https://user-images.githubusercontent.com/99456025/158334411-9eebe294-72a1-4ec1-b052-3075f7b738e5.gif)

- Android: TextColor and BackgroundColor changed  according to the behavior

     ![Android](https://user-images.githubus

[2022-03-15 08:29] shimingsg commented on #5061
verified not repro with vs 17.2.0 Preview 3.0 [32314.339.main] on windows, the first run as following:
![image](https://user-images.githubusercontent.com/20982341/158337000-88013ec7-6300-45a0-87b0-de317818538b.png)

[2022-03-15 08:39] shimingsg commented on #4969
close it due to dup issue , please track to https://github.com/dotnet/maui/issues/620 and https://github.com/dotnet/maui/issues/621

[2022-03-15 08:39] #4969 closed

[2022-03-15 08:49] VincentBu commented on #2884
Hi @shirok1 , have you tried to click `Tools -> Options -> Xamarin -> Android Settings` then set jdk location?
![image](https://user-images.githubusercontent.com/44959937/158340349-9c62e034-0564-4d58-b7ad-9c177870cacd.png)

[2022-03-15 08:54] softlion opened #5298 "RadioButtonGroup.SelectedValue not triggered (windows app)"
### Description

RadioButton does not trigger any change (on a maui windows app).

### Steps to Reproduce

Convert() is called on start (ConvertBack is also called ?????? This is another issue as no user interaction has been involved).

[code]

[code]

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Windows

### Affected platfor

[2022-03-15 09:22] Mephisztoe commented on #5272
I am experiencing the same issue.

In my case, I have an AppShell enabled .NET MAUI App (Prev13) that has a CollectionView on the MainView (mvvm). When tapping on an item, AppShell navigates to an ItemView that contains a couple of Entry controls. When I focus an Entry control, the soft keyboard appears and I can type in text. When I hit the back button while the soft keyboard is still open (ToolB

[2022-03-15 09:26] shimingsg commented on #5292
@BinaryAssault , I used the xaml in "Steps to Reproduce", please see the attached demo
[MauiApp5292.zip](https://github.com/dotnet/maui/files/8251819/MauiApp5292.zip)
the scenario I did:
click option 2 -> option3 ->  option 1 -> entry
![5292-2](https://user-images.githubusercontent.com/20982341/158347197-77d13056-2cfe-4920-ae6d-69c3cb0ada00.gif)

[2022-03-15 09:27] CodeBoop commented on #5245
It should be reproducible here: https://github.com/CodeBoop/MauiApp2

I can't test it on a Mac at the moment as I don't have access to one currently.

[2022-03-15 09:37] v-longmin commented on #2261
@PureWeen Could you share your repro project/solution, thanks?

[2022-03-15 09:38] jfversluis commented on #5245
So, this is just a file new project right? Sorry, I must've missed that from your reproduction steps... You didn't add anything here? Then I'm almost sure this is a problem with Hot Restart at this point.

cc: @maddymontaquila

[2022-03-15 09:41] CodeBoop commented on #5245
Sorry yeh, it's just a new project, nothings been added.

[2022-03-15 09:49] v-longmin commented on #2850
Could you share your repro project/solution, thanks?

[2022-03-15 09:50] VincentBu commented on #2850
Hi @juanlao , I run this project on Mac and it scrolled.
[MauiApp2.zip](https://github.com/dotnet/maui/files/8251985/MauiApp2.zip)

[2022-03-15 10:07] jfversluis commented on #5245
Could you check if you have the latest templates? When I create a new project with the latest templates this works fine.

Go to a command-window and do: `dotnet new -i Microsoft.Maui.Templates`. What does that tell you?

[2022-03-15 10:11] CodeBoop commented on #5245
I get the following:
`
Success: Microsoft.Maui.Templates::6.0.200-preview.13.2865 installed the following templates:
Template Name                           Short Name        Language  Tags
--------------------------------------  ----------------  --------  ---------------------------------------------------
.NET MAUI App (Preview)                 maui              [C#]      MAUI/Android/iOS/macOS

[2022-03-15 10:15] jfversluis commented on #5245
Looks like it installed something then. Could you try again with these new templates?

[2022-03-15 10:44] CodeBoop commented on #5245
It's producing the same errors.

However, there does appear to be a Hot Reload issue that I'd missed originally.

[code]

[2022-03-15 12:24] ft9788501 opened #5301 "Maui Blazor Release Config App Throws Error"
### Description

Here is my project CI, and can not open this app on my macos.
https://github.com/ft9788501/VisualLogger/actions/workflows/macos.yml

I do error step?

### Steps to Reproduce

download app on https://github.com/ft9788501/VisualLogger/actions/runs/1976427865

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

macOS

[2022-03-15 13:19] jfversluis commented on #5301
Would you be able to try and creating a debug build and confirm that works?

[2022-03-15 13:29] bstrother1 commented on #5284
Yes, that is correct. I am able to connect on a separate non-maui project.

[2022-03-15 14:43] softlion commented on #5298
@jfversluis not tested on other platforms.
The same code is working properly on Xamarin Forms and even WPF.

[2022-03-15 15:31] dais-set commented on #4812
Is this fixed in the preview.14 ?

[2022-03-15 15:49] rachelkang commented on #4594
^ @hartez's list is actually pretty comprehensive. A deeper dive didn't reveal too much: https://gist.github.com/rachelkang/1297094190441a8ae5bb505343856bbe

[2022-03-15 16:04] BinaryAssault commented on #5292
It seems our emulators are of different APIs. I am using A10 and you're using A11.
But even using A11, if I select one of the pickers or the SwitchCell, the radio button view cell disappears. I

Example below is from A11
![BrokenViewCells-SwitchCellA11](https://user-images.githubusercontent.com/19739224/158416735-5c39f523-2800-4627-a0ee-3f2d87b53ad0.gif)

[2022-03-15 16:33] mkArtakMSFT commented on #5301
Thanks for contacting us.
@Redth do you know who would be best to look at this, as this doesn't seem blazor related. Blazor doesn't load the `Microsoft.Extensions.Options` at all.

[2022-03-15 16:41] #5241 closed

[2022-03-15 18:08] Redth commented on #1628
Tracking in #3877

[2022-03-15 18:08] #1628 closed

[2022-03-15 18:25] jsuarezruiz commented on #1625
I don't notice any difference changing the BackButtonBehavior property.
![issue-1625](https://user-images.githubusercontent.com/6755973/158446262-39dff98d-7f93-45fe-bc0a-0b75e70e84cb.gif)

[2022-03-15 18:27] Redth opened #5308 "Make a better exception message when UseCompatibility needs to be called"

[2022-03-15 18:27] Redth opened #5309 "Fix registrar invocations for Compatibility"

[2022-03-15 18:29] #4890 closed

[2022-03-15 18:35] TanayParikh commented on #5301
Potentially related to https://github.com/dotnet/maui/issues/5197. @jfversluis was able to repro however I didn't encounter the same error.

[2022-03-15 18:37] TanayParikh commented on #5197
(for others who may be watching this issue) discussed offline. It works if you delete the `.app` produced and run the installation wizard. There is a _potential_ issue with the installer not working a second time due to an errant installation lock. Waiting on more data points.

[2022-03-15 18:39] Redth commented on #5148
This uses our own control template since there is no Stepper in WinUI.

No work needed here.

[2022-03-15 18:59] #4165 closed

[2022-03-15 20:23] #3749 closed

[2022-03-15 21:16] jamesmontemagno opened #5312 "Shell Routing through attributes on page (using source generators)"
### Description

Today, we must register each page in the AppShell on startup such as:

[code]

However, it would be nicer to align with how ASP.NET Core routing works and make it an attribute on the page. Since this would require assembly scanning today, this should be implemented as source generators for optimal performance.

### (Public) API Changes

[code]

This would generate code necessary t

[2022-03-15 21:49] mattleibow opened #5315 "IWindow.DisplayDensityChanged not firing on Mac Catalyst / iOS"
### Description

Original code that should work:

[code]

### Steps to Reproduce

Not implemented

### Version with bug

Unknown/Other (please specify)

### Last version that worked well

Unknown/Other

### Affected platforms

iOS, macOS

### Affected platform versions

All

### Did you find any workaround?

_No response_

### Relevant log output

_No response_

[2022-03-15 21:51] mpkagel opened #5316 "RefreshView pull to refresh executes refresh command in Android but not iOS"
### Description

Pull to refresh in Android works for me fine. However, in iOS, pull to refresh shows the refresh icon but doesn't execute the command that is bound to the RefreshView.

### Steps to Reproduce

1. Add a RefreshView to the Xaml file with a CollectionView in it.
2. Give the RefreshView a binding to a command and a datatype viewmodel and a binding to the IsRefreshing property. Also, m

[2022-03-15 22:27] Kremed opened #5321 "Entry ReturnType Prop"
### Description

**When you use the ReturnType property and set the value to "Done Or Next" nothing happens for the keyboard
This happens on Android, I haven't tried it on IOS and WinUi**

### Steps to Reproduce

1.Create a New .Net MAUI App
2. Add Entry   `<Entry ReturnType="Done" />` Or  `<Entry ReturnType="Next" />`
3. The value of the ReturnType you have already specified will appear in the lo

[2022-03-15 22:48] PureWeen opened #5323 "Fix RadioButton check into registrar for renderer registration"
Currently the radio button checks the registrar to see if a renderer is registered to decide if it should use a default template

https://github.com/dotnet/maui/blob/c8939a51d6a48e68849c5cf6c5bba4c985087874/src/Controls/src/Core/RadioButton.cs#L312-L323

Is this code still necessary?

[2022-03-16 00:17] drasticactions commented on #5295
@ctmobiledev Judging by the fact that this is failing inside of Platform specific code (In this, run in Android) I don't think MAUI is influencing this and it's just an Android issue with the platform (Although I could be missing something here). @jonathanpeppers Do you have any ideas?

[2022-03-16 00:42] drasticactions commented on #5269
Are you _sure_ this only happens when you're running in MAUI? I think this is the same bug as https://github.com/dotnet/efcore/issues/24198 and I was able to run your code by directly calling for the built in sqlite from the Mac. Granted, I don't think you should have to do that.

[code]

[2022-03-16 02:03] Amir-Care commented on #5321
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main].
Sample project: [#5321.zip](https://github.com/dotnet/maui/files/8258354/5321.zip)

[2022-03-16 02:08] jonathanpeppers commented on #5295
@drasticactions it is failing inside the BCL:

[code]

https://github.com/dotnet/runtime/blob/c3dbdea91835d67cc461b22125e652ad5063d746/src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs#L94-L98

Which means the OS gave an error code that indicates the file wasn't writeable.

If you tried to write to this same file in a Java/Kotlin Android app it would proba

[2022-03-16 02:17] ft9788501 commented on #5301
I use debug config and try again, But got same result :
https://github.com/ft9788501/VisualLogger/actions/runs/1990279314
Can not open this app on my macos

[2022-03-16 02:29] v-longmin commented on #5210
@davidortinau Could you share your repro project/solution, thanks?

[2022-03-16 02:32] Amir-Care commented on #5298
@softlion Thank you so much for your bug report! Unfortunately, I cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that I can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-16 02:36] wenwen60 commented on #3167
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, I can't view your screenshots. Could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-16 02:47] v-longmin commented on #4758
@Ghevi Could you share your repro project/solution, thanks?

[2022-03-16 02:52] v-longmin commented on #4569
@AlexeyBKuznetsov Could you share your repro project, thanks?

[2022-03-16 02:54] iNoles opened #5325 "HttpClient warning in Microsoft.MacCatalyst"
### Description

ILLink : warning IL2035: System.Net.Http.HttpClientHandler.GetAllowAutoRedirect(): Unresolved assembly 'Microsoft.MacCatalyst' in 'DynamicDependencyAttribute'. [/Users/jonathansteele/Projects/SpaceXLaunch/SpaceXLaunch.csproj]
ILLink : warning IL2035: System.Net.Http.HttpClientHandler.GetAutomaticDecompression(): Unresolved assembly 'Microsoft.MacCatalyst' in 'DynamicDependencyAttr

[2022-03-16 03:01] shimingsg commented on #1801
@jfversluis, I just verified following you steps using @Eilon's https://github.com/Eilon/dotnetConf-BrickTracker, the error is not thrown, the app works fine, environment: Android 11 / API 30 , VS: 17.2.0 Preview 3.0 [32315.301.main]
![1801](https://user-images.githubusercontent.com/20982341/158508213-50dabef4-7b27-4ef0-bd04-b7e2dc221dc6.gif)

[2022-03-16 03:16] XamlTest commented on #4993
Verified on Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32223.438.main]. Not render text in iOS platform. Repro Project: [4993.zip](https://github.com/dotnet/maui/files/8258614/4993.zip)
**iOS:**
![image](https://user-images.githubusercontent.com/97647558/158509458-0b0768c7-f130-487f-9d6c-7d060783b5d9.png)

**Android:**
![image](https://user-images.githubusercontent.com/97647558/1585094

[2022-03-16 03:17] XamlTest commented on #4993
If replace "canvas.DrawString("Hello world", 10, 10, HorizontalAlignment.Center);" with "canvas.DrawString("Hello world", 10, 10, 380, 100, HorizontalAlignment.Center, VerticalAlignment.Top);", iOS and Android will work as expected.

[2022-03-16 03:31] bstrother1 commented on #5269
I am 100% sure. Here is the example project. I used this project to run migrations to create the table, and ran it to insert a singular record into the azure db. Same connection string, same efcore setup, different result.

[EFCoreBasic.zip](https://github.com/dotnet/maui/files/8258662/EFCoreBasic.zip)

[2022-03-16 03:33] bstrother1 commented on #5269
Oh, your asking if the example project I ran used  MACCATALYST? No it's an net6 project. Does that mean that efcore is bugged making MAUI bugged in return because of the usage of MACCATALYST.

[2022-03-16 03:39] #5061 closed

[2022-03-16 03:50] bstrother1 commented on #5269
Where did you place that if condition at? Model? Could this Maccatalyst problem w/ efcore and sqlite extend to other db types as well? I have a ticket out for Azure db doing something similar.

[2022-03-16 03:59] VSadov commented on #4248
Fixed in #5324

[2022-03-16 03:59] #4248 closed

[2022-03-16 04:00] VSadov commented on #3113
Fixed in #5324

[2022-03-16 04:00] #3113 closed

[2022-03-16 04:01] VSadov commented on #3791
Fixed in #5324

[2022-03-16 04:01] #3791 closed

[2022-03-16 04:30] HobDev commented on #5321
Duplicate of #3380 and #4781

[2022-03-16 04:57] #5321 closed

[2022-03-16 05:54] ctmobiledev commented on #5295
Ahhhh, but the same code when run under Xamarin.Forms completes without issue. The code was, in fact, developed originally using Xamarin.Forms, and I ported it over to .NET MAUI, hence my reason for suspicion.

I could create a completely new "dummy" Xamarin.Forms project with the ScopedStorage et al modules for comparison, but I've used this code in other applications without problems.

Get Outlo

[2022-03-16 05:56] VincentBu commented on #2802
repro on Android 30 & 28. Here is my repro sample:
[MauiIssue.zip](https://github.com/dotnet/maui/files/8259255/MauiIssue.zip)

[2022-03-16 06:05] softlion commented on #5298
@Amir-Care can i see your repro project ?

[2022-03-16 06:17] Amir-Care commented on #5298
@softlion this is my repro project, could you give me some suggestions or you can modify it according to your issue ? thanks !
[#5298.zip](https://github.com/dotnet/maui/files/8259367/5298.zip)

[2022-03-16 06:27] Amir-Care commented on #5259
Hi @mcguu , according to your describe , but  i run your project successfully,  when i tap or drag the view  there is no responese , Is there something wrong with my understanding？

![Android_316](https://user-images.githubusercontent.com/99456025/158529619-fb93cc19-3743-42d5-ad06-2431d077b3a4.gif)

[2022-03-16 06:31] VincentBu commented on #2036
Hi @Sasikumar3595 , is it the expected behavior? I use the project you uploaded in #2802 and run it in Android emulator(api 28).
![Issue2036](https://user-images.githubusercontent.com/44959937/158529769-d200f161-41f9-4146-84dc-c9ccc5419083.gif)

[2022-03-16 06:51] SuthiYuvaraj opened #5326 "SearchBar Text changed Event is not triggered in iOS and MacCatalyst Platform"
### Description

In SearchBar , Text changed property is not triggered when the text is entered in the placeholder in iOS and MacOS platform , Also propertyChanged, PropertyChanging , SearchButtonPressed Event is not triggered.

### Steps to Reproduce

1. Create a new blank .NET Maui app (Xaml/C#)
2. In Xaml, add SearchBar in the content Page.
3. Hook the TextChanged event in the xaml/c# page
4. R

[2022-03-16 06:51] developer9969 commented on #4943
waste of time to raise this issue ,security is definetely not important to MS and I dont buy the BS that is a developer job..

[2022-03-16 06:51] #4943 closed

[2022-03-16 07:25] egvijayanand commented on #5312
Would allow maintaining the page properties in one place and ASP.NET users would feel at home. Can be made as a core feature rather than addressing it via source generator.

[2022-03-16 07:34] JusterZhu opened #5327 "EXE files cannot be double-clicked to run"
### Description

D:\git_community\MauiApp1\bin\Debug\net6.0-windows10.0.19041\win10-x64\MauiApp1.exe
D:\git_community\MauiApp1\bin\Debug\net6.0-windows10.0.19041\win10-x64\AppX\MauiApp1.exe

![image](https://user-images.githubusercontent.com/11714536/158538440-b8d769ba-cdea-4ff7-b89e-1c077a1199a2.png)

The exe files in the above two paths cannot be double-clicked to run , and it can't be started w

[2022-03-16 07:42] VincentBu commented on #2190
Hi @Daniellled , would you like to share sample project for us to repro?
I overrided the `OnLaunched` method but failed to build:
![image](https://user-images.githubusercontent.com/44959937/158540593-cfd47455-9102-4346-a5a9-25bf78bc83a7.png)

[2022-03-16 07:46] JusterZhu commented on #5327
If it is convenient, I hope to answer this question .
https://techcommunity.microsoft.com/t5/app-development/net-maui-how-to-receive-process-parameters/m-p/3258459#M196

[2022-03-16 07:47] shimingsg commented on #2312
verified with VS 17.2.0 Preview 3.0 [32315.370.main] on android emulator, when run the app, exception thrown:
![image](https://user-images.githubusercontent.com/20982341/158540907-b17ae5c1-9aea-411a-86dd-16acaa480b3d.png)
[code]
here is my demo:
[MauiApp2312.zip](https://github.com/dotnet/maui/files/8259884/MauiApp2312.zip)

[2022-03-16 07:59] #4250 closed

[2022-03-16 08:04] mcguu commented on #5259
you can drag it and please check platform/android/poplatformview.cs and ovverride the OnTouchEvent

but there is only Down in MotionEventArgs no up and Move.

[2022-03-16 08:04] mcguu commented on #5259
@Amir-Care

[2022-03-16 08:11] Deepak-Ramakrisnan commented on #5201
Hi @mkArtakMSFT , Thanks for viewing this . Yes I have used a html input tag in razor page and binded the blur event at script end . The same thing working as expected in default blazor server and WASM. I will share the required sample soon .

[2022-03-16 08:19] Deepak-Ramakrisnan commented on #5201
Hi @mkArtakMSFT ,

Please find the repo link containing sample below for your reference.

https://github.com/Deepak-Ramakrisnan/MAUI-Blazor/tree/master/MauiApp2

Thanks,
Deepak R.

[2022-03-16 08:23] wenwen60 commented on #3241
Thank you so much for your bug report! Unfortunately, we cannot reproduce your issue with the information above, could you provide a sample project/screenshots or more details that we can reproduce your issue? That should greatly speed up the process, thanks!

[2022-03-16 08:25] kristinx0211 commented on #4300
@pictos thanks for your report, but could you check your repro link. it seems missing. if you can provide a sample project/screenshots or more details that we can reproduce your issue, That should greatly speed up the process, thanks!

[2022-03-16 08:30] VincentBu commented on #2794
@Sasikumar3595 I run the project on Android emulator(API 28 or 30) but didn't repro this issue.

[2022-03-16 08:35] Amir-Care commented on #5259
Hi @mcguu , i have check  platform/android/poplatformview.cs and the project you provide has override the OnTouchEvent method.  theis is Down, Up and Move in MotionEventArgs, and  only avaliable for android
![Android_MotionEventArgs ](https://user-images.githubusercontent.com/99456025/158549045-f86195a9-946b-4ec6-95fc-66756cf1f373.gif)

[2022-03-16 08:37] mcguu commented on #5259
@Amir-Care  Hi, add a breakpoint or Debug.WriteLine to see if really get a Up action?

[2022-03-16 08:37] mcguu commented on #5259
when you drag the view

[2022-03-16 08:59] Amir-Care commented on #5259
Hi @mcguu , i add a breakpoint and add a code "Console.WriteLine() " to  verify Up, Move and Down action if really work.
I find only Down work fine, another is not really work.

- Down:

   ![Android_Down](https://user-images.githubusercontent.com/99456025/158553432-cb21972c-84de-4d41-9941-ba8839eae37d.gif)

- Up:

   ![Android_Up](https://user-images.githubusercontent.com/99456025/158553457-75fc6

[2022-03-16 09:00] Amir-Care commented on #5259
Verified repro with Version 17.2.0 Preview 2.0 [32208.484.main]

[2022-03-16 09:03] mcguu commented on #5259
@Amir-Care where do you think is the bug? how to solve it I can try to solve it myself?

[2022-03-16 09:10] kristinx0211 commented on #3839
verified not repro on mac, the time is displayed in UTC-time local-time not UTC time.
![image](https://user-images.githubusercontent.com/99457000/158555013-4076cb40-ed9c-4c65-89ba-6184a85f6965.png)

[2022-03-16 09:22] shimingsg commented on #4667
verified repro with VS 17.2.0 Preview 3.0 [32315.370.main] on Android 11
repro demo:
[MauiApp4667.zip](https://github.com/dotnet/maui/files/8260588/MauiApp4667.zip)

[2022-03-16 09:26] XamlTest commented on #5326
Verified on Visual Studio Enterprise 2022 main 17.2.0 Preview 2.0 [32223.438.main]. This issue repro on iOS, not repro on Android. Repro Project: [5326.zip](https://github.com/dotnet/maui/files/8260623/5326.zip)

[2022-03-16 09:46] shimingsg commented on #3860
verified with VS 17.2.0 Preview 3.0 [32315.370.main] on Windows and Android 11, click the button and call focus method, the entry gets focused
![3860](https://user-images.githubusercontent.com/20982341/158562355-cf8f53bd-f154-4ba9-aa60-383e846d9e61.gif)

[2022-03-16 10:36] SailDev opened #5329 "Project with SkiaSharp nugets is not built for iOS (error MSB6006: "ditto" exited with code 1)"
### Description

When adding SkiaSharp nuget packages to my project the build for iOS (via paired Mac) exits with the following error message:
"error MSB6006: "ditto" exited with code 1"

Building for Android and Windows works as expexted.

### Steps to Reproduce

1. Add the following SkiaSharp packages (Version 2.88.0-preview.187) to the project
  * SkiaSharp.Views.Maui.Controls
  * SkiaSharp.Vie

[2022-03-16 10:54] julienGrd commented on #4669
After some test, i realized the unload seem also never called in chrome android directly, so i think there is nothing you can do.
I think the thing i have to do is detect when the app or the webview is closed and call javascript in the webview

I create the repro project in case you interest anymore. i can put it online and put some instructions if you are interest on this case, otherwise you can

[2022-03-16 11:44] javiercn commented on #5024
I've managed to attach the debugger and this is what I'm observing the moment I try to add the Blazor Webview component.
[code]

I'm doing this in the Windows 10 Dev environment setup in hyper-v (a VM)

[2022-03-16 11:57] LukeDunkley2005 commented on #5236
Thanks for the suggestion. Toggle buttons would be buttons which can be checked, in the same way as check boxes, in the same way they work in WPF.

[2022-03-16 12:48] SailDev opened #5332 "CollectionView with Header or Footer throws: The specified child already has a parent. You must call removeView() on the child's parent first"
### Description

The initial situation is a simple page with a CollectionView and a Button.

I press the button and inside a ViewModel i add a new item to the ObservableCollection, which is bound to the ItemsSource of the CollectionView.

If i have no CollectionView.Header or CollectionView.Footer defined, everything works as expected.

If i add a Header or Footer to the CollectionView the same sc

[2022-03-16 12:49] softlion commented on #5298
My repro

[ReproMauiBug.zip](https://github.com/dotnet/maui/files/8262190/ReproMauiBug.zip)

[2022-03-16 13:02] jfversluis commented on #5325
I've seen this as well. Just for completeness @iNoles besides this output, does everything seem to work correctly at runtime?

[2022-03-16 13:03] jfversluis commented on #5327
Is this a release build or a debug build?

[2022-03-16 13:23] jfversluis commented on #5301
Could you clarify "can not open this app" do you mean because of this?
![image](https://user-images.githubusercontent.com/939291/158599440-268a7dc6-e04f-4f28-9b84-24c90c4467ca.png)

In that case open a Terminal window and run: `chmod -x VisualLogger.app/Contents/MacOS/VisualLogger`

[2022-03-16 13:46] etvorun opened #5334 "IWindow.VisualDiagnosticsOverlay.Density is always 1"
### Description

IWindow.VisualDiagnosticsOverlay.Density is always 1

### Steps to Reproduce

1. Make sure your Windows display settings are set to something different than 100%.
2. Create new MAUI app targeting Windows.
3. Replace MainPage.xaml and *.cs with the attached ones.
4. Build and run app. Click on a button
Actual: test appears which states that density is 1
Expected: density should mat

[2022-03-16 14:03] etvorun opened #5335 "Microsoft.Maui.Dispatching.IDispatcherTimer frequently fires too early"
### Description

Microsoft.Maui.Dispatching.IDispatcherTimer frequently fires too early

### Steps to Reproduce

1. New MAUI app targeting windows.
2. Replace MainPage.xaml and *.cs with attached ones.
3. Build and run. Click on a button.
4. Pay attention to text starting timer interval and actual tick time
Actual: tick time on non-first ticks drops to less than 1ms
Expected: tick time on non-firs

[2022-03-16 14:20] iNoles commented on #5325
No, it does crashed at runtime

[2022-03-16 15:10] Xiphereal commented on #4660
An emulator.

I'm afraid that the log is quite big and I cannot share it as it is (cannot updload the file to any file exchange platforms due to company security policies and URL restrictions, and our email service doesn't allow files or body contents that big). Anything I should be looking for? Any specific part you want to see?

[2022-03-16 15:19] owaits opened #5337 "NullReferenceException in CreateNativeHandler for HttpClient on IOS"
### Description

I am seeing a NullReferenceException when trying to instantiate an instance of HttpClient on IOS devices after a release build published through the AppStore. The following device log indicates that a NullReferenceException occurs in System.Net.Http.HttpClientHandler.CreateNativeHandler().

Time	Device Name	Type	PID	Tag	Message
Mar 16 08:43:49	Olivers-iPad	Notice	1215	WordAlive	Qu

[2022-03-16 15:29] jonathanpeppers commented on #4660
Can you share the section of log from the `<FastDeploy/>` MSBuild task? You could also email me at the address on my Github profile if you want to share privately.

[2022-03-16 15:29] Sasikumar3595 opened #5339 "[Android] Application crashed while load more images on scroll view"
### Description

We have created an application to load images on the scroll view. but the sample crashed on loading
[code]

![Screen Shot 2022-03-16 at 8 55 45 PM](https://user-images.githubusercontent.com/44917578/158626357-7e83003f-ce34-48ad-b850-43e5a8ac62f9.png)

**Device details:**
![Device detail 2](https://user-images.githubusercontent.com/44917578/158626441-62f0738a-2cfd-4563-8dd0-142dee4

[2022-03-16 15:43] J-Swift commented on #2794
I'm running into this in lots of areas when adding/removing child views or trying to expand/contract views dynamically. The closest workaround I've found is to manually trigger a `NativeSizeChanged` all the way up the tree, but this doesn't always work:

[code]

[2022-03-16 15:51] drasticactions opened #5340 "Add new VisualDiagnostic APIs for rendering elements and views as images."
### Description

- [x] RenderAsBMP
- [x] RenderAsRaw
- [x] Render Visual Diagnostic Layer as Image
- [x] Render IWindow
- [x] Render both Visual Diagnostic Layer and IWindow together?

[2022-03-16 15:57] #1681 closed

[2022-03-16 16:00] javiercn commented on #5024
The issue seems to be on how we use the Win UI storage file

[2022-03-16 16:10] JusterZhu commented on #5327
<1>debug build
<2>.NET MAUI

[2022-03-16 16:18] Eilon opened #5341 "Docs don't show up in Intellisense for .NET MAUI types"
### Description

Intellisense doc comments don't show up for any .NET MAUI types. Here's hovering over the `ContentPage` type in a new project:

![image](https://user-images.githubusercontent.com/202643/158635533-71435282-8258-411d-a9b5-813d3f406d78.png)

Yet, we have correct docs defined in the source code:

https://github.com/dotnet/maui/blob/main/src/Controls/src/Core/ContentPage.cs#L3

This is

[2022-03-16 16:18] Xiphereal commented on #4660
I've search for `FastDeploy` on the log, but the only things I could find was
[code]

I'd like to remark that this is a successful build via VS, not the one from:
[code]

[2022-03-16 16:27] danielftz commented on #2891
Any ETA on the fixes for this issue? ScrollToAsync for ScrollView does nothing on Android either.

[2022-03-16 16:44] jonathanpeppers commented on #4660
@Xiphereal you should see a message like `Task "FastDeploy"` and a block of text for everything it did -- including each `adb` command. I was hoping we could see exactly what went wrong.

Do you not see that? Maybe the logging isn't diagnostic?

[2022-03-16 16:53] davidbritch opened #5342 "Compiled bindings should support MultiBindings"
### Description

Given a view model with `Hue`, `Saturation`, and `Luminosity` properties, the following binding expressions can take advantage of compiled bindings (`x:DataType` set on the `ContentPage` to the view model object):

[code]

When the binding expression is changed to `Binding Hue2` a compiler error results. All good so far.

However, the same behaviour doesn't result when you attempt

[2022-03-16 16:55] ialbert-AUT opened #5343 "bad grid layout"
### Description

I have this markup:

				new Grid()
				{
					ColumnDefinitions = Columns.Define(GridLength.Star, GridLength.Auto),
					RowDefinitions = Rows.Define(30),

					Children =
					{
						new Label() {Text = "hello" }.Column(0),
						new Image() {Source="drink.png"}.Column(1)
					}
				}

and I get this layout:
![image](https://user-images.githubusercontent.com/61751571/158643587-

[2022-03-16 17:02] ialbert-AUT opened #5344 "bad grid layout in a stack"
### Description

I have a simple StackLayout and a Grid:
[code]
On startup the image is not seen just the text.
![image](https://user-images.githubusercontent.com/61751571/158646218-95fbea5b-2517-458e-bf76-fb1551d82b42.png)

When I resize the window the text disappears and I can see only the image.
![image](https://user-images.githubusercontent.com/61751571/158646350-0f7eda9d-4d95-456e-9c3f-bf4ab5

[2022-03-16 17:04] pictos commented on #4300
@kristinx0211 there's a link to the repo on my first issue. Let me know if you need anything else

[2022-03-16 17:07] CodeBoop commented on #5245
@owaits is that just rewriting the urls in the header section of the index.html?

[2022-03-16 17:31] etvorun commented on #5340
Proposed RenderAsXxx API should return 100% self-describing image data. For example, it should include image width, height, format details (e.g. 24-bit bitmap vs 32-bit bitmap; stride, etc.).

[2022-03-16 17:41] buyaa-n commented on #4742
The issue in the description caused by the `HorizontalOptions` value of `Fill` which is fixed by https://github.com/dotnet/maui/pull/5251. There is another issue happening on windows will be fixed by https://github.com/dotnet/maui/pull/5205

[2022-03-16 18:13] #4164 closed

[2022-03-16 18:42] LanceMcCarthy commented on #5329
I've been seeing this as well, but didn't realize it was due to SkiaSharp packages.

Can be replicated with this project https://github.com/LanceMcCarthy/MvpApi/tree/add-maui/src/MvpCompanion.Maui (open `MvpApi_Maui.sln` in the parent folder)

[2022-03-16 18:47] LanceMcCarthy commented on #5325
This also crashes any app using an external library that needs those handlers resolved. Replicated with Cosmos DB

`<PackageReference Include="Microsoft.Azure.Cosmos" Version="3.25.0" />`

Note: This works when used in a plain .NET6 console app on the same device.

[2022-03-16 18:55] DeanFaizal opened #5346 "[MacCatalyst] SearchBar in HorizontalStackLayout Crashes on App on Startup"
### Description

Using the following XAML crashes the app on startup for MacCatalyst:
[code]

I tried SearchBar in a Grid and it doesn't crash

### Steps to Reproduce

1. Create a new MAUI App on mac catalyst
2. Put a SearchBar in a HorizontalStackLayout
3. Run

Expected: App runs
Actual: App crashes

### Version with bug

Preview 13 (current)

### Last version that worked well

Unknown/Other

###

[2022-03-16 19:06] samidip commented on #5325
Glad others are seeing this too .. lots of crashes around anything HTTPClient on iOS/Mac. I pinged David Ortinau as well.

[2022-03-16 19:59] aokocax opened #5349 "Run MAUI project on Physical Device (iPhone-Mac)"
### Description

I'm trying to build the MAUI project on my own iphone but I'm getting this error on my Mac.

`dotnet build -t:Run -f net6.0-ios -p:_DeviceName=daf03e99***myiphonedeviceid`

XEC : error MT1212: Failed to create a simulator where type = iPhone 4s (com.apple.CoreSimulator.SimDeviceType.iPhone-4s) and runtime = iOS 15.4 (15.4 - 19E240) - com.apple.CoreSimulator.SimRuntime.iOS-15-4. [/

[2022-03-16 20:07] aokocax commented on #5349
Fixed
I added "-c Release" and worked.
`dotnet build -t:Run -f net6.0-ios -p:_DeviceName=daf03e99***myiphonedeviceid -c Release`

[2022-03-16 20:07] #5349 closed

[2022-03-16 20:19] JohnHDev opened #5350 "[WinUI] DoPropertyChanged on a bound FormattedString property throws IMauiContext not found"
### Description

Updated to VS2022 17.2.0 preview 2/Maui preview 14, an existing Maui solution that worked now throws the above exception on a bound FormattedString property.

Exception: System.InvalidOperationException
  HResult=0x80131509
  Message=IMauiContext not found.
  Source=Microsoft.Maui.Controls
  StackTrace:
   at Microsoft.Maui.Controls.ViewExtensions.RequireMauiContext(Element elemen

[2022-03-16 20:21] JohnHDev commented on #5083
confirmed resolved in VS Version 17.2.0 Preview 2.0.

[2022-03-16 20:36] LanceMcCarthy commented on #5325
Preview 14 is live right now (via `dotnet workload install maui`), I will test is again with v14's bits now and report back.

[2022-03-16 20:57] Orgbrat opened #5353 "Essentials Email ComposeAsync Fails on WinUI with Attachment"
### Description

Using the sample code from the Essentials Samples for EMail, when I execute the line "await Email.ComposeAsync(message);" Windows throws an error of "request is not supported. (0x80070032)" with an exception StackTrace of the following:

at WinRT.ExceptionHelpers.<ThrowExceptionForHR>g__Throw|20_0(Int32 hr)
   at ABI.Windows.ApplicationModel.Email.IEmailManagerStaticsMethods.ShowC

[2022-03-16 21:00] JohnHDev opened #5354 "VS2022 Version 17.2.0 Preview 2.0 Unable to pair to Mac"
### Description

I know this isn't a Maui bug, but VS2022 Version 17.2.0 Preview 2.0 Unable to pair to Mac has just been released and we can no longer pair to a Mac. The error shown in the pairing dialog:

Disconnected
The Xcode license status couldn't be verified because Xcode has not been found on the default location of the connected Mac. Having Xcode installed and functional is necessary in or

[2022-03-16 21:07] shawnwildermuth opened #5355 "MAUI Templates missing in VS 2022 17.2 Preview 2"
### Description

Installed the Preview 2 and no MAUI templates were installed. I repaired and uninstalled, reinstalled. But still no templates (see log).

![image](https://user-images.githubusercontent.com/568272/158690892-32546322-bea3-40b2-980a-6348929f1c1f.png)

### Steps to Reproduce

1. Install Visual Studio 2022 17.2 Preview 2
2. Start new Project
3. Drop down for Project Type doesn't includ

[2022-03-16 21:24] caseydierking commented on #5355
I am also experiencing this.

[2022-03-16 21:34] LanceMcCarthy commented on #5325
I'm happy to report that this is no longer an issue in preview14!

@samidip You'll need to comment out our custom controls until we do a recompile with preview14, but everything else works as expected (on MacCatalyst)

[2022-03-16 22:05] jfversluis commented on #5325
Thanks for letting us know!

[2022-03-16 22:05] #5325 closed

[2022-03-16 22:15] caseydierking opened #5356 "Workloads fail to update after installing 2022 17.2 Preview 2"
### Description

I'm having issues getting a brand new .net maui blazor app to run in VS 2022 17.2 Preview 2. I had created the blazor app in VS 2022 (not preview) because it has the template for it.  I've tried running "dotnet workload install maui" but it gets confused because 6.0.300 is not found in the nuget feeds. I'm not sure how to resolve.

### Steps to Reproduce

1. Opened up a brand new