[2022-05-06 23:33] janseris opened #6913 "IImage.AsBytes() takes float quality but complains about quality not being between 0 and 100"
### Description

When calling image.AsBytes for a jpg image with quality 50, the following code is executed:

![image](https://user-images.githubusercontent.com/64279914/167227855-deab4758-ad96-4404-900b-7df91d83207e.png)

but it outputs:

`**Java.Lang.IllegalArgumentException:** 'quality must be 0..100'`

I don't know if Windows is affected because Windows cannot load IImage at all currently.

##

[2022-05-06 23:33] janseris opened #12158 "IImage.AsBytes() takes float quality 0..1 but complains about quality not being 0..100 when 50 is entered"
### Description

_Probably just the exception message is wrong._

When calling image.AsBytes for a jpg image with quality `50`, the following code is executed:

![image](https://user-images.githubusercontent.com/64279914/167227855-deab4758-ad96-4404-900b-7df91d83207e.png)

but it outputs:

`**Java.Lang.IllegalArgumentException:** 'quality must be 0..100'`

I don't know if Windows is affected becau

[2022-05-06 23:36] sbhamad opened #6914 "Sample counter app is broken on macOS Monterey 12.3.1 (Xcode version 13.2.1 )"
### Description

following this tutorial by David Ortinau https://dev.to/davidortinau/installing-net-maui-on-macos-4mmc

[code]

after running this: "dotnet build -t:Run -f net6.0-maccatalyst", it builds successfully and the counter app launches but it looks broken:

<img width="811" alt="Screen Shot 2022-05-07 at 2 24 34 AM" src="https://user-images.githubusercontent.com/18968640/167227471-7757bf

[2022-05-06 23:38] janseris opened #6915 "IImage - Exporting portrait JPG photos on Android rotates them"
### Description

Every photo which is taken on portrait, is exported using Image.AsBytes() as landscape -> rotated counter-clockwise 90 degrees (rotate to the left).
Sample poject: [MauiApp2 rotated portrait JPGs.zip](https://github.com/dotnet/maui/files/8644103/MauiApp2.rotated.portrait.JPGs.zip)

-------------------------------------------------------------------------------------------------

B

[2022-05-07 01:08] v-longmin commented on #6911
Verified repro on VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[MauiApp2.Android.IImage.resized.image.disposed.exception.zip](https://github.com/dotnet/maui/files/8644173/MauiApp2.Android.IImage.resized.image.disposed.exception.zip)

[2022-05-07 01:22] SotoiGhost opened #6916 "[Entry] Cursor makes undesired jumps"
### Description

Testcase: https://github.com/SotoiGhost/MauiEntryConverterIssue

On iOS, if you set the `TextTransform` to `Uppercase` the cursor jumps to the end of the TextBox if you try to put text in between:

https://user-images.githubusercontent.com/5924210/167231676-55abd9e3-d000-4cf8-91df-568ee74b188d.mov

With `Lowercase`, the same happens when you try to capitalize a letter:

https://us

[2022-05-07 01:37] v-longmin commented on #6906
Verified not repro on iOS15.4 & Android 12.0. Not repro with above code.

[2022-05-07 01:53] v-longmin commented on #6916
Verified repro on Android 12.0 & iOS 15.4. Repro project:
[MauiEntryConverterIssue-main.zip](https://github.com/dotnet/maui/files/8644249/MauiEntryConverterIssue-main.zip)

[2022-05-07 01:56] SotoiGhost commented on #6906
@v-longmin I'm new on this heh... what are the next steps to follow if something is not repro?

[2022-05-07 02:03] v-longmin commented on #6904
Verified repro on Windows 10 with repro project:
[MauiGeneratedContentRepro-main.zip](https://github.com/dotnet/maui/files/8644259/MauiGeneratedContentRepro-main.zip)

[2022-05-07 02:14] v-longmin commented on #6886
Verified repro on Windows, not repro on Android. Repro project:
[MauiAppDemo-master.zip](https://github.com/dotnet/maui/files/8644266/MauiAppDemo-master.zip)

[2022-05-07 05:23] VincentBu commented on #2045
In 32506.368.main, I tried [shimingsg](https://github.com/shimingsg)'s project and it worked properly on Windows and Android.

[2022-05-07 05:23] #2045 closed

[2022-05-07 05:24] zxyao145 opened #6918 "Image cannot display device picture."
### Description

Image cannot display device picture which in "/data/user/0/app/cache/xxx.png", it's display as blank.

And my code as follow:

MainPage.xaml:
[code]
MainPage.xaml.cs
[code]

AndroidManifest.xml
[code]

BTW, is there any way to pick images from gallery?

### Steps to Reproduce

1. Create a File > New .NET MAUI App
2. Replace `MainPage` ans `AndroidManifest` with the code
3. connect

[2022-05-07 05:26] kristinx0211 commented on #5287
repro on windows with 17.3.0 Preview 2.0 [32506.368.main]. `<StackLayout IsEnabled="False" >` does not work. repro project:
[MauiApp2.zip](https://github.com/dotnet/maui/files/8644533/MauiApp2.zip)

[2022-05-07 05:39] kristinx0211 commented on #5382
still can be reproduced on windows with vs 17.3.0 Preview 2.0 [32506.368.main], Invoke the menu to trigger the Command, it's not getting executed, but if button trigger the command it is getting executed.

[2022-05-07 05:45] shimingsg commented on #6881
verified on windows and android with 17.3.0 Preview 2.0 [32506.315.main], not repro. close it. feel free to open new issue if you still hit this failure with same/newer environment.

[2022-05-07 05:45] #6881 closed

[2022-05-07 05:46] VincentBu commented on #2213
In 32506.368.main, I used code from #2741. If there is anything doesn't make sense, please point it out. Here is the screenshot:
![image](https://user-images.githubusercontent.com/44959937/167240297-2d99cca8-6c4b-4db3-84e6-7b55f9d67f84.png)

Feel free to reopen the issue if it occurs again.

[2022-05-07 05:46] #2213 closed

[2022-05-07 05:50] VincentBu commented on #2741
Not repro in 32506.368.main. Here is the screenshot:
![image](https://user-images.githubusercontent.com/44959937/167240297-2d99cca8-6c4b-4db3-84e6-7b55f9d67f84.png)

[2022-05-07 05:50] #2741 closed

[2022-05-07 05:57] kristinx0211 commented on #5554
repro on windows and android with vs 17.3.0 Preview 2.0 [32506.368.main].

[2022-05-07 05:59] mattleibow commented on #6742
Ooh, looks like a typo in the service name... Use the one from the win2d namespace. I'll fix that and get it in for rc3.

Sorry about that confusion

[2022-05-07 06:22] VincentBu commented on #2891
still occur in vs [32506.368.main].

[2022-05-07 06:32] kristinx0211 commented on #5759
still occur on android with vs 17.3.0 Preview 2.0 [32506.368.main].

[2022-05-07 06:32] VincentBu commented on #2891
Here is the sample project:
[MauiApp2891.zip](https://github.com/dotnet/maui/files/8644594/MauiApp2891.zip)

[2022-05-07 06:37] shimingsg commented on #6854
verified repro with 17.3.0 Preview 2.0 [32506.315.main], yes, if remove the PeekAreaInsets, it works reliably. but the layout is different from above:
![image](https://user-images.githubusercontent.com/20982341/167242056-03d4fe5f-e0a2-4463-bf3a-036f18091f71.png)

[2022-05-07 06:55] shimingsg commented on #5755
verified not repro with 17.3.0 Preview 2.0 [32506.315.main] on Android API 30
![image](https://user-images.githubusercontent.com/20982341/167242679-43a5ed53-1c21-4d94-95c5-5754882369ce.png)
also not repro on Windows
![image](https://user-images.githubusercontent.com/20982341/167242717-063041e7-d470-4708-8d45-2925a63eda95.png)

[2022-05-07 06:55] #5755 closed

[2022-05-07 07:02] kristinx0211 commented on #5808
verified on windows and android with 17.3.0 Preview 2.0 [32506.368.main], not repro. close it. feel free to open new issue if you still hit this failure with same/newer environment.

[2022-05-07 07:02] #5808 closed

[2022-05-07 07:15] kristinx0211 commented on #5915
repro with 17.3.0 Preview 2.0 [32506.368.main].

[2022-05-07 07:29] shimingsg commented on #6227
verified repro on Windows 10 with VS 17.3.0 Preview 2.0 [32506.315.main]
![image](https://user-images.githubusercontent.com/20982341/167243842-7ade9aa3-eca7-4f5b-8f09-25f211b817fe.png)

not repro on Android 11 and Android 5

[2022-05-07 07:29] JohnHDev opened #6919 "#if WINDOWS not working correctly when referencing code in a separate Maui project"
### Description

When setting the build device to Windows Machine and attempting to build, the above #if appears to be ignored.

### Steps to Reproduce

Modify MauiProgram.cs to include platform specific uses:

#if WINDOWS
using MyAppTest.Platforms.Windows;
#elif IOS
using MyAppTest.Platforms.iOS;
#elif ANDROID
using MyAppTest.Platforms.Android;
#endif

Add a service that is available in all 3 pla

[2022-05-07 07:41] VincentBu commented on #2525
@drasticactions , would you like to verify this project. I can't repro on android and windows.
[MauiApp2525.zip](https://github.com/dotnet/maui/files/8644670/MauiApp2525.zip)

[2022-05-07 07:51] shimingsg commented on #6058
verified repro on Windows and Android 11 with VS 17.3.0 Preview 2.0 [32506.315.main]
On Android:
![image](https://user-images.githubusercontent.com/20982341/167244614-a875778d-edd0-47ee-87b7-3716d878b34e.png)
On Windows 10:
![image](https://user-images.githubusercontent.com/20982341/167244684-561a3a86-7ded-47dc-9506-9acea2918059.png)

[2022-05-07 07:56] VincentBu commented on #3013
Still occur in VS [32506.368.main].

[2022-05-07 08:04] mattleibow commented on #6625
This could also be fixed with #6898

[2022-05-07 08:19] VincentBu commented on #3062
repro on Windows and Android with vs [32506.368.main]. Here is the example:
[MauiApp3062.zip](https://github.com/dotnet/maui/files/8644735/MauiApp3062.zip)

@kristinx0211 would you like to verify it on IOS and mac?

[2022-05-07 08:28] mattleibow commented on #6742
I think RC is too late to change now 😢 @redth?

However, this is fixed in this PR for the servicing update with no breaking changes for you: https://github.com/dotnet/Microsoft.Maui.Graphics/pull/420

[2022-05-07 08:38] gbarkerz opened #6920 "Documented use of AutomationProperties.LabeledBy doesn't work with CollectionView"
### Description

I created a new MAUI app in Visual Studio Community 2022 V 17.2.0 Preview 6.0, and Microsoft.Maui.Dependencies/Extensions 6.0.300-rc.2.5513. I added a CollectionView based on demo code at https://docs.microsoft.com/en-us/dotnet/maui/user-interface/controls/collectionview/layout.

I then added a visual label for the CollectionView, and leveraged that label through use of Automation

[2022-05-07 08:46] kristinx0211 commented on #5932
verified on windows with 17.3.0 Preview 2.0 [32506.368.main], not repro. close it. feel free to open new issue if you still hit this failure with same/newer environment.

[2022-05-07 08:46] #5932 closed

[2022-05-07 09:04] AndreduToit opened #6924 ".NET MAUI Shell - FlyoutItem - Icon displays on Windows platform but not on Android platform"
### Description

Flyout Icons do not display on Android platform but do display on Windows platform.
Please refer to the project 'MauiApp1' in Solution Folder 'FlyoutIcons' of the solution at the following https://github.com/AndreduToit/NetMauiReproductions (reproduction sample code).

### Steps to Reproduce

1. Run the project 'MauiApp1' in Solution Folder 'FlyoutIcons' of the solution in reprodu

[2022-05-07 09:11] XamlTest commented on #6924
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android, not repo on Windows with above project.

[2022-05-07 09:13] shimingsg commented on #6553
verified repro on android 11 with VS 17.3.0 Preview 2.0 [32506.315.main]
change the app to launch MainPage instead of AppShell, and observe interactions now work fine

[2022-05-07 09:14] janseris commented on #6742
@mattleibow well even if the name Is fixed, the class Is useless, it cannot load aby image. Fails with somerhing not registered during runtime

[2022-05-07 09:20] XamlTest commented on #5757
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Not repro on Android with above project.
![image](https://user-images.githubusercontent.com/97647558/167247942-47df53c2-333a-469d-bb0f-d6402a890786.png)
![image](https://user-images.githubusercontent.com/97647558/167247952-a47f70e3-ad59-450f-a6c8-98acf7e874bc.png)

[2022-05-07 09:21] kristinx0211 commented on #6018
repro on android with vs 17.3.0 Preview 2.0 [32506.368.main].

[2022-05-07 09:44] kristinx0211 commented on #6062
still repro, verified on android with 17.3.0 Preview 2.0 [32506.368.main].

[2022-05-07 09:56] VincentBu commented on #3435
not repro with vs [32506.368.main]. As [davidortinau](https://github.com/davidortinau) said, putting FlexLayout in Grid container make the button clickable.

[2022-05-07 09:56] #3435 closed

[2022-05-07 10:52] salghazaly commented on #6705
I have the same issue it's working fine in Blazor server App but not working for maui

[2022-05-07 11:44] AndreduToit opened #6925 ".NET MAUI Shell - FlyoutItem - on Windows platform changing IsVisible property binding from false to true adds flyoutitem without visible title"
### Description

On Windows platform changing a FlyouItem IsVisible property binding from false to true adds a FlyoutItem to tthe list but witout any visible title in the list. If this seemingly blank item is clicked then the ShellContent is displayed. Works correctly on Android platform.
Please refer to the project 'MauiApp1' in Solution Folder 'FlyoutIsVisible' of the solution at the following h

[2022-05-07 13:00] DavidCarKc commented on #6377
@rmarinho
Hi and thanks for looking into the problem, I was just trying different possibilities on how I could build apps trying the same thing with both ListView and CollectionView. CollectionView has it's own problems as my app starts with empty view which is being populated by user input and that does not work on android. Since I'm trying to have a multiplatform app I assumed same code would wo

[2022-05-07 14:51] #6366 closed

[2022-05-07 14:57] drasticactions commented on #6919
A few things:

- I can't replicate what you're seeing with VS 17.2 Preview or 17.3 P1. I can switch my TFMs and those directives are switched correctly in the IDE. The build also works.
- Removing the MSBuild conditional from the default MAUI templates and using `dotnet build`, it also worked.
- This also, I believe, would not be an MAUI issue. MAUI doesn't control those identifiers, the runtime d

[2022-05-07 14:58] genifycom opened #6926 "Resources path in Maui should always use / and not the escape character \ which is Windows only"
### Description

Can we please stop using \ in Maui resource paths. We need to standardize on / which is not an escape character.

Visual Studio automatically generates paths with a \ e.g.

`<MauiIcon Include="Resources\appicon.svg" ForegroundFile="Resources\appiconfg.svg" Color="#512BD4" />`

but this is NOT platform independent. I see postings on Maui with both \ and / and we need to correct thi

[2022-05-07 15:01] drasticactions commented on #6915
Maui Graphics is its own repo: https://github.com/dotnet/Microsoft.Maui.Graphics

And I think your issue has to do with the platform itself, so https://github.com/xamarin/xamarin-android

@jonathanpeppers Is this something that could be addressed here or should it be moved to the other repos?

[2022-05-07 15:03] drasticactions commented on #6914
Duplicate of https://github.com/dotnet/maui/issues/6082

You need to update your dotnet workloads to 6.0.300 and install the newest workloads. https://github.com/dotnet/maui/issues/6082#issuecomment-1098567372

[2022-05-07 15:03] #6914 closed

[2022-05-07 15:16] drasticactions commented on #6919
Also, is your issue similar to https://github.com/dotnet/maui/issues/6815?

They put their files into nested folders and that wasn't picked up by the MAUI targets, which _would_ be an MAUI issue.

[2022-05-07 15:28] drasticactions commented on #6869
So looking at https://github.com/dotnet/maui/issues/4297 again.

Your issue there was with Hot Restart (Where you can deploy a Xamarin.Forms/MAUI app to a iPhone without a Mac). That issue was closed because it was "fixed" but you still have issues. Those issues cannot be solved in this repo, nor by this team. That feature is maintained by those inside Visual Studio.

You would be better served fi

[2022-05-07 16:01] jonathanpeppers commented on #6915
I don't see how the above would be a problem in xamarin-android at all. If you call the Android APIs, and they give this result -- the same would happen in Java or Kotlin. Do you get the same result in an Android Studio project?

I don't think there is anything for us to fix here. You could file an issue on Maui.Graphics if one of their APIs is not working as expected.

[2022-05-07 16:01] #6915 closed

[2022-05-07 16:27] JohnHDev commented on #6919
@drasticactions No, they are in the Platforms/Windows etc folders, no sub folders. 1 thing to note is that this is in a Maui library, not in the startup project.

Interestingly, I managed to 'fix' it by adding WINDOWS to the net6.0-windows-10.0.19041 section in General => Build, in the startup project.

If that doesn't help, I'll take a look at knocking together an example.

[2022-05-07 17:05] janseris commented on #6915
@jonathanpeppers

I have never used Android Studio or programmed a mobile app in Java or Kotlin.

I will transfer this to Maui.Graphics then.

[2022-05-07 17:06] janseris opened #13902 "IImage implementations drop all EXIF info from JPG files"

[2022-05-07 17:13] sbhamad commented on #6914
@drasticactions Thank you for the suggestion. However, when i ```dotnet workload update``` the most recent update is 6.0.200

Do you know how to force update to 6.0.300?

sbhamad@sbhamads-MacBook-Air sbhamad % sudo dotnet workload update
Password:

Skip NuGet package signing validation. NuGet signing validation is not available on Linux or macOS https://aka.ms/workloadskippackagevalidation .
Skip

[2022-05-07 18:49] dharber commented on #6625
I just tried it with the most recent maui.aar and the flicker is somewhat better. But there is still a distinct gap between the old image and the new image, i.e. a noticeable flicker. In Preview 14 there is none.

I will note, however, that the sample code above is not completely representative of my actual code. I'm going to say the sample code should probably still not flicker at all but my actu

[2022-05-07 18:53] PureWeen opened #6927 "[Shell] Shell currently doesn't detect pushed pages inside a Modal NavigationPage"
[code]

[2022-05-07 20:11] PureWeen commented on #4714
@StuartFerguson @amolbhushan @GeorgeDarakchiev

Does the project here make it so AutomationId's work for you on appium?
https://github.com/dotnet/maui/files/8586594/MauiApp27.zip

[2022-05-07 21:34] drasticactions commented on #6914
You need to install 6.0.300. It's a separate SDK.

https://aka.ms/dotnet/6.0.3xx/daily/dotnet-sdk-osx-x64.pkg

or

https://aka.ms/dotnet/6.0.3xx/daily/dotnet-sdk-osx-arm64.pkg

Depending on what Mac you're installing this on.

[2022-05-07 21:37] drasticactions commented on #6915
@janseris His point is that this is something you can replicate with an Android app written in Java using the regular tooling. It's not a bug in the Xamarin.Android binding, nor is it something MAUI introduced. If you called those APIs from Java, you would (most likely) get the same result.

[2022-05-08 01:26] jayveedee commented on #2702
On a slightly different note but still related to the WebAuthenticator. On Android the documentation for Xamarin Essentials, it still only supports Android 11 or SDK 30. Will this be updated? Because if you target Android 12 as of right now and use the WebAuthenticator you will get an error which says "java crashed with exit code 1"
Think this should probably be fixed if Android 12 will be targete

[2022-05-08 02:05] hbraasch commented on #6838
I've now noticed the splash screen works on an API 30 emulator, but not on an API 31 emulator.

[2022-05-08 03:35] shv07 commented on #2702
@jayveedee I was able to fix that error by setting ```Exported = true``` in the Activity class. You get this information if you see the build logs after setting it to more verbose from the VS settings.

My final Activity was like this:-

[code]

[2022-05-08 06:00] gbarkerz opened #6928 "Maui Picker with a Title property has no accessible name for screen readers using the UI Automation API"
### Description

I created a new MAUI app in Visual Studio Community 2022 V 17.2.0 Preview 6.0, and Microsoft.Maui.Dependencies/Extensions 6.0.300-rc.2.5513. I added a Picker based on demo code at https://docs.microsoft.com/en-us/dotnet/maui/user-interface/controls/picker.

When I run the app, Accessibility Insights for Windows reports that the UI Automation combo box element that represents the P

[2022-05-08 08:10] rogerbriggen opened #6929 "Shell on Windows: Tabbar redraw problems"
### Description

The text of the tabbar is sometimes drawn in the wrong color if you click and move the mouse.
![click_and_move](https://user-images.githubusercontent.com/46163208/167287586-624d9564-7ac4-4a01-9391-efea670b5fc5.png)

Sometimes this happens already at startup.
![1st_Item_wrong_color_after_startup](https://user-images.githubusercontent.com/46163208/167287260-6b5cd0d1-e364-454b-9780-3

[2022-05-08 08:25] rogerbriggen opened #6931 "Shell Tabbar on Windows strange drawing if window width is resized"
### Description

If you resize the window so not all tabbar items fit on screen, depending on the size

* Only 1 item is shown even so multiple would fit
![Just one](https://user-images.githubusercontent.com/46163208/167287800-2129c86a-d316-4725-b6e2-03e1d5a939ed.png)

* much smaller and ... don't fit any more but 2 are shown
![Very_small_but_2](https://user-images.githubusercontent.com/46163208/1

[2022-05-08 08:35] rogerbriggen opened #6932 "Not all controls responding to UserAppTheme Dark"
### Description

On Windows and Android (ios I did not test) the background color of ContentPages is set when the first time accessed, after that it is not updated anymore even if you change the style. Other items do change the style like Switch or Button

before opened page (background still light, font changed)
![only text color changed_not_background](https://user-images.githubusercontent.com/4

[2022-05-08 08:42] jindal1979 commented on #5931
The same issue is coming on Android in Dark theme mode with RC2.

[2022-05-08 08:49] philipag opened #6933 "Android Entry control is covered by keyboard or the wrong Entry control is moved up to be visible."
### Description

In XF, the Entry control lost focus when the Android soft keyboard was closed with the back button.  In MAUI this is no longer the case, which is a bug.

### Steps to Reproduce

1. Compile and run the repro sample under Android 11.
2. click on the text "click me" so that the soft keyboard opens and "click me" has a flashing cursor.
3. click the "back" button to close the keyboard.

[2022-05-08 09:08] pekspro commented on #3701
Here is a workaround I use. It's deeply inspired by: https://stackoverflow.com/questions/50619388/how-to-hide-navigation-toolbar-icon-in-xamarin?msclkid=79b0a582ce9f11ec8b8fcfa78892ae51

Add a custom control to your project:

[code]

And then use it like this:

[code]

[2022-05-08 09:14] rogerbriggen opened #6934 "On Windows you still cannot execute an application without running it from Visual Studio"
### Description

Publish an application for Windows.
Try to click on the .exe or run it from commandline. -> nothing happens in both cases. This even happens on the developer machine

In Eventviewer you see:
Application: mauirc2delme.exe
CoreCLR Version: 6.0.322.12309
.NET Version: 6.0.3
Description: The process was terminated due to an unhandled exception.
Exception Info: System.DllNotFoundExcept

[2022-05-08 09:25] Mariselvam93 opened #6935 "Shell Navigation with Models"
### Description

Use a Model Class instead of using Query Property to pass data to a page.

### Public API Changes

In order to facilitate the new Navigation api, an object is added to the parameters of the GoToAsync call.

var model = new MyModel();
await Shell.Current.GoToAsync("PAGE_URI", model); // call GoToAsync() using a Model Class

### Intended Use-Case

This new feature could be useful fo

[2022-05-08 09:26] rogerbriggen commented on #6934
I found https://github.com/microsoft/WindowsAppSDK/discussions/2391

if adding
<WindowsPackageType>None</WindowsPackageType>
<WinUISDKReferences>false</WinUISDKReferences>
to the project it still don't run but in Eventviewer there is:

Application: mauirc2delme.exe
CoreCLR Version: 6.0.322.12309
.NET Version: 6.0.3
Description: The application requested process termination through System.Environme

[2022-05-08 09:27] Mariselvam93 commented on #6935
@jfversluis

[2022-05-08 10:09] icarrenomercado commented on #6067
Hey,

In case it helps , here is a somewhat ugly workaround until the fix is released:

` ImageHandler.Mapper.AppendToMapping(nameof(ImageView.Drawable), async (handler, view) =>
            {
                if (view.Source is UriImageSource uriImageSource)
                    try
                    {
                        byte[] imageData;
                        using (var response = await _

[2022-05-08 10:12] icarrenomercado commented on #6634
In case it helps , here is a workaround until the fix is released:

    ImageHandler.Mapper.AppendToMapping(nameof(ImageView.Drawable), async (handler, view) =>
    {
        if (view.Source is UriImageSource uriImageSource)
            try
            {
                byte[] imageData;
                using (var response = await _httpClient.GetAsync(uriImageSource.Uri))
                {

[2022-05-08 10:49] pijnappel opened #6936 "NavigationPage - InsertPageBefore forces visibility of the NavigationBar"
### Description

When trying to put a page in front of another, the navigation bar is forced to be visible. `NavigationPage.HasNavigationBar="False"` will not work to hide it permanently.

Repo: [here](https://github.com/pijnappel/Maui_InsertPageBeforeForcesNavigationBar)

### Steps to Reproduce

1. Create a Maui App
2. Add Navigation Page and pages
3. Put `NavigationPage.HasNavigationBar="False"`

[2022-05-08 10:52] philipag opened #6937 "wrong splash screen shown under Android 12 (API 31), but is correct with Android 11"
### Description

If you install and run the provided repro sample on Android 11 and 12 you will see that the wrong splash screen is shown under Android 12).  Note that on first run from VS no splash screen is shown at all so you need to restart the app.

### Steps to Reproduce

1. Compile and run the repro app under Android 11 and Android 12
2. Note the splash screen is shown correctly under Andro

[2022-05-08 13:32] jamesmontemagno commented on #6935
This was added :) https://docs.microsoft.com/en-us/dotnet/maui/fundamentals/shell/navigation#pass-data check it out

[2022-05-08 13:35] jamesmontemagno commented on #2702
@shv07 can you send a PR to the docs?

[2022-05-08 15:23] hamiddd1980 opened #6938 "Radiobutton with ControlTemplate doesn't recognize Click Event Correctly"
### Description

When **Radiobutton** visual structure is redefined with a **ControlTemplate**, the click event is not recognized correctly by radio button:
1-by clicking inside **Radiobutton,** the the **Radiobutton** is not selected(Checked)
2-clicking outside the **Radiobutton**, change **Radiobutton** state to Selected(Checked) state.

![LeftToRight-Outside-Click](https://user-images.githubuse

[2022-05-08 15:42] hamiddd1980 opened #6939 "Radiobutton Content is not Displayed in Right To Left Flow Direction when ControlTemplate is applied"
### Description

When **Radiobutton** visual structure is redefined with a **ControlTemplate** and Page **FlowDirection** is **RightToLeft** , the **Radiobutton** content is not displayed.
Also,the reported issue with  number #6938 exists in this condition.

![RAdioButton-RTL](https://user-images.githubusercontent.com/57061231/167303731-c57e2861-f4d3-4679-bf2c-df2f6fd9f06a.gif)

### Steps to Repro

[2022-05-08 16:31] antokhio opened #6940 "System.InvalidOperationException: 'Native View not set' on Shell.Current.GoToAsync Android"
### Description

Hi see from stack overflow post:
https://stackoverflow.com/questions/72129562/net-maui-android-system-invalidoperationexception-native-view-not-set-on-na
[code]

I have two pages, added as Singleton service, when i navigate to the second page for a first time everything great, when i navigate second time i get:
[code]

Tested on build target Desktop Windows everything ok..

### St

[2022-05-08 19:24] nssidhu opened #6941 "No output from console.Writeline or Logger.LogInformation in MAUI App"
### Description

I have a Blazor Hybrid MAUI App using default template.
[code]

I inject Logger in Blazor Page using
[code]
I can't see any out put anywhere
I checked
1) F12 tools when running for Windows
2) Output of visual Studio
3) Device Log via Visual Studio

### Steps to Reproduce

Create Blazor Hybrid App using default project template.

### Version with bug

Release Candidate 2 (current)

[2022-05-08 20:11] Jinjinov commented on #5804
@SteveSandersonMS  do you have a suggestion for a workaround until this is fixed?

My problem:

In a WebView.Wpf Blazor app, read from IndexedDB using https://github.com/amuste/DnetIndexedDb before `SetParametersAsync()` is called anywhere.

In a WASM Blazor app this can be easily done after `Build()` and before `RunAsync()` (I did so in my old project):

            builder.Services.AddServices()

[2022-05-08 21:13] JuggernOtt81-USI opened #6942 "Blazor-MAUI Nav-Menu funky visuals on resize"
### Description

weird visuals on bottom of nav-menu

### Steps to Reproduce

1. new .net Maui Blazor app
2. add lots of items (enough to fill window (in windows)) to nav-menu include some sub-menus
3. when the sub menus expand, nav-menu visuals break at the bottom
4. (have sometimes seen same visual behavior on window resize)

### Version with bug

Release Candidate 2 (current)

### Last version

[2022-05-08 22:46] devonuto commented on #6294
This wasn't fixed. I'm using Font Icon Images and am setting the color, but no images shown in Android in the flyout menu. Using VS 17.2 Preview 6.

[2022-05-09 01:09] hbraasch opened #6943 "ListView not scrolling, not selecting after update, extremely slow to update"
### Description

Please see linked reproduction project and video.
On both Android and iOS, starting with a tabbed page with a listview on each page, the:

1. ListViews do not scroll
2. Initially, the ListViews allow one to select an item (turning orange), but once the list is updated, on Android, the selection does not happen anymore (I'm just adding one item to List1 for this demonstration).
3.

[2022-05-09 01:43] Rinzii commented on #6700
Gonna have to unassign myself due to personal reasons

[2022-05-09 02:02] v-longmin commented on #6937
Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[layoutbug10.zip](https://github.com/dotnet/maui/files/8648321/layoutbug10.zip)

[2022-05-09 02:03] VincentBu commented on #3462
not repro in vs main.

[2022-05-09 02:03] #3462 closed

[2022-05-09 02:04] kristinx0211 commented on #6216
verified on windows and android with 17.3.0 Preview 2.0 [32507.29.main], not repro. close it. feel free to open new issue if you still hit this failure with same/newer environment.

[2022-05-09 02:11] XamlTest commented on #6933
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 11 with above project.

[2022-05-09 02:18] XamlTest commented on #6932
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Windows and Android with above project.

[2022-05-09 02:23] VincentBu commented on #3541
I tried [davidortinau](https://github.com/davidortinau)'s code with main build(32507.29.main).
On windows:
![image](https://user-images.githubusercontent.com/44959937/167329962-087055a9-45bd-42e9-8273-1c99773731ec.png)

but on Android emulator:
![image](https://user-images.githubusercontent.com/44959937/167330024-dc468e44-5bd7-4ef9-ba3a-f12590cef866.png)

[2022-05-09 02:24] v-longmin commented on #6931
Verified repro on Windows with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[Maui_sHell-ShellErrors_RC2.zip](https://github.com/dotnet/maui/files/8648391/Maui_sHell-ShellErrors_RC2.zip)

[2022-05-09 02:30] kristinx0211 commented on #6161
verified still repro on Android 11 and windows with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 02:37] XamlTest commented on #6925
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Windows with above project.

[2022-05-09 03:07] VincentBu commented on #3745
Repro with vs main(32507.29.main).
[code]
we expect to have red background like this
![image](https://user-images.githubusercontent.com/44959937/167333741-014e3c0c-2f44-4d00-a4db-6a1be7b3d7ff.png)

but the background isn't rendered
![image](https://user-images.githubusercontent.com/44959937/167333842-a02ee601-f792-4fb0-b6a0-46b48d985aec.png)

[2022-05-09 04:32] PaulAnderson02 opened #6944 "[ContentProperty] ignored on Layouts"
### Description

Mapping the ContentPropertyAttribute of the child class to a different property not working if the base class is a layout control. The base class children property is getting set.

[MauiApp8.zip](https://github.com/dotnet/maui/files/8648769/MauiApp8.zip)

Base Class:
[code]
Child class:
[code]

### Steps to Reproduce

Run the attached sample.

### Version with bug

Unknown/Other (

[2022-05-09 04:37] kristinx0211 commented on #6075
verified on android with 17.3.0 Preview 2.0 [32507.29.main], not repro. close it. feel free to open new issue if you still hit this failure with same/newer environment.

[2022-05-09 04:37] #6075 closed

[2022-05-09 04:43] VincentBu commented on #4011
not repro with vs main build(32507.29.main)
![image](https://user-images.githubusercontent.com/44959937/167342103-5ba47f1e-34a3-411d-8ed0-9474197e56bf.png)

[2022-05-09 04:43] #4011 closed

[2022-05-09 04:46] kristinx0211 commented on #6400
verified still repro on windows with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 04:57] kristinx0211 commented on #6399
verified still repro on windows and android with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 05:02] VincentBu commented on #4079
still occurs on vs main build(32507.29.main)

[2022-05-09 05:02] kristinx0211 commented on #6391
still an issue on windows with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 05:07] VincentBu commented on #4080
still repro on Windows with vs main build(32507.29.main)

[2022-05-09 05:11] VincentBu commented on #4081
still repro on Windows with vs main build(32507.29.main)

[2022-05-09 05:32] VincentBu commented on #4108
In 32507.29.main, I can select items in list and the color does change:
![image](https://user-images.githubusercontent.com/44959937/167345969-92169635-974b-4b87-8fa9-da237a5fd0e6.png)

However, as [Redth](https://github.com/Redth) said, deselecting the item doesn't work.

[2022-05-09 05:38] shimingsg commented on #6386
verified not repro on Windows and Android 5/12 with VS 17.3.0 Preview 2.0 [32506.315.main].
if hit again with similar/newer environment please open new issue.

[2022-05-09 05:38] #6386 closed

[2022-05-09 05:45] myroot commented on #6821
I wonder one thing.
Currently,
 1. IView has a Background property that is type of Microsoft.Maui.Graphics.Paint
 1. VisualElement has a Background property that is type of Microsoft.Maui.Controls.Brush
 1. Brush is converted to Paint
 1. Microsoft.Maui.Graphics.Paint has a subclass ImagePaint that represent image

I wonder, Why don't you convert Imagebrush to ImagePaint?
I think, `ImageSourcePain

[2022-05-09 05:46] GeorgeDarakchiev commented on #4714
Yes, it works in the project.

[2022-05-09 05:48] KiristonK commented on #6626
@jonathanpeppers Last time i've tried this, nothing chaned, but two days later everything with $(Version) and $(ApplicationDisplayVersion) set to the same value - it works just fine...
Anyway, thanks for help :)

[2022-05-09 06:07] shv07 commented on #2702
@jamesmontemagno Sure, done. MicrosoftDocs/xamarin-docs#3455

[2022-05-09 06:13] kristinx0211 commented on #6448
still an issue on windows with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 06:19] kristinx0211 commented on #6451
verified on android with 17.3.0 Preview 2.0 [32507.29.main], not repro. close it. feel free to open new issue if you still hit this failure with same/newer environment.

[2022-05-09 06:19] #6451 closed

[2022-05-09 06:24] kristinx0211 commented on #6500
still an issue on android with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 06:32] Tederean commented on #6936
Windows 10 is also affected.

[2022-05-09 06:33] ivan-todorov-progress commented on #6868
@drasticactions The converter cannot be used in MAUI XAML, because it implements the wrong interface: `Microsoft.UI.Xaml.Data.IValueConverter`. For the converter to work in MAUI XAML it should implement `Microsoft.Maui.Controls.IValueConverter` instead. In its current state, the converter cannot be used in either MAUI XAML or Win UI XAML - it is a rather useless converter. ;-) This is what I have

[2022-05-09 06:34] kristinx0211 commented on #6589
still an issue on android with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 06:39] StephaneDelcroix commented on #6944
could you share the code/xaml snippet that assign the content ?

[2022-05-09 06:40] VincentBu commented on #4102
Will calling `InvalidateMeasure()` trigger the `UnLoaded` event? I write a sample project [MauiApp4102.zip](https://github.com/dotnet/maui/files/8649232/MauiApp4102.zip).
Please add breakpoint in `UnLoadedEvent` and run the project. Then click the "Change Font Size" button.

I validated with vs main build(32507.29.main) and the `UnLoaded` event wasn't triggered.

[2022-05-09 06:52] kristinx0211 commented on #6596
still an issue on android with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 07:00] VincentBu commented on #5090
repro with vs main build(32507.29.main)

[2022-05-09 07:00] jfversluis commented on #6935
Going to assume this covers your needs @Mariselvam93 if not, please provide is with more detail on what you would like to see. Thanks!

[2022-05-09 07:00] #6935 closed

[2022-05-09 07:08] kristinx0211 commented on #6599
still an issue on android with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 07:12] Mariselvam93 commented on #6935
Yes. It covers my need. Thank you for support. @jfversluis and @jamesmontemagno

[2022-05-09 07:15] VincentBu commented on #5091
repro with vs main build(32507.29.main) on Android emulator.
![image](https://user-images.githubusercontent.com/44959937/167358908-608f5b45-21a0-4288-b573-3dce4d2c35b4.png)

[2022-05-09 07:32] kristinx0211 commented on #6638
still an issue on windows with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 07:34] danch15 commented on #6405
In debug mode, everything works well, but in release mode, the application will crash.
This has been the case since the ZIndexProperty appeared...

[2022-05-09 07:38] VincentBu commented on #5117
It works on Android emulator with vs main build(32507.29.main).
![image](https://user-images.githubusercontent.com/44959937/167362690-7e84f949-7408-44b0-8292-125e41d925cd.png)

[2022-05-09 07:38] #5117 closed

[2022-05-09 07:42] kristinx0211 commented on #6644
still an issue on android with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 07:51] kristinx0211 commented on #6659
still an issue on android with 17.3.0 Preview 2.0 [32507.29.main].

[2022-05-09 08:00] shimingsg commented on #4196
still repro on Android with this https://github.com/dotnet/maui/blob/main/src/Controls/samples/Controls.Sample/Pages/Compatibility/ListViewGalleries/ListViewRefresh.cs
 VS: 17.3.0 Preview 2.0 [32506.315.main]
can't pull on Windows with mouse since I don't have touch device.

[2022-05-09 08:05] shimingsg commented on #4196
at the same time ,I found the buttons in headerGrid are disappeared after scrolling with mouse scroll wheel
![4196](https://user-images.githubusercontent.com/20982341/167366804-2ac79646-de3d-45fa-8b70-b8dda2b5298b.gif)
@PureWeen, is this a new issue? Android is Emulator.

[2022-05-09 08:13] KarlSearl commented on #6943
Hi @hbraasch  In the short term, whilst this gets looked in,  I would personally suggest collection view, as it offers a very simple way to add Lazy loading (paging).

I am not sure what the long term plans are, seems harder to keep both ListView and collectionView (from a maintenance perspective). Good luck, hope it gets fixed.

[2022-05-09 08:39] #5248 closed

[2022-05-09 09:39] Sasikumar3595 opened #6946 "Horizontal layout position not updated correctly while dynamically updated in windows platform"
### Description

We are creating an application with a custom layout and pan gesture. Pan gesture is used to update the layout position based on pan position. but the layout is not updated while updated with the latest position.

**Replication sample code:**

[code]

### Steps to Reproduce

1. Run the sample with below-attached code
2. Swipe the layout but the layout was not updated with the lates

[2022-05-09 09:56] StephaneDelcroix commented on #3745
it looks like ParentGrid is never Parented, probably never gets BindingContext applied, and can't walk the tree for DynamicResources propagations

[2022-05-09 09:58] #5915 closed

[2022-05-09 10:03] XamlTest commented on #6946
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Windows. Sample Project: [6946.zip](https://github.com/dotnet/maui/files/8650654/6946.zip)

[2022-05-09 10:57] jsuarezruiz commented on #1738
Currently we have the following resources:
![image](https://user-images.githubusercontent.com/6755973/167395629-07d32d9d-afa6-4085-8377-200fe347b314.png)

- MauiComboBoxStyle: This resource include a style to allow CharacterSpacing and other details to be used in the title. However, the Picker use directly Microsoft.UI.Xaml.Controls.ComboBox.
- MauiSliderStyle: Contains a style for the Slider Thum

[2022-05-09 11:08] tess123456 commented on #5401
I am still having a cursor issue when using a simple Entry control and setting isPassword = True. No TextTransform or converters. Issue is when running in Windows. I am using the latest 17.2.0 Preview 6.0.

Issue is the same as others have previously highlighted - https://github.com/dotnet/maui/issues/5401#issuecomment-1072257277

The above verified fix seems to have a great deal of code around te

[2022-05-09 11:40] StephaneDelcroix commented on #6944
is this somehow related to #3745 ?

[2022-05-09 12:06] TFreudi1 commented on #3933
I'm also very intrested in the MAP Control or a way to use the native Control  like Xamarin do.

[2022-05-09 12:07] devonuto opened #6948 "[Bug] Cursor Position wrong in Entry field when using IValueConverter"
### Description

I have a page created with a number of entry fields which are formatted as either dollars, or percentages. When editing the value, once the new string has been formatted and returned to the field, the caret switches to the front of the entry field, making it unusable. See repo/gif at end

Same ivalueconverter method works in Xamarin.

### Steps to Reproduce

1. Add Entry field to

[2022-05-09 12:28] danies8 commented on #6717
So the publish will be like this document ? (
Publish the MAUI project using this link: https://docs.microsoft.com/en-us/dotnet/maui/windows/deployment/overview
)

[2022-05-09 12:29] danies8 commented on #6722
I checked on version 17.2.0 Preview 5.0 and it reproduced, on which version you check ?

[2022-05-09 13:04] PaulAnderson02 commented on #6944
`<local:ChildCustomControl>
                <Image
                    Source="dotnet_bot.png"
                    SemanticProperties.Description="Cute dot net bot waving hi to you!"
                    WidthRequest="250"
                    HeightRequest="310"
                    HorizontalOptions="Center" />
            </local:ChildCustomControl>`

Just have a breakpoint in ContentChanged metho

[2022-05-09 13:17] mattleibow commented on #6717
That is correct.

[2022-05-09 13:22] bryancass opened #6952 "Can we create a MAUI tutorial based on the Contoso University example?"
### Description

I built a web app based on the Contoso University [Contoso University web app](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-6.0).  If you are interested in continuing that example into a MAUI-based mobile app, I would like to participate in that development.  I learned and did the full-stack development of a commercial web site myself, and now am

[2022-05-09 13:27] #6209 closed

[2022-05-09 13:29] bryancass opened #6954 "Offering help porting the Xamarin.forms tutorial over to .NET MAUI"
### Description

I just wanted to offer my help if you have a team that is porting the [Xamarin tutorial](https://dotnet.microsoft.com/en-us/learn/xamarin/hello-world-tutorial/intro) to the .NET MAUI product.  I want to develop a commercial mobile app for a commercial web site I created and can help create or test the .NET MAUI tutorial in the process of learning that platform.

Please file this u

[2022-05-09 13:52] danies8 commented on #6717
Great:) in which version I can see this fix ?

[2022-05-09 13:57] Redth commented on #6918
What if you load it into a stream as a workaround?

I'm not sure also if you're running into some issues with how you're trying to access the file with permissions on Android.

[2022-05-09 13:59] Redth commented on #6924
I suspect this is a bug that was fixed with some recent image source fixes and needs to be tested against latest MAUI main again.

[2022-05-09 14:05] Redth commented on #6941
@eerhardt did you find a logger that does the right thing everywhere? I remember we talked about this at one point.

I think the simple answer for now is you need to use the correct call depending on the platform.  System.Diagnostics.Debug.WriteLine I believe on windows, but Console.WriteLine will work on Android/iOS

[2022-05-09 14:09] Redth commented on #6948
@SotoiGhost is this related to the other issues / PR's you've been looking at?

[2022-05-09 14:10] Redth commented on #6932
@mattleibow is this fixed by the recent background PR(s)?

[2022-05-09 14:27] #6855 closed

[2022-05-09 14:34] deepx commented on #6942
I made a dotnet new Hybridmauiapp start the windows one. When i fill up the Nav-Menu (copyed the Fetchdata-Link multiple times) and scroll down it removes the background of the Menu as you can see on the screenshot.

![Screenshot_9](https://user-images.githubusercontent.com/3179474/167433134-bfbd7dcc-d7ef-4ec1-a7a5-7c2957ea8aea.png)

[2022-05-09 14:41] #3013 closed

[2022-05-09 14:44] DavidCarKc commented on #6377
@rmarinho
Hi, just tested on
Microsoft Visual Studio Community 2022 (64-bit) - Preview
Version 17.2.0 Preview 6.0
Tried with ObservableCollections and I can confirm android problem with crashing while redisplaying low number of objects does not happen. Also in this version putting 15+ objects for first time display and then adding more aslo crashes if list is directly added as ListView.ItemsSource

[2022-05-09 15:16] mattleibow commented on #6717
@danies8 fix? The fix is to either use dotnet build or to use 2 separate restore and then publish commands. Unless I am misreading your question?

https://github.com/dotnet/maui/issues/6717#issuecomment-1118415277

[2022-05-09 15:23] javiercn commented on #6904
@jimmylewis thanks for following up.

Here are some answers in the context of Blazor:
* Before which target do these files need to be added? `ResolveReferences` is a good place since it runs early enough for other components to pick the generated assets.
* What ItemGroup do they need to be added to? `Content` as that's the item group other parts of the pipeline look to discover web assets.
* Do I

[2022-05-09 15:27] javiercn commented on #6942
@JuggernOtt81-USI thanks for contacting us.

I think that's just some CSS in the template that is not prepared to handle that many items. You might want to check with the browser dev tools the different boxes for the elements rendered on the page and make the necessary adjustments on the CSS.

[2022-05-09 15:38] rachelkang commented on #6937
Yep, this is a duplicate of https://github.com/dotnet/maui/issues/3306 which was also closed

As I mentioned in https://github.com/dotnet/maui/issues/3306#issuecomment-1100304889:

[2022-05-09 15:38] #6937 closed

[2022-05-09 15:39] rachelkang commented on #3306
@emorell96 If you're still experiencing that issue, please open a new issue with an attachment of your project or a sample project reproducing the issue so that we can investigate further! Thanks.

[2022-05-09 15:48] JohnHDev commented on #6919
@mattleibow as I mentioned it is a Maui library, so yes it has platform folders with iOS, Android, Mac and Windows folders.
Unless I have misunderstood your comment?

[2022-05-09 16:01] duydang2311 opened #6957 "Slider value property is ignored on initialization"
### Description

The slider's value is always set to its minimum value no matter what value is specified.

### Steps to Reproduce

1. Create a new `.NET Maui App (Preview)` project.
2. Add a `Slider` control to `MainWindow.xaml`.
[code]
3. Run the program. Observe the slider's value on initialization is set to minimum, instead of `100`.

### Version with bug

Release Candidate 2 (current)

### Las

[2022-05-09 16:02] SotoiGhost commented on #6948
@Redth Yes, seems to be the same issue I'm looking at. Closing this as duplicate of #6916

[2022-05-09 16:02] #6948 closed

[2022-05-09 16:17] Eilon commented on #6859
This issue was moved to xamarin/xamarin-android#6990

[2022-05-09 16:18] #6926 closed

[2022-05-09 16:23] SotoiGhost commented on #5401
@tess123456 the odd cursor behavior when using `IsPassword` was also fixed with the merge of the above PR. Here's a testcase using an `Entry` control with no `TextTransform` or `Converter`. Hope this helps! 😊 Don't hesitate to ask if you have any doubt!

https://user-images.githubusercontent.com/5924210/167453451-7f9fc24e-8a03-48c7-971d-3d49e31f2002.mp4

[2022-05-09 16:27] deepx commented on #6942
@javiercn
Yes, i tried the same with the blazorwasm-template and the same happens (screenshot). so i guess its a adjust of css needed.

![Screenshot_1](https://user-images.githubusercontent.com/3179474/167454895-22c56376-6fe7-4b41-b576-1dfbc704ff28.png)

[2022-05-09 16:39] Eilon commented on #6919
@JohnHDev can you post your app to a GitHub repo so that we can investigate? There are a bunch of things that need to line up for this to work: both the MAUI app and the MAUI lib must have the various platform-specific Target Framework Monikers (TFM), such as net6.0-windows, net6.0-android, etc. And the correct `#if`'s must be used.

[2022-05-09 16:39] mkArtakMSFT commented on #6942
Thanks for confirming that, @deepx.
There is an existing issue for fixing this in Blazor project template here: https://github.com/dotnet/aspnetcore/issues/41050
A community member has already proposed a fix for that, which you can take a look and apply to your project and that should resolve this too. We will address this later in the template.

[2022-05-09 16:41] #6904 closed

[2022-05-09 16:42] DavidCarKc opened #6959 "[ANDROID] ScrollView not increasing in height when its child ListView or CollectionView are getting more items"
### Description

At first it looked like scrolling isn't working any more, then I realised lager pages are scrolling fine, made some testing and realised height of ScrollView on Android is always the same as when the page is rendered first time. If you add more items into ListView or CollectionView they will push elements bellow them into invisibility.  Going to next page and returning back did no

[2022-05-09 18:10] mattleibow opened #6961 "Alerts in Blazor and WebView on Windows do not look nice"
### Description

![image](https://user-images.githubusercontent.com/1096616/167470946-a7b6c1f7-315c-4533-8027-db94ddade153.png)

![image](https://user-images.githubusercontent.com/1096616/167471036-b1bf6c56-46e9-43f1-9b7a-dbcfc015d836.png)

### Steps to Reproduce

Add a webview2 element and add some js to pop an alert.

### Version with bug

Release Candidate 2 (current)

### Last version that wor

[2022-05-09 18:15] vsfeedback opened #6962 "Changing ImageSource in MAUI app causes flicker on Windows"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Changing-ImageSource-in-MAUI-app-causes-/10022074)._

---
[severity:It's more difficult to complete my work]
When changing the ImageSource property of an Image in a MAUI app the image should seamlessly change to the new image. In the Android version of the app this occurs as expected. In

[2022-05-09 19:09] JuggernOtt81-USI commented on #6942
wow! you guys are ON IT! 🥇

[2022-05-09 19:10] mattleibow opened #6963 "Show platform UI for alert/prompt in webviews"
### Description

This probably should not happen and apps should not do this, but we added a feature in Xamarin.Forms that appears to have value to some people: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/windows/webview-javascript-alert

This current feature only talks about Windows, but I see the Blazor team has done things for iOS. For this reason, we need to clarify what we

[2022-05-09 19:19] jfversluis commented on #6519
@pictos are you by any chance able to run this against the latest version of .NET MAUI to see if this still reproduces? So not the latest released one, but like the actual code on main? You know how to do that?

[2022-05-09 19:22] pictos commented on #6519
@jfversluis I don't know how to grab the code at `main`. Do you have any tutorials? And also how can I fallback to the public release?

[2022-05-09 19:28] jfversluis commented on #6519
Ah no worries, I thought you might know how to do it, but don't sweat it, it's a bit of a hassle and I don't want you to break your dev environment. I'll look into it!

[2022-05-09 20:26] MackinnonBuck opened #6965 "Blazor MAUI dynamic root components fail on iOS hardware"
### Description

Attempting to add a Blazor root component via the JavaScript method `Blazor.rootComponents.add()` causes an exception to be thrown in the console:

![image](https://user-images.githubusercontent.com/10456961/167491153-0a095504-9286-4aec-9265-c94ac04223fe.png)

### Steps to Reproduce

1. Clone and build this repository locally.
2. Open `Microsoft.Maui.sln` in Visual Studio.
3. Set

[2022-05-09 21:15] mattleibow commented on #4102
No. InvalidateMeasure should cause the UI to be layout it's views.

[2022-05-09 21:42] mattleibow commented on #6346
I simplified the repro here:

[code]

[code]

[2022-05-09 21:54] eerhardt commented on #6941
No, unfortunately I didn't. The `Console` logger isn't appropriate for mobile apps (or technically even for console apps 😕, see https://github.com/dotnet/dotnet-api-docs/issues/7904). And the `System.Diagnostics.Debug.WriteLine` logger doesn't send the logs to `logcat` on Android.

Maybe Maui should create a Logger that is appropriate for all its intended targets? (i.e. it logs to all the right pl

[2022-05-09 22:27] samhouts commented on #5757
Doesn't reproduce on 6.0.300-rc.4.5739

[2022-05-09 22:27] #5757 closed

[2022-05-09 22:30] drasticactions opened #6971 "Application.ModalPopped never fires when run in Unit Test."
### Description

I'm working on porting the [KAMISHIBAI](https://github.com/nuitsjp/KAMISHIBAI) MVVM library from Xamarin.Forms to MAUI. I've bumped the version of Xamarin.Forms to the newest stable release and all of the tests pass. However, switching it over to MAUl, I have some failures.

In  `ApplicationAdapter_ModalPopped`, the current `Application` should be posting an event when a modal win

[2022-05-09 22:40] Lazareena opened #6972 "Redundant/incorrect Style definition for SearchHandler in MAUI boilerplate"
### Description

I created a new MAUI project using VS2022 today. I have [XamRight](https://marketplace.visualstudio.com/items?itemName=criticalhittech.xamrightext) installed and it warned me that using the TargetType SearchHandler on Style [here](https://github.com/dotnet/maui/blob/dc4f18da0796ccd45ae60f1d92eeb97d2bcc592d/src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml#L241),

[2022-05-09 22:45] davidbuckleyni commented on #815
Was this added into final I dont see toolbar items working in maui ?

[2022-05-09 23:07] #6808 closed

[2022-05-09 23:08] davidbuckleyni opened #6973 "[Enhancement] Introduce a new FlyoutDisplayOptions on Shell "DisplayAsChildren""
### Description

When I enable FlyoutDisplayOptions="AsMultipleItems"  the main menu item disappears and the sub menu items do not appear indentent. This is because "AsMultipleItems" is just used to create groups based on different FlyoutItems but doesn't cause nesting of items. To enable the ability to nest FlyoutItems we should look at introducing an option FlyoutDisplayOptions="DisplayAsChildre

[2022-05-09 23:31] hbraasch commented on #6943
Hi @KarlSearl

Thanks for the suggestion. Much appreciated.

I've replaced one of my ListViews with a CollectionView and did see some improvement. But... it unfortunately still does not scroll on Android. Everthing using the CollectionView works fine on iOS.

So, for the developers please... There is ALSO a problem with CollectionView...
Here is the updated reproduction project:

https://github.co

[2022-05-09 23:53] #5554 closed

[2022-05-09 23:59] #6616 closed

[2022-05-10 00:01] hbraasch commented on #6943
I now notice its got to do with the layout, having the buttons and the listview inside a VerticalStackLayout.
If the tab page only contains the listview, scrolling starts to work.

[2022-05-10 00:39] #6928 closed

[2022-05-10 01:07] XamlTest commented on #6957
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Windows. Sample Project: [6957.zip](https://github.com/dotnet/maui/files/8656293/6957.zip)

[2022-05-10 01:31] zxyao145 commented on #6918
I have tried to use the following code, but it still doesn't work. I'm not sure if it's a problem with my use

[code]

Since I didn't find the use document of MediaPicker under the Maui document, I referred to the xamarin document, which contains the relevant permission setting instructions:
[https://docs.microsoft.com/en-us/xamarin/essentials/media-picker](https://docs.microsoft.com/en-us/xamarin

[2022-05-10 01:57] shimingsg commented on #3481
verified still repro on windows with VS 17.3.0 Preview 2.0 [32506.315.main]
![3481](https://user-images.githubusercontent.com/20982341/167527079-d712cdd8-7b91-453e-935c-83c1901af542.gif)

[2022-05-10 05:06] pierre01 opened #6976 "DeviceDisplay.Current.MainDisplayInfo not available on windows"
### Description

DeviceDisplay.Current.MainDisplayInfo not available on windows

### Steps to Reproduce

Create a Maui Application and add the following in AppShell Constructor:
    public AppShell()
    {
        InitializeComponent();
        var di = DeviceDisplay.Current.MainDisplayInfo;
    }

The displayInfo does not provide any information about the display

### Version with bug

Release Ca

[2022-05-10 05:18] VincentBu commented on #6361
still repro with vs main build
![image](https://user-images.githubusercontent.com/44959937/167547599-e464ade2-5f60-432b-bfee-bd885bc5f7b0.png)

[2022-05-10 05:27] paratype-fonts opened #6977 "Entry control with IsPassword="true" broken under Windows"
### Description

1. When an Entry control has IsPassword="true", the caret jumps back to the start position after each character entered.
2. The Text property of the control has the entered string reversed

### Steps to Reproduce

1. Use Visual Studio 2022 preview
2. Create a new project using the Maui template
3. Convert any Label on the page into Entry
4. Observe the issues presented in the Desc

[2022-05-10 05:30] VincentBu commented on #5752
repro with vs main build:
![image](https://user-images.githubusercontent.com/44959937/167549844-d8332b9d-215e-499f-8a5d-a17a1c6a9b3d.png)

[2022-05-10 05:57] kristinx0211 commented on #6751
still an issue on windows with 17.3.0 Preview 2.0 [32509.345.main].

[2022-05-10 06:09] kristinx0211 commented on #6716
still an issue on android with 17.3.0 Preview 2.0 [32509.345.main].

[2022-05-10 06:14] MuniappanSubramanian opened #6978 "Flow Direction does not apply to the Drawable view"
### Description

While setting the RightToLeft flow direction for the drawable view, the drawable view does not arrange based on the Flow Direction on Windows. The Label view is rendered properly.

**ScreenShot**:

![RTLissue](https://user-images.githubusercontent.com/46158936/167559349-f00aa009-3f1e-4add-8968-9489fe5ecf46.png)

### Steps to Reproduce

1. Run the sample in Windows
2. Note that the

[2022-05-10 06:16] XamlTest commented on #6977
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Windows. Sample Project: [6977.zip](https://github.com/dotnet/maui/files/8658706/6977.zip)

[2022-05-10 06:21] XamlTest commented on #6978
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Windows with above project.

[2022-05-10 06:29] kristinx0211 commented on #6707
still an issue on android 12 with 17.3.0 Preview 2.0 [32509.345.main].
https://user-images.githubusercontent.com/99457000/167562589-85418a6a-c7db-433f-909f-10e93797a55e.mp4

[2022-05-10 06:45] paratype-fonts opened #6980 "ContentPage.Disappearing event not raised under Windows"
### Description

ContentPage.Disappearing event not raised on closing the app under Windows.

### Steps to Reproduce

Here is a code snippet from the Maui sample app:

	public MainPage() {
		InitializeComponent();
                this.Disappearing += MainPage_Disappearing;
	}

        private void MainPage_Disappearing(object sender, EventArgs e) {
            throw new NotImplementedException();

[2022-05-10 06:47] shimingsg commented on #6932
I just verified with VS 17.3.0 Preview 2.0 [32509.430.main],

1. Start up the project and open dummy 1 (but not other pages)
2. Go back to the main page and change to dark mode
3. Notice that the main page did not change its background color but the Switch and Button did
**the backgroud color of switch is not right, when mouse point moved away, the background color gets back to the color when Ligh

[2022-05-10 07:00] christophbrunner commented on #6977
Duplicate of #5401

[2022-05-10 07:12] mattleibow commented on #6346
After more research, it appears during the `BindableObject.ApplyBindings()` during the set of the inherited binding context, the `Binding` property of the `BindablePropertyContext` is null on the switch `IsToggled` - but fine on the `Label.Text`...

[code]

Stack trace of the dodgy call:

[code]

[2022-05-10 07:14] mattleibow commented on #6346
Hah! I wonder if this is the platform view setting some value here and overriding the binding making it a "normal property"...

[2022-05-10 07:39] VincentBu commented on #6412
repro on Android with vs main build.

[2022-05-10 07:41] jfversluis commented on #6519
Can't reproduce on latest main 🎉

![image](https://user-images.githubusercontent.com/939291/167575531-a6029316-5bc8-4ed3-aa09-acdc8722d62e.png)

[2022-05-10 07:41] #6519 closed

[2022-05-10 07:52] jfversluis commented on #6976
Confirmed, seems like the population of this data might happen a little bit earlier if possible. In a File > New Project this data is **not** populated in the `AppShell` ctor or the `MainPage` ctor.

If I add this same code to the click of the button on the `MainPage` then it is populated.

Running the same on Android it is populated from the `AppShell` ctor right away.

I guess a workaround could

[2022-05-10 08:12] jfversluis commented on #6940
Confirmed this is happening, repro here: https://github.com/jfversluis/Repro6940

[2022-05-10 08:16] jfversluis commented on #6934
This is being tracked in #3166

Right now we only support publishing to an MSIX and running it that way. This process can be found in the docs: https://docs.microsoft.com/dotnet/maui/windows/deployment/overview

[2022-05-10 08:16] #6934 closed

[2022-05-10 08:19] jfversluis commented on #6918
Do other pictures load at all? We've had a bug where no image would load at all. If you load an image from a URL does that work? Or does the .NET bot from the template show?

If it doesn't show any images please wait for RC3 which should be here very soon and see if that fixes this issue.

[2022-05-10 08:20] jfversluis commented on #6919
Probably related to/duplicate of #6815

[2022-05-10 08:23] paulvarache opened #6981 "Inconsistent RoundRectangle CornerRadius Border.ClipShape between Android and iOS"
### Description

Using a `RoundRectangle` in a `ClipShape` of a `Border` yields different radiuses between Android and iOS.

Ignoring the border rendering on Android, which is a known issue (#5820), the inner radius on Android is much smaller than the on on iOS.

Link to reproduction repo: [https://github.com/paulvarache/MauiIssueBorderRadius](https://github.com/paulvarache/MauiIssueBorderRadius)

[2022-05-10 08:36] StephaneDelcroix commented on #6944
@hartez Is it possible that layouts (like Grid) in MAUI implements `IEnumerable` and contains a `Add(View)` method, and that it wasn't the case in XF ?

[2022-05-10 08:46] VincentBu commented on #6530
still repro with vs main build

[2022-05-10 08:59] XamlTest commented on #6981
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 11 and iOS 15.4 with above project.

[2022-05-10 09:00] #4714 closed

[2022-05-10 09:03] RichardMarsh opened #6983 "Unable to install latest workloads in Azure Pipelines"
### Description

At first the below command (as part of a yaml pipeline file) worked fine to install and build MAUI apps in our pipeline

`dotnet.exe workload install maui-ios maui-android`

After RC1 rolled out the above command still worked, but no longer got the latest MAUI versions and has been stuck on the last preview version

![image](https://user-images.githubusercontent.com/54434905/16758

[2022-05-10 09:22] kristinx0211 commented on #6715
still an issue on android with 17.3.0 Preview 2.0 [32509.345.main].

[2022-05-10 09:25] paratype-fonts opened #6984 "macOS: Environment.GetFolderPath APIs return null"
### Description

Environment.GetFolderPath not working under macOS

### Steps to Reproduce

1. Under macOS, create a new Maui project: > dotnet new maui -n "MyMauiApp"
2. Open the project in Visual Studio 2022 (17 preview) for Mac
3. Add a few Environment.GetFolderPath calls:
	public MainPage()
	{
		InitializeComponent();
		var homeDir = Environment.GetFolderPath(Environment.SpecialFolder.UserProf

[2022-05-10 09:33] kristinx0211 commented on #6826
still an issue on android and windows with 17.3.0 Preview 2.0 [32509.345.main].

[2022-05-10 09:42] paratype-fonts commented on #6976
Display information is required as early in the app lifecycle as possible to be able to position and size the app windows for desktop apps. By the way, how can one do this under macOS?

[2022-05-10 09:47] jfversluis commented on #6984
Hey there, thanks for the report!

Unfortunately, this is something in the runtime, not .NET MAUI. See also here: https://github.com/dotnet/runtime/issues/68323

[2022-05-10 09:47] #6984 closed

[2022-05-10 09:50] jfversluis commented on #6983
Probably because those agents still have .NET 6.0.200, while the latest versions need 6.0.300. Have a look at the .NET Community Toolkit on how we set this up to work with the current version: https://github.com/CommunityToolkit/Maui/blob/main/azure-pipelines.yml#L48

I understand this is not ideal right now, but should be resolved whenever .NET MAUI is launched and all the associated packages are

[2022-05-10 09:50] #6983 closed

[2022-05-10 09:53] jfversluis commented on #6976
@paratype-fonts that seems to be possible right now, albeit maybe values being hardcoded. Come to think of it, maybe because of the same reason that this is bugged right now.

Find code for Windows and macOS here: https://gist.github.com/LanceMcCarthy/c8d23f5ba6157d5d53bee3b1a741f8b5

[2022-05-10 09:58] javiercn commented on #6963
@mattleibow I'm not aware that we have any specific code for dealing with alerts and things like that in Blazor. (Other than maybe a setting to enable them).

If this setting is off by default and we enabled it in the webview configuration, it is likely an artifact of wanting to do something with the samples in the repo.

That said, unfortunately alert and other types of dialogs are not something

[2022-05-10 10:06] RichardMarsh commented on #6983
Thank you so much for getting back to me on this one! Fully understand the feedback.

[2022-05-10 10:07] Ahamed-Ali opened #6986 "Issue in Clipping Images in Border"
### Description

1)Images are not perfectly fit as expected....In Android, Images are perfectly clipped without CornerRadius Only, but In Windows Images are not cropped correctly i.e see the below differences between android and windows

In Android without CornerRadius Works perfect
<img width="89" alt="image" src="https://user-images.githubusercontent.com/102580874/167640643-b3675660-95d7-4c8c-8a

[2022-05-10 10:12] Karan4495 commented on #6216
Verify issue in ".NET MAUI Template" app. issue is fixed so closing the bug
IOS Version: iPad(15.4.1)
added attachment for references

https://user-images.githubusercontent.com/100186395/167605472-a3da641f-68ee-4102-a7f9-f2f911eee3a9.mp4

[2022-05-10 10:12] #6216 closed

[2022-05-10 10:13] #6215 closed

[2022-05-10 10:13] nacompllo opened #6987 "(Windows) RC2 - LayoutCycleException when the height or width of a control is less than 0"
### Description

Setting the WidthRequest and HeightRequest of a FlexLayout to a value less than 0 and running the application on Windows will cause a LayoutCycleException with no information on what the problem is, however on Android a message will appear indicating: 'Width cannot be less than zero.' Windows should behave the same way and display that message to help the developer see where the p

[2022-05-10 11:08] davidbritch commented on #6954
Hi @bryancass

Thanks for your offer. It's already been ported: https://dotnet.microsoft.com/en-us/learn/maui/first-app-tutorial/intro

[2022-05-10 11:21] jfversluis commented on #6983
No problem, glad to help!

[2022-05-10 11:24] #6346 closed

[2022-05-10 11:37] jfversluis commented on #6723
For as much this wasn't clear yet: we have no control over how WebView2 and Windows work together like this. If that is something you want to see changed, make sure to make it known in the repository I linked earlier. The "only" thing we are doing is rendering our `WebView` to a `WebView2` as that is the component you probably want to use on Windows.

.NET MAUI works by taking an abstract control

[2022-05-10 11:37] #6723 closed

[2022-05-10 11:45] danies8 commented on #6980
Also on Vs Cmmunity Version 17.2.0 Preview 5.0

[2022-05-10 12:06] dawidpieper commented on #4000
Android: partially fixed by #6899 .
I cannot reproduce problems with navigating, by following principle that switches are on the right side of the screen. However, if the problem persists, the solution would be to group the switch and label together.

As for the iOS part, I haven't noticed it, but, indeed, I did not foresee the problem and did not test it, I will do additional tests.

[2022-05-10 12:16] nuitsjp commented on #6971
It seems that Navigation is not initialized without calling IApplication#CreateWindow, so it does not work correctly.
Please check here.
- https://github.com/drasticactions/KAMISHIBAI/pull/1

[2022-05-10 12:18] PieEatingNinjas commented on #6460
To me it seems like it's not fixed in RC 2...

Using RC 2, I'm  getting the APK working, only when adding the above ( `<RunAOTCompilation>False</RunAOTCompilation>` ). Without it, the app crashes as soon as I'm making an API/web call.

[Repro](https://github.com/dotnet/maui/files/8661339/MauiApp53.zip)

When I publish this app (`dotnet publish -f:net6.0-android --configuration Release --output "c:

[2022-05-10 12:40] bryancass commented on #6954
Oh excellent, thanks David!  I'll go through it and let you know if I find any issues.

[2022-05-10 12:41] #2208 closed

[2022-05-10 13:04] CodeBoop opened #6992 "iOS publishing not picking up project runtime identifier"
### Description

When attempting to publish an iOS app msbuild doesn't seem to find the runtime identifier in the project specified. Following error is presented when attempting to use the cl that has previously worked.

`C:\Program Files\dotnet\packs\Microsoft.iOS.Sdk\15.4.200-rc.2.191\targets\Xamarin.Shared.Sdk.Publish.targets(16,3): error : A runtime identifier must be specified in order to pub

[2022-05-10 13:39] PureWeen commented on #6971
@drasticactions yea this is a bit of an odd world. The Modal code was all moved to window because that's where it's relevant. Modal operations at the `Application` level don't really make any sense but for back compat we should probably just forward any calls at the `Application` to a single window if it's there or throw an exception if you are doing multiple windows.

[2022-05-10 13:59] dotMorten commented on #2702
@davidbritch did you mean to close this with a doc issue?

[2022-05-10 14:00] antborari opened #6993 "[Android][iOS] OnDestroying method of the Window extended class is not called [Lifecycle]"
### Description

OnDestroying method of the Window extended class is not called.

Tested on Windows, Mac, Android and iOS.
Windows and Mac works fine.
Android and iOS doesnt work.

Class MauiWindow extended from Window. Override methods OnCreated and OnDestroying.
When inits the application, OnCreated is called.
When destroy the application, OnDestroying didn't called.

Edit1: window.Destroying(Ev

[2022-05-10 14:05] jsuarezruiz commented on #6986
@Redth I think we have an interesting topic to discuss here.

Border is a special container where can define the border with an `IShape`. IShape only has the information needed to define a specific Shape (no Stroke, etc). However, when exposing IShape we use Shapes API (which implement ShapeView by exposing Stroke and many other properties). Similarly, Geometry implements IShape.

This leaves us w

[2022-05-10 14:39] PureWeen opened #6994 "[iOS] Reusing the same page for formsheet Modal causes measuring issues"
https://github.com/dotnet/maui/tree/weird-modal-repro-pr6813

Every time you push the same page the modal gets smaller and smaller. If you create a new ContentPage each time then it measures without any issues

[2022-05-10 14:41] PureWeen opened #6995 "[iOS] Modal Formsheet on iOS is currently not cancellable on Shell"
We need to wire into
https://developer.apple.com/documentation/uikit/uiadaptivepresentationcontrollerdelegate/3229888-presentationcontrollerdidattempt?language=objc

So the developer can cancel a FormSheet modal

[2022-05-10 14:51] PureWeen opened #6996 "Modify our templates to include a better version for iOS or build SupportedPlatforms into our targets"
Currently our templates specify `14.2` for the `SupportedPlatform` which is a bit high for the iOS default. On the other platforms we specify the minimum so perhaps we should also set iOS to the lowest value as well?

As a better fix maybe it's better to include all these minimums in our targets files. Is there any reason to have these in the CSPROJ files?

[2022-05-10 15:12] janseris opened #6998 "Is Maui.Graphics dead?"
### Description

Until now I thought Microsoft.Maui.Graphics is the graphics library for MAUI (the name suggests it I suppose?).
Also in MAUI tutorials on docs.microsoft.com, there is code used exclusively from this library when working with graphics in MAUI applications. https://docs.microsoft.com/en-us/dotnet/maui/user-interface/graphics/
Code for abstracting work with images is incomplete for p

[2022-05-10 15:31] samhouts commented on #2525
Looks fixed to me! Thanks!  6.0.300-rc.4.5742

[2022-05-10 15:31] #2525 closed

[2022-05-10 15:50] rachelkang commented on #6972
Hi, @Lazareena - thank you for reporting this issue. Could you please share your project or a sample project reproducing the issue you are experiencing so that we may investigate further?

Styles with `TargetType="SearchBar"` will affect the SearchBar control whereas styles with `TargetType="SearchHandler"` will affect the SearchHandler control used in Shell. So if you are indicating that the `Sea

[2022-05-10 16:11] aaquino-ny commented on #6227
Thanks to the latest release of VS202 Preview, Radio buttons are working again.

[2022-05-10 16:12] samhouts commented on #3062
No longer repros on 6.0.300-rc.4.5742. Appears identical on iOS, Windows, and Android with no clipping and no elements disappearing on resize or rotate.

[2022-05-10 16:12] #3062 closed

[2022-05-10 16:20] softlion commented on #6227
It’s not working for me with the latest preview.

[2022-05-10 16:27] samhouts commented on #3541
Looks great on 6.0.300-rc.4.5742!
![image](https://user-images.githubusercontent.com/7827070/167677295-22d35544-1a5c-4ce8-8ac4-91c96b2c6a3c.png)

[2022-05-10 16:27] #3541 closed

[2022-05-10 16:31] #6957 closed

[2022-05-10 16:44] SteveSandersonMS commented on #6961
Removing the Blazor label as we don't plan to change it there.

The consensus we established on the Blazor team is that this is simply how alert dialogs are rendered by WebView2, and it's not our business to override the default styling. The fact that it can get cropped is something that could be reported as an issue to WebView2.

[2022-05-10 16:57] PureWeen commented on #6940
I think this one is related to
https://github.com/dotnet/maui/issues/5987  @brminnick

I took @jfversluis 's sample and removed the AsyncCommand and I'm not getting a crash

[2022-05-10 17:03] Lazareena commented on #6972
Hi @rachelkang, thanks for getting back to me. In my sample, I just added a SearchHandler to the existing boilerplate ([here](https://github.com/Lazareena/MauiSample/blob/53350122a7dbd41c96a1b5a196a43d3eab89646a/MauiSample/MainPage.xaml#L6)) and changed the PlaceholderColor and FontSize in the Style ([here](https://github.com/Lazareena/MauiSample/blob/53350122a7dbd41c96a1b5a196a43d3eab89646a/MauiS

[2022-05-10 17:18] samhouts commented on #3643
Still an issue on 6.0.300-rc.4.5742

[2022-05-10 17:21] Deepak1799 opened #6999 "[Windows] Child controls of the grid are automatically resizing, with the size changes of parent Grid"
### Description

Child controls of the grid are automatically resizing, with the size changes of parent Grid. Even if we set the Horizontal and Vertical options of the child element to "Start". The child size should not be changed until we explicitly changing it.

### Steps to Reproduce

1. Create a MaUI project.
2. Add a Grid control inside the content page.
3. Now add an Image as the child of Gr

[2022-05-10 17:21] JosHuybrighs opened #7000 "CarouselView with direct ContentView items in XAML shows error"
### Description

I am trying to setup a CarouselView in my ContentPage whereby the content items are defined as ContentView items (which have there layout and content completely defined in their own XAML file).
Like so:
[code]
The 3 views all have their own XAML file with a StackLayout in which there is an image and a couple of labels.

The first item shows correctly when the page is opened but th

[2022-05-10 18:04] samhouts commented on #4079
No longer repros on 6.0.300-rc.4.5742.

[2022-05-10 18:04] #4079 closed

[2022-05-10 18:34] jfversluis commented on #6918
@zxyao145 RC3 has been released just now which should make it all work again! Could you update and let us know? :)

[2022-05-10 18:43] #6944 closed

[2022-05-10 18:55] samhouts commented on #4080
I get a "Layout cycle detected.  Layout could not complete." crasher on 6.0.300-rc.4.5742

[2022-05-10 19:12] jfversluis commented on #7000
@rmarinho I think you fixed a couple with this error? Does that include this one?

[2022-05-10 19:13] jfversluis commented on #6993
RC3 is just released, would you maybe be able to verify that it's still an issue there? :)

Thanks!

[2022-05-10 19:14] jfversluis commented on #6992
In addition please also provide the command that you are using to publish the app. Thanks!

[2022-05-10 19:19] rmarinho commented on #7000
yes i fixed this issue, that say using Loop feature with ContentViews as ItemSource will not work. because we can't have multiple handlers for 1 view.

So if  @JosHuybrighs needs this should use  Loop="False" Or use DataTemplateSelector and change the ItemsSource to be some that and not "Maui Views".

[2022-05-10 19:45] dannymoller commented on #4989
VS 17.3 Preview 1 is out now, and the .NET Hot Reload works now.

[2022-05-10 19:53] rachelkang commented on #6972
Thanks for the clarification @Lazareena! I understand now and can confirm this is indeed something to be fixed.

[2022-05-10 20:07] jonathanpeppers commented on #6460
@PieEatingNinjas can you try MAUI RC 3 that just shipped? dotnet/runtime 6.0.5 did not ship until today as well.

[2022-05-10 20:19] PureWeen commented on #6498
The list numbering here is not required for this once on Android. Chat with Tanaz if you have questions.

Next version should have the "Out of List" issue fixed as well.

[2022-05-10 20:21] gbarkerz opened #7001 "Change the control type announced by the VoiceOver screen reader when it encounters a Maui Picker control"
### Description

Currently when the VoiceOver screen reader encounters a Maui Picker control, its announcement includes "Text field, double-tap to edit". This gives the impression to customers that they've encountered a text field, and if they double-tap, they can edit the contents of the field. This VoiceOver announcement does not seem to appropriately convey the semantics of the Picker control.

[2022-05-10 20:24] vsfeedback opened #7002 "Exception being thrown on android physical device with latest version of .NET MAUI"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Exception-being-thrown-on-android-physic/10027643)._

---
When I attempt to run my .NET MAUI application on a physical device, I'm getting hit with the following exception

[code]

If I enabled the CLR debug, it's revealing more

[code]

The error shows in App.xaml.cs when the Initialise

[2022-05-10 20:24] vsfeedback opened #7003 "Cannot publish freshly created MAUI app as documented"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Cannot-publish-freshly-created-MAUI-app-/10029954)._

---
\[severity:I’m unable to use this version\]
Following the instructions here: [https://docs.microsoft.com/en-us/dotnet/maui/windows/deployment/overview](https://docs.microsoft.com/en-us/dotnet/maui/windows/deployment/overview)
afte

[2022-05-10 20:26] JosHuybrighs commented on #7000
@rmarinho Setting Loop="False" indeed solves this.
I am afraid however that I, and probably other users as well, will not understand why this Loop property actually makes a difference. It seems that the documentation of CarouselView will need some explanation why suddenly in maui the ItemsSource of an items view poses restrictions on what type of items can be added whereas in xamarin forms, UWP, W

[2022-05-10 20:26] vsfeedback opened #7004 "ActionSheets do not work in MAUI Windows"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ActionSheets-do-not-work-in-MAUI-Windows/10021667)._

---
ActionSheets (Page.DisplayActionSheet) work OK in Android but do nothing in Windows. In Windows the Task returns immediately without anything displayed.

---
### Original Comments

#### Feedback Bot on 4/23/2022, 11:57 PM:

(priva

[2022-05-10 20:29] vsfeedback opened #7005 "Maui project pre-compiler errors using partial classes with multi-targetting"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Maui-project-pre-compiler-errors-using-p/10033997)._

---
[severity:It's more difficult to complete my work]
In my Maui project I want to have a platform dependent implementation of a cross-platform DeviceServiceExt partial class with a number of partial methods in there.
I use the prici

[2022-05-10 20:37] PieEatingNinjas commented on #6460
I’ll give it a try tomorrow and will let you know the results.

[2022-05-10 20:56] janseris opened #7006 "nothing"
sorry nothing

[2022-05-10 21:01] #7006 closed

[2022-05-10 21:21] Axemasta commented on #3552
As far as I understand it, we can't reference maui projects directly we instead have to move all of our testable logic into a `net6.0` class library and test that project instead?

Will this be changed to feature a fully mockable maui just like we had `Xamarin.Forms.Mocks` where we could run the virtual ui without needing a platform backing it? (mimicking the tooling support we had in forms)

[2022-05-10 22:42] Dreamescaper opened #7008 "Workloads installation broken after attempt to install maui from 'main' branch"
### Description

I had VS 17.2 Preview installed with MAUI RC 2, and it worked perfectly fine. Then I've tried to install Maui workloads from 'main' branch using steps from https://github.com/dotnet/maui/blob/main/.github/DEVELOPMENT.md . Unfortunately, installation failed with an error about unsigned packages or something like that.
Now builds fail with messages similar to "To build this project,

[2022-05-10 23:15] Juriyx commented on #5886
Same stuff on GitHub Actions
`C:\Users\runneradmin\.nuget\packages\microsoft.windowsappsdk\1.0.3\buildTransitive\MrtCore.PriGen.targets(891,5): error MSB[40](https://github.com/xperiandri/Elmish.Uno/runs/6379204478?check_suite_focus=true#step:4:40)62: The "Microsoft.Build.Packaging.Pri.Tasks.ExpandPriContent" task could not be loaded from the assembly C:\Users\runneradmin\AppData\Local\Microsoft\d

[2022-05-10 23:17] Juriyx commented on #5886
Any work arounds?

[2022-05-10 23:28] vsfeedback opened #7009 "Debugger not debugging some variables correctly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Debugger-not-debugging-some-variables-co/10033553)._

---
Testing with a MAUI RC2 project in VS4Mac 2022 Preview (build 8754)

Simply in the MainPage class I am trying to debug the result of `bleService.GetPlatform()`. This should be a string of android, ios or windows.

If I hover over

[2022-05-10 23:34] beeradmoore commented on #7009
I don't know why this was moved here, I thought it was a IDE bug but I guess not.

That missing screenshot is this:
![Screen Shot 2022-05-07 at 5 41 54 pm](https://user-images.githubusercontent.com/904737/167741187-d41fb6f2-67cf-4392-a346-f12ed709372a.png)

[2022-05-11 01:14] drasticactions commented on #7005
The reason this was happening was a Rosyln bug where it was showing all of the TFMs in VS, even when it should have only been showing one. It didn't affect builds, but made actually writing the code harder.

That should be taken care of in 17.3 Preview 1, so I would upgrade to that. If it's still an issue, this can be reopened.

[2022-05-11 01:14] #7005 closed

[2022-05-11 01:23] v-longmin commented on #6999
Verified repro on windows with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[PinchToZoomWindows.zip](https://github.com/dotnet/maui/files/8665916/PinchToZoomWindows.zip)

[2022-05-11 01:37] v-longmin commented on #6987
Verified repro on 17.3.0 Preview 1.0 [32427.505.main]. Repro with above code.

[2022-05-11 01:43] XamlTest commented on #6993
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android, not repro on Windows with above project.

[2022-05-11 02:15] pierrebrito opened #7011 "[Bug] Height of the view inside the CollectionView and extra padding inside the Grid."
### Description

![image](https://user-images.githubusercontent.com/6466875/167754968-25d69cf0-0cc0-451b-9401-34c776ca27ae.png)

### Steps to Reproduce

<StackLayout>

    <CollectionView ItemsSource="{Binding Items}"
                    VerticalOptions="FillAndExpand">
        <CollectionView.ItemTemplate>
            <DataTemplate>
                <ContentView BackgroundColor="Blue">

[2022-05-11 02:18] mattleibow commented on #5886
You need to set the following properties (we set them in maui):

Library:

[code]

Apps:

[code]

[2022-05-11 02:21] v-longmin commented on #7011
@pierrebrito Could you share your project for us? Thanks.

[2022-05-11 02:31] pierrebrito commented on #7011
@v-longmin
[Demo7011.zip](https://github.com/dotnet/maui/files/8666249/Demo7011.zip)

[2022-05-11 02:49] v-longmin commented on #7011
Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[Demo7011.zip](https://github.com/dotnet/maui/files/8666333/Demo7011.zip)

[2022-05-11 03:09] XamlTest commented on #6986
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android and Windows with above project.

[2022-05-11 03:13] #4913 closed

[2022-05-11 05:47] VincentBu commented on #6420
still repros on IOS and Mac with vs main build[32510.390.main]

[2022-05-11 05:52] philipag opened #7012 "Expose ApplicationSignificantTimeChange in the lifecycle events and/or MauiUIApplicationDelegate"
### Description

Now that AppDelegate derives from MauiUIApplicationDelegate/UIResponder instead of FormsApplicationDelegate/UIApplicationDelegate, I don't see a way to access events which are not implemented in MauiUIApplicationDelegate.  E.g.  how can an application receive UIApplicationDelegate.ApplicationSignificantTimeChange?

It would be nice if all UIApplicationDelegate events were exposed

[2022-05-11 05:56] zxyao145 commented on #6918
Perfect! In RC3, it works as expected. And I think this issue can be closed. Thank you!

[2022-05-11 06:30] VincentBu commented on #6499
still repros on IOS with vs main build[32510.390.main]

[2022-05-11 06:37] Ihone8 opened #7013 "MediaPicker.CapturePhotoAsync() is not supported on ios ?"
### Description

I tried to use the camera on the IOS simulator, MediaPicker. CapturePhotoAsync (); But it doesn't seem to support change methods on IOS, right?

### Steps to Reproduce

1. Create New Project -> New .NET MAUI APP
2. Add a Button like this  <Button Text="Click me" Clicked="OnCounterClicked" />
3. await MediaPicker.CapturePhotoAsync();
![image](https://user-images.githubusercontent.c

[2022-05-11 06:50] devonuto commented on #6361
@xxjnaxx This looks to be working for me as of Version 17.3.0 Preview 1.0

[2022-05-11 06:54] VincentBu commented on #6582
still repros on IOS with vs main build[32510.390.main]
it looks like the content of shell title (after navigation) depends on the first shell page we browse.

[2022-05-11 06:55] pauldendulk commented on #6529
@mattleibow The associated PR was merged to main six days ago. Yesterday RC.3 was released. I ran 'dotnet workload install maui macos android ios maccatalyst' but the attached solution still results in the same error.

Also, I don't see the PR mentioned in the release notes. Is it not expected to be part of RC.3? If not when can we expect it? How can I monitor its release?

[2022-05-11 07:02] hartez commented on #6400
This only happens if the layout has nested layouts with HorizontalOptions="Fill". So until we can address it, one possible workaround is to eliminate that pattern from the DataTemplate.

[2022-05-11 07:07] VincentBu commented on #6684
Repro on Windows with vs main build[32510.390.main]

[2022-05-11 07:19] paulvarache opened #7015 "[iOS] No Background is rendered on Borders with Shadows"
### Description

No Background is rendered on Borders with Shadows on iOS. Changing the StrokeThickness programmatically makes the background appear.

Rendering works as expected on Android.

Reproduction repo: https://github.com/paulvarache/MauiIssueBorderShadowBackground

iOS.
Left: Initial render.
Right: After StrokeThickness for third border is set in Code-Behind
![bordershadowbackground-ios](

[2022-05-11 07:33] danies8 commented on #6717
1. I used Version 17.2.0 Preview 5.0.
2. I used this document:https://docs.microsoft.com/en-us/dotnet/maui/windows/deployment/overview
3. In last phase I used dotnet build and get this error:
`dotnet build /restore /t:Publish /p:TargetFramework=net6.0-windows10.0.19041.0 /p:configuration=release /p:GenerateAppxPackageOnBuild=true /p:AppxPackageSigningEnabled=true /p:PackageCertificateThumbprint="5

[2022-05-11 07:35] angelru commented on #866
This is still unresolved in RC3?

[2022-05-11 07:45] danies8 commented on #6717
Update when I use 4 -2 separate restore and then publish commands it works-:)
Need to add .csproj
msbuild /t:restore AutomationClient.MAUI.csproj

[2022-05-11 07:45] philipag commented on #4807
For Maui iOS it seems to me that "public MauiWKWebView(CGRect frame, WebViewHandler handler)" needs to support an additional 'options' parameter so that one can create ios websviews with non-default options:

`
		public MauiWKWebView(CGRect frame, WebViewHandler handler, WKWebViewConfiguration options)
			: base(frame, options ?? CreateConfiguration())
		{
                ...
		}
`

Currently I do

[2022-05-11 07:53] v-longmin commented on #7015
Verified repro on iOS 15.4 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[MauiIssueBorderShadowBackground-main.zip](https://github.com/dotnet/maui/files/8667814/MauiIssueBorderShadowBackground-main.zip)

[2022-05-11 07:56] VincentBu commented on #6584
Repro on Android emulator with vs main build[32510.390.main]. However, if we replace `ListView` with `CollectionView`, it works fine.

[2022-05-11 08:00] XamlTest commented on #7013
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on iOS 15.4. Sample Project:
[MauiApp1.zip](https://github.com/dotnet/maui/files/8667864/MauiApp1.zip)

![image](https://user-images.githubusercontent.com/97647558/167798294-e09c4be1-9f12-4e21-a021-902e01f50783.png)

[2022-05-11 08:08] hbraasch opened #7017 "Android app icon not displaying"
### Description

After following the simple procedure to add one's own application icon, it does not appear under Android. It does appear under iOS.

![image](https://user-images.githubusercontent.com/7484186/167800023-64f55818-7a29-4708-bade-45d0fcc6810e.png)

I've provided a link to a simple reproduction project here:

https://github.com/hbraasch/AppIconTester.git

### Steps to Reproduce

1. Run

[2022-05-11 08:15] antborari commented on #6993
window.Destroying(EventHandler) has the same behaviour as the OnDestroying() method, I have extended the issue with the EventHandler.

[2022-05-11 08:33] mattleibow commented on #866
Let me have a look at this... It should be working on android at least because we don't do anything and hand it off to glide.

[2022-05-11 08:37] mattleibow commented on #5034
I believe this is an unrelated issue where resizetizer is grabbing the gifs and doing things to it.

[2022-05-11 08:39] danies8 commented on #6717
Another issue:
On window server 2012 R2 the MSIX is not open ?

[2022-05-11 08:53] nacompllo commented on #7013
This is a restriction by Apple, iOS simulators do not allow access to the Mac camera.

The following hardware is not supported in iOS Simulator:

- Ambient light sensor
- Audio input, except for using Siri by choosing Hardware > Siri.
- Barometer
- Bluetooth
- Camera
- Motion support (accelerometer and gyroscope)
- Proximity sensor

The [Apple documentation](https://help.apple.com/simulator/mac/cu

[2022-05-11 08:55] Ihone8 commented on #7013
ok thanks

[2022-05-11 08:55] #7013 closed

[2022-05-11 08:55] jindal1979 commented on #7017
The Android icon is coming black on Android with RC3. In fact, all svg are converting from any color to black color in RC3. These were working fine in RC2.

[2022-05-11 09:19] mattleibow commented on #5034
It appears to be because resizetizer (image generator) is making copies of the gif and saving as png files.

To work around this for now, you can add this next to the MauiImage items to disable the resizing of gifs:

[code]

[2022-05-11 09:29] XamlTest commented on #7017
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 12, not repro on iOS 15.4 with above project.

[2022-05-11 09:31] arkadym opened #7018 "AbsoluteLayout miss align on MacOS and iOS"
### Description

I tried to use AbsoluteLayout to dynamically change visibility of buttons and it work as expected in Windows and Android, but missbehave on Mac OS and iOS (see attached video)

### Steps to Reproduce

1. Create new .NET MAUI App
2. Create new ContentPage or use existing
3. Use below layout
[code]
5. Use below codes
[code]

### Version with bug

Release Candidate 3 (current)

### L

[2022-05-11 09:33] arkadym commented on #7018
FYI, animations are there but is not affecting the bug, can comment it out, still same behavior

[2022-05-11 09:33] rmarinho commented on #7000
Thanks, you make a good point we need to make sure we expecify that on the Documentation. I m also not sure this worked on Xamarin.Forms.
If your ItemsSource is a Array of simple objects it would work fine.

No problem, thanks.

[2022-05-11 09:42] mattleibow commented on #866
Looking at this now. I got ideas as to where....

The first issue is that we convert gif to png :)

Try adding this:

[code]

or whatever the path to the gif is. Basically set Resize=false to get it to work. I am seeing windows play gif here when I do that.

[2022-05-11 09:42] VincentBu commented on #3901
Here is a sample project: [MauiApp3901.zip](https://github.com/dotnet/maui/files/8668607/MauiApp3901.zip)

feel free to point out if the following repro steps doesn't make sense:
1. run the project
2. press F12 to open DevTools
3. click button "WriteCookie"
4. check cookie in DevTools and there is no cookie we write
![image](https://user-images.githubusercontent.com/44959937/167820140-09de7fd5-2eb

[2022-05-11 09:46] JosHuybrighs commented on #7000
Thanks, it could very well be that it also doesn't work on Xamarin.Forms since I am using the plugin PanCardView.CardsView there instead of Xamarin.Forms CarouselView.

[2022-05-11 09:46] #7000 closed

[2022-05-11 09:55] angelru commented on #866
Now if it works, thanks, is it the correct way to do it or do we have to wait for another RC/GA to solve this problem?

[2022-05-11 09:55] mattleibow opened #7019 "Animated gifs do not start initially"
### Description

Setting `IsAnimationPlaying=True` in the XAML does not start the animation, but hot reloading makes it work.

[code]

### Steps to Reproduce

1. Add an animated gif to a project
2. Add an `<Image>` to the XAML
3. Set the `IsAnimationPlaying=True`
4. Run app
5. Observe the gif is not animating
6. Hot reload the value to false then true
7. Observe the gif animating

### Version with

[2022-05-11 09:57] mattleibow commented on #866
This is the correct way, but I will also make this the default so you don't have to do it. There are a few properties on MauiImage that can control how it is resized and if at all.

[2022-05-11 09:58] mattleibow opened #7020 "Animated gifs never stop"
### Description

Setting `IsAnimationPlaying=False` in the XAML stillstarts the animation.

[code]

### Steps to Reproduce

1. Add an animated gif to a project
2. Add an `<Image>` to the XAML
4. Run app
5. Observe the gif is animating (it should not)
3. Set the `IsAnimationPlaying=False`
4. Run app
5. Observe the gif is still animating

### Version with bug

Release Candidate 3 (current)

### Last

[2022-05-11 09:59] mattleibow opened #7021 "Animated gifs are not working properly"
### Description

**All**
- [x] Resizetizer is resizing animated gifs into png files
      Issue: https://github.com/dotnet/maui/issues/5034
      PR: _pending..._

**Android**
- [x] Android does not start when value is set initially
      Issue: https://github.com/dotnet/maui/issues/7019
      PR: #14295

**iOS**

- [x] iOS has no animated gif support
      Issue: https://github.com/dotnet/maui/is

[2022-05-11 10:06] #6606 closed

[2022-05-11 10:06] #6755 closed

[2022-05-11 10:10] VladislavAntonyuk opened #7024 "MenuBarItems Command is not executed. (Verified on Windows)"
### Description

MenuBarItems Command is not executed. (Verified on Windows)

### Steps to Reproduce

1. Create default .NET MAUI application
2. On MainPage set MenuBarItems:
[code]

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Windows

### Affected platform versions

Windows 19041

### Did you find any workaround?

[2022-05-11 10:13] VladislavAntonyuk commented on #7024
Sample: https://github.com/VladislavAntonyuk/MauiSamples/blob/main/MauiPaint/MainPage.xaml#L12

[2022-05-11 10:15] mattleibow commented on #7024
Duplicate of #5382

[2022-05-11 10:15] #7024 closed

[2022-05-11 10:18] mattleibow commented on #7012
You can for now just implement the method like this on the delegate:

[code]

[2022-05-11 10:26] #6918 closed

[2022-05-11 10:42] mattleibow commented on #6529
Can you attach/send me a binlog? I am seeing a bunch of issues being reported but I can't reproduce it.

[2022-05-11 10:45] jindal1979 commented on #6938
I am also facing the exact same issue, the RadioButton with ControlTemplate doen't recognize touch or click events. I tested it on Android.

[2022-05-11 10:47] mattleibow commented on #6742
Thanks for that issue, I will have a look and see if I can get to this soon.

[2022-05-11 10:50] tess123456 commented on #5401
@SotoiGhost This is not fixed for me when running under Windows (see comment from @christophbrunner ref #6977 ).

I think this issue needs to be reopened and resolved in windows.

[2022-05-11 10:56] christophbrunner commented on #5401
Jep, it is not fixed in RC3.
Please reopen this Bug.

[2022-05-11 11:09] mattleibow commented on #7018
Sadly I see no videos. :( I just cancelled my Netflix and chill in excitement for watching 2 videos of a bug and now I can't! :)

did you forget to attach?

[2022-05-11 11:09] janseris commented on #6742
Thank you, btw for which platform does the Microsoft.Maui.Graphics.Skia.SkiaImageLoadingService and SkiaImage fit? For Android there is PlatformImage and for Windows, there is Win2D. Is it the Mac and iOS implementation and thus I should not care about it when using Windows and Android only? I think this is not mentioned anywhere -> which implementation of IImageLoadingService suits which platform

[2022-05-11 11:09] rajeshsws commented on #6992
Hi
Facing same issue , Also tried command line and pass in .csproject file as well . nothing working out.
![image](https://user-images.githubusercontent.com/48245007/167835914-9779a2e9-9807-444e-b31e-b3409822bb3a.png)

[2022-05-11 11:13] arkadym commented on #7018
Omg! It is little bit problem, video left on my PC on office, can upload tomorrow morning only, sorry man, no movie today(

[2022-05-11 11:25] UweReisewitz commented on #6529
Just a (very) wild guess here:
I have the same problem with compiling a Nuget package but the maintainer is unable to reproduce it (even on Preview 6). Could there be a problem on Non-English Windows?
I'm using VS2022 with the english UI on a German Windows. I haven't updated to 17.3 yet because the update server are not responding.

[2022-05-11 11:25] sailman342 commented on #6529
Hi Paul, why you don't create directly a MAUI Library instead, rather than editing the csproject to set MAUI to true ? It workd for me ....

[2022-05-11 11:42] CodeBoop commented on #6992
@jfversluis  here's the command I've used

`dotnet publish -f:net6.0-ios -c:Release /p:ServerAddress=[address] /p:ServerUser=[user] /p:ServerPassword=[password] /p:TcpPort=58181 /p:ArchiveOnBuild=true /p:_DotNetRootRemoteDirectory=/Users/[user]/Library/Caches/Xamarin/XMA/SDKs/dotnet/`

I was able to successfully publish an app through the archive function using a xamarin forms app.

[2022-05-11 11:47] rajeshsws commented on #6992
Same result not working in .Net MAUI rc 3 .

[2022-05-11 12:07] Redth commented on #5401
The PR fixing this was not merged in time for RC3, the fix will be in GA

[2022-05-11 12:10] #5034 closed

[2022-05-11 12:10] mattleibow commented on #6992
The error is saying you can use ios for maccatalyst... I am wondering if the colon `:` between the `-f` is causing issues.

Try using `-f net6.0-ios -c Release -r ios-arm64`

Also, not sure why you need the RID as it should do them all in one package...

[2022-05-11 12:30] DerPate2010 commented on #6992
I experienced the same issue with a new created project. I was able to get rid of the message using this command line:

`dotnet publish -f net6.0-ios -r ios-arm64 -c Release -p:TargetFramework=net6.0-ios `

It basically overrides the list of target frameworks in the project file to include iOS only. It is the "net6.0-maccatalyst" target that causes the error. I found the hint to this fix in the is

[2022-05-11 12:34] karthikraja-arumugam commented on #5090
Hi Team, Can you please include a fix for this in near releases. Due to this issue, we can't implement a major use case in our project.

[2022-05-11 12:42] karthikraja-arumugam opened #7026 "How to remove bounce effect in ScrollView"
### Description

The scroll view bounces while scrolled to top or end. In our project, we have 2 scroll views and on scrolling any one view we are updating the other scroll view offset. But while view bouncing we can't handle another scroll view. So we don't require a bouncing effect though.

Is there any public API to disable the bouncing effect as like in native iOS?
https://developer.apple.com/

[2022-05-11 12:52] APopatanasov opened #7027 "[Android] NavigationPage throws InvalidProgramException in Release"
### Description

When I try to run my application in Release the following exception is thrown:

05-11 15:49:25.658 24489 24489 E AndroidRuntime:  ---> System.InvalidProgramException: Invalid IL code in Microsoft.Maui.Handlers.NavigationViewHandler:CreatePlatformView (): IL_002a: ldnull
05-11 15:49:25.658 24489 24489 E AndroidRuntime:
05-11 15:49:25.658 24489 24489 E AndroidRuntime:
05-11 15:49:25

[2022-05-11 12:53] miao17game commented on #4989
I try maui-blazor demo with 17.3 preview 1, but hot-reload still not working with razor components :( .

[2022-05-11 13:53] #6508 closed

[2022-05-11 13:53] #7004 closed

[2022-05-11 14:04] Redth commented on #7027
@jonathanpeppers is this a linker issue, could you take a look?

[2022-05-11 14:20] dawidpieper opened #7028 "ListView Context Actions with non-intuitive accessibility on Android"
### Description

The typical behavior on Android is, when opening a context menu, to present a popup window with available actions. In Maui, menu actions are displayed in the navigation bar, though.
This being visible for a sighted user, may confuse when using screenreaders. We get a notification in form of a phone vibration, but many users are not likely to guess where to look for the opened menu

[2022-05-11 14:25] jsuarezruiz commented on #7027
Maybe helps to find what is happening. Setting these properties seems to make the Navigation page work in Release:

[code]

[2022-05-11 14:26] banko12 opened #7041 "I installed the MAUI workload, but I don't see New Maui project option in VS17.3.0"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/maui/first-app-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-05-11 14:29] marcusjm opened #7029 "Failed to launch the iOS remote Simulator"
### Description

Severity	Code	Description	Project	File	Line	Suppression State
Error		Failed to launch the iOS Remote Simulator. See https://go.microsoft.com/fwlink/?linkid=2192424 for more information.		 	0

### Steps to Reproduce

1 Create any type of MAUI project
2. Use Debug on any IOS device

### Version with bug

Release Candidate 2

### Last version that worked well

Unknown/Other

### Affe

[2022-05-11 14:44] pauldendulk commented on #6529
Below is the binlog of this command:
```dotnet build -bl:C:\logs\msbuild.binlog MauiApp3.sln```.
Ran on the project attached in the original post.

[MauiApp3.binlog.zip](https://github.com/dotnet/maui/files/8670827/MauiApp3.binlog.zip)

btw, I could not update Visual Studio Preview to it's new version because 'checking for updates' keeps spinning (but I did update the workloads).

Also it is cruci

[2022-05-11 14:46] pauldendulk commented on #6529
Thanks @sailman342 , that way it does indeed compile. The reason I did not do this before is that I was working with an existing project that did compile correctly before. Even though I think it is good to have a proper understanding of what is going on in the situation reported.

[2022-05-11 14:51] DeanFaizal commented on #6095
It's in rc2

[2022-05-11 15:46] #7029 closed

[2022-05-11 16:03] #6578 closed

[2022-05-11 16:20] holecekp opened #7033 "Shell: Tabs are not displayed correctly in RC 3 (transparent controls, inconsistent behavior)"
### Description

The combination of a flyout menu and tabs has never worked correctly in MAUI. I have reported some problems in RC1 in #6558. They have been fixed, but other bugs have appeared.

In RC3, the same Shell structure behaves differently on Android and on Windows. Moreover, the behavior is also completely different compared to Xamarin.Forms which makes the migration more complicated.

I

[2022-05-11 16:20] davidbuckleyni opened #7034 "[Feature Request] Windows Toolbar items Remove the 3 dots to access the toolbar item"
### Description

In Maui as it stands at present when you declare a toolbar item you have to declare it as such

[code]

Which is fine but the issue is that you must click the 3 dots before the toolbar item is visible

![image](https://user-images.githubusercontent.com/5619229/167898772-8287fda3-08ff-41e5-9a2d-c6e46b5fd442.png)

This is not very user friendly

### Public API Changes

[code]

I am

[2022-05-11 16:44] davefxy opened #7035 "CollectionView on Android, SelectionChangedCommand does not get called"
### Description

CollectionView on Android, SelectionChangedCommand does not get called when  a Frame is used in the ItemTemplate. This works fine on Windows.

### Steps to Reproduce

Run the uploaded app on an Android device. On the initial screen, select the "Get Monkeys" button. This will populate the display. Then select any entry. Nothing happens. the app should route the request to another s

[2022-05-11 16:58] mkArtakMSFT commented on #6640
Closing per @MackinnonBuck 's comment above.

[2022-05-11 16:58] #6640 closed

[2022-05-11 16:58] #6942 closed

[2022-05-11 17:00] pekspro opened #7036 "Background color cannot be changed on page"
### Description

If you set a background color on a page, that setting will be ignored on Windows. Work on find on Android. This issue is maybe related: https://github.com/dotnet/maui/issues/6932

This did work in RC2.

Reproduction: https://github.com/pekspro/MauiIssues/tree/BackgroundColorIssue

### Steps to Reproduce

1. Create a new MAUI app.
2. Update the MainPage.xaml:

[code]
3. Run the app

[2022-05-11 17:00] mattleibow opened #7037 "Using SkiaSharp with Maui crashes the app on Android in Release"
### Description

There was a new feature added (AndroidLinkResources) to the Android SDK that significantly improved performance and file size, however there was an optimization that was made that is currently causing app crashes: #4912

This optimization does not work well with the use of the `ObtainStyledAttributes` method because it requires the `int[]` field:

https://github.com/mono/SkiaSharp

[2022-05-11 17:02] jonathanpeppers commented on #7027
I bet `-p:AndroidLinkResources=false` might solve this actually?

[2022-05-11 17:19] #4849 closed

[2022-05-11 17:19] MarshalOfficial opened #7040 "upgrade from dotnet 6 to 7 errors"
### Description

I have a dotnet maui blazor application that works with dotnet 6.0.300, now I want to upgrade to dotnet 7.0.100-preview.4.22252.9 to have the latest features. I installed dotnet 7 SDK and updated the visual studio 2022 community preview to the latest version, now when I build the project it is ok to have some errors because in the csproj file it is targeted to dotnet 6, now my que

[2022-05-11 17:56] Redth commented on #7036
Working here nicely on main with a file new project:
![image](https://user-images.githubusercontent.com/271950/167915273-8ddafd31-25ac-4032-867d-37124a2549e7.png)

[2022-05-11 17:58] samhouts commented on #5857
I believe this was due to a dependency on Visual C++ Redistributable libraries. This dependency should no longer exist as of GA. Thank you!

[2022-05-11 17:58] #5857 closed

[2022-05-11 18:04] PureWeen commented on #7009
@mauroa

[2022-05-11 18:10] rjygraham commented on #6732
I have encountered same fatal crash but it seems to be more general than what's mentioned above.

Steps to repro:

[Repro Repo](https://github.com/rjygraham/MauiShellNav)
1. Create multi-page Android Shell Application with button to navigate from MainPage to SecondPage
2. Start app and then exit using hardware back button (or gesture)
3. Start app again and then attempt to navigate from MainPage t

[2022-05-11 18:26] rjygraham opened #7045 "[Android] Shell BackButtonBehavior binding Command to valid ICommand causes back button to disappear"
### Description

Binding to a valid `ICommand` on Shell.BackButtonBehavior causes back button to disappear on Android (maybe iOS as well, no idea on Windows since it is not currently supported).

### Steps to Reproduce

1. File -> New .NET MAUI App
2. Create multi-page Shell App
3. On SecondPage create `BackButtonBehavior` and bind `Command` to a valid `ICommand` on the `BindingContext`:
[code]
4.

[2022-05-11 18:30] Eilon commented on #7040
I think that right now .NET MAUI is compatible only with .NET 6. It cannot be used with .NET 7 at all.

[2022-05-11 18:35] pekspro commented on #7036
@Redth, that's super strange :-( I created a new app just to verify and got the same result:

![image](https://user-images.githubusercontent.com/3163293/167921633-d6181346-0a0d-4763-9d26-94b31999f4cc.png)

Running on Windows 10, 19043.1645.

[2022-05-11 18:36] adegeo opened #7046 "Accessing a contact stored on the device always returns null"
### Description

I'm using the following code

[code]

When `PickContactAsync` runs, the contacts window shows up. I select a contact on the emulator but when the code returns, `contact` is always `null`. I added the following permission to the project (if I didn't, I get an exception saying I don't have permission):

[code]

### Steps to Reproduce

Here is the code in a button clicked event

[cod

[2022-05-11 18:47] Redth commented on #7036
@pekspro I was verifying against workloads installed from maui's _main_ branch build, locally the version for me is `6.0.300-rc.4.5760` so if you're not at that version or close to it, it probably won't work for you.

[2022-05-11 18:52] JPfahl opened #7047 "FontImageSource in iOS does not honor padding in buttons"
### Description

Adding a FontImageSource to a button does not display as expected
![Bug](https://user-images.githubusercontent.com/101600436/167924191-306fdaaf-c5d2-4a13-91c7-63c737391ba6.png)
.

### Steps to Reproduce

<Button
                Text="Click me"
                HorizontalOptions="Center"
                Padding="30"

                <Button.ImageSource>
                    <FontImag

[2022-05-11 19:00] JPfahl commented on #7047
Did not accept code:

            <Button
                Text="Click me"
                HorizontalOptions="Center"
                Padding="30"

                <Button.ImageSource>
                    <FontImageSource Glyph="{Static widgets:IconGlyphs.Cloud}"/>
                </Button.ImageSource>
            </Button>

[2022-05-11 19:13] pekspro commented on #7036
@Redth, I see, then I still have some hope :-)

[2022-05-11 19:36] jonathanpeppers commented on #7002
Would the original author (Paul Johnson) be able to share a small sample project that hits this issue?

I suspect there might be something wrong when using .resx files from a class library, but there isn't enough information to know if that is the problem. We have a few tests around .resx in xamarin/xamarin-android, and they seem to be passing.

[2022-05-11 20:06] mattleibow commented on #7036
What happens if you use the `Background` property instead of `BackgroundColor`?

[2022-05-11 20:13] maxkoshevoi opened #7050 "Nullable attributes are missing"
### Description

There are couple of `NotNullIfNotNull` nullable attributes added in https://github.com/dotnet/maui/pull/6013 that are missing in RC3's metadata

![image](https://user-images.githubusercontent.com/6609929/167938678-4530377e-8c0e-4213-9ea6-cc588f5bd568.png)

As a result I see warnings where there shouldn't be any:

![image](https://user-images.githubusercontent.com/6609929/167938968

[2022-05-11 20:18] bakerhillpins commented on #6429
Rather than write up a separate issue and link back to this I though it might be prudent to add to this issue since the end result is variability in Mapper function resolution.  I've been trying to author a control that inherits and overrides the `Microsoft.Maui.Controls.Label` and found that it's not behaving as I'd expect with regard to the mapper and overriding.

For example: If I use the Prope

[2022-05-11 20:51] Hottemax commented on #3552
I just found this issue after much digging. Unfortunately, all the samples that can be found online are either

a) libraries for .NET MAUI (like the CommunityToolkit) which target net6.0 in addition to net6.0-android,net6.0-ios etc.
b) normal MAUI sample apps from Microsoft (Weather TwentyOne, Dotnet Podcasts) which do NOT have net6.0 in their target frameworks, but also do not have a UnitTest pro

[2022-05-11 21:00] mattleibow commented on #6742
The Skia* things is an alternative implementation that works across all platforms. You can either draw using win2d or skia.

[2022-05-11 21:05] brminnick commented on #6940
### AsyncRelayCommand Workaround

In `AsyncRelayCommand`, set `allowConcurrentExecutions: true`.

I also recommend removing `async`/`await` from this example to avoid an additional unnecessary thread context switch.

[code]

[2022-05-11 21:51] Axemasta commented on #3552
@Hottemax I've been able to work around the issue by moving domain logic away from the Maui project and into seperate class libraries. Its definitely better for enterprise applications & having a healthier architecture but really annoying for quick projects / simple projects.

Possibly adding `net6.0` as a target to the maui app might work but then you basically have a dead target thats just for t

[2022-05-11 22:03] IndianaGary commented on #4269
Thanks for following up. With no movement on the issue I choose to abandon Effects and converted the code to a Behavior which uses a different (and simpler) mechanism. As the Behavior performs the requisite services perfectly, I am abandoning Effects for now.

[2022-05-11 22:03] #4081 closed

[2022-05-11 22:08] dimohy commented on #6876
.NET MAUI RC3 seems to have solved the problem.

However, when the theme is specified when the app is started, it is not reflected in Windows.

Reproduction is as follows.

[code]

![image](https://user-images.githubusercontent.com/58620778/167955528-84a45627-11c7-4862-9cf2-fcf3d4a6ed7e.png)

Android works fine.

![image](https://user-images.githubusercontent.com/58620778/167955571-6ff4e87c-42eb-4

[2022-05-11 22:10] samhouts commented on #6361
This is working on 6.0.300-rc.4.5760
![image](https://user-images.githubusercontent.com/7827070/167954844-6b30fbf1-24f6-43ca-9649-9d233d02053c.png)

[2022-05-11 22:10] #6361 closed

[2022-05-11 22:22] samhouts commented on #6448
Still reproduces on 6.0.300-rc.4.5760, too.

[2022-05-11 23:44] brminnick commented on #6940
@PureWeen The Exception is thrown when `AsyncRelayCommand` fires `CanExecuteChanged` in this line of code:
https://github.com/CommunityToolkit/dotnet/blob/73e85b44a7c24027a5309bcc382520eba799503a/CommunityToolkit.Mvvm/Input/AsyncRelayCommand.cs#L309

This event then triggers `Microsoft.Maui.Controls.MenuItem.OnCommandCanExecuteChanged` which propagates down to `Microsoft.Maui.Controls.Toolbar.get_

[2022-05-12 00:01] #6769 closed

[2022-05-12 00:05] samhouts commented on #4269
@IndianaGary Sorry for the delay getting back to you! I'll close this for now, but please let us know if you come across further issues. Thank you!!

[2022-05-12 00:05] #4269 closed

[2022-05-12 00:22] samhouts commented on #6731
Still reproduces on 6.0.300-rc.4.5760

[2022-05-12 00:40] AllenMiaoFil commented on #6095
Thanks for your confirmed, it is there.

[2022-05-12 00:59] samhouts commented on #6932
Yep, I see the same thing as @shimingsg  on 6.0.300-rc.4.5760. BackgroundColor is changing fine, but not all controls are responding. This is not actually the ContentPage BackgroundColor being changed but the UserAppTheme being changed.

[2022-05-12 01:00] #4683 closed

[2022-05-12 01:01] #3831 closed

[2022-05-12 01:01] #6754 closed

[2022-05-12 01:01] #6645 closed

[2022-05-12 01:04] hbraasch opened #7053 "On Android CollectionView selection and scroll not working properly"
### Description

Depending on how one encapsulates the CollectionView, scroll and selection fails.
If layed out with a simple [Content = collectionView;] in a ContentPage, the items scroll, but selection stops or offset once the list is scrolled away from the first page.
If layed out with a [new VerticalStackLayout { Children = { collectionView } };], the list does not scroll anymore.
A video prov

[2022-05-12 01:07] samhouts commented on #6932
Duplicate of #6596

[2022-05-12 01:07] #6932 closed

[2022-05-12 01:08] #6876 closed

[2022-05-12 01:09] drasticactions commented on #7040
Yeah. The workloads themselves are being ported to net7, but MAUI itself can't until those ship. Until then, you need to use net6.0. If you have net7 installed, you need to setup a global json to target 6.0.300.

[2022-05-12 01:12] drasticactions commented on #7041
Did you install the workload from dotnet CLI or from Visual Studio?

[2022-05-12 01:17] drasticactions commented on #7009
I would be surprised if this was specific to MAUI. It really does feel like a Platform bug. We should be able to reproduce this in a new iOS or Android app and just break in there.

[2022-05-12 01:17] v-longmin commented on #7053
Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[CollectionViewScrollTester-master.zip](https://github.com/dotnet/maui/files/8674298/CollectionViewScrollTester-master.zip)

[2022-05-12 01:18] samhouts commented on #6731
possibly related to #6714

[2022-05-12 01:23] samhouts commented on #6584
I'll bet this is related to #4809

[2022-05-12 01:35] XamlTest commented on #7033
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Windows and Android 12 with above project.

[2022-05-12 01:40] v-longmin commented on #7045
Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[MauiShellNav-main.zip](https://github.com/dotnet/maui/files/8674407/MauiShellNav-main.zip)

[2022-05-12 01:44] david-maw opened #7054 "Page BackgroundColor Wrong on Windows"
### Description

I have a startup page with a BackgroundColor specified - it works fine in RC2 but in RC3 Windows it shows up white (it's ok in Android)

### Steps to Reproduce

1. Unzip the project from
[MAUIToolBar-Shell-background.zip](https://github.com/dotnet/maui/files/8674402/MAUIToolBar-Shell-background.zip)

2. Compile and run it on Android, you should see this
![MAUIToolBar-Shell-backgro

[2022-05-12 01:56] v-longmin commented on #7054
![image](https://user-images.githubusercontent.com/40230425/167976442-60f9f0c9-3918-4648-8058-13f852602cc1.png)
Verified not repro on Windows 10 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[MAUIToolBar-Shell-background.zip](https://github.com/dotnet/maui/files/8674456/MAUIToolBar-Shell-background.zip)

[2022-05-12 02:18] claybrooks opened #7055 "Automatic iOS Provisioning"
### Description

When trying to automatically provision, an error is displayed and the process fails.  The logs indicate that the API for automatically creating a cert is no longer accessible.

### Steps to Reproduce

1. Create a new MAUI project
2. Run through the setup to automatically provision
3. After the step of selecting your team, an error displays saying "There was an error while trying t

[2022-05-12 02:18] samhouts commented on #6943
Could be related to #6584

[2022-05-12 02:26] beeradmoore commented on #7009
I tried to repro it with new Xamarin.iOS and Xamarin.Mac projects and it works fine. However these projects are not running net6.0-ios and net6.0-maccatalyst. I don't know if we can make dedicated iOS and macOS projects that target these to try repro it that way.

[WillItDebugiOS.zip](https://github.com/dotnet/maui/files/8674541/WillItDebugiOS.zip)

[WillItDebugMacOS.zip](https://github.com/dotnet

[2022-05-12 02:36] claybrooks opened #7056 "Manual iOS Provisioning"
### Description

When trying to manually provision, the IDE is unable to retrieve the provisioning profiles I have setup through my apple developer portal.  I downloaded the profile and placed in %APPDATA%\..\Local\Xamarin\iOS\Provisioning\Profiles.  The profile is now displayed int the "Provisioning Profile" dropdown in the Bundle Signing project settings.

When attempting to deploy to my iOS dev

[2022-05-12 02:36] paratype-fonts commented on #3280
@davidortinau Please clarify is the fix has been merged into the latest available version. I have:
% dotnet workload list
Installed Workload Ids      Installation Source
-----------------------------------------------
maui                        SDK 6.0.400

The issue with the empty CollectionView is still there.

[2022-05-12 02:40] samhouts commented on #6400
No longer repros on 6.0.300-rc.4.5772

[2022-05-12 02:40] #6400 closed

[2022-05-12 02:43] samhouts commented on #5287
Still an issue on 6.0.300-rc.4.5772

[2022-05-12 02:48] samhouts commented on #5752
Still an issue on 6.0.300-rc.4.5772

[2022-05-12 02:58] aliessmael opened #7058 "Web support"
### Description
I would like my maui app run on web platform.
I dot want to work with blazor, making nice looking UI in blazor require working on js .

### Public API Changes

var myLovelyUI = new CustomNiceDraggableCarousel()

### Intended Use-Case

In blazor for example I struggled  at making draggable carousel (drag content to scroll)

maui is simple and clear, it would be nice to have maui app

[2022-05-12 03:29] david-maw commented on #7054
Interesting, I'm also running Version 17.3.0 Preview 1.0 on Windows Version 10.0.19043 and obviously I do see the problem. What version of Windows 10 were you running on?

[2022-05-12 03:37] xtuzy opened #7060 "Custom layout base on AbsoluteLayout will repeated measure many times"
### Description

I try to custom layout, it name ConstraintLayout.
First, i let it derive from Layout like AbsoluteLayout, but nothing show, i don't why.
Then, i ask help form Stackoverflow,see [problem](https://stackoverflow.com/questions/72204307/custom-maui-layout-dont-show-any-control-but-control-have-correct-position-and?noredirect=1#comment127573875_72204307), someone say it need derive from

[2022-05-12 03:40] arkadym commented on #7018
Done, uploaded video.

[2022-05-12 04:08] codemonkey85 commented on #7041
I've installed from both and I too am not seeing the templates. I tried to "repair installation" for 17.3 Preview 1 through Visual Studio Installer, and that didn't fix it either.

[2022-05-12 04:15] codemonkey85 commented on #7041
Ah, good news, I found a fix: run this in your command line.
[code]
![image](https://user-images.githubusercontent.com/1414036/167990919-0da231c1-7b1f-49a7-b1eb-b79819befff1.png)

[2022-05-12 04:22] philipag opened #7061 "VS does not always show compile time errors of MAUI app"
### Description

In another WPF app I don't have this problem even on the latest VS preview, so this appears to be related to MAUI builds which is why I am filing this bug here.

Basically, with "Build Only" Error List in VS, the errors often don't seem to show up even though the build output tab shows errors.  I can show these errors by also showing intellisense errors but that causes too much in

[2022-05-12 04:55] mattleibow commented on #7050
Bummer. I think I see what happened. The `NETSTANDARD` define is also defined in our targets for net6.0... I think this was for compatibility reasons when we actually needed net6.0/netstandard to be the same.

So, the attribute is there - just not for net6.0 and only in net6.0-windows/android/ios.

Let me fix that, but unfortunately you may just need to use a `!` after the method call for now. Hop

[2022-05-12 05:27] Csaba8472 commented on #6854
I have the same issue when I bind ItemsSource value.

[2022-05-12 05:32] mattleibow commented on #7050
I got a PR to fix our build so that these attributes will now appear.

[2022-05-12 05:44] angelru opened #7063 "CollectionView EmptyView not working"
### Description

It doesn't show the layout in EmptyView, I haven't been able to test it on iOS, on Windows it works fine

### Steps to Reproduce

[code]

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Android

### Affected platform versions

Android 11

### Did you find any workaround?

_No response_

### Relevant log

[2022-05-12 05:49] mattleibow commented on #6976
This is an issue as we use the window to get display information... Not something that should be done to be honest, but one workaround for now would be to not use `MainPage` and rather return the window in the `Application.CreateWindow()`. THis happens after the native window has been set up and all the things are ready.

However, this is a workaround and display information should NOT be coming f

[2022-05-12 05:50] #6977 closed

[2022-05-12 05:51] #6954 closed

[2022-05-12 05:52] mattleibow commented on #6941
Didn't we have a fallback logger for this? So if no logger was provided we should attach that - and it only needs to work in DEBUG mode as well.

[2022-05-12 05:53] v-longmin commented on #7063
Verified repro on Android 12.0, not repro on windows with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro with above code.

[2022-05-12 05:57] mattleibow commented on #6868
@PureWeen I am wondering if we need this converter anymore. I believe it existed for the maui implementation, but I see it getting registered in the resources, but never actually accessed.

In fact, there are a few other ones in there that can probably go away now.

[2022-05-12 05:59] mattleibow commented on #6845
I see this point of the inconsistency and we probably should add a platform-specific for this? @PureWeen

[2022-05-12 06:05] mattleibow commented on #6801
I fixed a bug like this a while back, could we check again with RC 3?

[2022-05-12 06:09] AllenMiaoFil opened #7064 "'Tab' button does not work when shift button from last button"
### Description

The 'Tab' functionality does not work any more when you shift button with 'Tab' from the last button to first button.

And There is no focus functionality in MacOS, has created bug [here](https://github.com/dotnet/maui/issues/6482)

### Steps to Reproduce

1. Create two MAUI buttons on main page.
2. Run application.
3. Use 'Tab' to shift button.
4. When he last button get focus, c

[2022-05-12 06:17] rajeshsws commented on #6992
@DerPate2010 still not working , you might have tried in xamarin, please try in .net maui blazor rc 3 .Problem is IOS target framework is missing from target framework list when u check in publish app list.
Thank you

[2022-05-12 06:18] AllenMiaoFil opened #7066 "SVG extension Image does not work on ImageButton/Button"
### Description

When I created a ImageButton or Button, set Source/ImageSource property with a svg extension like below:

`<Button ImageSource="button.svg"/>`

The button would show nothing.  But it works on MacOS

### Steps to Reproduce

1. Create a maui project
2. Add ImageButton or Button
3. Set Source or ImageSource with a svg extension image

### Version with bug

Release Candidate 2

### La

[2022-05-12 06:29] MagicAndre1981 opened #7069 "How does updating of MAUI framework libs to a newer version works? In [XF I can update the nuget package](https://www.nuget.org/packages/Xamarin.Forms/), compile and test if my apps still work. If I get issues I can undo the change without committing the changed csprojs. How does MAUI framework get updated? Only via new VS2022 update? What if I get a MAUI bug that blocks me? Restore my Windows to older restore point with older VS2022 and older MAUI version? And how do I know which MAUI version I compile my app against?"
How does updating of MAUI framework libs to a newer version works? In [XF I can update the nuget package](https://www.nuget.org/packages/Xamarin.Forms/), compile and test if my apps still work. If I get issues I can undo the change without committing the changed csprojs.  How does MAUI framework get updated? Only via new VS2022 update? What if I get a MAUI bug that blocks me? Restore my Windows to

[2022-05-12 06:31] MagicAndre1981 commented on #7069
I migrated it to an issue as I never got a helpful reply in the discussions.

If MAUI Update are related to specific VS2022 updates, MAUI is dead on arrival.

[2022-05-12 07:50] VincentBu commented on #6718
repro on Android with vs main build.
On Android:
![image](https://user-images.githubusercontent.com/44959937/168019603-56ec1879-eb0d-415b-a125-7199490a17f7.png)

but it works fine on Windows and IOS
![image](https://user-images.githubusercontent.com/44959937/168019288-b29c247a-8dc3-4501-adaa-de04bc27f273.png)

![image](https://user-images.githubusercontent.com/44959937/168018820-cc3a91d6-6f49-420c

[2022-05-12 08:03] Symbai opened #7073 "ImageButton visual state does not reset"
### Description

The original issue is #6676 but it got closed telling me that I should use  `<VisualState x:Name="Focused">` instead. However this does NOT work and I cannot reopen the issue, so please go there for more details including a demo video.

### Steps to Reproduce

[code]

As demonstrated in #6676 the image scales down on click/press but never scales up.

### Version with bug

Release

[2022-05-12 08:17] #7040 closed

[2022-05-12 08:19] Symbai opened #7074 "Setting images in code (still) doesn't work on Android"
### Description

It has been said this would have been fixed but its not. Its broken in RC2 and still broken in RC3. Setting an image from an URL (or from a stream doesn't matter) in code does not show up in Android. Could test it on iOS and its broken there too.

### Steps to Reproduce

[code]

[code]

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown

[2022-05-12 08:26] UweReisewitz commented on #6529
@mattleibow I can confirm that the problem is still present for a Windows Build on my machine.

VS 2022 17.3 Preview 1.0 (english UI)
Windows 11 Enterprise 21H2 (22000.675) (german UI)

[2022-05-12 08:26] XamlTest commented on #7073
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android. Sample Project: [MauiApp3.zip](https://github.com/dotnet/maui/files/8676316/MauiApp3.zip)

[2022-05-12 08:41] v-longmin commented on #7074
Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro with above code.

[2022-05-12 08:43] jfversluis commented on #6801
@kristinx0211 could you check again please?

[2022-05-12 08:45] jfversluis commented on #7008
@mattleibow you're usually good with this stuff...

I would think you have done a lot already, you might additionally try to run the [clean script](https://github.com/Redth/dotnet-maui-check/blob/main/Clean-Old-DotNet6-Previews.ps1) on the maui-check repo and/or check if there is something in there you missed.

[2022-05-12 08:49] jfversluis commented on #7028
Hey @dawidpieper this definitely sounds to me like something we would like to look into, especially if it's not great in terms of accessibility. If you could offer help implementing it that would be amazing!

cc: @rachelkang any thoughts?

[2022-05-12 08:53] jfversluis commented on #7035
Duplicate of #6075

[2022-05-12 08:53] #7035 closed

[2022-05-12 08:53] jfversluis commented on #7035
This seems fixed for GA, please let us know if that's not the case when that is released :)

[2022-05-12 08:54] kristinx0211 commented on #6801
@jfversluis sure, I can repro it on android 11 and 12 with vs 17.3.0 Preview 2.0 [32511.531.main].

[2022-05-12 08:56] jfversluis commented on #7055
There are known issues right now with the Apple certificates because of breaking changes on the Apple side. See: https://developercommunity.visualstudio.com/t/Cannot-load-Apple-certificates/1692185

Closing this for now, please track the linked ticket for updates. Sorry for the inconvenience

[2022-05-12 08:56] #7055 closed

[2022-05-12 08:57] jfversluis commented on #7056
@maddymontaquila does this mean anything to you?

[2022-05-12 09:00] jfversluis commented on #7066
As pointed out, did you try the png extension? Does that resolve the issue (for now)?

[2022-05-12 09:03] janseris commented on #7061
Happens to me as well

[2022-05-12 09:05] VincentBu commented on #6908
repro on Windows with vs main build(32511.427.main)
I set dotnet bot as the app icon. No icon shows in the title bar. Additionally, it also occurs on Android

[2022-05-12 09:13] APopatanasov commented on #7027
I can confirm setting AndroidLinkResources to False resolves the issue.

[2022-05-12 09:19] xxjnaxx opened #7076 "<CollectionView.EmptyView> is only shown once"
### Description

<CollectionView.EmptyView> is only shown once
![q](https://user-images.githubusercontent.com/104063296/168053535-a9ba3533-96c1-448a-a68b-fed980ec9ee6.PNG)
![qq](https://user-images.githubusercontent.com/104063296/168053543-33ddace4-0c11-4791-acfa-11541850b69e.PNG)

### Steps to Reproduce

1. https://github.com/xxjnaxx/Test2
2. Open Project
3. Open MainPage.xaml
4. remove the comme

[2022-05-12 09:25] AllenMiaoFil commented on #7066
@jfversluis Yes, I've tested with png, it works, only SVG on windows does not work. Actually we want to use svg opacity.  PNG is converted. it can't resolve issue

[2022-05-12 09:26] jfversluis commented on #4585
I think this one is resolved.

[2022-05-12 09:26] #4585 closed

[2022-05-12 09:29] jsuarezruiz commented on #1514
Testing with RC3 and main branch, this is now working:
![image](https://user-images.githubusercontent.com/6755973/168038957-fe1c15d7-98a8-43fd-a1e7-942f60cb6c42.png)

Reviewing the history have been fixed by the commit fffaae1eaa33db6eeced93f0a85fc00cd155be19.

[2022-05-12 09:29] #1514 closed

[2022-05-12 09:47] jsuarezruiz commented on #5661
Tested and works with RC3.

[2022-05-12 09:47] #5661 closed

[2022-05-12 09:49] paulvarache opened #7078 "[Android] ArcSegment in a Clip renderders incorrectly on Android"
### Description

Using a ArcSegment in a PathGeometry for a Clip renders correctly on iOS but not on Android

This might affect any ArcSegment, but I only have tested it in a Clip Geometry

iOS:
![UIID5434](https://user-images.githubusercontent.com/5550089/168043044-60dba972-435d-4276-a2db-32dd6474737c.PNG)

Android:
![Screenshot_1652348304](https://user-images.githubusercontent.com/5550089/168042

[2022-05-12 09:49] nicolgit opened #7079 "Not found Microsoft.Maui.Essentials"
### Description

Microsoft.Maui.Essentials not found

### Steps to Reproduce

here a solution to replicate then issue: https://github.com/nicolgit/Open.Padlock/tree/gen-maui/code/Blast

just type "using Microsoft.Maui.Essentials" in any c# file and you will see the CS0234 error on the tooltip.

Version 17.2.0 Preview 5.0

### Version with bug

Unknown/Other (please specify)

### Last version that

[2022-05-12 10:17] XamlTest commented on #7076
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main] on Android 11 with above project.

Can search multi times and show string, but after 2 or 3 times, **pop up an Exception: Java.Lang.IllegalStateException**
![ShowString](https://user-images.githubusercontent.com/97647558/168048396-682d4e2c-4e38-42b7-acf2-f3b9bd3ea0ca.gif)
![image](https://user-images.githubuserco

[2022-05-12 10:21] Hottemax commented on #3552
@Axemasta, I appreciate your response and the link you provided, thank you very much! Yet, for me that is not a totally viable solution:

1) I really want to test my ViewModel functionality as well.
2) I feel that splitting out domain logic again defeats the purpose of the MAUI single-project approach.

[2022-05-12 10:34] maxkoshevoi commented on #7050
@mattleibow Thanks for the quick fix!
What is that `PLATFORM` symbol you are using? Is it something custom or defined out-of-the-box?
It seems like it's a solution for https://github.com/dotnet/sdk/issues/22788

[2022-05-12 10:34] XamlTest commented on #7079
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main] on Android.

type "using Microsoft.Maui.Essentials" in AboutPage.xaml.cs, App.xaml.cs, BaseViewModel.cs files, there are no CS0234 error.
type "using Microsoft.Maui.Essentials" in Main.cs, there is CS0234 error.
![image](https://user-images.githubusercontent.com/97647558/168051862-7e3e19f4-ea5d-43dd-af8f-0a2f76a3

[2022-05-12 10:36] angelru commented on #866
on macOS desktop it doesn't work either

[2022-05-12 10:41] JohnHDev commented on #3552
@all I have actually had some success with this. I am able to unit test Maui **library** projects. So all of my views and models are now contained in Maui library projects, and the startup app project is almost entirely empty.

Can someone try that and update this thread with your findings. I don't know why Maui library projects work, but Maui app projects do not, but I'd like to find out.

[2022-05-12 10:42] xxjnaxx commented on #7063
For me EmptyView is working, but only once. See #7076.

[2022-05-12 11:01] jsuarezruiz commented on #7078
This issue should have been fixed by https://github.com/dotnet/maui/pull/6264

Testing in current main branch:
![image](https://user-images.githubusercontent.com/6755973/168056116-a9bde799-2c66-40fe-a68e-cc3fdc1f266b.png)

Weird, in theory the fix should be in RC3. Let me review this.

[2022-05-12 11:04] DENLN opened #7081 "forceDarkAllowed in styles.xml"
`<item name="android:forceDarkAllowed">false</item>`

Hello
This option not work on Android

[2022-05-12 11:07] Sergio0694 commented on #6940
Hey there! So it seems there's multiple things going on here:

[code]

Like @brminnick suggested already, I'd recommend removing the `async`/`await` there, as it's indeed just extra overhead and not really needed. The method you're invoking is already asynchronous anyway, so it already returns a `Task` on its own. The only visible difference this could have is if the method you're invoked was `Tas

[2022-05-12 11:18] xxjnaxx opened #7082 "Shell on Windows: No Text"
### Description

![qqq](https://user-images.githubusercontent.com/104063296/168062753-89cdb0ab-83ed-42fb-9607-b8b20f1bd63a.PNG)

For more information see #6361.

### Steps to Reproduce

See #6361

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Windows

### Affected platform versions

Windows 10

### Did you find any wo

[2022-05-12 11:19] jsuarezruiz commented on #7073
I can't reproduce the issue on the current main branch:
![fix-7073](https://user-images.githubusercontent.com/6755973/168062799-7dfb2992-cc8f-4bc7-bfca-2333f14d99fe.gif)

I need to search in history to find in which commit it has been fixed.

[2022-05-12 11:37] yyliveyy opened #7083 "Tab appearance properties no effect on MenuBarItems."
### Description

Tab appearance properties no effect on MenuBarItems.
![20220512190707](https://user-images.githubusercontent.com/74029002/168063479-1d79db1b-67c6-45de-8a2f-3dd90dbf0b8d.png)
I'm not sure if this is a bug.
But I need this properties.

### Steps to Reproduce

1. Create a new Maui app.
2. Add "MenuBarItems" to "MainPage.xaml".
[code]
3. Update the appshell.xaml:
[code]
Or use this sa

[2022-05-12 11:48] paulvarache commented on #7078
Great to know. Thanks for checking this

[2022-05-12 11:56] yyliveyy opened #7085 "Provide "Shell.TitleBarIsVisible""
### Description

When using the "ContentPage.MenuBarItems",don't need to show the title.
![20220512190707](https://user-images.githubusercontent.com/74029002/168068430-2b4589a1-7850-4bb2-b1f4-c21990f65d09.png)

### Steps to Reproduce

1. Create a new Maui app.

2. Add "MenuBarItems" to "MainPage.xaml".
[code]

3. Update the appshell.xaml:
[code]
Or use this sample:
[https://github.com/yyliveyy/Mau

[2022-05-12 12:19] Symbai commented on #7073
I cannot speak about main branch, but in RC2 and RC3 this doesn't work (at least for me). Is the testing environment the same than mine? Here is a video I just made:

https://user-images.githubusercontent.com/14368203/168072875-44e8d5f8-837e-465d-85e9-0bd2561fae3f.mp4

[2022-05-12 12:35] Axemasta commented on #3552
That is the approach I've taken in my playground apps and will continue to take going forwards.

For smaller projects its a bit of a bug bear since theres a big more to maintain but for bigger projects its basically mirroring best practises in terms of separating concerns (views, domain logic, dal, api logic etc). The reason the class libraries work I suspect is because theyre targetting `net6.0`

[2022-05-12 12:59] JohnHDev commented on #3552
@Axemasta to clarify, I am referring to Maui library projects which do target the platforms, but also support net6.0 which is why I can unit test the VMs.

[2022-05-12 13:07] #4397 closed

[2022-05-12 13:08] #7036 closed

[2022-05-12 13:09] jfversluis commented on #7079
The `Microsoft.Maui.Essentials` namespace does not exist anymore. App APIs have been put into more appropriate namespaces. Please refer to out migration doc to find the right ones for your project: https://github.com/dotnet/maui/wiki/Migrating-to-RC1

[2022-05-12 13:10] jfversluis commented on #7081
Please use the bug report template to provide us with the appropriate details to be able to effectively diagnose potential issues. Thanks.

[2022-05-12 13:10] #7081 closed

[2022-05-12 13:11] nicolgit commented on #7079
Thank you @jfversluis!

[2022-05-12 13:33] MarshalOfficial opened #7096 "missing OnBackButtonPressed function in maui blazor hybrid app"
### Description

I want to handle the back button pressed in the dotnet Maui blazor hybrid app, in the community I found this thread in StackOverflow:
https://stackoverflow.com/questions/71148792/maui-blazor-hybrid-handle-back-button-pressed-on-android

Now when I attempt to use OnBackButtonPressed, it is missing and I can not find it in ComponentBase.cs class to override it in my components. how

[2022-05-12 13:34] singhwong commented on #7054
I had the same problem in rc3, "AppThemeBinding" didn't work correctly. If I change the pc system theme, the correct background color is displayed, but after navigating to other pages, the problem still occurs.
windows version: windows11 22000.675
vs version:  17.3.0 Preview 1.0

[2022-05-12 13:39] drasticactions commented on #7061
If you create a class library project with multiple target frameworks, can you cause the same behavior to occur? Also, are those errors only occurring for a specific target framework?

My guess is that the CLI build is building globally, and the error is on a specific TFM. VS is building a specific target platform, and so it's not showing the error, since it's not there for that TFM.

[2022-05-12 13:42] drasticactions commented on #7056
This is not an MAUI bug, it's a Hot Restart bug with provisioning iOS certificates.

There are a few issues with provisioning (both automatic and manual) for Hot Restart, but these are not things that can be fixed within this repo, it needs to go to Visual Studio. This should probably be filed as VS Feedback.

[2022-05-12 13:46] drasticactions commented on #7009
@beeradmoore You can create net6.0-ios and net6.0-maccatalyst apps separately of MAUI. They should appear in the Visual Studio template list, or you can make them in CLI with

`dotnet new ios` or `dotnet new maccatalyst`

You may need to install the workloads for them with `dotnet workload install ios maccatalyst`

[2022-05-12 13:50] davefxy opened #7097 "CollectionView ItemSizingStrategy on Android, causes app to exit on startup"
### Description

When the ItemSizingStrategy is used in a CollectionView on the home page of an Android app, the app exits on startup. The same app works on Windows. I dont have a Mac, so I dont know about IOS or Mac Catalyst. I tested it on a Galxay Tab S7.
There is another bug listed as an Empty CollectionView issue, but it may actually be similar to this one if it is an Android app because it l

[2022-05-12 14:50] MichaelRumpler commented on #6674
I updated to VS 17.3.0 Preview 1.0 and it does behave different now.

The file in the Platforms/iOS folder now only shows the TargetPlatform net6.0-ios in the dropdown list.
<img width="406" alt="image" src="https://user-images.githubusercontent.com/8309363/168101328-746b6a63-9f9f-4fa1-9874-f8d3b684cf7c.png">

The file outside of Platforms, but with an .iOS.cs extension still shows both TargetFram

[2022-05-12 14:54] PureWeen commented on #6845
@mattleibow yea, I'm not sure why it'd be useful for us to put that their ourselves. If users want the title their they should just add it themselves :-/  Ideally we could make this default and then the platform specific would be used to restore old behavior, or we possibly switch to a new handler and then users can restore the old handler if they want to.

[2022-05-12 15:00] PureWeen commented on #6940
Aw! That makes sense

Let me look into this. Thank you @brminnick

[2022-05-12 15:00] #6842 closed

[2022-05-12 15:20] egvijayanand opened #7099 "Flyout menu icon and Back button are not visible on the App targeting the Windows platform"
### Description

The Flyout menu icon and Back button are not visible on the App targeting the Windows platform.

Refer to the attached screenshot for more details.

![image](https://user-images.githubusercontent.com/81947404/168108869-2c25686c-5782-45e2-8f03-26591d5c5138.png)

### Steps to Reproduce

1. Create a new .NET MAUI Application (RC3)
2. Define a Flyout based Shell visual hierarchy
3. Se

[2022-05-12 15:33] mkdave opened #7100 "WebView Navigation Bar disappears and flickers in landscape mode"
### Description

When I try to use the WebView in landscape the title/navigation bar disappears and sometimes flickers.  I have only tested on Android.

### Steps to Reproduce

1. Create a File > .Net MAUI App
2. replace the xaml content in MainPage with  the following

        <WebView x:Name="webView" Source=https://xamarin.com></WebView>

3. Try Portrait and Lanscape

### Version with bug

Rele

[2022-05-12 15:41] jonathanpeppers commented on #7027
Thanks, I believe that https://github.com/dotnet/maui/pull/7038 fixes this.

This will be shipping in the next release, but anyone should be able to workaround by using this in their `.csproj` for now:
[code]

[2022-05-12 15:41] #7027 closed

[2022-05-12 15:42] bryancass commented on #6954
I went through it, but it's basically showing how to download VS 2022, how to install .NET MAUI, and then just creating the Hello, World app.  How about we tackle porting over this one next?

https://docs.microsoft.com/en-us/learn/modules/create-a-mobile-app-with-xamarin-forms/1-introduction

[2022-05-12 15:44] davidbritch commented on #6954
Hi @bryancass

Again, thanks for your offer - much appreciated! The Xamarin MSLearn modules have been ported to .NET MAUI. They just haven't launched yet, but will hopefully be launching later this month.

[2022-05-12 15:58] PureWeen commented on #7099
Thank you for reporting this!

We should have this fixed in GA
https://github.com/dotnet/maui/pull/7031

If you'd like to try the updated styles you can grab them from here
https://github.com/dotnet/maui/tree/main/src/Templates/src/templates/maui-mobile/Resources/Styles

[2022-05-12 15:58] #7099 closed

[2022-05-12 16:04] jsuarezruiz opened #7101 "Resizetizer doesn't keep color from SVG"
### Description

Resizetizer doesn't keep color from SVG. The  difference is how the SVG set the fill color:
- Working - `<path fill="#71559b"`
- Not working - `<defs><style>.cls-1{fill:#71559b;}`

### Steps to Reproduce

1. Download [svg_color_issue.zip](https://github.com/dotnet/maui/files/8680811/svg_color_issue.zip)
2. Is a .NET MAUI App using two SVGs. Notice how is not respecting the fill co

[2022-05-12 16:10] hartez commented on #5752
The Border is a red herring - the problem is with Grid (and happens if you remove the Border entirely).

Grid is still treating a `*` column (the default single column if you don't specify one) as taking up all available space, even when the Grid's alignment isn't set to `Fill`. It should be treating those columns as `Auto` in that situation.

If you need a temporary workaround, add `ColumnDefinit

[2022-05-12 16:23] Eilon commented on #7058
Dup of https://github.com/dotnet/maui/issues/4528

[2022-05-12 16:23] #7058 closed

[2022-05-12 16:40] mattleibow commented on #7050
Exactly. Thanks for the link to that one. I'll be following.

[2022-05-12 16:43] Eilon commented on #7096
Hi, the `OnBackButtonPressed` method is a MAUI method that you can override in a type that derives from MAUI's `Page` class, such as in a code-behind file for a XAML page. It is not a Blazor method.

You can see the virtual method defined here: https://github.com/dotnet/maui/blob/13df56c765a595300d149d8a97011ef800cef73f/src/Controls/src/Core/Page.cs#L318

[2022-05-12 16:43] #7096 closed

[2022-05-12 16:45] samhouts commented on #4672
On 6.0.400-preview.1.5782, the Flyout is sized properly, but I still see cropping on the Border (see https://github.com/dotnet/maui/issues/4672#issuecomment-1043782945).

[2022-05-12 16:47] mattleibow commented on #6529
Hmmm

Is there a difference in the csproj between the one that works and the one that does not?

Did you define the `<SingleProject>true` as well?

[2022-05-12 17:02] danielftz opened #7103 "[Android] MAUI Border class will clip StrokeShape"
### Description

![image](https://user-images.githubusercontent.com/43251077/168125613-3e04a6e3-bb5d-4e03-8ffc-b255c4e081e4.png)
The `StrokeShape` of this `Border` object is a `RoundRectangle` object, with a transluscent stroke color, and `StrokeThickness`of 5. As you can see from the image, the `Border` object clips the boundary to the edge of its Content, instead of the edge of its `StrokeShape`

[2022-05-12 17:38] PureWeen commented on #7085
@yyliveyy What happens when you set the Page.Title to an empty string?

[2022-05-12 17:53] samhouts commented on #5895
No longer reproduces on MAUI main (6.0.400-preview.1.5782)

[2022-05-12 17:53] #5895 closed

[2022-05-12 18:12] davefxy opened #7105 "Android : No text labels appear in Shell Flyout. (Using Xaminals app)"
### Description

When you run the Xaminals app on an Android, none of the text/labels or icons appear on the Flyout. This works fine on Windows.

### Steps to Reproduce

When you run the Xaminals app on an Android, none of the text/labels or icons appear on the Flyout. This works fine on Windows.
Path to Xaminals App : https://github.com/davidbritch/dotnet-maui-samples/tree/main/Fundamentals/Shell

[2022-05-12 18:41] samhouts commented on #6062
No longer an issue on 6.0.400-preview.1.5782

[2022-05-12 18:45] samhouts commented on #6467
@nk54 Can you please attach a small project to help us reproduce the issue? Thanks!

[2022-05-12 18:54] samhouts commented on #6580
Still an issue on 6.0.400-preview.1.5782.

[2022-05-12 18:58] samhouts commented on #5572
The CornerRadius now applies properly, but now BackGroundColor does not. See #6592 for that issue. Closing this one, since the original issue is resolved.

[2022-05-12 18:58] #5572 closed

[2022-05-12 20:09] bryancass commented on #6954
David, can you please direct me to the right place to ask questions on new .NET MAUI development?  For example, I am wondering since I have already developed a complete MVC web app in ASP.NET Core using SQL Server for data, and this new mobile app is kind of an extension of that web app, whether I should use .NET MAUI with Blazor?  I want to get started with the right tools so I don't end up 6 mon

[2022-05-12 20:22] gbarkerz opened #7111 "Image with Aspect of AspectFill in CollectionView item is not clipped to the item bounds"
### Description

I created a new MAUI app in Visual Studio Community 2022 V 17.2.0 Preview 6.0, and Microsoft.Maui.Dependencies/Extensions 6.0.300-rc.2.5513. I then added a CollectionView based on demo code at https://docs.microsoft.com/en-us/dotnet/maui/user-interface/controls/collectionview/layout. The app code is public at https://github.com/gbarkerz/MyMauiAppAccessibility. The image contained

[2022-05-12 20:28] brminnick commented on #5987
Confirmed that this is specific bug has been fixed in .NET MAUI RC 3.

However, it now throws a different error:

This newer bug has been reported in #6940.

Closing this Issue since it has been resolved, but morphed into another Issue documented in #6940.

[2022-05-12 20:28] #5987 closed

[2022-05-12 20:29] Joren-Thijs opened #7112 "Add implicit Parsing for System.Guid query parameters in shell navigation"
### Description

It is common in applications to use Guids for Identifiers. It is also common to pass a guid as query parameter when navigating between pages. Therefore it would be nice to have implicit parsing for System.Guid query parameters in Shell just like we have for strings and integers.

Second it would also be better to throw an exception when navigation fails because a query parameter c

[2022-05-12 20:38] JohnHDev opened #7113 "Can no longer build for iOS, getting error: clang++ exited with code 1"
### Description

Building an existing Maui solution for iOS fails with clang++ exited with code 1.
Building for Windows is fine.
Can still build Xamarin iOS apps on the Mac directly.

### Steps to Reproduce

Create a new Maui solution
Pair to Mac
Build for iOS simulator

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Release Candidate 2

### Affected platfo

[2022-05-12 20:39] gbarkerz opened #7114 "VoiceOver doesn't navigate to items contained in a CollectionView which has a SemanticProperties.Description set"
### Description

I created a new MAUI app in Visual Studio Community 2022 V 17.2.0 Preview 6.0, and Microsoft.Maui.Dependencies/Extensions 6.0.300-rc.2.5513. I then added a CollectionView based on demo code at https://docs.microsoft.com/en-us/dotnet/maui/user-interface/controls/collectionview/layout. The app code is public at https://github.com/gbarkerz/MyMauiAppAccessibility.

Both the Collection

[2022-05-12 20:48] JohnHDev commented on #7054
Im seeing the same issue in RC3, at first I thought it was a new bug on Grid (which is my page content), but taking everything out so that its an empty page with a background color replicates this issue. Worked fine in RC2.

[2022-05-12 20:49] JeffIPV opened #7115 "RC3 MauiIcon MauiSplashScreen svg are black when using <style type="text/css">"
### Description

svgs for MauiIcon and MauiSplashScreen are black in RC3 release.
It's not getting the colors  in the <style type="text/css">

### Steps to Reproduce

1. See https://github.com/dotnet/maui/issues/7101
2. Edit the csproj file and use this example svg as the MauiIcon or MauiSplashScreen
![appiconfg](https://user-images.githubusercontent.com/57421592/168211389-4a833f02-18d5-4f12-94f2-

[2022-05-12 20:51] JohnHDev commented on #4989
@Redth Hot code reload isn't working for me in RC3/VS 17.3 P1 on Windows. Can you reopen this issue?

[2022-05-12 21:01] #6940 closed

[2022-05-12 21:02] timvandenhof commented on #7002
While I'm not the original author, I faced this issue on my experimental app as well.
The strange thing is that you can continue after that the exception is thrown.

[code]

Physical device: Google Pixel 5, Android 12.1 (SDK 32). --> Reproduction
Emulator: Google Pixel 5, Android 11 (SDK 30) --> No reproduction

I have the following additional information:
- There are RESX-files in my solution at

[2022-05-12 21:16] JeffIPV commented on #7101
#7115

[2022-05-12 21:18] JeffIPV commented on #7115
#7101

[2022-05-12 22:00] #6395 closed

[2022-05-12 22:42] hartez commented on #7060
#7039 and #7049 _may_ have fixed this. Noting it here so I can check.

[2022-05-12 22:52] hartez commented on #3832
I _think_ #7116 fixes this - noting it here so I can verify.

[2022-05-12 22:56] hartez commented on #5836
I believe this is fixed by #6428. Noting this here so I can verify.

[2022-05-12 23:02] beeradmoore commented on #7009
I re-did the test with `dotnet new` , and I also changed `MyService` to be a partial class made up of files from 2 files. Unable to reproduce with it.

[WillItDebugiOSNet6.zip](https://github.com/dotnet/maui/files/8682997/WillItDebugiOSNet6.zip)

[WillItDebugMacOSNet6.zip](https://github.com/dotnet/maui/files/8682999/WillItDebugMacOSNet6.zip)

[2022-05-12 23:02] viniciuslln opened #7118 "[Shapes] Path render issues"
### Description

The code below renders differently on Android and Windows compared to the result of Xamarin.Forms.

Xamarin.Forms (expected)
![Screenshot_1652395436](https://user-images.githubusercontent.com/11245416/168180079-61b6c36a-ef74-44f0-8897-5e5af56dc6b3.png)

MAUI RC3 Android (Renders wrong image)
![Screenshot_1652396049](https://user-images.githubusercontent.com/11245416/168180378-82d1

[2022-05-12 23:06] tjiakwokyung28 opened #7119 "Scrolled event in scrollview not working"
### Description

please check scrolview, this control having trouble, thats not working
1.both orientation
2.scroll event
3.vertical scroll not working too

### Steps to Reproduce

<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://schemas.microsoft.com/dotnet/2021/maui"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             x:Class="MauiScrollView.MainPag

[2022-05-12 23:18] hbraasch commented on #6943
For what its worth, for the ListView issue, I've now noticed that when I replace the [ViewCell] with a [TextCell] in the DataTemplate section (I can do this in this case, because I only need to display a string), scrolling starts working again.
I followed this route as a temp solution because I saw in the logs it complains the [ViewCell] renderer is incompatible
[Microsoft.Maui.Platform.ToPlatform

[2022-05-12 23:22] TanayParikh opened #7120 "[Docs Request] Document SQLite Integration"
Document how to integrate SQLite with Maui and Blazor Maui applications (the actual integration is the same between the two).

[2022-05-12 23:25] cbaer-extron commented on #6662
I believe this to be a bug.  Not a Proposal.  The carousel performs differently when part of Shell.  It is very difficult to scroll a carousel inside of Shell.  Without Shell, a finger flick easily advances the view of the carousel.  But with Shell, you need to hold your finger in place over the Carousel item for a second before swiping.

[2022-05-12 23:34] thaihuydang opened #7121 "[Android]Can't tap with Frame in CollectionView on Android"
### Description

When I add Frame control in data template in collection view, I can't tap on collection view.

### Steps to Reproduce

1. Create Maui App
2. Add collection view
3. add frame to colleciton view

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Android

### Affected platform versions

Android 11

### Did y

[2022-05-13 00:32] Dokug opened #7122 "Wrong rendering of Grid cell content"
### Description

When filling a 24x14 grid with a frame and a label for each cell, the label gets omitted on a semi-random basis as seen in the first picture.
When omitting the frames, all labels are shown, as seen in the second picture.
I have only tested this on Windows, not yet on any other platform.

I don't think this is expected behavior, but if it is, I apologize.

Best regards,
Dokug

![im

[2022-05-13 01:31] v-longmin commented on #7122
Verified repro on Windows10 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro with above project.

[2022-05-13 01:32] mobycorp opened #7123 "Title bar still not behaving correctly..."
### Description

I just updated my Visual Studio installation to Microsoft Visual Studio Community 2022 (64-bit) - Preview Version 17.3.0 Preview 1.0 hoping that the `<Entry IsPassword="True" />` issue would be fixed (the cursor always skips to position 1 and screws the input completely up) - which it is not (I saw where it was fixed but it did not make it into this release but would come out in t

[2022-05-13 01:39] v-longmin commented on #7119
Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro with above code.

[2022-05-13 01:40] yyliveyy commented on #7085
@PureWeen Although I can set the “Title=null”or "Title = string.Empty". But I don't think it's a good way. In a traditional desktop app, I don't want the "Title" to show up in the "TabBar", which is used to show the "MenuBarItems". The appearance of the "Title" will destroy the unity of the "TabBar" style, it should be displayed in the "Window.Title".
![20220513093905](https://user-images.githubus

[2022-05-13 01:48] v-longmin commented on #7118
Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.505.main]. But the image can not load correctly.
![image](https://user-images.githubusercontent.com/40230425/168195111-bb0a506b-322f-4c5e-b158-1dc28a246ac8.png)
Repro with above code.

[2022-05-13 01:50] v-longmin commented on #7123
@mobycorp Could you share your project for us? Thanks.

[2022-05-13 02:08] v-longmin commented on #7113
Verified not repro on VS 17.3.0 Preview 1.0 [32427.505.main] with iOS 15.4. repro with default Maui  template project.

[2022-05-13 02:25] v-longmin commented on #7111
Verified repro on iOS 15.4 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[MyMauiAppAccessibility-master.zip](https://github.com/dotnet/maui/files/8683655/MyMauiAppAccessibility-master.zip)

[2022-05-13 02:29] kristinx0211 commented on #7101
verified repro on android with above project, vs 17.3.0 Preview 2.0 [32511.531.main].

[2022-05-13 02:31] v-longmin commented on #7105
Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[Shell.zip](https://github.com/dotnet/maui/files/8683674/Shell.zip)

[2022-05-13 02:34] XamlTest commented on #7097
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Not repro on Windows and Android 12 with above project.

[2022-05-13 03:00] v-longmin commented on #7085
Verified repro on Windows 10 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro with above code.

[2022-05-13 03:06] v-longmin commented on #7083
Verified repro on Windows 10 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro with above code.

[2022-05-13 03:23] mobycorp commented on #7123
I have placed a repository here:

https://github.com/mobycorp/MobyClientTitleBar

When you run the app, just press the Log In button to get past the login screen...  I think I scrubbed this good enough.  Let me know if it doesn't work for you...

[2022-05-13 03:25] mobycorp commented on #7123
Even though it is not in a HitTest-able region of the window's titlebar, you can still click the Switch control if you hover over the teeny bit that's exposed at the bottom.  Toggle that and you can see how the hamburger menu gets all munged up...

[2022-05-13 03:31] philipag commented on #7061
My project targets ios and android.  If <TargetFrameworks>net6.0-ios</TargetFrameworks> then the problem goes away and errors show correctly.  If <TargetFrameworks>net6.0-android</TargetFrameworks>, then the problem happens.

So perhaps this is specific to Android builds?

[2022-05-13 04:16] AllenMiaoFil opened #7124 "Button/ImageButton Opacity property affect full button"
### Description

I created a Icon Button with a 'BackgroundColor' and 'BorderColor', When I tried to use 'Opacity' in VSM on different State to update Icon Color , I found 'BackgroundColor' and 'BorderColor' were affected at same time. Same issue on Button.

### Steps to Reproduce

1. Create a ImageButton or Button with Border, BorderColor and BackgroundColor.
2. Set different Opacity value for di

[2022-05-13 04:27] dharber opened #7125 "IImage.ResizeImage() always disposes of bitmap on Android"
### Description

`IImage image = PlatformImage.FromStream(someStreamAcquiredFromHttpClient);
var newImage = image.Resize(width, height, ResizeMode.Fit, false);'

newImage is already disposed. I can't examine its contents in the debugger (it says it's been disposed) and if I try to use it in a DrawImage() method, an exception is thrown.

It appears that on Android, PlatformImage.Resize() creates a

[2022-05-13 04:53] #5752 closed

[2022-05-13 05:15] VincentBu commented on #7115
repro with vs main build (32512.449.main)

[2022-05-13 05:18] JeffIPV commented on #7101
Same as #7115 . It wont take the colors done in the <style type="text/css">
Same issues applies to the app icon and splash screen

[2022-05-13 05:24] JeffIPV commented on #7115
I ended up going back to RC2 since my project uses a lot of svgs. It would be more work for me to update my svgs to not use <style>
Ran cmd prompt as administrator and ran dotnet workload install maui --from-rollback-file https://aka.ms/dotnet/maui/rc.2.json --source https://aka.ms/dotnet6/nuget/index.json --source https://api.nuget.org/v3/index.json --include-previews

[2022-05-13 05:50] kristinx0211 commented on #6938
verified repro on android 11 and 12 with the code.

[2022-05-13 05:59] v-longmin commented on #7123
Verified repro on Windows10 with VS 17.3.0 Preview 1.0 [32427.505.main]. Repro project:
[MobyClientTitleBar-main.zip](https://github.com/dotnet/maui/files/8684442/MobyClientTitleBar-main.zip)

[2022-05-13 06:26] angelru opened #7126 "macOS SecKeyChain"
### Description

This same code with a non-maui application retrieves the certificates installed on my mac, but in maui the SecStatusCode is ItemNotFound, am I missing something? i'm stuck at work right now.

### Steps to Reproduce

[code]

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

macOS

### Affected platform ver

[2022-05-13 06:28] SteveJML commented on #7113
I had the same issue yesterday, i updated the SkiSharp Nuget which resolved for me.

[2022-05-13 06:39] janseris commented on #7125
https://github.com/dotnet/maui/issues/6909

[2022-05-13 06:53] philipag opened #7127 "On iOS, Button.Clicked does not get called when button is tapped."
### Description

As shown in the repro app, if you run the app on an iPhone Pro 12 Max simulator, tapping the "test" button does call OnClickFirst().

This works as expected with Android. It also works with iOS when using Xamarin.Forms.

### Steps to Reproduce

1. Select iPhone Pro 12 Max simulator target and run app.
2. tap/click on "test" button.  The Click callback does not get called.

[layout

[2022-05-13 07:00] AllenMiaoFil opened #7128 "Button/ImageButton has space between button and border in its corner"
### Description

When I tried to use Button/ImageButton with Border and set CornerRadius, it has some space in corner between border and button/ImageButton.
And When I do not set CornerRadius, there is a default Radius in Windows, But it is no Radius on MacOS.

### Steps to Reproduce

1. Create Button or ImageButton with Border and no CornerRadius.
2. Create another button or ImageButton with Bord

[2022-05-13 07:12] #7127 closed

[2022-05-13 07:13] philipag commented on #7127
Closing for now because this mysteriously started working.

[2022-05-13 07:17] VincentBu commented on #7121
not repro with vs main build(32512.449.main). Here is an example. @thaihuydang , would you like to verify it with your vs?
[MauiApp7121.zip](https://github.com/dotnet/maui/files/8684966/MauiApp7121.zip)

[2022-05-13 07:41] AlexeyZhukoff opened #7129 "SVG images with inner styles shows are incorrect"
### Description

SVG images with inner styles shows are incorrect

### Steps to Reproduce

1. download example
2. unpack example
3. run example

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Release Candidate 2

### Affected platforms

iOS, Android, macOS, I was *not* able test on other platforms

### Affected platform versions

iOS 15.4, Android 11

### D

[2022-05-13 07:57] kristinx0211 commented on #7047
verified repro on windows, android and IOS. repro project:
[MauiApp22.zip](https://github.com/dotnet/maui/files/8685218/MauiApp22.zip)

[2022-05-13 07:58] MagicAndre1981 commented on #7069
thanks for the information @drasticactions . So the update issues from the previews will continue in each future update after GA and we users have no control over this mess, so MAUI is doa.

[2022-05-13 08:29] kristinx0211 commented on #7128
verified on windows with vs 17.3.0 Preview 2.0 [32511.531.main].
1. repro there is a default CornerRadius value on Windows though no CornerRadius value set to button.
2. not repro for some space in corner between border and button. seems it is ok.
[code]

![image](https://user-images.githubusercontent.com/99457000/168243429-a535f912-7b8e-478d-a5db-9ad9aee5395e.png)

[2022-05-13 08:39] ChasakisD opened #7130 "[Android] CornerRadius ignores density"
### Description

Applying CornerRadius to a Button is in pixels rather than dp. BorderWidth is in dp tho. As I can see in BorderDrawable
https://github.com/dotnet/maui/blob/026e3b6ab66fb44f6d2608063d166f42189814e0/src/Core/src/Platform/Android/BorderDrawable.cs#L296
Scale is ignored and CornerRadius is applied in pixels.

### Steps to Reproduce

[code]

### Version with bug

Release Candidate 3 (c

[2022-05-13 08:48] XamlTest commented on #7130
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 12, not repro on Windows. Sample Project: [MauiApp6.zip](https://github.com/dotnet/maui/files/8685592/MauiApp6.zip)

[2022-05-13 08:50] VincentBu commented on #7128
Verified with vs main build. Button has a round corner by default on Windows and Mac.

[2022-05-13 08:51] VincentBu commented on #7129
looks like dup with #7115

[2022-05-13 09:10] uragonda-rajesh opened #7131 "Label content alignment is not proper when it has span elements."
### Description

When a Label has more number of span elements with **HorizontalTextAlignment=center**, the alignment is not proper.

### Steps to Reproduce

Run this.

[code]
[code]

![label spans](https://user-images.githubusercontent.com/11378500/168251414-bfee46c4-5e1d-4c82-930c-35dd3900ce92.jpeg)

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/

[2022-05-13 09:13] kristinx0211 commented on #7100
verified not repro on android 11 and 12 with the above code.

[2022-05-13 09:15] AllenMiaoFil commented on #7128
@kristinx0211 Your code is correct, and could you please set a same color both on BackgroundColor and BorderColor, if they are same. should look like a button without border, but it same has some blank space there.

[2022-05-13 09:17] jsuarezruiz opened #7132 "[Tooling] [Scenario Day] XAML Live Preview not update selection"
### Description

Using XAML Live Preview, we select the option to select a View and view its properties. After doing this, if we use Hot Reload, the control is updated but the selection and related properties are not updated.

![xaml-live-preview-1](https://user-images.githubusercontent.com/6755973/168252158-2ca84486-e115-4c16-a832-cf30c0fc9fdb.gif)

### Steps to Reproduce

1. Create a .NET MAUI A

[2022-05-13 09:22] jsuarezruiz opened #7133 "[Scenario Day] Hot Reload not working updating styles using AppThemeBinding"
### Description

Trying to update styles using **AppThemeBinding** with Hot Reload doesn't work.

![update-style-not-working](https://user-images.githubusercontent.com/6755973/168252839-051f8f3c-68bb-4274-b83c-dea43a934942.gif)

### Steps to Reproduce

1. Create a new .NET MAUI App from template.
2. Launch the App and try to modify the Button Background from `Resources/Styles/Styles.xaml`

### Ver

[2022-05-13 09:24] azeymur opened #7134 "[Android] updating StackLayout.Orientation does not trigger a re-layout of the children"
### Description

The code I wrote to show two squares in a responsive layout does not work properly on Android Systems because the width and height values passed to the OnSizeAllocated method are incorrect.

![Screen Shot 2022-05-13 at 10 49 35](https://user-images.githubusercontent.com/5040464/168249687-cc097a21-266b-4733-b0bc-ee8af568185e.png)
![Screen Shot 2022-05-13 at 10 50 00](https://user-i

[2022-05-13 09:25] XamlTest commented on #7131
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 12. Sample project: [MauiApp7.zip](https://github.com/dotnet/maui/files/8685866/MauiApp7.zip)

[2022-05-13 09:28] kristinx0211 commented on #7128
@AllenMiaoFil thanks for your update, I can the the space between button and border even though it's small. thanks.
![image](https://user-images.githubusercontent.com/99457000/168254390-abc347d9-82c0-4113-8fe8-6ed2937ba587.png)

[2022-05-13 09:29] jsuarezruiz opened #7135 "[Scenario Day] Some colors of the default styles of Templates do not seem correct"
### Description

Some colors of the default styles of Templates do not seem correct. Especially Button background color:
![image](https://user-images.githubusercontent.com/6755973/168254222-93521726-5cf9-47a5-bfb8-52cf89b0fdd1.png)

### Steps to Reproduce

1. Download [MauiApp2.zip](https://github.com/dotnet/maui/files/8685881/MauiApp2.zip)
2. Launch the App using the system Dark Theme

### Versio

[2022-05-13 09:30] VincentBu commented on #7103
Here is my code
[code]
is that the expected result:
![image](https://user-images.githubusercontent.com/44959937/168254906-68e0a221-08f3-4599-983f-5ca4afa060e1.png)

[2022-05-13 09:34] jsuarezruiz opened #7136 "[Android] [ScenarioDay] The Switch control defaults aligned to right"
### Description

The Switch control defaults aligned to right.
![image](https://user-images.githubusercontent.com/6755973/168255675-1a291ae5-d7a1-489c-852d-d13ab15ff5ae.png)

### Steps to Reproduce

1. Create a new .NET MAUI App from template.
2. Just include a Switch control in the MainPage.
3. Launch the App on Android.

### Version with bug

Release Candidate 3 (current)

### Last version that

[2022-05-13 09:37] jsuarezruiz opened #7137 "[Android] [ScenarioDay] The default size of SearchBar is wrong, it does not fill the space"
### Description

The default size of SearchBar is wrong, it does not fill the space.
![image](https://user-images.githubusercontent.com/6755973/168256074-0be66fea-7928-40fc-9c36-3c72ee15635e.png)

### Steps to Reproduce

1. Create a .NET MAUI App from template.
2. Add a SearchBar in MainPage.
3. Launch the App on Android.

### Version with bug

Release Candidate 3 (current)

### Last version that

[2022-05-13 09:37] javiercn commented on #6565
@Eagle3386 the platform doesn't force you do this

[code]

You can literally do
[code]

And tweak what you need.

As for `MauiBlazorWebChromeClient : WebChromeClient` we might make the class public in the future based on demand or come up with a different alternative. We normally strive away on making implementation details public as it limits our ability to update/change the implementation in the

[2022-05-13 09:42] jsuarezruiz opened #7138 "[Scenario Day] Picker SelectedIndex property not working"
### Description

Picker SelectedIndex property not working.

[code]

![image](https://user-images.githubusercontent.com/6755973/168256927-1a60179c-8fd3-4bfa-97c7-8a4952b9ee07.png)

### Steps to Reproduce

1. Create a new .NET MAUI from template.
2. Paste the previous piece of code.
3. Launch the App.

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/O

[2022-05-13 09:45] uragonda-rajesh opened #7139 "Content inside a Frame layout is not visible."
### Description

Label inside a frame layout is not visible.

### Steps to Reproduce

Run this.

[code]

[code]

![Frame](https://user-images.githubusercontent.com/11378500/168257277-d6adf3bf-74a3-4767-a802-aa8f309feb42.jpeg)

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Android

### Affected platform versions

Andro

[2022-05-13 09:45] XamlTest commented on #7134
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 12. Sample Project: [MauiApp9.zip](https://github.com/dotnet/maui/files/8685978/MauiApp9.zip)

[2022-05-13 09:53] XamlTest commented on #7139
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android12. Sample Project: [MauiApp10.zip](https://github.com/dotnet/maui/files/8686040/MauiApp10.zip)

[2022-05-13 09:55] jsuarezruiz opened #7141 "[Android] [Scenario Day] TableView not respond to Theme changes"
### Description

TableView not respond to Theme changes.

![tableview-darktheme](https://user-images.githubusercontent.com/6755973/168259674-ff7ad880-70ae-4bd4-b797-d07142e56583.gif)

### Steps to Reproduce

1. Download [BrushesDemos.zip](https://github.com/dotnet/maui/files/8686055/BrushesDemos.zip)
2. Launch the App on Android and change the system theme.

### Version with bug

Release Candidate

[2022-05-13 10:02] XamlTest commented on #7138
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Not repro on Windows and Android 12. Sample Project:  [7138.zip](https://github.com/dotnet/maui/files/8686088/7138.zip)

Windows:
![image](https://user-images.githubusercontent.com/97647558/168260917-edeff99f-9729-47c9-807b-31ce56c12bd3.png)
Android:
![image](https://user-images.githubusercontent.com/97647558/16

[2022-05-13 10:12] kristinx0211 commented on #7124
@AllenMiaoFil  I create a project to repro your issue, could you check if this is the same as you mean. let me know if I miss something. project: [MauiApp1.zip](https://github.com/dotnet/maui/files/8686129/MauiApp1.zip)
https://user-images.githubusercontent.com/99457000/168262823-7d9d95c7-83be-4102-9a03-4489a76bdff7.mp4

[2022-05-13 10:15] XamlTest commented on #7141
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 12. Sample Project: [BrushesDemos.zip](https://github.com/dotnet/maui/files/8686179/BrushesDemos.zip)

[2022-05-13 10:26] XamlTest commented on #7137
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 12. Sample Project: [7137.zip](https://github.com/dotnet/maui/files/8686277/7137.zip)

[2022-05-13 10:28] cabbytech opened #7142 "Maui Blazor Hot Reload Not Working With CSS Isolation Files"
### Description

When using css isolation files such as xxx.razor.css hot reload does not apply the changes.

### Steps to Reproduce

1. Create a new Maui Blazor App.
2. Add a new css isolation file E.G. index.razor.css
3. Run the app.
4. Add some css to the index.razor.css file  `h1{
    color:blue;
}`
5. On save there is no update in the Index page.

### Version with bug

Release Candidate 3 (cu

[2022-05-13 10:30] #6173 closed

[2022-05-13 10:35] XamlTest commented on #7136
Verified this issue with Visual Studio Enterprise 17.3.0 Preview 1.0 [32427.455.main]. Repro on Android 12. Sample Project: [7136.zip](https://github.com/dotnet/maui/files/8686323/7136.zip)

[2022-05-13 10:44] jsuarezruiz opened #7144 "[Windows] [Scenario Day] IndicatorView using templated icons not working"
### Description

IndicatorView using templated icons not working.
![indicatorview-templated](https://user-images.githubusercontent.com/6755973/168267678-f605e8d0-a990-453d-8425-11c3fe2e6580.gif)

### Steps to Reproduce

1. Download [IndicatorViewDemos.zip](https://github.com/dotnet/maui/files/8686363/IndicatorViewDemos.zip)
2. Launch the App on Windows and navigate to the second item in the list.

[2022-05-13 10:50] jsuarezruiz opened #7145 "[Windows] [Scenario Day] Crash using ScrollTo with a grouped ListView"
### Description

Crash using ScrollTo with a grouped ListView.

![image](https://user-images.githubusercontent.com/6755973/168268352-9e8c7acc-0f4f-4b4e-83d6-a9fd0548006c.png)

### Steps to Reproduce

1. Download [ListViewDemos.zip](https://github.com/dotnet/maui/files/8686395/ListViewDemos.zip)
2. Launch the App on Windows and navigate to the Scroll To grouped list.
3. Tap the Scroll Button.

###

[2022-05-13 10:59] AllenMiaoFil commented on #7124
Hey @kristinx0211 I did some update on your code, Actually we just want to modify Text opacity or just Image Opacity, You can see the full button are affected by Opacity, The BorderColor, The BackgroundColor, all staff were changed on button.      [MauiApp1.zip](https://github.com/dotnet/maui/files/8686429/MauiApp1.zip)

[2022-05-13 10:59] jsuarezruiz opened #7146 "[Windows] [Scenario Day] Dynamic sizing CollectionView items not working"
### Description

Dynamic sizing CollectionView items not working.
![dynamic-sizing-cv-item](https://user-images.githubusercontent.com/6755973/168269579-d99e2467-1743-4cfc-9a1b-6494788dda06.gif)

### Steps to Reproduce

1. Download [CollectionViewDemos.zip](https://github.com/dotnet/maui/files/8686453/CollectionViewDemos.zip)
2. Launch the App and navigate to:
![image](https://user-images.githubuse

[2022-05-13 11:00] jsuarezruiz opened #7147 "[Windows] [Scenario Day] CollectionView not resizing if resize Windows"
### Description

CollectionView not resizing if resize Windows.
![Uploading resize-cv-issue.gif…]()

### Steps to Reproduce

1. Download [CollectionViewDemos.zip](https://github.com/dotnet/maui/files/8686453/CollectionViewDemos.zip)
2. Open any sample and resize the Window.

### Version with bug

Release Candidate 3 (current)

### Last version that worked well

Unknown/Other

### Affected platform

[2022-05-13 11:09] jsuarezruiz opened #7148 "[Windows] [Scenario Day] ScrollTo not works the first time"
### Description

ScrollTo not works the first time. The first time scroll to the first item. The second time works as expected.
![scroll-to-windows-issue](https://user-images.githubusercontent.com/6755973/168271143-11002c98-af2b-43d6-8c9e-df61772986fd.gif)

### Steps to Reproduce

1. Download [CollectionViewDemos.zip](https://github.com/dotnet/maui/files/8686453/CollectionViewDemos.zip)
2. Launch

[2022-05-13 11:10] jsuarezruiz opened #7149 "[Windows] [Scenario Day] Scroll by Object not working the first time"
### Description

Scroll by Object not working the first time.
![scroll-to-object-windows-issue](https://user-images.githubusercontent.com/6755973/168271418-f9d5cb3a-513a-45c3-95f4-0ce3fd4b7d3f.gif)

### Steps to Reproduce

1. Download [CollectionViewDemos.zip](https://github.com/dotnet/maui/files/8686453/CollectionViewDemos.zip)
2. Launch the App on Windows.
3. Navigate to the Scroll by Object sam

[2022-05-13 11:13] jsuarezruiz opened #7150 "[Windows] [Scenario Day] EmptyView using Template displayed at the same time as the content"
### Description

EmptyView using Template displayed at the same time as the content.
![cv-windows-emptyview-issue-1](https://user-images.githubusercontent.com/6755973/168271653-a7ac491b-224e-4abc-a581-e379e4d58c93.gif)

### Steps to Reproduce

1. Download [CollectionViewDemos.zip](https://github.com/dotnet/maui/files/8686453/CollectionViewDemos.zip)
2. Launch the App on Windows and navigate to the

[2022-05-13 11:14] jsuarezruiz opened #7151 "[Windows] [Scenario Day] CollectionView EmptyView using View not appear"
### Description

CollectionView EmptyView using View not appear.
![cv-windows-emptyview-issue-2](https://user-images.githubusercontent.com/6755973/168272086-bd8a5933-2646-4466-b864-78ce95a4231f.gif)

### Steps to Reproduce

1. Download [CollectionViewDemos.zip](https://github.com/dotnet/maui/files/8686453/CollectionViewDemos.zip)
2. Launch the App on Windows and navigate to the EmptyView sample us

[2022-05-13 11:18] dawidpieper opened #7152 "Framework for audio playback"
### Description

Currently, Maui does not have any audio playback framework. Implementing such an API is relatively simple.
However, I noticed that in places like Stackoverflow there are many examples for Xamarin that have memory leaks and other bugs for various reasons.
I know that now, when we are approaching the release, it is quite late to add such a large interface, but I think that it is wor

[2022-05-13 11:19] paulvarache opened #7153 "[Android] Updating MainPage with a NavigationPage does not display page content"
### Description

When updating the Application's MainPage using a NavigationPage, the page is updated, but its content is not displayed.

The is displayed on iOS.

When application is loaded (MainPage):
<img src="https://user-images.githubusercontent.com/5550089/168271534-23952b7e-9271-4812-9123-89960e757332.png" width="200px"/>

When button is clicked. Note that the page is updated correctly as t

[2022-05-13 11:19] jsuarezruiz opened #7154 "[Windows] [Scenario Day] Frame is cutted at the bottom on Windows"
### Description

Frame is cutted at the bottom on Windows.
![image](https://user-images.githubusercontent.com/6755973/168272729-2577a68a-0bfa-4268-81e1-a6b6acea0d13.png)

### Steps to Reproduce

1. Download [FrameDemos.zip](https://github.com/dotnet/maui/files/8686593/FrameDemos.zip)
2. Launch the App on Windows.

### Version with bug

Release Candidate 3 (current)

### Last version that worked we

[2022-05-13 11:20] paulvarache commented on #7153
Somewhat related to https://github.com/dotnet/maui/issues/2517, but behaves slightly differently

[2022-05-13 11:35] jsuarezruiz opened #7155 "[Windows] [Scenario Day] Shell SearchBarHandler only show the first item and and not correctly"
### Description

Shell SearchBarHandler only show the first item and and not correctly.
![shell-search-incorrect](https://user-images.githubusercontent.com/6755973/168275088-af2daf16-7536-4d7d-baa7-63ab91ebb12f.gif)

### Steps to Reproduce

1. Download [Shell.zip](https://github.com/dotnet/maui/files/8686678/Shell.zip)
2. Type something in the search bar.

### Version with bug

Release Candidate 3

[2022-05-13 11:38] jsuarezruiz opened #7156 "[Windows] [Scenario Day] Wrong secondary ToolbarItem size"
### Description

Wrong secondary ToolbarItem size on Windows.
![image](https://user-images.githubusercontent.com/6755973/168275457-cdd56311-0fd8-459c-9b32-b5acbebd3d2b.png)

Also de popup is bigger than expected.

### Steps to Reproduce

1. Download [ToolbarItemsDemo.zip](https://github.com/dotnet/maui/files/8686692/ToolbarItemsDemo.zip)
2. Open the secondary items menu.

### Version with bug

Rel

[2022-05-13 12:01] david-maw commented on #7054
I also reproduced it on a clean Azure VM, so it's definitely a problem but apparently has some sort of system dependency, given that @v-longmin couldn't reproduce it.

[2022-05-13 12:23] UweReisewitz commented on #6529
Maybe this has slipped away. The problem happens under following circumstances:

- **Multi** Platform Executable; MAUI; Building for **Windows**
- **Single** Platform Library; MAUI:
[code]
Then the problem is reported for each of the libraries that have only the net6.0 target

[2022-05-13 12:51] JeffIPV commented on #7129
dup with #7101  as well

[2022-05-13 12:54] Redth commented on #5380
On main the background color indeed does not work correctly for an Entry on Windows.

[2022-05-13 13:03] RedChops commented on #7121
FWIW, it doesn't work for me either. I switched to using Border in my app instead of Frame so my testing is limited. The SelectedItem command is definitely not called, I don't think the tapped event is fired either.

Some events work though, if I set CollectionView.CanReorderItems = True, I can reorder the frames, but still not tap them and get the event.

The sample app from @VincentBu uses a ges

[2022-05-13 13:10] Alfort-G opened #7159 "Get error details for WebView failed navigation"
### Description

In Xamarin Forms I was getting failed navigations on my WebView but I did not have a way to know the cause of them. The information can be obtained doing a custom renderer of WKNavigationDelegate (for iOS) with a significant code following the standard CustomWebViewNavigationDelegate, as the latter cannot be inherited, but that would be risky, complicated and would loose the offic

[2022-05-13 13:52] jim-jiang-github opened #7160 "Can menu bar set in Caption\Title Bar?"
### Description

Is there any way to set the menu bar to the caption on windows?
I try set the menu bar in 'ContentPage' and got the result:
![image](https://user-images.githubusercontent.com/29189410/168296884-14b72b85-1d64-43a2-997f-ea75c86d44d4.png)

And another way is set the menu bar to 'Platforms' folder's App.xaml, And I got this:
![image](https://user-images.githubusercontent.com/29189410/

[2022-05-13 13:53] Wynadorn opened #7161 "Responsive FlyoutBehavior"
### Description

Currently there are 3 options available for the FlyoutBehavior setting: `Disabled`, `Flyout` and `Locked`
It'd be nice to have a responsive setting which reacts to the width of the screen, Similar to how the Windows 10 & 11 settings menu has been implemented.

Example:

https://user-images.githubusercontent.com/4095127/168296567-c8edc9ec-de8c-42e7-86c1-2290072499b0.mp4

In the pas

[2022-05-13 14:10] Dokug opened #7163 "[Mac] MAUI Project doesn't build with classlib referenced"
### Description

On Mac, when trying to build a .NET MAUI project that has a reference to a normal `Classlib`, the restore and therefore the build process fails with VS 2022 Mac as well as through the command line.
Adding `net6.0-maccatalyst` to the target frameworks also does not work.
The same project works perfectly on Windows, **without** having to specify `net6-windows` as a target framework,

[2022-05-13 14:37] jfversluis commented on #7163
Would you be able to post a little project that shows this behavior please? It seems a lot like #6717 does any of the info in there help you at all?

[2022-05-13 14:40] duraz0rz commented on #7163
I've seen it work if you build the csproj itself - `dotnet build TestApp/TestApp.csproj -f net6.0-maccatalyst`.

Building from the solution does not - `dotnet build -f net6.0-maccatalyst`

[2022-05-13 14:48] jfversluis commented on #7126
Is your non-MAUI app also a Mac Catalyst app? Maybe that's the difference?

[2022-05-13 14:48] jfversluis commented on #7125
Duplicate of #6909

[2022-05-13 14:48] #7125 closed

[2022-05-13 14:49] #7115 closed

[2022-05-13 14:50] angelru commented on #7126
It is a macOS Coca App that the above code works on, how can I make it work on Mac Catalyst app?

[2022-05-13 14:55] jfversluis commented on #7126
Looks like this is a restriction in Mac Catalyst: https://developer.apple.com/forums/thread/696431

So if you can even get it to work, you'll have to find out how to do it with a Mac Catalyst app. This is not something that is because of a bug with us :)

[2022-05-13 15:00] #6866 closed

[2022-05-13 15:05] piferrari opened #7164 "FlyoutItem disappear when Shell.FlyoutFooterTemplate is present"
### Description

I use the default MAUI Template proposed by Visual Studio. I made changes only in the file `AppShell.xaml`.

When i add `<Shell.FlyoutHeaderTemplate>`, `<Shell.ItemTemplate>`, `<Shell.FlyoutBackground>` and some `FlyoutItem` all work fine in the Android Emulator and on real Samsung Device. I can see a correct Flyout menu.

But, when i add an `<Shell.FlyoutFooterTemplate>`, all Fly

[2022-05-13 15:21] Dokug commented on #7163
@jfversluis Yes, performing dotnet build on the MAUI-csproj works, however the app then displays none of the UI.
See picture 1 (Windows) vs picture 2 (Mac).
![image](https://user-images.githubusercontent.com/63102276/168315216-492898a2-7017-4763-bcdc-88b6b18f89b2.png)
![image](https://user-images.githubusercontent.com/63102276/168315256-f6762bef-4c70-4409-883b-ba94ff305e1c.png)

[2022-05-13 16:00] Eilon commented on #7002
@timvandenhof said:

You mean there _are_, or _aren't_?

[2022-05-13 16:23] TanayParikh commented on #7142
Related to https://github.com/dotnet/maui/issues/5751; @mkArtakMSFT @SteveSandersonMS this user is on 17.3 Preview 1 (the version of VS which was to have the fix according to https://github.com/dotnet/maui/issues/5751). Did the fix get moved to a different release?

[2022-05-13 16:34] PieEatingNinjas commented on #6460
Sorry for the delay.
But I can confirm that it seems to be working just fine in RC 3. No need to add `<RunAOTCompilation>False</RunAOTCompilation>`

[2022-05-13 16:37] jonathanpeppers commented on #7002
If someone has an idea of what API you're using that causes this, or can reproduce it in a sample app that would help us solve this.

The problem is the stack trace above, doesn't really show what the problematic code is...

Thanks!

[2022-05-13 16:56] HillPhelmuth opened #7169 "WindowsForms with BlazorWebView control throws error in evergreen runtime using version 6.0.300-rc.3.5667"
### Description

In a Windows Forms app using the WebView2 BlazorWebView control, the following exception is thrown when the control loads:

System.Reflection.TargetInvocationException
  HResult=0x80131604
  Message=Exception has been thrown by the target of an invocation.
  Source=System.Private.CoreLib
  StackTrace:
   at System.RuntimeMethodHandle.InvokeMethod(Object target, Span`1& arguments,

[2022-05-13 16:57] jonathanpeppers commented on #7170
@dsplaisted I moved this, thanks.

Should `%(RuntimePackAlwaysCopyLocal)` be based on if `$(SelfContained)` is `true` and `$(TargetPlatformIdentifier)` is `Windows`? Or just set it no matter what?

[2022-05-13 17:00] PureWeen commented on #7164
This will be fixed in GA

[2022-05-13 17:00] #7164 closed

[2022-05-13 17:03] PureWeen commented on #7160
@jim-jiang-github that's the eventual plan :-) We're waiting on some additional behavior to make its way to WinAppSDK and then we'll enable the option of moving the menu up into the title bar

[2022-05-13 17:08] PureWeen opened #7171 "WinUI Shell does not consistently react to shell structure changes"
You can reproduce this by modifying shell while using hot reload.

Android/iOS react fine but WinUI does not

I marked this issue as p/1 because it means that WinUI isn't updating as the user makes modifications at runtime

[2022-05-13 17:24] jimmylewis commented on #6904
@javiercn thanks for the list.  With some tweaking and investigating, I found that:
* _CollectBundleResources (with the _ prefix) doesn't run on all platforms, nor does _CheckForContent.  They run on some platforms, and the others report that the target is not defined in the project.  Plus, since they start with an underscore, convention is that these are private and should not be referenced exter